Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Improve error message in tsi_utils
  src/tsi/4C_tsi_utils.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Rename fsi with ale teko template
  tests/input_files/fsi_dc_mono_fs_ga_ga.dat
  tests/input_files/fsi_dc_mono_ss_ost_ga_rsb.dat
  tests/input_files/fsi_pw_mono_fs_ga_ga.dat
  tests/input_files/fsi_pw_mono_fs_ga_ga_muelu.dat
  tests/input_files/fsi_pw_mono_ss_ga_ga.dat
  tests/input_files/fsi_pw_mono_ss_ga_ga_muelu.dat
  tests/input_files/fsi_pw_mono_ss_ost_ga_muelu.dat
  tests/input_files/fsi_ves_mono_mtrfs_ost_ost_slidcurr.dat
  tests/input_files/fsi_ves_mono_mtrss_ost_ost_slidcurr.dat
  tests/input_files/fsi_ves_mono_mtrss_ost_ost_slidrot.dat
  tests/input_files/xml/block_preconditioner/fluid_solid_ale.xml
  tests/input_files/xml/multigrid/fluid_solid_ale.xml
Due: input-files, non-ascii-chars

Refactor xfsi to use Teko
  src/fsi_xfem/4C_fsi_xfem_monolithic.cpp
  tests/input_files/xfsi_combo_LSNeumann_MeshXFSIMono_comp_struct_fsi_2D_mono_BGS2x2.dat
  tests/input_files/xfsi_combo_LSWDBC_MeshXFSIMono_comp_struct_fsi_2D_mono_BGS2x2.dat
  tests/input_files/xfsi_comp_struct_fsi_2D_mono_BGS2x2.dat
  tests/input_files/xfsi_comp_struct_fsi_2D_mono_BGS2x2_infnormscal.dat
  tests/input_files/xfsi_comp_struct_fsi_2D_mono_BGS2x2_plus_LS_WDBC.dat
  tests/input_files/xml/block_preconditioner/fluid_solid.xml
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Remove untested options for solid time integrator
  src/adapter/4C_adapter_str_structure.cpp
  src/adapter/4C_adapter_str_structure_new.cpp
  src/inpar/4C_inpar_structure.cpp
  src/inpar/4C_inpar_structure.hpp
  src/structure/4C_structure_dyn_nln_drt.cpp
  tests/framework-test/tutorial_fsi.head
  tests/framework-test/tutorial_fsi_3d.head
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unsused enum for nonlinear solution scheme
  src/inpar/4C_inpar_structure.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused nonlinear solver option
  src/inpar/4C_inpar_structure.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor some BGS2x2 tests
  TestingFrameworkListOfTests.cmake
  src/loma/4C_loma_algorithm.cpp
  src/poroelast/4C_poroelast_monolithic.cpp
  tests/input_files/loma_mono_2d_heated_chan_30x100.dat
  tests/input_files/loma_mono_2d_heated_chan_sgs_30x100.dat
  tests/input_files/new_solidporo_pressure_velocity_based_ele_3D_hex8_BGS.dat
  tests/input_files/poro_2D_scatra_quad4_partint.dat
  tests/input_files/poro_2D_scatra_quad4_reaction.dat
  tests/input_files/poro_2D_scatra_quad4_reaction_mono.dat
  tests/input_files/poro_3D_hex8_BGS.dat
  tests/input_files/poro_3D_hex8_amgnxn_BGSAMG.xml
  tests/input_files/poro_3D_hex8_p1.dat
  tests/input_files/tsi_contact3D_nitsche_penalty_free.dat
  tests/input_files/tsi_geonln_lincompression_monolithic_hyperelast.dat
  tests/input_files/tsi_geonln_necking_fbar_thrplast.dat
  tests/input_files/xml/block_preconditioner/fluid_scatra.xml
  tests/input_files/xml/block_preconditioner/poro.xml
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Move a few io unittests into core
  src/core/io/tests/4C_io_file_reader_test.cpp
  src/core/io/tests/4C_io_pstream_test.cpp
  src/core/io/tests/4C_io_string_converter_test.cpp
  src/core/io/tests/CMakeLists.txt
  src/core/utils/tests/CMakeLists.txt
  src/core/utils/tests/string_utils/4C_utils_string_test.cpp
  src/core/utils/tests/string_utils/CMakeLists.txt
  unittests/io/CMakeLists.txt
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Move old headers and lib unittests
  .gitlab/CODEOWNERS
  src/core/io/tests/4C_io_inputreader_test.cpp
  src/core/io/tests/4C_io_linedefinition_test.cpp
  src/core/io/tests/CMakeLists.txt
  src/core/utils/tests/stl_extension/4C_utils_demangle_test.cpp
  src/core/utils/tests/stl_extension/4C_utils_singleton_owner_test.cpp
  src/core/utils/tests/stl_extension/CMakeLists.txt
  unittests/CMakeLists.txt
  unittests/headers/CMakeLists.txt
  unittests/lib/CMakeLists.txt
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Drop an unnecessary inpar test
  unittests/CMakeLists.txt
  unittests/inpar/4C_inpar_structure_test.cpp
  unittests/inpar/CMakeLists.txt
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Change occurrences where output field is defined
  src/beam3/4C_beam3_discretization_runtime_vtu_writer.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_mortar_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_visualization_output_writer.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_visualization_output_writer_utils.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_mortar.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_visualization_output_writer.cpp
  src/core/io/src/4C_io_discretization_visualization_writer_mesh.cpp
  src/core/io/src/4C_io_discretization_visualization_writer_nodes.cpp
  src/particle_engine/4C_particle_engine_runtime_vtp_writer.cpp
  src/particle_rigidbody/4C_particle_rigidbody_runtime_vtp_writer.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix files of beam_runtime_ghosting_output
  tests/input_files/ref/beam_runtime_ghosting_output-vtk/vtk-files/structure-beams-000000-0.vtu
  tests/input_files/ref/beam_runtime_ghosting_output-vtk/vtk-files/structure-beams-000000-1.vtu
  tests/input_files/ref/beam_runtime_ghosting_output-vtk/vtk-files/structure-beams-000000-2.vtu
  tests/input_files/ref/beam_runtime_ghosting_output-vtk/vtk-files/structure-beams-000000.pvtu
  tests/input_files/ref/beam_runtime_ghosting_output-vtk/vtk-files/structure-beams-000002-0.vtu
  tests/input_files/ref/beam_runtime_ghosting_output-vtk/vtk-files/structure-beams-000002-1.vtu
  tests/input_files/ref/beam_runtime_ghosting_output-vtk/vtk-files/structure-beams-000002-2.vtu
  tests/input_files/ref/beam_runtime_ghosting_output-vtk/vtk-files/structure-beams-000002.pvtu
Due: non-ascii-chars

Fix files of f3_channel_EOS_hex27_runtime_output
  tests/input_files/ref/fluid_runtime_output-vtk-files/fluid-1-0.vtu
  tests/input_files/ref/fluid_runtime_output-vtk-files/fluid-1-1.vtu
  tests/input_files/ref/fluid_runtime_output-vtk-files/fluid-1-2.vtu
  tests/input_files/ref/fluid_runtime_output-vtk-files/fluid-1.pvtu
Due: non-ascii-chars

Fix files of embedded mesh
  tests/input_files/ref/embeddedmesh_cut_bar_under_torsion_one_element-vtk-files/structure-00000-0.vtu
  tests/input_files/ref/embeddedmesh_cut_bar_under_torsion_one_element-vtk-files/structure-00000.pvtu
  tests/input_files/ref/embeddedmesh_cut_bar_under_torsion_one_element-vtk-files/structure-00001-0.vtu
  tests/input_files/ref/embeddedmesh_cut_bar_under_torsion_one_element-vtk-files/structure-00001.pvtu
  tests/input_files/ref/embeddedmesh_cut_integrate_bar_hex8_ele_1-vtk-files/structure-00000-0.vtu
  tests/input_files/ref/embeddedmesh_cut_integrate_bar_hex8_ele_1-vtk-files/structure-00000.pvtu
  tests/input_files/ref/embeddedmesh_cut_integrate_bar_hex8_ele_1-vtk-files/structure-00001-0.vtu
  tests/input_files/ref/embeddedmesh_cut_integrate_bar_hex8_ele_1-vtk-files/structure-00001.pvtu
  tests/input_files/ref/embeddedmesh_two_blocks_hex_hex_5x5-vtk-files/structure-00000-0.vtu
  tests/input_files/ref/embeddedmesh_two_blocks_hex_hex_5x5-vtk-files/structure-00000.pvtu
  tests/input_files/ref/embeddedmesh_two_blocks_hex_hex_5x5-vtk-files/structure-00001-0.vtu
  tests/input_files/ref/embeddedmesh_two_blocks_hex_hex_5x5-vtk-files/structure-00001.pvtu
Due: non-ascii-chars

Fix files of structure_solid_beam
  tests/input_files/ref/structure_solid_beam_element_gid_runtime_output-vtk/vtk-files/structure-beams-000000001-0.vtu
  tests/input_files/ref/structure_solid_beam_element_gid_runtime_output-vtk/vtk-files/structure-beams-000000001-1.vtu
  tests/input_files/ref/structure_solid_beam_element_gid_runtime_output-vtk/vtk-files/structure-beams-000000001.pvtu
  tests/input_files/ref/structure_solid_beam_element_gid_runtime_output-vtk/vtk-files/structure-beams-000040000-0.vtu
  tests/input_files/ref/structure_solid_beam_element_gid_runtime_output-vtk/vtk-files/structure-beams-000040000-1.vtu
  tests/input_files/ref/structure_solid_beam_element_gid_runtime_output-vtk/vtk-files/structure-beams-000040000.pvtu
Due: non-ascii-chars

Remove .real() from double
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_filter.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Replace sprintf
  src/constraint/4C_constraint_multipointconstraint3.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec_fsiamg.cpp
  src/immersed_problem/4C_immersed_problem_immersed_base.cpp
  src/red_airways/4C_red_airways_acinus_evaluate.cpp
  src/red_airways/4C_red_airways_air_blood_scatraLine3_evaluate.cpp
  src/red_airways/4C_red_airways_airway_evaluate.cpp
  src/red_airways/4C_red_airways_interacinardep_evaluate.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove bits/c++config header
  src/core/io/src/4C_io_vtk_writer_base.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Disable hdf5 version check
  src/core/io/src/4C_io_hdf.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix .pvd files from particle
  tests/input_files/ref/particle_nointer_3d_nopbc_walldiscretcond_nonmoving-vtk-files/particle-phase1-ghosted-000400.pvtu
  tests/input_files/ref/particle_nointer_3d_nopbc_walldiscretcond_nonmoving-vtk-files/particle-phase1-owned-000400.pvtu
  tests/input_files/ref/particle_nointer_3d_nopbc_walldiscretcond_nonmoving-vtk-files/particle-phase2-ghosted-000400.pvtu
  tests/input_files/ref/particle_nointer_3d_nopbc_walldiscretcond_nonmoving-vtk-files/particle-phase2-owned-000400.pvtu
  tests/input_files/ref/pasi_twoway_norelax_sph_3d_piston_virtualwall_densitysummation-vtk-files/particle-phase1-owned-00000.pvtu
  tests/input_files/ref/pasi_twoway_norelax_sph_3d_piston_virtualwall_densitysummation-vtk-files/particle-phase1-owned-00025.pvtu
  tests/input_files/ref/pasi_twoway_norelax_sph_3d_piston_virtualwall_densitysummation-vtk-files/particle-phase1-owned-00050.pvtu
  tests/input_files/ref/pasi_twoway_norelax_sph_3d_piston_virtualwall_densitysummation-vtk-files/particle-phase1-owned-00075.pvtu
  tests/input_files/ref/pasi_twoway_norelax_sph_3d_piston_virtualwall_densitysummation_rigidbody-vtk-files/particle-phase1-owned-00000.pvtu
  tests/input_files/ref/pasi_twoway_norelax_sph_3d_piston_virtualwall_densitysummation_rigidbody-vtk-files/particle-phase1-owned-00025.pvtu
  tests/input_files/ref/pasi_twoway_norelax_sph_3d_piston_virtualwall_densitysummation_rigidbody-vtk-files/particle-phase1-owned-00050.pvtu
  tests/input_files/ref/pasi_twoway_norelax_sph_3d_piston_virtualwall_densitysummation_rigidbody-vtk-files/particle-phase1-owned-00075.pvtu
  tests/input_files/ref/pasi_twoway_norelax_sph_3d_piston_virtualwall_densitysummation_rigidbody-vtk-files/particle-rigidphase-owned-00000.pvtu
  tests/input_files/ref/pasi_twoway_norelax_sph_3d_piston_virtualwall_densitysummation_rigidbody-vtk-files/particle-rigidphase-owned-00025.pvtu
  tests/input_files/ref/pasi_twoway_norelax_sph_3d_piston_virtualwall_densitysummation_rigidbody-vtk-files/particle-rigidphase-owned-00050.pvtu
  tests/input_files/ref/pasi_twoway_norelax_sph_3d_piston_virtualwall_densitysummation_rigidbody-vtk-files/particle-rigidphase-owned-00075.pvtu
  tests/input_files/ref/pasi_twoway_norelax_sph_3d_piston_virtualwall_densitysummation_rigidbody-vtk-files/rigidbody-00000.pvtu
  tests/input_files/ref/pasi_twoway_norelax_sph_3d_piston_virtualwall_densitysummation_rigidbody-vtk-files/rigidbody-00025.pvtu
  tests/input_files/ref/pasi_twoway_norelax_sph_3d_piston_virtualwall_densitysummation_rigidbody-vtk-files/rigidbody-00050.pvtu
  tests/input_files/ref/pasi_twoway_norelax_sph_3d_piston_virtualwall_densitysummation_rigidbody-vtk-files/rigidbody-00075.pvtu
Due: non-ascii-chars

Adapt several multi-physics fsi tests for Teko
  src/fs3i/4C_fs3i_fps3i_partitioned.cpp
  src/fs3i/4C_fs3i_partitioned.cpp
  tests/input_files/fps3i_reaction.dat
  tests/input_files/fpsi_bending_struct.dat
  tests/input_files/fs3i_biogr.dat
  tests/input_files/fs3i_mult_scalar_windkessel_reac.dat
  tests/input_files/fs3i_part_1wc_finperm.dat
  tests/input_files/fs3i_part_1wc_infperm.dat
  tests/input_files/tfsi_plate.dat
  tests/input_files/xml/block_preconditioner/scatra_scatra.xml
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Replace BGS2x2 in consinter tsi files
  tests/input_files/consinter3D_tsi_hex27_hex27.dat
  tests/input_files/consinter3D_tsi_hex8_tet4.dat
Due: input-files, non-ascii-chars

Add warning
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_bgs2x2.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Clean visualization manager in embedded mesh
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_mortar_manager.cpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_mortar_manager.hpp
  src/constraint_framework/4C_constraint_framework_submodelevaluator_embeddedmesh.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix runtime output interval for beaminteraction
  TestingFrameworkListOfTests.cmake
  src/beaminteraction/4C_beaminteraction_submodel_evaluator_beamcontact.cpp
  src/beaminteraction/4C_beaminteraction_submodel_evaluator_potential.cpp
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff.dat
  tests/input_files/ref/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff-beam-potential.pvd
  tests/input_files/ref/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff-potential-vtk-files/beam-potential-00005-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff-potential-vtk-files/beam-potential-00005-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff-potential-vtk-files/beam-potential-00005.pvtu
  tests/input_files/ref/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff-potential-vtk-files/beam-potential-00010-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff-potential-vtk-files/beam-potential-00010-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff-potential-vtk-files/beam-potential-00010.pvtu
  tests/input_files/ref/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff-vtk-files/structure-beams-000060007-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff-vtk-files/structure-beams-000060007-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff-vtk-files/structure-beams-000100000-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff-vtk-files/structure-beams-000100000-1.vtu
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Do small beauty
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_mortar_manager.cpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_mortar_manager.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Test lagrange multipliers
  TestingFrameworkListOfTests.cmake
  tests/input_files/ref/embeddedmesh_patch_test_block_with_circular_interface-embedded_mesh_lagrange_multipliers.pvd
  tests/input_files/ref/embeddedmesh_patch_test_block_with_circular_interface-vtk-files/embedded_mesh_lagrange_multipliers-00000-0.vtu
  tests/input_files/ref/embeddedmesh_patch_test_block_with_circular_interface-vtk-files/embedded_mesh_lagrange_multipliers-00000.pvtu
  tests/input_files/ref/embeddedmesh_patch_test_block_with_circular_interface-vtk-files/embedded_mesh_lagrange_multipliers-00001-0.vtu
  tests/input_files/ref/embeddedmesh_patch_test_block_with_circular_interface-vtk-files/embedded_mesh_lagrange_multipliers-00001.pvtu
Due: non-ascii-chars

Document removal of Structure ALE and wear
  doc_removed_code/major_changes.txt
Due: non-ascii-chars

Refactor some fsi tests
  TestingFrameworkListOfTests.cmake
  src/fsi/src/monolithic/model_evaluator/4C_fsi_lungmonolithic.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicstructuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicstructuresplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_fluidsplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_structuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_structuresplit.hpp
  src/fsi/src/monolithic/nonlinear_solver/4C_fsi_nox_linearsystem_gcr.hpp
  tests/input_files/fs3i_biogr.dat
  tests/input_files/fs3i_mult_scalar_windkessel_reac.dat
  tests/input_files/fsi_artery_coupled_0d_3d_0d.dat
  tests/input_files/fsi_dc_mono_fs_ada_ab2_ab2.dat
  tests/input_files/fsi_dc_mono_fs_ga_ga.dat
  tests/input_files/fsi_dc_mono_fs_ost_ga_eos.dat
  tests/input_files/fsi_dc_mono_fs_ost_ga_rsb.dat
  tests/input_files/fsi_dc_mono_mtrfs_ada_none_zienxie.dat
  tests/input_files/fsi_dc_mono_mtrfs_ost_ga.dat
  tests/input_files/fsi_dc_mono_mtrss_ada_ab2_none.dat
  tests/input_files/fsi_dc_mono_mtrss_ost_ga.dat
  tests/input_files/fsi_dc_mono_slfs_msht.dat
  tests/input_files/fsi_dc_mono_slfs_ost_ga.dat
  tests/input_files/fsi_dc_mono_slss_msht.dat
  tests/input_files/fsi_dc_mono_slss_ost_ga.dat
  tests/input_files/fsi_dc_mono_ss_ada_euler_none.dat
  tests/input_files/fsi_dc_mono_ss_ost_ga_eos.dat
  tests/input_files/fsi_fp_mono_fs_bdf2_ga.dat
  tests/input_files/fsi_fp_mono_mtrfs_ga_ga.dat
  tests/input_files/fsi_fp_mono_mtrss_ost_ga.dat
  tests/input_files/fsi_fp_mono_ss_bdf2_ost.dat
  tests/input_files/fsi_pw_mono_fs_ga_ga_contact.dat
  tests/input_files/fsi_pw_mono_fs_ost_ga.dat
  tests/input_files/fsi_pw_mono_ss_ost_ga.dat
  tests/input_files/mfsi_ow3D_mtr_drt.dat
  tests/input_files/xml/block_preconditioner/fluid_solid_ale.xml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Compile FSI wrapper in separate TU in unity build
  src/adapter/CMakeLists.txt
Due: non-ascii-chars

Replace ml_multiply with matrix_multiply in fluid
  src/fluid/4C_fluid_meshtying.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Replace ml_multiply with matrix_multiply in struct
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint_impl.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Refactor mor_pod into cardiovascular
  .gitlab/CODEOWNERS
  src/CMakeLists.txt
  src/cardiovascular0d/4C_cardiovascular0d_dofset.cpp
  src/cardiovascular0d/4C_cardiovascular0d_dofset.hpp
  src/cardiovascular0d/4C_cardiovascular0d_manager.cpp
  src/cardiovascular0d/4C_cardiovascular0d_mor_pod.cpp
  src/cardiovascular0d/4C_cardiovascular0d_mor_pod.hpp
  src/cardiovascular0d/CMakeLists.txt
  src/mor/CMakeLists.txt
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint_impl.cpp
  src/structure/CMakeLists.txt
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unnecessary header
  src/cardiovascular0d/4C_cardiovascular0d_mor_pod.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Replace ml_ with matrix_multiply in structure_new
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_linearsystem_scaling.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
