Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Fix compiler flag with Clang
  cmake/setup_global_options.cmake
Due: non-ascii-chars

Add dependencies hash generation script
  .github/actions/compute-and-check-dependencies-hash/action.yml
  .github/workflows/buildtest.yml
  .github/workflows/checkcode.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly_tests.yml
  docker/README.md
  docker/compute_dependencies_hash.sh
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Avoid duplication of dependency hash in docker.yml
  .github/actions/check_docker_build_required/action.yml
  .github/actions/compute-and-check-dependencies-hash/action.yml
  .github/workflows/buildtest.yml
  .github/workflows/checkcode.yml
  .github/workflows/docker.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars

Remove all sfuchs name abbreviations from comments
  src/inpar/4C_inpar_particle.cpp
  src/inpar/4C_inpar_particle.hpp
  src/mat/4C_mat_membrane_elasthyper.cpp
  src/mat/4C_mat_membrane_elasthyper.hpp
  src/mat/4C_mat_particle_base.cpp
  src/mat/4C_mat_particle_base.hpp
  src/mat/4C_mat_particle_dem.cpp
  src/mat/4C_mat_particle_dem.hpp
  src/mat/4C_mat_particle_sph_boundary.cpp
  src/mat/4C_mat_particle_sph_boundary.hpp
  src/mat/4C_mat_particle_sph_fluid.cpp
  src/mat/4C_mat_particle_sph_fluid.hpp
  src/mat/4C_mat_particle_thermo.cpp
  src/mat/4C_mat_particle_thermo.hpp
  src/mat/4C_mat_particle_wall_dem.cpp
  src/mat/4C_mat_particle_wall_dem.hpp
  src/membrane/4C_membrane.cpp
  src/membrane/4C_membrane_evaluate.cpp
  src/membrane/4C_membrane_scatra.cpp
  src/membrane/4C_membrane_scatra_eletypes.cpp
  src/membrane/4C_membrane_scatra_eletypes.hpp
  src/membrane/4C_membrane_scatra_evaluate.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix wrong skip check condition
  .github/actions/compute-and-check-dependencies-hash/action.yml
Due: non-ascii-chars

Add badges generated from workflows to README.md
  README.md
Due: none

Rename files with instantiations to .inst.hpp
  cmake/functions/four_c_auto_define_module.cmake
  src/scatra_ele/4C_scatra_ele_calc.cpp
  src/scatra_ele/4C_scatra_ele_calc.inst.hpp
  src/scatra_ele/4C_scatra_ele_calc_OD.cpp
  src/scatra_ele/4C_scatra_ele_calc_lsreinit.cpp
  src/scatra_ele/4C_scatra_ele_calc_no_physics.cpp
  src/scatra_ele/4C_scatra_ele_calc_no_physics.inst.hpp
  src/scatra_ele/4C_scatra_ele_calc_service_general.cpp
  src/scatra_ele/4C_scatra_ele_calc_service_no_physics.cpp
  src/scatra_ele/4C_scatra_ele_calc_service_stabilization.cpp
  src/scatra_ele/4C_scatra_ele_calc_service_turbulence.cpp
  src/so3/4C_so3_poro.cpp
  src/so3/4C_so3_poro.inst.hpp
  src/so3/4C_so3_poro_evaluate.cpp
  src/so3/4C_so3_poro_p1.cpp
  src/so3/4C_so3_poro_p1.inst.hpp
  src/so3/4C_so3_poro_p1_evaluate.cpp
  src/so3/4C_so3_poro_scatra.cpp
  src/so3/4C_so3_poro_scatra.inst.hpp
  src/so3/4C_so3_poro_scatra_evaluate.cpp
  src/so3/so3_plast/4C_so3_plast_ssn.cpp
  src/so3/so3_plast/4C_so3_plast_ssn_evaluate.cpp
  src/so3/so3_plast/4C_so3_ssn_plast.inst.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename namespace BEAMS to Beam
  src/inpar/4C_inpar_IO_runtime_output_structure_beams.cpp
  src/inpar/4C_inpar_IO_runtime_output_structure_beams.hpp
  src/inpar/4C_inpar_validparameters.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename namespace BEAMCONTACT to BeamContact
  src/adapter/4C_adapter_str_structure_new.cpp
  src/beamcontact/4C_beamcontact_beam3contact.cpp
  src/beamcontact/4C_beamcontact_beam3contact.hpp
  src/beamcontact/4C_beamcontact_beam3contact_manager.cpp
  src/beamcontact/4C_beamcontact_beam3contact_octtree.cpp
  src/beamcontact/4C_beamcontact_beam3contactnew.cpp
  src/beamcontact/4C_beamcontact_beam3contactnew.hpp
  src/beamcontact/4C_beamcontact_beam3tosolidcontact.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_beam_contact_pair.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_beam_contact_params.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_beam_contact_params.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_beam_contact_utils.cpp
  src/beaminteraction/4C_beaminteraction_potential_params.cpp
  src/inpar/4C_inpar_beamcontact.cpp
  src/inpar/4C_inpar_beamcontact.hpp
  src/inpar/4C_inpar_beaminteraction.cpp
  src/inpar/4C_inpar_beampotential.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint_impl.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename namesp. BEAMPOTENTIAL to BeamPotential
  src/beamcontact/4C_beamcontact_beam3contact_manager.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_beam_potential_pair.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_sphere_potential_pair.cpp
  src/beaminteraction/4C_beaminteraction_potential_params.cpp
  src/beaminteraction/4C_beaminteraction_potential_params.hpp
  src/beaminteraction/4C_beaminteraction_submodel_evaluator_potential.cpp
  src/inpar/4C_inpar_beampotential.cpp
  src/inpar/4C_inpar_beampotential.hpp
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_validparameters.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove DRT mentions and namespaces
  apps/post_monitor/4C_post_monitor.cpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_interaction_pair.hpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_mortar_manager.hpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_utils.hpp
  src/core/comm/src/4C_comm_exporter.hpp
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/core/fem/src/general/node/4C_fem_general_immersed_node.hpp
  src/core/fem/src/general/node/4C_fem_general_node.hpp
  src/coupling/src/adapter/4C_coupling_adapter_mortar.cpp
  src/fluid_ele/4C_fluid_ele_calc.cpp
  src/fluid_ele/4C_fluid_ele_calc.hpp
  src/fluid_ele/4C_fluid_ele_calc_loma.cpp
  src/fluid_ele/4C_fluid_ele_calc_loma.hpp
  src/fluid_ele/4C_fluid_ele_calc_poro.cpp
  src/fluid_ele/4C_fluid_ele_calc_poro.hpp
  src/fluid_ele/4C_fluid_ele_calc_poro_p1.cpp
  src/fluid_ele/4C_fluid_ele_calc_poro_p1.hpp
  src/fsi/src/4C_fsi_dyn.cpp
  src/geometry_pair/4C_geometry_pair_element.hpp
  src/geometry_pair/4C_geometry_pair_element_faces.hpp
  src/loma/4C_loma_dyn.cpp
  src/tsi/4C_tsi_dyn.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Stop using Epetra_SerialComm
  apps/pre_exodus/4C_pre_exodus_reader.cpp
  src/contact/4C_contact_abstract_strategy.cpp
  src/contact/4C_contact_lagrange_strategy_poro.cpp
  src/contact/4C_contact_lagrange_strategy_tsi.cpp
  src/contact/4C_contact_lagrange_strategy_wear.cpp
  src/contact/4C_contact_meshtying_lagrange_strategy.cpp
  src/contact/4C_contact_meshtying_poro_lagrange_strategy.cpp
  src/contact/4C_contact_monocoupled_lagrange_strategy.cpp
  src/core/fem/tests/geometric_search/4C_geometric_search_test.cpp
  src/core/io/tests/4C_io_pstream_test.cpp
  src/mortar/4C_mortar_interface.cpp
  src/mortar/4C_mortar_manager_base.cpp
  unittests/beam3/4C_beam3_euler_bernoulli_test.cpp
  unittests/beam3/4C_beam3_kirchhoff_test.cpp
  unittests/beam3/4C_beam3_reissner_test.cpp
  unittests/geometry_pair/4C_geometry_pair_line_to_surface_patch_averaged_normals_test.cpp
  unittests/io/4C_discretization_nodal_coordinates_test.cpp
  unittests/io/4C_gridgenerator_test.cpp
  unittests/so3/4C_so_contact_element_reference_configuration_test.cpp
  unittests/so3/4C_so_hex8_test.cpp
  unittests/so3/4C_so_tet4_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix a memory bug in XFEM
  src/xfem/4C_xfem_xfluid_contact_communicator.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Optimize struct handling in MultSplit material
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.cpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.hpp
  unittests/mat/4C_multiplicative_split_defgrad_elasthyper_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Extend badges in readme
  README.md
  utilities/assets/badges/documentation_doxygen.svg
  utilities/assets/badges/documentation_readthedocs.svg
  utilities/assets/badges/website_badge.svg
Due: non-ascii-chars

Add dependencies hash checker in pre-commit
  .pre-commit-config.yaml
  tests/testconfig/.gitlab-ci.yml
  utilities/four_c_utils/pyproject.toml
  utilities/four_c_utils/src/four_c_utils/check_workflow_dependencies_hash.py
Due: non-ascii-chars

Fix bug in mixture solid viscoelastic material
  src/mat/4C_mat_mixture.cpp
  src/mat/4C_mat_mixture.hpp
  src/mixture/4C_mixture_constituent.hpp
  src/mixture/4C_mixture_constituent_solidmaterial.cpp
  src/mixture/4C_mixture_constituent_solidmaterial.hpp
  src/mixture/4C_mixture_rule.hpp
  tests/input_files/mixture_solid_material_viscoelasthyper.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Consistently name template files .templates.hpp
  src/beam3/4C_beam3_base.templates.hpp
  src/beam3/4C_beam3_kirchhoff.cpp
  src/beam3/4C_beam3_reissner.cpp
  src/core/fem/src/geometry/4C_fem_geometry_intersection_service.cpp
  src/core/fem/src/geometry/4C_fem_geometry_intersection_service.templates.hpp
  src/core/fem/src/geometry/4C_fem_geometry_searchtree.cpp
  src/core/fem/src/geometry/4C_fem_geometry_searchtree_service.cpp
  src/core/linalg/src/dense/4C_linalg_gauss.cpp
  src/core/linalg/src/dense/4C_linalg_gauss.templates.hpp
  src/cut/4C_cut_kernel.hpp
  src/porofluidmultiphase/4C_porofluidmultiphase_utils.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Reduce Gitlab CI to minimum and remove utilities
  tests/testconfig/.gitlab-ci.yml
  utilities/code_climate/export_clang_tidy_issues.py
  utilities/code_climate/requirements.txt
  utilities/coverage/get_latest_artifacts_url_by_jobname.py
  utilities/coverage/requirements.txt
  utilities/danger/Dangerfile
  utilities/danger/Gemfile
  utilities/danger/Gemfile.lock
  utilities/danger/all_code_owners.py
  utilities/danger/get_job_id.py
  utilities/danger/requirements.txt
  utilities/sort_pipeline_output.py
Due: non-ascii-chars

Update paths in the README
  README.md
Due: none

Remove scatra related implementation
  apps/post_processor/4C_post_processor.cpp
  apps/post_processor/4C_post_processor_single_field_writers.cpp
  apps/post_processor/4C_post_processor_single_field_writers.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Put introductory text on doxygen landing page
  doc/doxygen/index.doc
Due: non-ascii-chars

Remove the post-processor call from the framework
  cmake/functions/four_c_testing_functions.cmake
Due: non-ascii-chars

Move the Dockerfile for the dependencies image
  .github/actions/compute-and-check-dependencies-hash/action.yml
  .github/workflows/buildtest.yml
  .github/workflows/checkcode.yml
  .github/workflows/docker.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly_tests.yml
  docker/README.md
  docker/dependencies/Dockerfile
  docker/dependencies/compute_dependencies_hash.sh
  tests/testconfig/.gitlab-ci.yml
  utilities/four_c_utils/src/four_c_utils/check_workflow_dependencies_hash.py
Due: non-ascii-chars

Add removal of TSI Nitsche contact to removed code
  doc_removed_code/major_changes.txt
Due: non-ascii-chars

Slightly rephrase doxugen main page
  doc/doxygen/index.doc
Due: non-ascii-chars

Enforce warning-free clang build
  cmake/setup_global_options.cmake
Due: non-ascii-chars

Add docker build for image with pre-built 4C
  .github/workflows/docker_prebuilt_4c.yml
  docker/prebuilt_4C/Dockerfile
  docker/prebuilt_4C/README.md
Due: non-ascii-chars

Update docs on directory structure and file types
  doc/readthedocs/developer_dirstructure.rst
Due: none

Enable vtk output in porofluidmulti
  src/porofluidmultiphase/4C_porofluidmultiphase_timint_implicit.cpp
  src/porofluidmultiphase/4C_porofluidmultiphase_timint_implicit.hpp
  tests/input_files/poromultielastscatra_2D_quad4_tumor.dat
  tests/input_files/ref/poromultielastscatra_2D_quad4_tumor-porofluid.pvd
  tests/input_files/ref/poromultielastscatra_2D_quad4_tumor-vtk-files/porofluid-00000-0.vtu
  tests/input_files/ref/poromultielastscatra_2D_quad4_tumor-vtk-files/porofluid-00000-1.vtu
  tests/input_files/ref/poromultielastscatra_2D_quad4_tumor-vtk-files/porofluid-00000-2.vtu
  tests/input_files/ref/poromultielastscatra_2D_quad4_tumor-vtk-files/porofluid-00000.pvtu
  tests/input_files/ref/poromultielastscatra_2D_quad4_tumor-vtk-files/porofluid-00002-0.vtu
  tests/input_files/ref/poromultielastscatra_2D_quad4_tumor-vtk-files/porofluid-00002-1.vtu
  tests/input_files/ref/poromultielastscatra_2D_quad4_tumor-vtk-files/porofluid-00002-2.vtu
  tests/input_files/ref/poromultielastscatra_2D_quad4_tumor-vtk-files/porofluid-00002.pvtu
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove old output mechanism from porofluidmulti
  apps/post_processor/4C_post_processor.cpp
  apps/post_processor/4C_post_processor_single_field_writers.cpp
  apps/post_processor/4C_post_processor_single_field_writers.hpp
  src/porofluidmultiphase/4C_porofluidmultiphase_timint_implicit.cpp
  src/porofluidmultiphase/4C_porofluidmultiphase_timint_implicit.hpp
  src/porofluidmultiphase/4C_porofluidmultiphase_timint_ost.cpp
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Include changes from review
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.cpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Improve substepping handling transvisotrop mat
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/mat/vplast/4C_mat_vplast_law.hpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.cpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.hpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
  unittests/mat/vplast/4C_vplast_reform_johnsoncook_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove AnyDataContainer
  src/contact/4C_contact_abstract_strategy.cpp
  src/contact/4C_contact_abstract_strategy.hpp
  src/contact/4C_contact_paramsinterface.hpp
  src/core/utils/src/stl_extension/4C_utils_any_data_container.hpp
  src/mortar/4C_mortar_paramsinterface.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_contact.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_contact.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Implement material iterative prestressing
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.hpp
  src/inpar/4C_inpar_validmaterials.cpp
  src/mat/4C_mat_iterative_prestress.cpp
  src/mat/4C_mat_iterative_prestress.hpp
  src/mat/4C_mat_material_factory.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_prestress.cpp
  tests/input_files/solid_material_prestress_iterative_spring_dashpot.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Implement push forward operations and fix pullback
  src/mat/4C_mat_service.cpp
  src/mat/4C_mat_service.hpp
  src/mat/4C_mat_superelastic_sma.cpp
  src/mat/4C_mat_superelastic_sma.hpp
  src/mat/4C_mat_viscoplastic_no_yield_surface.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
