Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Fix bugs in vtk output
  src/beam3/4C_beam3_discretization_runtime_vtu_writer.cpp
  src/core/io/src/4C_io_discretization_visualization_writer_mesh.cpp
  src/core/io/src/4C_io_visualization_data.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Enable locsys for beams and add test
  TestingFrameworkListOfTests.cmake
  src/core/fem/src/condition/4C_fem_condition_locsys.cpp
  tests/input_files/beam3r_herm2line3_static_locsys.dat
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Clean up of DiscretizationVisualizationWriterMesh
  src/core/fem/src/general/element/4C_fem_general_element.cpp
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/core/fem/src/geometry/4C_fem_geometry_periodic_boundingbox.cpp
  src/core/io/src/4C_io_discretization_visualization_writer_mesh.cpp
  src/core/io/src/4C_io_discretization_visualization_writer_mesh.hpp
  src/core/io/src/4C_io_element_append_visualization.hpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/particle_wall/4C_particle_wall_discretization_runtime_vtu_writer.cpp
  src/structure_new/src/4C_structure_new_timint_basedataglobalstate.cpp
  src/structure_new/src/4C_structure_new_timint_basedataglobalstate.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove definition of nurbs27 from
  src/core/io/src/4C_io_discretization_visualization_writer_mesh.cpp
  src/core/io/src/4C_io_element_append_visualization.hpp
  src/core/io/src/4C_io_element_vtk_cell_type_register.hpp
  src/post/4C_post_vtk_vtu_writer.cpp
  src/post/4C_post_vtk_vtu_writer_node_based.cpp
  tests/input_files/ref/solid_ele_nurbs27_Standard_Static_multielement_vtk-files/structure-00000-0.vtu
  tests/input_files/ref/solid_ele_nurbs27_Standard_Static_multielement_vtk-files/structure-00000-1.vtu
  tests/input_files/ref/solid_ele_nurbs27_Standard_Static_multielement_vtk-files/structure-00000.pvtu
  tests/input_files/ref/solid_ele_nurbs27_Standard_Static_multielement_vtk-files/structure-00001-0.vtu
  tests/input_files/ref/solid_ele_nurbs27_Standard_Static_multielement_vtk-files/structure-00001-1.vtu
  tests/input_files/ref/solid_ele_nurbs27_Standard_Static_multielement_vtk-files/structure-00001.pvtu
  tests/input_files/solid_ele_nurbs27_Standard_Static_multielement.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Deactivate the node gid output
  tests/input_files/embeddedmesh_patch_test_block_with_circular_interface.dat
  tests/input_files/embeddedmesh_patch_test_curved_interfaces_cutinter_nurbs9_background_hex8.dat
  tests/input_files/embeddedmesh_patch_test_inclined_interfaces_cutinter_nurbs9_background_hex8.dat
  tests/input_files/embeddedmesh_two_blocks_nurbs_hex_2x2.dat
  tests/input_files/embeddedmesh_two_cubes_nurbs_1_straight_down.dat
  tests/input_files/embeddedmesh_two_cubes_nurbs_1_straight_up.dat
  tests/input_files/ref/embeddedmesh_patch_test_block_with_circular_interface-vtk-files/structure-00000.pvtu
  tests/input_files/ref/embeddedmesh_patch_test_block_with_circular_interface-vtk-files/structure-00001.pvtu
  tests/input_files/ref/embeddedmesh_patch_test_curved_interfaces_cutinter_nurbs9_background_hex8-vtk-files/structure-00000.pvtu
  tests/input_files/ref/embeddedmesh_patch_test_curved_interfaces_cutinter_nurbs9_background_hex8-vtk-files/structure-00001.pvtu
  tests/input_files/ref/embeddedmesh_patch_test_inclined_interfaces_cutinter_nurbs9_background_hex8-vtk-files/structure-00000.pvtu
  tests/input_files/ref/embeddedmesh_patch_test_inclined_interfaces_cutinter_nurbs9_background_hex8-vtk-files/structure-00001.pvtu
  tests/input_files/ref/embeddedmesh_two_blocks_nurbs_hex_2x2-vtk-files/structure-00000.pvtu
  tests/input_files/ref/embeddedmesh_two_blocks_nurbs_hex_2x2-vtk-files/structure-00001.pvtu
  tests/input_files/ref/embeddedmesh_two_cubes_nurbs_1_straight_down-vtk-files/structure-00000.pvtu
  tests/input_files/ref/embeddedmesh_two_cubes_nurbs_1_straight_down-vtk-files/structure-00001.pvtu
  tests/input_files/ref/embeddedmesh_two_cubes_nurbs_1_straight_up-vtk-files/structure-00000.pvtu
  tests/input_files/ref/embeddedmesh_two_cubes_nurbs_1_straight_up-vtk-files/structure-00001.pvtu
Due: input-files, non-ascii-chars

Rename GROWHT_ENABLED to ENABLE_GROWTH
  src/inpar/4C_inpar_validmaterials.cpp
  src/mixture/4C_mixture_constituent_full_constrained_mixture_fiber.cpp
  src/mixture/4C_mixture_constituent_full_constrained_mixture_fiber.hpp
  src/mixture/4C_mixture_constituent_remodelfiber_expl.cpp
  src/mixture/4C_mixture_constituent_remodelfiber_expl.hpp
  src/mixture/4C_mixture_constituent_remodelfiber_impl.cpp
  src/mixture/4C_mixture_constituent_remodelfiber_impl.hpp
  src/mixture/4C_mixture_full_constrained_mixture_fiber.cpp
  src/mixture/4C_mixture_full_constrained_mixture_fiber.hpp
  tests/input_files/homogenized-constrained-mixture-cube-aniso-expl.dat
  tests/input_files/homogenized-constrained-mixture-cube-iso-expl.dat
  tests/input_files/homogenized-constrained-mixture-cube-stiffness-expl.dat
  tests/input_files/homogenized-constrained-mixture-cube-stiffness-impl.dat
  tests/input_files/mat_elasthyper_coupanisoexpoactive.dat
  tests/input_files/mat_elasthyper_coupanisoexpoactive_restart.dat
  tests/input_files/mixture_growth_full_constrained_mixture_fiber_adaptive_higher_order.dat
  tests/input_files/mixture_growth_full_constrained_mixture_fiber_adaptive_model_equation.dat
  tests/input_files/mixture_growth_full_constrained_mixture_fiber_non_adaptive.dat
  tests/input_files/mixture_prestress_arc_hex8.dat
  tests/input_files/mixture_prestress_arc_tet10.dat
  tests/input_files/mixture_prestress_arc_tet4.dat
  tests/input_files/mixture_prestress_cube.dat
  tests/input_files/mixture_prestress_cube_restart_from_prestress.dat
  tests/input_files/mixture_prestress_isochoric_spring_dashpot.dat
  tests/input_files/mixture_prestress_isochoric_spring_dashpot_restart_from_prestress.dat
  tests/input_files/mixture_prestress_minimum_number_of_prestress_steps.dat
  tests/input_files/mixture_prestress_spring_dashpot.dat
  tests/input_files/mixture_prestress_spring_dashpot_restart_from_prestress.dat
  tests/input_files/solid_runtime_gauss_point_quantity_output_element_center.dat
  tests/input_files/solid_runtime_gauss_point_quantity_output_gauss_point.dat
  tests/input_files/solid_runtime_gauss_point_quantity_output_nodal.dat
  tests/input_files/solid_runtime_gauss_point_quantity_output_result_test.dat
  unittests/mixture/4C_mixture_full_constrained_mixture_fiber_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Allow disabling basal mass production rate
  TestingFrameworkListOfTests.cmake
  src/inpar/4C_inpar_validmaterials.cpp
  src/mixture/4C_mixture_constituent_full_constrained_mixture_fiber.cpp
  src/mixture/4C_mixture_constituent_full_constrained_mixture_fiber.hpp
  src/mixture/4C_mixture_constituent_remodelfiber_expl.cpp
  src/mixture/4C_mixture_constituent_remodelfiber_expl.hpp
  src/mixture/4C_mixture_constituent_remodelfiber_impl.cpp
  src/mixture/4C_mixture_constituent_remodelfiber_impl.hpp
  src/mixture/4C_mixture_growth_evolution_linear_cauchy_poisson_turnover.hpp
  tests/input_files/mixture_growth_expl_remodel_fiber_no_basal_mass_production.dat
  tests/input_files/mixture_growth_full_constrained_mixture_fiber_no_basal_mass_production.dat
  tests/input_files/mixture_growth_impl_remodel_fiber_no_basal_mass_production.dat
  unittests/mixture/4C_mixture_full_constrained_mixture_fiber_adaptive_history_test.cpp
  unittests/mixture/4C_mixture_full_constrained_mixture_fiber_test.cpp
  unittests/mixture/4C_remodelfiber_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Slightly improve the pp test output on failure
  tests/post_processing_test/comparison.py
Due: non-ascii-chars

Remove unused and untested cut functions
  src/cut/4C_cut_base_vol.cpp
  src/cut/4C_cut_base_vol.hpp
  src/cut/4C_cut_boundarycell_integration.cpp
  src/cut/4C_cut_boundarycell_integration.hpp
  src/cut/4C_cut_facet_integration.cpp
  src/cut/4C_cut_facetgraph.cpp
  src/cut/4C_cut_facetgraph_simple.cpp
  src/cut/4C_cut_facetgraph_simple.hpp
  src/cut/4C_cut_kernel.hpp
  src/cut/4C_cut_least_squares.cpp
  src/cut/4C_cut_least_squares.hpp
  src/cut/4C_cut_memory_manager.cpp
  src/cut/4C_cut_memory_manager.hpp
  src/cut/4C_cut_volume_integration.cpp
  src/cut/4C_cut_volume_integration.hpp
  src/cut/4C_cut_volumecell.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move octree search within core
  src/core/coupling/src/CMakeLists.txt
  src/core/coupling/src/adapter/4C_coupling_adapter.cpp
  src/core/coupling/src/searching/CMakeLists.txt
  src/core/fem/src/condition/4C_fem_condition_periodic.cpp
  src/core/fem/src/dofset/4C_fem_dofset_definedmapping_wrapper.cpp
  src/core/fem/src/dofset/4C_fem_dofset_merged_wrapper.cpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_matchingoctree.cpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_matchingoctree.hpp
  src/core/rebalance/src/4C_rebalance_binning_based.cpp
  src/ehl/4C_ehl_base.cpp
  src/fluid_turbulence/4C_fluid_turbulence_transfer_turb_inflow.cpp
  src/ssi/4C_ssi_utils.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Drop an unnecessary mortar include
  src/core/binstrategy/4C_binstrategy_meshfree_bin.cpp
  src/core/binstrategy/4C_binstrategy_meshfree_bin.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Forward implementation of ranges::views::filter
  src/core/utils/src/stl_extension/4C_utils_std_cxx20_ranges.hpp
  src/core/utils/tests/stl_extension/4C_utils_std_cxx20_ranges_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove InsertGlobalValues
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove old solid scatra elements
  TestingFrameworkListOfTests.cmake
  doc/readthedocs/elementtypes.rst
  src/adapter/4C_adapter_structure_scatra_ele.cpp
  src/contact/4C_contact_nitsche_integrator_ssi.cpp
  src/core/fem/src/general/element/4C_fem_general_element_definition.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/poroelast_scatra/4C_poroelast_scatra_utils_clonestrategy.cpp
  src/so3/4C_so3_scatra.cpp
  src/so3/4C_so3_scatra.hpp
  src/so3/4C_so3_scatra_eletypes.cpp
  src/so3/4C_so3_scatra_eletypes.hpp
  src/so3/4C_so3_scatra_evaluate.cpp
  tests/input_files/deprecated_solid_scatra_ele_ssi_mono_3D_1hex8_scatra.dat
  tests/input_files/deprecated_solid_scatra_ele_ssi_mono_3D_2blocks_hex8_nonmatching_nitsche_contact_scatra_s2i_constperm.dat
  tests/input_files/deprecated_solid_scatra_ele_ssi_mono_3D_3blocks_nitsche_contact_and_meshtying_elch_s2i_butlervolmer.dat
  tests/input_files/deprecated_solid_scatra_ele_ssi_mono_3D_hex8_elch_structure_quasi_statics.dat
  tests/input_files/deprecated_solid_scatra_ele_ssi_mono_3D_tet10_elch.dat
  tests/input_files/deprecated_solid_scatra_ele_ssi_mono_3D_tet4_elch_s2i_butlervolmer_cycling.dat
  tests/input_files/deprecated_solid_scatra_ele_ssi_twoway_3D_1hex8_scatra.dat
  tests/input_files/deprecated_solid_scatra_ele_ssti_mono_3D_2blocks_elch_temp_dep_diff.dat
  tests/input_files/deprecated_solid_scatra_ele_ssti_mono_3D_3hex8_elch_s2i_butlervolmerthermo_growthlaw.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Fix a bug due to name change
  src/core/fem/src/geometry/4C_fem_geometry_update_reference_config.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove an unused/untested condition
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_conditions.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_conditions.hpp
  src/inpar/4C_inpar_xfem.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add named selection component helper function
  src/core/io/src/4C_io_linecomponent.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Pass fortran_style and none_allowed
  src/core/io/src/4C_io_linecomponent.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Make xfem conditions independent
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_xfem.cpp
  src/inpar/4C_inpar_xfem.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Simplify and generalize binning functions
  src/adapter/4C_adapter_str_structure_new.cpp
  src/beaminteraction/4C_beaminteraction_str_model_evaluator.cpp
  src/core/binstrategy/4C_binstrategy.cpp
  src/core/binstrategy/4C_binstrategy.hpp
  src/core/binstrategy/4C_binstrategy_utils.cpp
  src/core/binstrategy/4C_binstrategy_utils.hpp
  src/core/rebalance/src/4C_rebalance_binning_based.cpp
  src/core/rebalance/src/4C_rebalance_binning_based.hpp
  src/coupling/src/adapter/4C_coupling_adapter_volmortar.cpp
  src/coupling/src/adapter/4C_coupling_adapter_volmortar.hpp
  src/fs3i/4C_fs3i_partitioned.cpp
  src/fsi/src/4C_fsi_dyn.cpp
  src/mortar/4C_mortar_interface.cpp
  src/particle_engine/4C_particle_engine.cpp
  src/poroelast/4C_poroelast_base.cpp
  src/poroelast_scatra/4C_poroelast_scatra_utils_setup.hpp
  src/scatra/4C_scatra_cardiac_monodomain_dyn.cpp
  src/scatra/4C_scatra_dyn.cpp
  src/scatra/4C_scatra_timint_hdg.cpp
  src/ssi/4C_ssi_base.cpp
  src/tsi/4C_tsi_algorithm.cpp
  src/wear/4C_wear_dyn.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add named return type for global search
  src/core/fem/src/geometric_search/4C_fem_geometric_search_distributed_tree.cpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_distributed_tree.hpp
  src/core/fem/tests/geometric_search/4C_geometric_search_distributed_test.cpp
  src/core/rebalance/src/4C_rebalance_graph_based.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Improve documentation
  src/core/fem/src/geometric_search/4C_fem_geometric_search_distributed_tree.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix compiler warning
  src/core/fem/src/geometric_search/4C_fem_geometric_search_distributed_tree.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Cleanup of MOR framework
  src/mor/4C_mor_pod.cpp
  src/mor/4C_mor_pod.hpp
  src/structure/4C_structure_timint.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused variable
  src/core/fem/src/geometry/4C_fem_geometry_intersection_math.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

CMake: simplify auto-defined module names
  apps/create_rtdfiles/CMakeLists.txt
  cmake/dummy.cpp
  cmake/functions/four_c_add_library.cmake
  cmake/functions/four_c_auto_define_module.cmake
  cmake/functions/four_c_unity_build_compile_separately.cmake
  src/adapter/CMakeLists.txt
  src/core/linear_solver/src/method/CMakeLists.txt
  src/fluid_ele/CMakeLists.txt
  src/membrane/CMakeLists.txt
  src/mixture/CMakeLists.txt
  src/so3/CMakeLists.txt
  src/so3/so3_plast/CMakeLists.txt
  src/solver_nonlin_nox/CMakeLists.txt
  src/structure_new/src/CMakeLists.txt
  src/structure_new/src/nonlinear_solver/CMakeLists.txt
  src/w1/CMakeLists.txt
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Replace self-defined large number by std function
  src/core/fem/src/geometry/4C_fem_geometry_intersection_math.hpp
  src/core/fem/src/geometry/4C_fem_geometry_searchtree_service.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Simplify loops in inpar
  src/inpar/4C_inpar_ale.cpp
  src/inpar/4C_inpar_bio.cpp
  src/inpar/4C_inpar_ehl.cpp
  src/inpar/4C_inpar_elch.cpp
  src/inpar/4C_inpar_elemag.cpp
  src/inpar/4C_inpar_fluid.cpp
  src/inpar/4C_inpar_fpsi.cpp
  src/inpar/4C_inpar_fsi.cpp
  src/inpar/4C_inpar_immersed.cpp
  src/inpar/4C_inpar_mortar.cpp
  src/inpar/4C_inpar_particle.cpp
  src/inpar/4C_inpar_poromultiphase_scatra.cpp
  src/inpar/4C_inpar_s2i.cpp
  src/inpar/4C_inpar_scatra.cpp
  src/inpar/4C_inpar_ssi.cpp
  src/inpar/4C_inpar_ssti.cpp
  src/inpar/4C_inpar_thermo.cpp
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_xfem.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Resolve header-in-header inclusion
  src/core/fem/src/geometry/4C_fem_geometry_intersection_math.hpp
  src/cut/4C_cut_quadrature_compression.cpp
  src/cut/4C_cut_quadrature_compression.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove many duplicates IsNurbs
  src/contact/4C_contact_strategy_factory.cpp
  src/core/fem/src/general/element/4C_fem_general_element_integration_select.hpp
  src/core/fem/src/general/utils/4C_fem_general_utils_local_connectivity_matrices.cpp
  src/core/fem/src/general/utils/4C_fem_general_utils_local_connectivity_matrices.hpp
  src/core/fem/src/nurbs_discretization/4C_fem_nurbs_discretization_utils.hpp
  src/coupling/src/volmortar/4C_coupling_volmortar_shape.hpp
  src/fluid_ele/4C_fluid_ele_boundary_calc.cpp
  src/fluid_ele/4C_fluid_ele_boundary_calc_poro.cpp
  src/fluid_ele/4C_fluid_ele_calc.cpp
  src/fluid_ele/4C_fluid_ele_evaluate_utils.hpp
  src/post/4C_post_vtk_vtu_writer.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc.cpp
  src/scatra_ele/4C_scatra_ele_calc.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Implement LineDefinition::add_named_path
  src/core/io/src/4C_io_linedefinition.cpp
  src/core/io/src/4C_io_linedefinition.hpp
  unittests/lib/4C_linedefinition_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove input file path query from core
  src/core/io/src/4C_io_dat_file_utils.cpp
  src/core/utils/src/functions/4C_utils_function_library.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove dim template from functions
  src/core/utils/src/functions/4C_utils_function.cpp
  src/core/utils/src/functions/4C_utils_function.hpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  unittests/contact_constitutivelaw/4C_mirco_force_contactconstitutivelaw_test.cpp
  unittests/contact_constitutivelaw/4C_mirco_pressure_contactconstitutivelaw_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Clang-tidy and naming in BinningStrategy
  src/core/binstrategy/4C_binstrategy.cpp
  src/core/binstrategy/4C_binstrategy.hpp
  src/particle_engine/4C_particle_engine.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused define flag OCTREEDEBUG
  src/beamcontact/4C_beamcontact_beam3contact_octtree.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_beam_contact_defines.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused define flag MESHTYINGASOUTPUT
  src/contact/4C_contact_meshtying_abstract_strategy.cpp
  src/contact/4C_contact_meshtying_defines.hpp
  src/contact/4C_contact_meshtying_lagrange_strategy.cpp
  src/contact/4C_contact_meshtying_manager.cpp
  src/contact/4C_contact_meshtying_penalty_strategy.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unsigned define flag COMBINE_SAMPLES
  src/fluid_turbulence/4C_fluid_turbulence_statistics_bfda.cpp
  src/fluid_turbulence/4C_fluid_turbulence_tstatistics_bfs.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
