Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Refactor last loma test cases
  tests/input_files/loma_2d_heated_chan_30x100.dat
  tests/input_files/loma_2d_heated_chan_sgs_30x100.dat
  tests/input_files/loma_turbmodel_test_dynsmag.dat
  tests/input_files/loma_turbmodel_test_dynsmag_wo_ci.dat
  tests/input_files/loma_turbmodel_test_fssgd.dat
  tests/input_files/loma_turbmodel_test_mfs.dat
  tests/input_files/xml/multigrid/fluid_loma_template.xml
Due: input-files, non-ascii-chars

Delete some bgs2x2 code files
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_bgs2x2.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_bgs2x2.hpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_block.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_block.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove BGS class definitions
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_block.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_block.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove all parts of BGS 2x2 code
  src/adapter/4C_adapter_fld_base_algorithm.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method.hpp
  src/core/linear_solver/src/method/4C_linear_solver_method_iterative.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_block.hpp
  src/fs3i/4C_fs3i_fps3i_partitioned.cpp
  src/fs3i/4C_fs3i_partitioned.cpp
  src/fsi_xfem/4C_fsi_xfem_monolithic.cpp
  src/inpar/4C_inpar_solver.cpp
  src/poroelast/4C_poroelast_monolithic.cpp
  src/tsi/4C_tsi_monolithic.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove lung monolithic implementation
  TestingFrameworkListOfTests.cmake
  apps/global_full/4C_global_full_cal_control.cpp
  apps/post_monitor/4C_post_monitor.cpp
  apps/post_processor/4C_post_processor.cpp
  doc_removed_code/major_changes.txt
  src/adapter/4C_adapter_ale.cpp
  src/adapter/4C_adapter_fld_base_algorithm.cpp
  src/adapter/4C_adapter_str_structure.cpp
  src/adapter/4C_adapter_str_structure_new.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_problem_type.hpp
  src/fsi/src/4C_fsi_dyn.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_lung_overlapprec.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_lung_overlapprec.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_lungmonolithic.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_lungmonolithic.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_lungmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_lungmonolithic_fluidsplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_lungmonolithic_structuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_lungmonolithic_structuresplit.hpp
  src/fsi/src/partitioned/model_evaluator/4C_fsi_dirichletneumann_factory.cpp
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_fsi.cpp
  src/inpar/4C_inpar_fsi.hpp
  src/inpar/4C_inpar_problemtype.cpp
  src/structure/4C_structure_timint_create.cpp
  src/structure_new/src/4C_structure_new_timint_factory.cpp
  tests/input_files/fsi_lung_mono.dat
  tests/input_files/mfsi-volconstr-fluidsplit.dat
  tests/input_files/mfsi-volconstr-structsplit.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Update removal hash
  doc_removed_code/major_changes.txt
Due: non-ascii-chars

[EpetraExt] Move matrix transpose out of sparse matrix
  src/adapter/4C_adapter_fld_lung.cpp
  src/adapter/4C_adapter_str_lung.cpp
  src/cardiovascular0d/4C_cardiovascular0d_manager.cpp
  src/cardiovascular0d/4C_cardiovascular0d_structure_new_model_evaluator.cpp
  src/contact/4C_contact_lagrange_strategy_poro.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_lagpenconstraint.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix issue #1341
  src/scatra_ele/4C_scatra_ele_calc_service_general.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove ML and Aztec from monolithic fsi
  src/fsi/src/monolithic/linear_solver/4C_fsi_monolithic_linearsystem.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_monolithic_linearsystem.hpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec.hpp
  src/fsi/src/monolithic/linear_solver/CMakeLists.txt
  src/fsi/src/monolithic/model_evaluator/4C_fsi_fluidfluidmonolithic_fluidsplit_nonox.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_fluidfluidmonolithic_structuresplit_nonox.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove BGS parameters in test files
  tests/input_files/fpsi_ofsiinterface.dat
  tests/input_files/homogenized-constrained-mixture-cyl-aniso-impl-nofibdir.dat
Due: input-files, non-ascii-chars

Remove BGS from tutorial files
  tests/framework-test/tutorial_fsi.head
  tests/framework-test/tutorial_fsi_3d.head
Due: non-ascii-chars

Cleanup of direct solver setup
  src/core/linear_solver/src/method/4C_linear_solver_method_direct.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_direct.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Change tsi tests to use SOLIDSCATRA element
  tests/input_files/tsi_geonln_lincompression_monolithic_hyperelast.dat
  tests/input_files/tsi_geonln_necking_fbar_thrplast.dat
  tests/input_files/tsi_heatconvection_thrplastic_genalpha_monolithic.dat
  tests/input_files/tsi_heatconvection_thrplastic_monolithic.dat
  tests/input_files/tsi_pressurisedcylinder_robinson.dat
Due: input-files, non-ascii-chars

Adapt thermo plastic materials and Robinson to SolidScatra element
  src/core/fem/src/discretization/4C_fem_discretization_fillcomplete.cpp
  src/inpar/4C_inpar_validmaterials.cpp
  src/mat/4C_mat_monolithic_solid_scalar_material.hpp
  src/mat/4C_mat_robinson.cpp
  src/mat/4C_mat_robinson.hpp
  src/mat/4C_mat_so3_material.hpp
  src/mat/4C_mat_thermomechanical.hpp
  src/mat/4C_mat_thermoplastichyperelast.cpp
  src/mat/4C_mat_thermoplastichyperelast.hpp
  src/mat/4C_mat_thermoplasticlinelast.cpp
  src/mat/4C_mat_thermoplasticlinelast.hpp
  src/mat/4C_mat_thermostvenantkirchhoff.cpp
  src/mat/4C_mat_thermostvenantkirchhoff.hpp
  src/mat/4C_mat_trait_thermo_solid.hpp
  src/so3/4C_so3_thermo_evaluate.cpp
  src/solid_3D_ele/4C_solid_3D_ele_formulation.hpp
  src/thermo/4C_thermo_ele_impl.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Adapt test tolerance
  tests/input_files/tsi_geonln_necking_fbar_thrplast.dat
Due: input-files, non-ascii-chars

Refactor saddle point solid problems for Teko
  src/adapter/4C_adapter_str_structure.cpp
  src/constraint/4C_constraint_solver.cpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
  tests/input_files/constr3D_shrinking_ost_simple.dat
  tests/input_files/constr3D_shrinking_ost_simple_new_struc.dat
  tests/input_files/contact2D_simpler.dat
  tests/input_files/meshtying3D_structure_simpler.dat
  tests/input_files/meshtying3D_structure_simpler_new_struct.dat
  tests/input_files/xml/block_preconditioner/contact.xml
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Minor corrections
  tests/framework-test/tutorial_fsi.head
Due: non-ascii-chars

Update documentation on krylov projection
  src/core/linear_solver/src/method/4C_linear_solver_method_direct.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_direct.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Replace ML by incomplete factorization
  tests/input_files/elch_Kwok_Wu.dat
  tests/input_files/elch_Kwok_Wu_BDF2.dat
Due: input-files, non-ascii-chars

Refactor Teko to be able to use SIMPLE for fluid
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_teko.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_teko.hpp
  tests/input_files/f2_dc20x20_drt_afg_cons.dat
  tests/input_files/f2_dc20x20_drt_afgenalpha.dat
  tests/input_files/f2_drivencavity20x20_simple.dat
  tests/input_files/fsci_simp_salz_syst_preconditioner.xml
  tests/input_files/xml/block_preconditioner/cardiovascular_solid.xml
  tests/input_files/xml/block_preconditioner/fluid.xml
  tests/input_files/xml/block_preconditioner/fluid_scatra.xml
  tests/input_files/xml/block_preconditioner/fluid_solid.xml
  tests/input_files/xml/block_preconditioner/fluid_solid_ale.xml
  tests/input_files/xml/block_preconditioner/poro.xml
  tests/input_files/xml/block_preconditioner/scatra_scatra.xml
  tests/input_files/xml/block_preconditioner/thermo_solid.xml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Build Trilinos and 4C as shared library
  dependencies/current/trilinos/install.sh
  dependencies/trilinos_develop/trilinos/install.sh
  presets/docker/CMakePresets.json
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Create the class Vector
  src/core/linalg/src/sparse/4C_linalg_vector.cpp
  src/core/linalg/src/sparse/4C_linalg_vector.hpp
  src/core/linalg/tests/4C_linalg_vector_test.cpp
  src/core/linalg/tests/CMakeLists.txt
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unconditional CLN and Sacado includes
  src/beam3/4C_beam3_triad_interpolation.hpp
  src/core/binstrategy/4C_binstrategy.hpp
  src/core/fem/src/general/element/4C_fem_general_utils_gauss_point_postprocess.cpp
  src/core/fem/src/general/utils/4C_fem_general_utils_gausspoints.hpp
  src/core/fem/src/geometry/4C_fem_geometry_searchtree.hpp
  src/core/utils/src/numerics/4C_utils_cln_matrix_conversion.hpp
  src/core/utils/src/numerics/4C_utils_fad.hpp
  src/core/utils/src/numerics/4C_utils_mathoperations.hpp
  src/core/utils/src/numerics/4C_utils_mathoperations_cln.hpp
  src/core/utils/src/numerics/4C_utils_mathoperations_sacado.hpp
  src/coupling/src/adapter/4C_coupling_adapter_volmortar.hpp
  src/cut/4C_cut_boundingbox.hpp
  src/cut/4C_cut_cutwizard.hpp
  src/cut/4C_cut_kernel.hpp
  src/mat/4C_mat_monolithic_solid_scalar_material.hpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_utils.hpp
  src/scatra/4C_scatra_timint_elch_scl.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Drop includes from ParameterContainer
  src/contact/4C_contact_rough_node.hpp
  src/core/io/src/4C_io_input_parameter_container.cpp
  src/core/io/src/4C_io_input_parameter_container.hpp
  src/core/io/src/4C_io_linecomponent.hpp
  src/mat/4C_mat_fluidporo_multiphase.hpp
  src/mat/4C_mat_fluidporo_singlephase.hpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/mat/4C_mat_maxwell_0d_acinus.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Clean up and simplify includes in function utils
  src/core/fem/src/discretization/4C_fem_discretization_evaluate.cpp
  src/core/utils/src/functions/4C_utils_function.cpp
  src/core/utils/src/functions/4C_utils_function.hpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/core/utils/src/functions/4C_utils_function_of_time.cpp
  src/core/utils/src/functions/4C_utils_function_of_time.hpp
  src/core/utils/src/functions/4C_utils_functionvariables.hpp
  src/fluid/4C_fluid_volumetric_surfaceFlow_condition.cpp
  src/fluid_ele/4C_fluid_ele_calc.cpp
  src/scatra/4C_scatra_timint_elch.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Do not include Condition in Element and Node
  apps/pre_exodus/4C_pre_exodus_readbc.hpp
  src/art_net/4C_art_net_art_write_gnuplot.cpp
  src/beaminteraction/4C_beaminteraction_crosslinker_node.hpp
  src/bele/4C_bele_bele3_evaluate.cpp
  src/bele/4C_bele_bele3_line_evaluate.cpp
  src/constraint/4C_constraint_element2_evaluate.cpp
  src/constraint/4C_constraint_element3_evaluate.cpp
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/fem/src/discretization/4C_fem_discretization_faces.cpp
  src/core/fem/src/dofset/4C_fem_dofset_transparent.cpp
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/core/fem/src/general/node/4C_fem_general_node.hpp
  src/core/fem/src/general/utils/4C_fem_general_utils_superconvergent_patch_recovery.cpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_mean_general.cpp
  src/porofluidmultiphase_ele/4C_porofluidmultiphase_ele_boundary_calc.cpp
  src/porofluidmultiphase_ele/4C_porofluidmultiphase_ele_boundary_evaluate.cpp
  src/red_airways/4C_red_airways_acinus_impl.cpp
  src/red_airways/4C_red_airways_airway_impl.cpp
  src/red_airways/4C_red_airways_interacinardep_impl.cpp
  src/so3/4C_so3_line_evaluate.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Do not include SerialDenseMatrix/Vector in Element
  src/beam3/4C_beam3_euler_bernoulli.hpp
  src/beamcontact/4C_beamcontact_beam3contactnew.hpp
  src/constraint/4C_constraint_element3_evaluate.cpp
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/core/fem/src/general/utils/4C_fem_general_utils_superconvergent_patch_recovery.cpp
  src/coupling/src/volmortar/4C_coupling_volmortar_cell.hpp
  src/fluid_ele/4C_fluid_ele_boundary_parent_calc.hpp
  src/fluid_turbulence/4C_fluid_turbulence_boxfilter.cpp
  src/membrane/4C_membrane_line_evaluate.cpp
  src/particle_interaction/4C_particle_interaction_sph_density.cpp
  src/particle_interaction/4C_particle_interaction_sph_momentum.cpp
  src/particle_interaction/4C_particle_interaction_sph_rigid_particle_contact.cpp
  src/particle_interaction/4C_particle_interaction_sph_virtual_wall_particle.cpp
  src/porofluidmultiphase_ele/4C_porofluidmultiphase_ele_evaluator.cpp
  src/red_airways/4C_red_airways_airway_impl.cpp
  src/red_airways/4C_red_airways_interacinardep_impl.cpp
  src/rigidsphere/4C_rigidsphere_evaluate.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i.hpp
  src/scatra/4C_scatra_utils.cpp
  src/thermo/4C_thermo_ele_impl.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix missing headers for newer compilers
  src/beaminteraction/4C_beaminteraction_potential_params.hpp
  src/core/comm/src/4C_comm_broadcast_utils.hpp
  src/core/linalg/src/sparse/4C_linalg_equilibrate.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_eas.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Exit set_up_dev_env.sh at first error
  set_up_dev_env.sh
Due: non-ascii-chars

Refactor xfluid test cases using ML
  tests/input_files/xfluid_kimmoin_stat_40x40x1_moving_ellipsoid_bdf2.dat
  tests/input_files/xfluid_kimmoin_stat_40x40x1_moving_ellipsoid_theta05.dat
  tests/input_files/xfluid_kimmoin_stat_40x40x1_moving_ellipsoid_theta1.dat
  tests/input_files/xfluid_moving_torus_NavSlip_vareps_levelset_psmoothed_8x8x16.dat
  tests/input_files/xfluid_multibody_hex8_EOS_itsolver_MLprec_MHCS_full_proj.dat
  tests/input_files/xfluid_multibody_hex8_EOS_itsolver_MLprec_MHCS_part_proj.dat
  tests/input_files/xfluid_multibody_hex8_EOS_itsolver_MLprec_MHVS_asym.dat
  tests/input_files/xfluid_multibody_hex8_EOS_itsolver_MLprec_MHVS_symm.dat
  tests/input_files/xfluid_multibody_hex8_EOS_itsolver_MLprec_NIT.dat
  tests/input_files/xfluid_oseen_urquiza_square_NavSlip_eps1.0_40x40_mesh_altgeogeneration.dat
  tests/input_files/xfluid_thin_struct_hex8_EOS_itsolver_MLprec_NIT.dat
  tests/input_files/xfluid_thin_struct_hex8_EOS_itsolver_MLprec_NIT_2ndGP.dat
  tests/input_files/xfluid_thin_struct_hex8_EOS_itsolver_MLprec_NIT_OneDofset.dat
  tests/input_files/xml/multigrid/xfluid_template.xml
Due: input-files, non-ascii-chars

Refactor meshtying saddlepoint tests
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_teko.cpp
  tests/input_files/meshtying3D_structure_simpler.dat
  tests/input_files/meshtying3D_structure_simpler_new_struct.dat
  tests/input_files/xml/block_preconditioner/contact.xml
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Fix usage of redistribute mesh tying
  src/contact/4C_contact_abstract_strategy.hpp
  src/contact/4C_contact_meshtying_abstract_strategy.cpp
  src/contact/4C_contact_meshtying_abstract_strategy.hpp
  src/contact/4C_contact_meshtying_lagrange_strategy.cpp
  src/contact/4C_contact_meshtying_lagrange_strategy.hpp
  src/contact/4C_contact_meshtying_penalty_strategy.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_meshtying.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add tests
  TestingFrameworkListOfTests.cmake
  tests/input_files/meshtying3D_structure_duallagr_new_struct_condensed_redist_none.dat
  tests/input_files/meshtying3D_structure_duallagr_new_struct_condensed_redist_static.dat
  tests/input_files/meshtying3D_structure_duallagr_new_struct_saddlepoint_redist_none.dat
  tests/input_files/meshtying3D_structure_duallagr_new_struct_saddlepoint_redist_static.dat
  tests/input_files/meshtying3D_structure_penalty_redist_none.dat
  tests/input_files/meshtying3D_structure_penalty_redist_static.dat
Due: input-files, non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
