Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        name: Format C/C++
        # Only use on C and C++ files and not on other files that clang could format (e.g. json).
        types_or: [c++, c]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format cmake
        args: [--config, utilities/code_checks/.cmake-format.yaml, --in-place]
        additional_dependencies: [pyyaml>=5.1]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        name: Format python

  - repo: https://github.com/pamoller/xmlformatter
    rev: v0.2.6
    hooks:
      - id: xml-formatter
        name: Format xml
        args: [--indent, '2', --indent-char, ' ', --selfclose, --overwrite]
        # Only run on "pure" XML files and not on files that internally use XML (e.g. svg)
        files: \.xml$

  - repo: https://github.com/google/yamlfmt
    rev: v0.12.1
    hooks:
      - id: yamlfmt
        name: Format yaml
        args: [-conf, utilities/code_checks/.yamlfmt.yaml]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        # Do not modify reference vtu files, since we generate these and do not hand-edit them.
        exclude: 'vtu$'
      - id: no-commit-to-branch
        name: Don't commit to main

  - repo: local
    hooks:
      - id: check-venv-up-to-date
        name: Python virtual environment is up to date
        language: system
        entry: ./utilities/code_checks/check_venv
        always_run: true
        pass_filenames: false
        fail_fast: true

      - id: cpp-header
        name: C++ file headers
        description: 'Check that all C++ files have the correct header'
        language: system
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-file-header

      - id: cpp-filename-includes
        name: C++ file names and include style
        description: 'Check that all C++ files have the correct file name and include style'
        language: system
        types_or: [c++, c]
        exclude: 'tests/cut_test/'
        entry: utilities/python-venv/bin/check-filenames-and-includes
        args: ['--paths', 'src/', 'unittests/', 'apps/', '--files']

      - id: cpp-include-guard
        name: Include guards
        description: 'Check that all C++ files have the correct include guards'
        language: python
        types_or: [c++, c]
        files: '\.(h|hpp)$'
        entry: utilities/python-venv/bin/check-header-guards

      - id: cpp-preprocessor
        name: C++ preprocessor directives
        description: 'Check that all C++ files only use acceptable preprocessor directives'
        language: python
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-preprocessor

      - id: codeowners
        name: Inclusion in CODEOWNERS file
        description: 'Check that files are listed in CODEOWNERS file'
        language: python
        entry: utilities/python-venv/bin/check-codeowners

      - id: input-files
        name: Test input files
        description: 'Check input files conform to expectations'
        language: python
        files: 'tests/input_files/.*\.dat$'
        entry: utilities/python-venv/bin/check-test-files

      - id: non-ascii-chars
        name: Non-ASCII characters
        language: system
        exclude_types: [markdown, rst]
        entry: ./utilities/code_checks/check_non_ascii_chars

Two small fixes concerning the setup of ssi
  src/ssi/4C_ssi_monolithic.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Generate performance report
  .github/workflows/deploy.yml
  .github/workflows/performance_report.yml
  utilities/four_c_python/ci-requirements.txt
  utilities/four_c_python/pyproject.toml
  utilities/four_c_python/src/four_c_ci/collect_performance_data.py
  utilities/four_c_python/src/four_c_ci/generate_performance_report.py
  utilities/four_c_python/src/four_c_ci/resources/__init__.py
  utilities/four_c_python/src/four_c_ci/resources/template.html.j2
Due: non-ascii-chars

Add more verbose error message to particle code
  src/particle/src/algorithm/4C_particle_algorithm.cpp
  src/particle/src/algorithm/4C_particle_algorithm.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add performance result badges to the README
  README.md
  utilities/assets/badges/performance_results.svg
Due: non-ascii-chars

Add Windkessel implementation as terminal unit
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_input.cpp
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_input.hpp
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_main.cpp
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_terminal_unit.cpp
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_terminal_unit.hpp
  tests/input_files/reduced_lung_1d_pipe_flow_3_aw_2_tu.4C.yaml
  tests/input_files/reduced_lung_1d_pipe_flow_windkessel.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Introduce non-local growth remodeling
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.hpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_material_factory.cpp
  src/mat/4C_mat_scatra_nonlocal_stimulus.cpp
  src/mat/4C_mat_scatra_nonlocal_stimulus.hpp
  src/mixture/src/4C_mixture_constituent_remodelfiber_ssi.cpp
  src/mixture/src/4C_mixture_constituent_remodelfiber_ssi.hpp
  src/mixture/src/4C_mixture_remodelfiber-internal.hpp
  src/mixture/src/4C_mixture_remodelfiber.cpp
  src/mixture/src/4C_mixture_remodelfiber.hpp
  src/scatra/4C_scatra_input.cpp
  src/scatra/4C_scatra_input.hpp
  src/scatra_ele/4C_scatra_ele.cpp
  src/scatra_ele/4C_scatra_ele_boundary_factory.cpp
  src/scatra_ele/4C_scatra_ele_calc_nonlocal_stimulus.cpp
  src/scatra_ele/4C_scatra_ele_calc_nonlocal_stimulus.hpp
  src/scatra_ele/4C_scatra_ele_calc_utils.cpp
  src/scatra_ele/4C_scatra_ele_evaluate.cpp
  src/scatra_ele/4C_scatra_ele_factory.cpp
  src/solid_scatra_ele/4C_solid_scatra_ele_lib.cpp
  tests/input_files/ssi_homogenized_constraint_mixture_qcyl_nonlocal.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Clean parallel issues
  src/particle/src/interaction/4C_particle_interaction_pd_neighbor_pairs.cpp
  src/particle/src/interaction/4C_particle_interaction_pd_neighbor_pairs.hpp
  src/particle/src/interaction/4C_particle_interaction_sph_peridynamic.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Make bodyforce in porofluid a function
  src/porofluid_pressure_based/4C_porofluid_pressure_based_algorithm.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_algorithm.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_input.cpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele_evaluator.cpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele_parameter.cpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele_parameter.hpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele_phasemanager.cpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele_phasemanager.hpp
  tests/input_files/porofluid_pressure_based_elast_2D_quad4_bodyforce.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_bodyforce_closingrealtion_blood_lung.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_3D_hex8_volfrac_closingrelation_lung_bodyforce_mono.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Minor rework of global_full
  apps/global_full/4C_global_full_io.cpp
  apps/global_full/4C_global_full_main.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add thermal stress evaluation helper
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper_service.hpp
  unittests/mat/4C_multiplicative_split_defgrad_elasthyper_service_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Collect benchmark test data and generate report
  .github/workflows/deploy.yml
  .github/workflows/nightly_tests.yml
  .github/workflows/performance_report.yml
  cmake/functions/four_c_auto_define_benchmark_tests.cmake
  cmake/setup_tests.cmake
  utilities/four_c_python/pyproject.toml
  utilities/four_c_python/src/four_c_building_testing/collect_benchmark_test_results.py
  utilities/four_c_python/src/four_c_building_testing/collect_performance_test_results.py
  utilities/four_c_python/src/four_c_ci/collect_performance_data.py
  utilities/four_c_python/src/four_c_ci/generate_performance_report.py
  utilities/four_c_python/src/four_c_ci/resources/template.html.j2
Due: non-ascii-chars

Remove unused custom implemented functions
  src/mat/4C_mat_elchsinglemat.cpp
  src/mat/4C_mat_elchsinglemat.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Minor cleanup
  src/mat/4C_mat_elchsinglemat.cpp
  src/mat/4C_mat_elchsinglemat.hpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i.cpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Replace INVERSE_LINEAR function by
  src/mat/4C_mat_elchsinglemat.cpp
  src/mat/4C_mat_elchsinglemat.hpp
  tests/input_files/ssti_mono_3D_2blocks_elch_temp_dep_diff.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add thermal effects to the viscoplastic factor
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.cpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.hpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper_service.hpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add benchmark result badge to the README
  README.md
  utilities/assets/badges/benchmark_results.svg
Due: non-ascii-chars

Add per element timing and rank csv output
  cmake/functions/four_c_testing_functions.cmake
  src/core/comm/src/4C_comm_mpi_utils.hpp
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/fem/src/discretization/4C_fem_discretization.hpp
  src/core/fem/src/discretization/4C_fem_discretization_evaluate.cpp
  src/core/fem/src/discretization/4C_fem_discretization_utils_evaluate.cpp
  src/core/fem/src/general/element/4C_fem_general_element.cpp
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/core/io/src/4C_io_discretization_visualization_writer_mesh.cpp
  src/core/io/src/4C_io_discretization_visualization_writer_mesh.hpp
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_IO_runtime_output.cpp
  src/inpar/4C_inpar_io.cpp
  src/structure_new/src/4C_structure_new_timint_basedataio.cpp
  src/structure_new/src/4C_structure_new_timint_basedataio.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.hpp
  src/structure_new/src/output/4C_structure_new_timint_basedataio_runtime_vtk_output.cpp
  src/structure_new/src/output/4C_structure_new_timint_basedataio_runtime_vtk_output.hpp
  tests/input_files/mat_iso_viscoplast_refJC_3hex8.4C.yaml
  tests/list_of_tests.cmake
  utilities/four_c_python/pyproject.toml
  utilities/four_c_python/src/four_c_building_testing/check_csv_headers.py
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enable monitor_dbc in monolithic solvers
  src/structure_new/src/utils/4C_structure_new_monitor_dbc.cpp
  src/structure_new/src/utils/4C_structure_new_monitor_dbc.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add ssi test case
  tests/input_files/ref/ssi_mono_3D_1hex8_scatra-10002_monitor_dbc.csv
  tests/input_files/ssi_mono_3D_1hex8_scatra.4C.yaml
  tests/list_of_tests.cmake
Due: non-ascii-chars

Add tsi test case
  tests/input_files/ref/tsi_geonln_lincompression_monolithic-10004_monitor_dbc.csv
  tests/input_files/tsi_geonln_lincompression_monolithic.4C.yaml
  tests/list_of_tests.cmake
Due: non-ascii-chars

Split viscoelast evaluate into phases
  src/mat/viscoelast/4C_mat_viscoelasthyper.cpp
  src/mat/viscoelast/4C_mat_viscoelasthyper.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Setup generalized Maxwell metadata only once
  src/mat/viscoelast/4C_mat_viscoelast_generalizedmaxwell.hpp
  src/mat/viscoelast/4C_mat_viscoelast_state.cpp
  src/mat/viscoelast/4C_mat_viscoelast_state.hpp
  src/mat/viscoelast/4C_mat_viscoelasthyper.cpp
  src/mat/viscoelast/4C_mat_viscoelasthyper.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Harden FSLS metadata and history lifecycle
  src/mat/viscoelast/4C_mat_viscoelast_state.cpp
  src/mat/viscoelast/4C_mat_viscoelasthyper.cpp
  src/mat/viscoelast/4C_mat_viscoelasthyper.hpp
  tests/input_files/visco_fsls_history_h8_small.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Extract viscoelast runtime context to boundary
  src/mat/viscoelast/4C_mat_viscoelast_generalizedmaxwell.cpp
  src/mat/viscoelast/4C_mat_viscoelasthyper.cpp
  src/mat/viscoelast/4C_mat_viscoelasthyper.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enable inelastic growth in impl-fiber
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mixture/src/4C_mixture_constituent.hpp
  src/mixture/src/4C_mixture_constituent_remodelfiber_impl.cpp
  src/mixture/src/4C_mixture_constituent_remodelfiber_impl.hpp
  src/mixture/src/4C_mixture_growth_strategy.hpp
  src/mixture/src/4C_mixture_growth_strategy_anisotropic.cpp
  src/mixture/src/4C_mixture_growth_strategy_anisotropic.hpp
  src/mixture/src/4C_mixture_growth_strategy_isotropic.cpp
  src/mixture/src/4C_mixture_growth_strategy_isotropic.hpp
  src/mixture/src/4C_mixture_remodelfiber-internal.hpp
  src/mixture/src/4C_mixture_remodelfiber.cpp
  src/mixture/src/4C_mixture_remodelfiber.hpp
  src/mixture/src/4C_mixture_rule_growthremodel.cpp
  src/mixture/tests/4C_mixture_remodelfiber_test.cpp
  tests/input_files/homogenized-constrained-mixture-cube-aniso-impl.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enable possibility to use functions for
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_input.cpp
  src/solid_poro_ele/4C_solid_poro_ele_calc_pressure_based.cpp
  src/solid_poro_ele/4C_solid_poro_ele_calc_pressure_based.hpp
  src/solid_poro_ele/4C_solid_poro_ele_pressure_based.cpp
  src/solid_poro_ele/4C_solid_poro_ele_pressure_based.hpp
  src/solid_poro_ele/4C_solid_poro_ele_pressure_based_evaluate.cpp
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_bodyforce_solid.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_3D_hex8_volfrac_closing_relation_lung_bodyforce_solid_mono.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Extract visco implementation details
  src/mat/viscoelast/4C_mat_viscoelast_fsls.cpp
  src/mat/viscoelast/4C_mat_viscoelast_fsls.hpp
  src/mat/viscoelast/4C_mat_viscoelast_generalizedmaxwell.cpp
  src/mat/viscoelast/4C_mat_viscoelast_generalizedmaxwell.hpp
  src/mat/viscoelast/4C_mat_viscoelast_isoratedep.cpp
  src/mat/viscoelast/4C_mat_viscoelast_isoratedep.hpp
  src/mat/viscoelast/4C_mat_viscoelasthyper.cpp
  src/mat/viscoelast/4C_mat_viscoelasthyper.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use pre_evaluate in dissipation and update test
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Minor corrections
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.cpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix: Interpolate temperature in substepping
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add a completion-oriented wrapper schema
  apps/global_full/CMakeLists.txt
  utilities/four_c_python/src/four_c_metadata/json_schema.py
  utilities/four_c_python/src/four_c_metadata/json_schema_draft_2020_12.py
Due: non-ascii-chars

Test completion schema in PRs
  .github/workflows/buildtest.yml
  utilities/four_c_python/src/four_c_metadata/validate_test_input_files.py
Due: non-ascii-chars

Upload the completion schema in nightly tests
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars

Update documentation
  .github/ISSUE_TEMPLATE/release.md
  doc/documentation/src/analysis_guide_templates/preprocessing.rst
  doc/documentation/src/installation/installation.rst
  doc/documentation/src/tutorial_templates/tutorial_contact_3d.md.j2
  doc/documentation/src/tutorial_templates/tutorial_solid.md.j2
Due: non-ascii-chars

chore: remove old plasticity inpar
  src/global_legacy_module/4C_global_legacy_module_validparameters.cpp
  src/inpar/4C_inpar_plasticity.cpp
  src/inpar/4C_inpar_plasticity.hpp
  src/structure_new/src/4C_structure_new_timint_basedatasdyn.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_utils.hpp
  tests/input_files/plastic_necking_damage.4C.yaml
  tests/input_files/plastic_necking_fbar_thrplast.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add n+1 to algorithmic derivatives documentation
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Initial cleaning of
  src/poroelast/4C_poroelast_monolithicsplit_nopenetration.cpp
  src/poroelast/4C_poroelast_monolithicsplit_nopenetration.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor: Rename mechanical dissipation
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper_service.hpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars
