Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Fix precommit for Darwin
  utilities/code_checks/check_non_ascii_chars
Due: non-ascii-chars

Add Windows pre-commit stuff
  .pre-commit-config.windows.yaml
  utilities/code_checks/windows/check_non_ascii_chars.bat
  utilities/code_checks/windows/check_venv.bat
  utilities/code_checks/windows/commit-msg.bat
  utilities/four_c_python/README.md
  utilities/four_c_python/src/four_c_precommit/check_non_ascii_chars.py
  utilities/four_c_python/src/four_c_precommit/commit-msg.py
  utilities/set_up_dev_env.bat
Due: non-ascii-chars

Move pre-commit stuffs to unix folder
  .pre-commit-config.unix.yaml
  utilities/code_checks/unix/check_non_ascii_chars
  utilities/code_checks/unix/check_venv
  utilities/code_checks/unix/commit-msg
  utilities/set_up_dev_env.sh
Due: non-ascii-chars

Handle FE trapping for macos
  apps/global_full/4C_global_full_main.cpp
  src/core/utils/src/numerics/4C_utils_fenv.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linesearch_backtrack.cpp
  src/structure/4C_structure_timint_impl.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add windows testing workflow
  .github/workflows/windows.yml
  CMakePresets.json
  cmake/configure/configure_MPI.cmake
  cmake/configure/configure_Python.cmake
  cmake/configure/configure_ryml.cmake
  cmake/functions/four_c_testing_functions.cmake
  dependencies/darwin/mumps/install.sh
  dependencies/windows/.gitattributes
  dependencies/windows/boost/install.bat
  dependencies/windows/cln/install.bat
  dependencies/windows/compile_dependencies.ps1
  dependencies/windows/fftw/install.bat
  dependencies/windows/hdf5/install.bat
  dependencies/windows/lapack/install.bat
  dependencies/windows/msmpi/install.ps1
  dependencies/windows/netcdf/install.bat
  dependencies/windows/parmetis/fixes.patch
  dependencies/windows/parmetis/install.bat
  dependencies/windows/prepare_system.ps1
  dependencies/windows/qhull/install.bat
  dependencies/windows/suitesparse/install.bat
  dependencies/windows/superlu_dist/fixes.patch
  dependencies/windows/superlu_dist/install.bat
  dependencies/windows/trilinos/fixes.patch
  dependencies/windows/trilinos/install.bat
  dependencies/windows/zlib/install.bat
  presets/windows/CMakePresets.json
  tests/install_test/CMakeLists.txt.in
  tests/list_of_tests.cmake
Due: non-ascii-chars

Remove unused and untested MAT_Struct_AAANeoHooke
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.hpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_aaaneohooke.cpp
  src/mat/4C_mat_aaaneohooke.hpp
  src/mat/4C_mat_material_factory.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add direnv .envrc to gitignore
  .gitignore
Due: non-ascii-chars

Disable tests
  tests/list_of_tests.cmake
Due: non-ascii-chars

Fix source/target order in export object
  src/core/linalg/src/sparse/4C_linalg_transfer.cpp
  src/core/linalg/src/sparse/4C_linalg_transfer.hpp
  src/core/linalg/src/sparse/4C_linalg_vector.cpp
  src/core/linalg/src/sparse/4C_linalg_vector.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add node/element distance utils
  src/core/binstrategy/4C_binstrategy_meshfree_bin.cpp
  src/core/binstrategy/4C_binstrategy_meshfree_bin.hpp
  src/core/fem/src/general/element/4C_fem_general_element.cpp
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/core/fem/src/general/element/4C_fem_general_element_center.hpp
  src/core/fem/src/general/node/4C_fem_general_node.cpp
  src/core/fem/src/general/node/4C_fem_general_node.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add unit tests for the distance utils
  src/core/fem/tests/general/4C_fem_general_element_test.cpp
  src/core/fem/tests/general/4C_fem_general_node_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix beam failing test
  src/core/fem/src/discretization/4C_fem_discretization_nullspace.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Enable Trilinos debug assertions in pipeline
  .github/workflows/buildtest.yml
  .github/workflows/buildtest_kokkosparallel.yml
  .github/workflows/checkcode.yml
  .github/workflows/coverage.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly_tests.yml
  dependencies/current/trilinos/install.sh
  dependencies/darwin/trilinos/install.sh
  dependencies/kokkosparallel/trilinos/install_with_cuda.sh
  dependencies/kokkosparallel/trilinos/install_with_openmp.sh
  dependencies/oldest_supported/trilinos/install.sh
  dependencies/trilinos_develop/trilinos/install.sh
  tests/list_of_tests.cmake
Due: non-ascii-chars

Fix build error in CI
  src/core/fem/src/general/nurbs/4C_fem_general_utils_nurbs_shapefunctions.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix issue in fsi, fs3i, fpsi, xfluid, mfsi, xfsi
  src/core/linear_solver/src/method/4C_linear_solver_method_parameters.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_parameters.hpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.cpp
  src/fpsi/4C_fpsi_monolithic.cpp
  src/fsi/src/monolithic/4C_fsi_monolithic.cpp
  src/fsi_xfem/4C_fsi_xfem_monolithic.cpp
  src/fsi_xfem/4C_fsi_xfem_monolithic.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add rebase branch workflow
  .github/workflows/rebase-branch.yml
Due: non-ascii-chars

Sync fork with upstream workflow
  .github/workflows/sync-fork.yml
Due: non-ascii-chars

Add placeholder for Windows workflow
  .github/workflows/windows.yml
Due: non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
