Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        name: Format C/C++
        # Only use on C and C++ files and not on other files that clang could format (e.g. json).
        types_or: [c++, c]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format cmake
        args: [--config, utilities/code_checks/.cmake-format.yaml, --in-place]
        additional_dependencies: [pyyaml>=5.1]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        name: Format python

  - repo: https://github.com/pamoller/xmlformatter
    rev: v0.2.6
    hooks:
      - id: xml-formatter
        name: Format xml
        args: [--indent, '2', --indent-char, ' ', --selfclose, --overwrite]
        # Only run on "pure" XML files and not on files that internally use XML (e.g. svg)
        files: \.xml$

  - repo: https://github.com/google/yamlfmt
    rev: v0.12.1
    hooks:
      - id: yamlfmt
        name: Format yaml
        args: [-conf, utilities/code_checks/.yamlfmt.yaml]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        # Do not modify reference vtu files, since we generate these and do not hand-edit them.
        exclude: 'vtu$'
      - id: no-commit-to-branch
        name: Don't commit to main

  - repo: local
    hooks:
      - id: check-venv-up-to-date
        name: Python virtual environment is up to date
        language: system
        entry: ./utilities/code_checks/check_venv
        always_run: true
        pass_filenames: false
        fail_fast: true

      - id: cpp-header
        name: C++ file headers
        description: 'Check that all C++ files have the correct header'
        language: system
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-file-header

      - id: cpp-filename-includes
        name: C++ file names and include style
        description: 'Check that all C++ files have the correct file name and include style'
        language: system
        types_or: [c++, c]
        exclude: 'tests/cut_test/'
        entry: utilities/python-venv/bin/check-filenames-and-includes
        args: ['--paths', 'src/', 'unittests/', 'apps/', '--files']

      - id: cpp-include-guard
        name: Include guards
        description: 'Check that all C++ files have the correct include guards'
        language: python
        types_or: [c++, c]
        files: '\.(h|hpp)$'
        entry: utilities/python-venv/bin/check-header-guards

      - id: cpp-preprocessor
        name: C++ preprocessor directives
        description: 'Check that all C++ files only use acceptable preprocessor directives'
        language: python
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-preprocessor

      - id: codeowners
        name: Inclusion in CODEOWNERS file
        description: 'Check that files are listed in CODEOWNERS file'
        language: python
        entry: utilities/python-venv/bin/check-codeowners

      - id: input-files
        name: Test input files
        description: 'Check input files conform to expectations'
        language: python
        files: 'tests/input_files/.*\.dat$'
        entry: utilities/python-venv/bin/check-test-files

      - id: non-ascii-chars
        name: Non-ASCII characters
        language: system
        exclude_types: [markdown, rst]
        entry: ./utilities/code_checks/check_non_ascii_chars

Introduce struct for output options
  src/core/geometric_search/src/4C_geometric_search_bvh.cpp
  src/core/geometric_search/src/4C_geometric_search_distributed_tree.cpp
  src/core/geometric_search/src/4C_geometric_search_utils.cpp
  src/core/geometric_search/src/4C_geometric_search_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix missing BOUNDARYID in create_particle_spec
  src/particle/src/engine/4C_particle_engine_particlereader.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix vtk restart without restartfrom
  cmake/functions/four_c_testing_functions.cmake
  src/core/io/src/4C_io_vtk_writer_base.cpp
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Require gmsh in csv comparison test for gmsh input
  tests/list_of_tests.cmake
Due: non-ascii-chars

Implement Nox Adapter
  src/solver_nonlin_nox/4C_solver_nonlin_nox_adapter.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_adapter.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_aux.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_enum_lists.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linearsystem_factory.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linearsystem_generic.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linearsystem_generic.hpp
  src/solver_nonlin_nox/tests/4C_solver_nonlin_nox_adapter_test.cpp
  src/solver_nonlin_nox/tests/CMakeLists.txt
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Introduce Nox Adapter in Reduced Lung
  src/reduced_lung/CMakeLists.txt
  src/reduced_lung/src/4C_reduced_lung_helpers.cpp
  src/reduced_lung/src/4C_reduced_lung_helpers.hpp
  src/reduced_lung/src/4C_reduced_lung_input.cpp
  src/reduced_lung/src/4C_reduced_lung_input.hpp
  src/reduced_lung/src/4C_reduced_lung_main.cpp
  src/reduced_lung/tests/4C_reduced_lung_input_pipeline_test.cpp
  src/reduced_lung/tests/4C_reduced_lung_nox_solver_test.np2.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Implement further viscoplast. restructuring
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.cpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.hpp
  tests/input_files/mat_iso_viscoplast_refJC_log_substep.4C.yaml
  tests/input_files/mat_transviso_viscoplast_refJC_log_substep.4C.yaml
  tests/input_files/mat_transviso_viscoplast_refJC_standard_substep.4C.yaml
  tests/input_files/poro_new_solid_nitsche_contact3D_new_struc_vplast.4C.yaml
  tests/input_files/poro_new_solid_nitsche_contact3D_twoelem_new_struc_vplast.4C.yaml
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_twosided_new_struc_vplast.4C.yaml
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Avoid B-operator in linear kinematics evaluation
  src/solid_3D_ele/4C_solid_3D_ele_calc_displacement_based_linear_kinematics.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

feat: update LNM cluster preset for new trilinos
  presets/lnm/cluster/CMakePresets.json
Due: non-ascii-chars

Introduce branches to avoid binning
  src/beaminteraction/src/4C_beaminteraction_str_model_evaluator.cpp
  src/beaminteraction/src/4C_beaminteraction_str_model_evaluator.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add monolithic graph distribution instead of bins
  src/beaminteraction/src/4C_beaminteraction_str_model_evaluator.cpp
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact.4C.yaml
  tests/input_files/solid_ele_nurbs27_beam3r_herm2line3_static_beam_to_solid_volume_meshtying_mortar_penalty_line4.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix runtime vtk tests
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact.4C.yaml
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_surface_coupling_unused_face_elements.4C.yaml
  tests/input_files/ref/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact-vtk/vtk-files/beam-interaction-geometric-search-00000-0.vtu
  tests/input_files/ref/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact-vtk/vtk-files/beam-interaction-geometric-search-00000-1.vtu
  tests/input_files/ref/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact-vtk/vtk-files/beam-interaction-geometric-search-00004-0.vtu
  tests/input_files/ref/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact-vtk/vtk-files/beam-interaction-geometric-search-00004-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_ironing_penalty_gap_variation_segmentation_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000010001-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_ironing_penalty_gap_variation_segmentation_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000010001-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_ironing_penalty_gap_variation_segmentation_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000010001-2.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_ironing_penalty_gap_variation_segmentation_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000120000-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_ironing_penalty_gap_variation_segmentation_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000120000-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_ironing_penalty_gap_variation_segmentation_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000120000-2.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_mortar_line2_gap_variation_reference_segmentation_penalty_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000010001-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_mortar_line2_gap_variation_reference_segmentation_penalty_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000010001-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_mortar_line2_gap_variation_reference_segmentation_penalty_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000010001-2.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_mortar_line2_gap_variation_reference_segmentation_penalty_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000120000-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_mortar_line2_gap_variation_reference_segmentation_penalty_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000120000-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_mortar_line2_gap_variation_reference_segmentation_penalty_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000120000-2.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_unused_face_elements-vtk/vtk-files/beam-to-solid-surface-nodal-forces-000002-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_unused_face_elements-vtk/vtk-files/beam-to-solid-surface-nodal-forces-000002-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_unused_face_elements-vtk/vtk-files/beam-to-solid-surface-nodal-forces-000002-2.vtu
Due: non-ascii-chars

Make control file writing crash safe
  src/core/io/src/4C_io_control.cpp
  src/core/io/tests/4C_io_control_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Final cleanup
  src/beaminteraction/src/4C_beaminteraction_str_model_evaluator.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove unused sections from input file
  tests/input_files/sohex8_disp_altgeogeneration.4C.yaml
Due: non-ascii-chars

Fix verify-header I
  src/beaminteraction/src/contact/beam_to_beam/4C_beaminteraction_contact_beam_to_beam_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move input to volmortar
  src/coupling/CMakeLists.txt
  src/coupling/src/volmortar/4C_coupling_volmortar_input.cpp
  src/coupling/src/volmortar/4C_coupling_volmortar_input.hpp
  src/coupling/src/volmortar/CMakeLists.txt
  src/global_legacy_module/4C_global_legacy_module_validparameters.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix post_drt_ensight to post_ensight in tutorial
  doc/documentation/src/tutorial_templates/tutorial_fluid.rst.j2
  doc/documentation/src/tutorial_templates/tutorial_fsi_2d.rst.j2
  doc/documentation/src/tutorial_templates/tutorial_fsi_3d.rst.j2
Due: non-ascii-chars

Move input to levelset and redo namespaces
  src/adapter/4C_adapter_scatra_base_algorithm.cpp
  src/global_legacy_module/4C_global_legacy_module_validconditions.cpp
  src/global_legacy_module/4C_global_legacy_module_validparameters.cpp
  src/inpar/4C_inpar_levelset.hpp
  src/levelset/4C_levelset_algorithm.cpp
  src/levelset/4C_levelset_algorithm.hpp
  src/levelset/4C_levelset_algorithm_reinit.cpp
  src/levelset/4C_levelset_algorithm_utils.cpp
  src/levelset/4C_levelset_dyn.cpp
  src/levelset/4C_levelset_input.cpp
  src/levelset/4C_levelset_input.hpp
  src/levelset/4C_levelset_timint_ost.cpp
  src/levelset/4C_levelset_timint_ost.hpp
  src/levelset/CMakeLists.txt
  src/scatra_ele/4C_scatra_ele_calc_lsreinit.cpp
  src/scatra_ele/4C_scatra_ele_calc_service_ls.cpp
  src/scatra_ele/4C_scatra_ele_calc_service_lsreinit.cpp
  src/scatra_ele/4C_scatra_ele_parameter_lsreinit.cpp
  src/scatra_ele/4C_scatra_ele_parameter_lsreinit.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove NOX namespace from FSI
  src/fsi/src/monolithic/4C_fsi_monolithic.cpp
  src/fsi/src/monolithic/4C_fsi_monolithic.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicfluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicstructuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit_sp.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_structuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_structuresplit.cpp
  src/fsi/src/monolithic/nonlinear_solver/4C_fsi_nox_group.cpp
  src/fsi/src/monolithic/nonlinear_solver/4C_fsi_nox_group.hpp
  src/fsi/src/monolithic/nonlinear_solver/4C_fsi_nox_linearsystem.cpp
  src/fsi/src/monolithic/nonlinear_solver/4C_fsi_nox_linearsystem.hpp
  src/fsi/src/monolithic/nonlinear_solver/4C_fsi_nox_linearsystem_gcr.cpp
  src/fsi/src/monolithic/nonlinear_solver/4C_fsi_nox_linearsystem_gcr.hpp
  src/fsi/src/monolithic/nonlinear_solver/4C_fsi_nox_newton.cpp
  src/fsi/src/monolithic/nonlinear_solver/4C_fsi_nox_newton.hpp
  src/fsi/src/partitioned/4C_fsi_partitioned.cpp
  src/fsi/src/partitioned/nonlinear_solver/4C_fsi_nox_aitken.cpp
  src/fsi/src/partitioned/nonlinear_solver/4C_fsi_nox_aitken.hpp
  src/fsi/src/partitioned/nonlinear_solver/4C_fsi_nox_fixpoint.cpp
  src/fsi/src/partitioned/nonlinear_solver/4C_fsi_nox_fixpoint.hpp
  src/fsi/src/partitioned/nonlinear_solver/4C_fsi_nox_jacobian.cpp
  src/fsi/src/partitioned/nonlinear_solver/4C_fsi_nox_jacobian.hpp
  src/fsi/src/partitioned/nonlinear_solver/4C_fsi_nox_mpe.cpp
  src/fsi/src/partitioned/nonlinear_solver/4C_fsi_nox_mpe.hpp
  src/fsi/src/partitioned/nonlinear_solver/4C_fsi_nox_sd.cpp
  src/fsi/src/partitioned/nonlinear_solver/4C_fsi_nox_sd.hpp
  src/fsi/src/utils/4C_fsi_input.cpp
  src/fsi/src/utils/4C_fsi_input.hpp
  src/fsi/src/utils/4C_fsi_statustest.cpp
  src/fsi/src/utils/4C_fsi_statustest.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add dependencies compilation script and cmake preset to compile 4C on Darwin
  CMakePresets.json
  dependencies/current/qhull/install.sh
  dependencies/darwin/compile_dependencies.sh
  dependencies/darwin/parmetis/install.sh
  dependencies/darwin/superlu_dist/install.sh
  dependencies/darwin/trilinos/install.sh
  presets/darwin/CMakePresets.json
Due: non-ascii-chars

Add macos workflow stub
  .github/workflows/macos.yml
Due: non-ascii-chars

Move the biofilm input from inpar to physics
  src/fs3i/4C_fs3i_biofilm_fsi_input.cpp
  src/fs3i/4C_fs3i_biofilm_fsi_input.hpp
  src/global_legacy_module/4C_global_legacy_module_validconditions.cpp
  src/global_legacy_module/4C_global_legacy_module_validparameters.cpp
  src/red_airways/4C_red_airways_implicitintegration.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Isolate Global::Problem in 1d pipeflow
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_main.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Enable 2D solid elements (using wall theory)
  src/core/fem/src/general/element/4C_fem_general_cell_type_traits.hpp
  src/core/fem/src/general/element/4C_fem_general_cell_type_traits_details.hpp
  src/core/fem/src/general/node/4C_fem_general_fiber_node_utils.cpp
  src/core/fem/src/general/utils/4C_fem_general_utils_gauss_point_extrapolation.cpp
  src/core/utils/src/numerics/4C_utils_local_newton.hpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/mat/4C_mat_micromaterialgp_static.cpp
  src/solid_3D_ele/4C_solid_3D_ele.cpp
  src/solid_3D_ele/4C_solid_3D_ele.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib_integration.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib_plane.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib_plane.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_mulf.hpp
  src/solid_3D_ele/4C_solid_3D_ele_evaluate.cpp
  src/solid_3D_ele/4C_solid_3D_ele_factory.cpp
  src/solid_3D_ele/4C_solid_3D_ele_factory.hpp
  src/solid_3D_ele/4C_solid_3D_ele_properties.hpp
  src/solid_3D_ele/4C_solid_3D_ele_utils.cpp
  src/solid_3D_ele/4C_solid_3D_ele_utils.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_velocity_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_factory.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_evaluate.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_p1.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_p1.hpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_calc.cpp
  tests/input_files/solid_ele_quad4_elasthyper_plane_strain.4C.yaml
  tests/input_files/solid_ele_quad4_elasthyper_plane_stress.4C.yaml
  tests/input_files/solid_ele_quad4_stvk_plane_strain.4C.yaml
  tests/input_files/solid_ele_quad4_stvk_plane_stress.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enable optional prescribed initial prestretch
  src/core/io/src/4C_io_input_field.hpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_field_test.cpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mixture/src/4C_mixture_prestress_strategy_iterative.cpp
  src/mixture/src/4C_mixture_prestress_strategy_iterative.hpp
  tests/input_files/mixture_prestress_iterative_prescribed.4C.yaml
  tests/input_files/vtu/homogenized-constrained-mixture-patch.vtu
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add further params refJC law and GP output
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.cpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.hpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.cpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.hpp
  src/mat/vplast/4C_mat_vplast_law.hpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.cpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.hpp
  tests/input_files/mat_iso_viscoplast_refJC_log_substep.4C.yaml
  tests/input_files/mat_transviso_viscoplast_refJC_log_substep.4C.yaml
  tests/input_files/mat_transviso_viscoplast_refJC_standard_substep.4C.yaml
  tests/input_files/poro_new_solid_nitsche_contact3D_new_struc_vplast.4C.yaml
  tests/input_files/poro_new_solid_nitsche_contact3D_twoelem_new_struc_vplast.4C.yaml
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_twosided_new_struc_vplast.4C.yaml
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
  unittests/mat/vplast/4C_vplast_reform_johnsoncook_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor yaml type emitter for future extension
  src/core/io/src/4C_io_input_spec_builders.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Better separate legacy InputSpec functionality
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec.hpp
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/tests/4C_io_input_spec_legacy_test.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move contact wear input from inpar physics
  src/contact/src/4C_contact_coupling2d.hpp
  src/contact/src/4C_contact_coupling3d.hpp
  src/contact/src/4C_contact_integrator.cpp
  src/contact/src/4C_contact_integrator.hpp
  src/contact/src/4C_contact_interpolator.cpp
  src/contact/src/4C_contact_interpolator.hpp
  src/contact/src/4C_contact_lagrange_strategy_wear.cpp
  src/contact/src/4C_contact_manager.cpp
  src/contact/src/4C_contact_strategy_factory.cpp
  src/contact/src/4C_contact_wear_input.cpp
  src/contact/src/4C_contact_wear_input.hpp
  src/contact/src/4C_contact_wear_interface.cpp
  src/contact/src/4C_contact_wear_interface.hpp
  src/global_legacy_module/4C_global_legacy_module_validparameters.cpp
  src/inpar/4C_inpar_wear.hpp
  src/structure/4C_structure_timint_impl.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move cardiac monodomain input from inpar physics
  src/global_legacy_module/4C_global_legacy_module_validconditions.cpp
  src/global_legacy_module/4C_global_legacy_module_validparameters.cpp
  src/scatra/4C_scatra_cardiac_monodomain_input.cpp
  src/scatra/4C_scatra_cardiac_monodomain_input.hpp
  src/scatra_ele/4C_scatra_ele_calc_cardiac_monodomain.cpp
  src/scatra_ele/4C_scatra_ele_parameter_std.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Isolate Global::Problem access in FS3I
  src/fs3i/4C_fs3i.cpp
  src/fs3i/4C_fs3i_biofilm_fsi.cpp
  src/fs3i/4C_fs3i_biofilm_fsi_utils.cpp
  src/fs3i/4C_fs3i_dyn.cpp
  src/fs3i/4C_fs3i_fps3i_partitioned.cpp
  src/fs3i/4C_fs3i_fps3i_partitioned_1wc.cpp
  src/fs3i/4C_fs3i_partitioned.cpp
  src/fs3i/4C_fs3i_partitioned_1wc.cpp
  src/fs3i/4C_fs3i_partitioned_2wc.cpp
  src/fs3i/4C_fs3i_problem_access.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Isolate Global::Problem access in FSI
  src/fsi/src/4C_fsi_dyn.cpp
  src/fsi/src/4C_fsi_problem_access.hpp
  src/fsi/src/monolithic/4C_fsi_monolithic.cpp
  src/fsi/src/partitioned/4C_fsi_partitioned.cpp
  src/fsi/src/utils/4C_fsi_utils.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars
