Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Adapt to std::shared_ptr
  src/contact/4C_contact_integrator_factory.cpp
  src/contact/4C_contact_nitsche_integrator_poro_scatra.cpp
  src/contact/4C_contact_nitsche_strategy_poro_scatra.cpp
  src/contact/4C_contact_nitsche_strategy_poro_scatra.hpp
  src/contact/4C_contact_strategy_factory.cpp
  src/poroelast_scatra/4C_poroelast_scatra_part.cpp
  src/poroelast_scatra/4C_poroelast_scatra_part.hpp
  src/so3/4C_so3_poro.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use const for enum argument
  src/contact/4C_contact_strategy_factory.cpp
  src/contact/4C_contact_strategy_factory.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add min ele option to initial rebalancing
  src/core/io/src/4C_io_meshreader.cpp
  src/inpar/4C_inpar_rebalance.cpp
  tests/input_files/fsi_pw_mono_fs_ga_ga.dat
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Enhance ValueParser
  src/beamcontact/4C_beamcontact_beam3contact_manager.cpp
  src/beamcontact/4C_beamcontact_beam3contact_octtree.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_beam_contact_utils.cpp
  src/beaminteraction/4C_beaminteraction_crosslinking_params.cpp
  src/beaminteraction/4C_beaminteraction_potential_params.cpp
  src/beaminteraction/4C_beaminteraction_spherebeamlinking_params.cpp
  src/browniandyn/4C_browniandyn_str_model_evaluator_data.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_constitutivelaw_definition.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/io/src/4C_io_elementreader.cpp
  src/core/io/src/4C_io_value_parser.cpp
  src/core/io/src/4C_io_value_parser.hpp
  src/core/io/tests/4C_io_value_parser_test.cpp
  src/mat/4C_mat_materialdefinition.cpp
  src/particle_engine/4C_particle_engine_particlereader.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Change to use MPI_Comm and clean up
  src/contact/4C_contact_nitsche_integrator_poro_scatra.cpp
  src/contact/4C_contact_nitsche_integrator_poro_scatra.hpp
  src/contact/4C_contact_nitsche_strategy_poro_scatra.cpp
  src/contact/4C_contact_nitsche_strategy_poro_scatra.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add option to install 4C targets to external folder
  CMakeLists.txt
  cmake/configure/configure_ArborX.cmake
  cmake/configure/configure_Backtrace.cmake
  cmake/configure/configure_Boost.cmake
  cmake/configure/configure_CLN.cmake
  cmake/configure/configure_FFTW.cmake
  cmake/configure/configure_HDF5.cmake
  cmake/configure/configure_MIRCO.cmake
  cmake/configure/configure_MPI.cmake
  cmake/configure/configure_Qhull.cmake
  cmake/configure/configure_Trilinos.cmake
  cmake/configure/configure_yaml-cpp.cmake
  cmake/functions/four_c_auto_define_module.cmake
  cmake/setup_install.cmake
  cmake/templates/4CConfig.cmake.in
  cmake/templates/4CSettings.cmake.in
  cmake/templates/4CTargets.cmake.in
  cmake/templates/ArborX.cmake.in
  cmake/templates/Backtrace.cmake.in
  cmake/templates/Boost.cmake.in
  cmake/templates/CLN.cmake.in
  cmake/templates/FFTW.cmake.in
  cmake/templates/HDF5.cmake.in
  cmake/templates/MIRCO.cmake.in
  cmake/templates/MPI.cmake.in
  cmake/templates/Qhull.cmake.in
  cmake/templates/Trilinos.cmake.in
  cmake/templates/yaml-cpp.cmake.in
  src/contact_constitutivelaw/CMakeLists.txt
Due: non-ascii-chars

Fix export targets if building static lib
  CMakeLists.txt
  cmake/functions/four_c_auto_define_module.cmake
Due: non-ascii-chars

Add installation test to workflow
  .github/workflows/buildtest.yml
  presets/docker/CMakePresets.json
  tests/install_test/CMakeLists.txt.in
  tests/install_test/main.cpp.in
  tests/install_test/test_install.sh.in
Due: non-ascii-chars

Delete the CODEOWNERS check
  .gitlab/CODEOWNERS
  .pre-commit-config.yaml
  CONTRIBUTING.md
  utilities/code_checks/check_code_owner_rules
  utilities/four_c_utils/pyproject.toml
  utilities/four_c_utils/src/four_c_utils/check_codeowners.py
  utilities/four_c_utils/src/four_c_utils/patched_code_owners.py
Due: non-ascii-chars

Add template chooser and link to Discussions
  .github/ISSUE_TEMPLATE/config.yml
Due: non-ascii-chars

Add typos hook to pre-commis
  .pre-commit-config.yaml
Due: non-ascii-chars

Fix typos in apps directory
  .typos.toml
  apps/create_rtdfiles/4C_create_rtdfiles_utils.hpp
  apps/global_full/4C_global_full_cal_control.cpp
  apps/global_full/4C_global_full_main.cpp
  apps/post_monitor/4C_post_monitor.cpp
  apps/post_monitor/4C_post_monitor.hpp
  apps/post_processor/4C_post_processor_single_field_writers.cpp
  apps/pre_exodus/4C_pre_exodus.cpp
  apps/pre_exodus/4C_pre_exodus_readbc.cpp
  apps/pre_exodus/4C_pre_exodus_readbc.hpp
  apps/pre_exodus/4C_pre_exodus_reader.hpp
  apps/pre_locsys/4C_pre_locsys.cpp
  src/thermo/4C_thermo_dyn.cpp
  src/thermo/4C_thermo_dyn.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add groups to InputParameterContainer
  src/core/io/src/4C_io_input_parameter_container.cpp
  src/core/io/src/4C_io_input_parameter_container.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Implement InputSpecs
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec.hpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Replace internals of LineDefinition
  src/core/io/src/4C_io_linedefinition.cpp
  src/core/io/tests/4C_io_linedefinition_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Use InputSpec in internals of MaterialDefinition
  apps/create_rtdfiles/4C_create_rtdfiles_utils.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/inpar/4C_inpar_validmaterials.cpp
  src/mat/4C_mat_electrode.cpp
  src/mat/4C_mat_fluidporo_singlephase.cpp
  src/mat/4C_mat_materialdefinition.cpp
  src/mat/4C_mat_materialdefinition.hpp
  src/mat/4C_mat_muscle_combo.cpp
  src/mat/4C_mat_scatra_reaction.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix a bug where multiscale mat is freed too late
  src/mat/4C_mat_micromaterialgp_static.cpp
  src/mat/4C_mat_micromaterialgp_static.hpp
  tests/input_files/sohex8_multiscale_micro1.mat
  tests/input_files/sohex8_stress_response_result_test.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Use more features of InputSpecs to read materials
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/global_data/4C_global_data_read.cpp
  src/mat/4C_mat_materialdefinition.cpp
  src/mat/4C_mat_materialdefinition.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused and untested conditions
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_conditions.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_conditions.hpp
  src/inpar/4C_inpar_bio.cpp
  src/inpar/4C_inpar_fluid.cpp
  src/inpar/4C_inpar_fsi.cpp
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_xfem.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update IMCS workstation preset
  presets/imcs/workstation/CMakePresets.json
Due: non-ascii-chars

Drop GCC9 from Github actions
  .github/workflows/buildtest.yml
  .github/workflows/checkcode.yml
  .github/workflows/docker.yml
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars

Raise C++ standard to C++20
  CMakeLists.txt
Due: non-ascii-chars

Replace forward implementation of ranges with STL
  src/contact/4C_contact_interface.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/fem/src/discretization/4C_fem_discretization.hpp
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/tests/4C_io_input_file_test.cpp
  src/core/utils/src/stl_extension/4C_utils_std_cxx20_ranges.hpp
  src/core/utils/tests/stl_extension/4C_utils_std_cxx20_ranges_test.cpp
  src/global_data/4C_global_data.hpp
  src/mortar/4C_mortar_interface.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused variables
  src/core/io/src/4C_io_input_file.hpp
  src/core/utils/src/functions/4C_utils_symbolic_expression.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix deprecated implicit capture of this pointer
  src/mixture/4C_mixture_full_constrained_mixture_fiber.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Don't try to create a vector of incomplete type
  src/post/4C_post_common.cpp
  src/post/4C_post_common.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Replace boost::format with std::format
  apps/create_rtdfiles/4C_create_rtdfiles_utils.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Test more pack and unpack roundtrips
  src/core/comm/tests/4C_comm_pack_unpack_test.np3.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update clang-format to newest version and C++20
  .clang-format
  .pre-commit-config.yaml
Due: non-ascii-chars

Add option to install 4C targets to external folder
  CMakeLists.txt
  cmake/configure/configure_ArborX.cmake
  cmake/configure/configure_Backtrace.cmake
  cmake/configure/configure_Boost.cmake
  cmake/configure/configure_CLN.cmake
  cmake/configure/configure_FFTW.cmake
  cmake/configure/configure_HDF5.cmake
  cmake/configure/configure_MIRCO.cmake
  cmake/configure/configure_MPI.cmake
  cmake/configure/configure_Qhull.cmake
  cmake/configure/configure_Trilinos.cmake
  cmake/configure/configure_yaml-cpp.cmake
  cmake/functions/four_c_auto_define_module.cmake
  cmake/setup_install.cmake
  cmake/templates/4CConfig.cmake.in
  cmake/templates/4CSettings.cmake.in
  cmake/templates/4CTargets.cmake.in
  cmake/templates/ArborX.cmake.in
  cmake/templates/Backtrace.cmake.in
  cmake/templates/Boost.cmake.in
  cmake/templates/CLN.cmake.in
  cmake/templates/FFTW.cmake.in
  cmake/templates/HDF5.cmake.in
  cmake/templates/MIRCO.cmake.in
  cmake/templates/MPI.cmake.in
  cmake/templates/Qhull.cmake.in
  cmake/templates/Trilinos.cmake.in
  cmake/templates/yaml-cpp.cmake.in
  src/config/CMakeLists.txt
  src/contact_constitutivelaw/CMakeLists.txt
Due: non-ascii-chars

Fix material unit tests
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.cpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
  unittests/mat/vplast/4C_vplast_reform_johnsoncook_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add installation test to workflow
  .github/workflows/buildtest.yml
  cmake/setup_tests.cmake
  presets/docker/CMakePresets.json
  tests/install_test/CMakeLists.txt.in
  tests/install_test/main.cpp.in
  tests/install_test/test_install.sh.in
Due: non-ascii-chars

Remove check_dt from transv.iso. material
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
  unittests/mat/vplast/4C_vplast_reform_johnsoncook_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enhance IO functionality
  src/core/io/src/4C_io_input_parameter_container.cpp
  src/core/io/src/4C_io_input_parameter_container.hpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Replace SFINAE in core with C++20 concepts
  .clang-tidy
  src/core/comm/src/4C_comm_pack_buffer.hpp
  src/core/comm/src/4C_comm_pack_helpers.hpp
  src/core/fem/src/general/utils/4C_fem_general_utils_gauss_point_extrapolation.cpp
  src/core/fem/src/general/utils/4C_fem_general_utils_integration.hpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_string_converter.hpp
  src/core/utils/src/functions/4C_utils_symbolic_expression.cpp
  src/core/utils/src/numerics/4C_utils_fad.hpp
  src/core/utils/src/numerics/4C_utils_mathoperations.hpp
  src/core/utils/src/numerics/4C_utils_mathoperations_cln.hpp
  src/core/utils/src/numerics/4C_utils_mathoperations_sacado.hpp
  src/core/utils/src/stl_extension/4C_utils_singleton_owner.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc.cpp
  src/solid_3D_ele/4C_solid_3D_ele_interface_serializable.hpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_calc.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Simplify InputParameterContainer implementation
  src/core/io/src/4C_io_input_parameter_container.cpp
  src/core/io/src/4C_io_input_parameter_container.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Simplify input for contact constitutive laws
  apps/create_rtdfiles/4C_create_rtdfiles_utils.cpp
  apps/create_rtdfiles/4C_create_rtdfiles_utils.hpp
  apps/create_rtdfiles/4C_create_rtdfiles_wrapper.cpp
  apps/global_full/4C_global_full_main.cpp
  src/contact/4C_contact_strategy_factory.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_brokenrational_contactconstitutivelaw.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_brokenrational_contactconstitutivelaw.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_bundle.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_bundle.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_constitutivelaw_definition.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_constitutivelaw_definition.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_contactconstitutivelaw.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_contactconstitutivelaw.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_contactconstitutivelaw_parameter.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_contactconstitutivelaw_parameter.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_cubic_contactconstitutivelaw.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_cubic_contactconstitutivelaw.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_interface.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_linear_contactconstitutivelaw.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_linear_contactconstitutivelaw.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_mirco_contactconstitutivelaw.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_mirco_contactconstitutivelaw.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_power_contactconstitutivelaw.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_power_contactconstitutivelaw.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_valid_laws.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_valid_laws.hpp
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_validcontactconstitutivelaw.cpp
  src/inpar/4C_inpar_validcontactconstitutivelaw.hpp
  src/inpar/CMakeLists.txt
  unittests/contact_constitutivelaw/4C_brokenrational_contactconstitutivelaw_test.threads2.cpp
  unittests/contact_constitutivelaw/4C_cubic_contactconstitutivelaw_test.threads2.cpp
  unittests/contact_constitutivelaw/4C_linear_contactconstitutivelaw_test.threads2.cpp
  unittests/contact_constitutivelaw/4C_mirco_force_contactconstitutivelaw_test.threads2.cpp
  unittests/contact_constitutivelaw/4C_mirco_pressure_contactconstitutivelaw_test.threads2.cpp
  unittests/contact_constitutivelaw/4C_power_contactconstitutivelaw_test.threads2.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
