Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Strip comments from on-the-fly read sections
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/tests/test_files/test1.dat
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Define default options for redistribution
  src/core/fem/src/condition/4C_fem_condition_periodic.cpp
  src/core/fem/src/discretization/4C_fem_discretization.hpp
  src/core/fem/src/discretization/4C_fem_discretization_partition.cpp
  src/core/io/src/4C_io_meshreader.cpp
  src/fluid/4C_fluid_discret_extractor.cpp
  src/fluid/4C_fluid_xwall.cpp
  src/global_data/4C_global_data_read.cpp
  src/scatra/4C_scatra_timint_elch_scl.cpp
  src/xfem/4C_xfem_coupling_mesh.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix the id of boundary cells
  src/constraint_framework/4C_constraint_framework_embeddedmesh_interaction_pair.hpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_interaction_pair_mortar.cpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_interaction_pair_mortar.hpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_mortar_manager.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Ignore memory leaks when writing metadata file
  apps/global_full/CMakeLists.txt
Due: non-ascii-chars

Add wedge6 solid-shell element with ANS
  src/solid_3D_ele/4C_solid_3D_ele.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_shell_ans.hpp
  src/solid_3D_ele/4C_solid_3D_ele_factory.cpp
  src/solid_3D_ele/4C_solid_3D_ele_factory.hpp
  tests/input_files/solid_ele_wedge6_Standard_shell_ans.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move EAS helpers into own header
  src/solid_3D_ele/4C_solid_3D_ele_calc_eas.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_eas.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_eas_helpers.hpp
  src/solid_3D_ele/4C_solid_3D_ele_factory.cpp
  src/solid_3D_ele/4C_solid_3D_ele_factory.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove recover and store istep
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_element_actions.hpp
  src/so3/4C_so3_hex8.hpp
  src/so3/4C_so3_hex8_evaluate.cpp
  src/so3/4C_so3_tet4.hpp
  src/so3/4C_so3_tet4_evaluate.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update Python version on Bruteforce
  presets/lnm/cluster/CMakePresets.json
Due: non-ascii-chars

Update Pipeline after venv split
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Enable python path in dev env
  utilities/set_up_dev_env.sh
Due: non-ascii-chars

Fix sort_pipeline_output after venv split
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Fix a warning in GCC 14 with -O3
  src/immersed_problem/4C_immersed_problem_immersed_base.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix missing instantiation of static variable
  src/mat/4C_mat_beam_elasthyper.cpp
  src/mat/4C_mat_beam_elasthyper.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Relax pretty tight tolerances to enable
  tests/input_files/ssti_mono_3D_3hex8_elch_s2i_butlervolmerthermo_growthlaw.dat
Due: input-files, non-ascii-chars

Exceptions print failed assertion test
  src/core/utils/src/exceptions/4C_utils_exceptions.cpp
  src/core/utils/src/exceptions/4C_utils_exceptions.hpp
  src/core/utils/tests/exceptions/4C_utils_exceptions_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Implement EAS as element formulation
  src/solid_3D_ele/4C_solid_3D_ele_calc.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_displacement_based.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_displacement_based_linear_kinematics.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_eas.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_eas.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_eas_helpers.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_fbar.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_mulf.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_mulf_fbar.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_shell_ans.hpp
  src/solid_3D_ele/4C_solid_3D_ele_evaluate.cpp
  src/solid_3D_ele/4C_solid_3D_ele_factory.cpp
  src/solid_3D_ele/4C_solid_3D_ele_factory.hpp
  src/solid_3D_ele/4C_solid_3D_ele_formulation.hpp
  src/solid_3D_ele/4C_solid_3D_ele_properties.hpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enable EAS in tsi simulations
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_calc.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_calc.hpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_factory.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_factory.hpp
  tests/input_files/tsi_heatflux_monolithic_pbc.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Don't warn about empty section for parent sections
  utilities/create_json_schema.py
Due: non-ascii-chars

Remove so3-thermo, hex20 and hex8fbar elements
  doc/readthedocs/elementtypes.rst
  src/adapter/4C_adapter_str_structure_new.cpp
  src/core/fem/src/general/element/4C_fem_general_element_definition.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/mat/4C_mat_thermoplastichyperelast.cpp
  src/mat/4C_mat_thermoplasticlinelast.cpp
  src/so3/4C_so3_hex20.cpp
  src/so3/4C_so3_hex20.hpp
  src/so3/4C_so3_hex20_evaluate.cpp
  src/so3/4C_so3_hex20_input.cpp
  src/so3/4C_so3_hex20_multiscale.cpp
  src/so3/4C_so3_hex8.cpp
  src/so3/4C_so3_hex8fbar.cpp
  src/so3/4C_so3_hex8fbar.hpp
  src/so3/4C_so3_hex8fbar_evaluate.cpp
  src/so3/4C_so3_hex8fbar_input.cpp
  src/so3/4C_so3_thermo.cpp
  src/so3/4C_so3_thermo.hpp
  src/so3/4C_so3_thermo_eletypes.cpp
  src/so3/4C_so3_thermo_eletypes.hpp
  src/so3/4C_so3_thermo_evaluate.cpp
  src/so3/4C_so3_thermo_fwd.hpp
  src/tsi/4C_tsi_utils.cpp
  tests/input_files/solid_ele_vs_mat.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Add missing vector include
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix_solver.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Switch verify headers to gcc14
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Add Problem singletons to SingletonOwnerRegistry
  apps/global_full/4C_global_full_main.cpp
  apps/post_monitor/4C_post_monitor.cpp
  apps/post_processor/4C_post_processor.cpp
  apps/pre_exodus/4C_pre_exodus.cpp
  src/core/utils/src/stl_extension/4C_utils_singleton_owner.cpp
  src/core/utils/src/stl_extension/4C_utils_singleton_owner.hpp
  src/global_data/4C_global_data.cpp
  src/global_data/4C_global_data.hpp
  src/mat/4C_mat_par_bundle.cpp
  tests/cut_test/cut_test_main.cpp
  unittests/4C_gtest_main_mpi_test.cpp
  unittests/contact_constitutivelaw/4C_mirco_force_contactconstitutivelaw_test.cpp
  unittests/contact_constitutivelaw/4C_mirco_pressure_contactconstitutivelaw_test.cpp
  unittests/io/4C_discretization_nodal_coordinates_np_3_test.cpp
  unittests/io/4C_discretization_nodal_coordinates_test.cpp
  unittests/io/4C_gridgenerator_np_3_test.cpp
  unittests/io/4C_gridgenerator_test.cpp
  unittests/mat/4C_druckerprager_test.cpp
  unittests/mat/4C_electrode_test.cpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
  unittests/mat/4C_multiplicative_split_defgrad_elasthyper_test.cpp
  unittests/so3/4C_so_hex8_test.cpp
  unittests/so3/4C_so_tet4_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Element: remove unused/untested condition storage
  src/core/fem/src/discretization/4C_fem_discretization_conditions.cpp
  src/core/fem/src/general/element/4C_fem_general_element.cpp
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/truss3/4C_truss3.cpp
  src/truss3/4C_truss3.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix some brittle tests
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_math_test.cpp
  tests/input_files/f3_cha_8x8x8_recongradl2.dat
  tests/input_files/f3_cha_8x8x8_recongradspr.dat
  tests/input_files/scatra_forced_hit_iso_8x8x8_dsm.dat
  tests/input_files/ssti_mono_3D_tet4_batt_with_anode_plate_and_current_collectors_elch_s2i_butlervolmer_BGS_AMG_11x11.dat
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Introduce versatile viscoplastic material
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.hpp
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix_tensor_products.cpp
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix_tensor_products.hpp
  src/core/linalg/src/dense/4C_linalg_four_tensor.hpp
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_eigen.hpp
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_exp_log.cpp
  src/core/linalg/src/dense/4C_linalg_utils_tensor_interpolation.cpp
  src/core/linalg/src/dense/4C_linalg_utils_tensor_interpolation.hpp
  src/inpar/4C_inpar_validmaterials.cpp
  src/mat/4C_mat_elasthyper_service.cpp
  src/mat/4C_mat_elasthyper_service.hpp
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/mat/4C_mat_material_factory.cpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.cpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.hpp
  src/mat/4C_mat_viscoplastic_laws.cpp
  src/mat/4C_mat_viscoplastic_laws.hpp
  src/matelast/4C_matelast_couptransverselyisotropic.cpp
  tests/input_files/mat_iso_viscoplast_refJC_log_substep.dat
  tests/input_files/mat_transviso_viscoplast_refJC_log_substep.dat
  tests/input_files/mat_transviso_viscoplast_refJC_standard_substep.dat
  tests/list_of_tests.cmake
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
  unittests/mat/4C_multiplicative_split_defgrad_elasthyper_test.cpp
  unittests/mat/4C_viscoplastic_laws_test.cpp
  unittests/mat/CMakeLists.txt
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Replace anisotropy type boolean
  src/inpar/4C_inpar_validmaterials.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  tests/input_files/mat_iso_viscoplast_refJC_log_substep.dat
  tests/input_files/mat_transviso_viscoplast_refJC_log_substep.dat
  tests/input_files/mat_transviso_viscoplast_refJC_standard_substep.dat
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
  unittests/mat/4C_viscoplastic_laws_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Integrate changes from review
  src/core/linalg/src/dense/4C_linalg_utils_tensor_interpolation.cpp
  src/inpar/4C_inpar_validmaterials.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.cpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.hpp
  src/mat/4C_mat_viscoplastic_laws.cpp
  src/mat/4C_mat_viscoplastic_laws.hpp
  tests/input_files/mat_iso_viscoplast_refJC_log_substep.dat
  tests/input_files/mat_transviso_viscoplast_refJC_log_substep.dat
  tests/input_files/mat_transviso_viscoplast_refJC_standard_substep.dat
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
  unittests/mat/4C_viscoplastic_laws_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Pass KinematicQuantities as input
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.cpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.hpp
  src/mat/4C_mat_viscoplastic_laws.cpp
  unittests/mat/4C_multiplicative_split_defgrad_elasthyper_test.cpp
  unittests/mat/4C_viscoplastic_laws_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use multigrid for thermo
  src/thermo/4C_thermo_timint.cpp
  tests/input_files/thermoconvection_Tempnp.dat
  tests/input_files/xml/multigrid/thermo.xml
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Add vplast subfolder to mat
  .gitlab/CODEOWNERS
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/mat/4C_mat_material_factory.cpp
  src/mat/4C_mat_viscoplastic_laws.hpp
  src/mat/vplast/4C_mat_vplast_law.cpp
  src/mat/vplast/4C_mat_vplast_law.hpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.cpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.hpp
  src/mat/vplast/CMakeLists.txt
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
  unittests/mat/CMakeLists.txt
  unittests/mat/vplast/4C_vplast_reform_johnsoncook_test.cpp
  unittests/mat/vplast/CMakeLists.txt
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update README.md
  README.md
Due: none

Adjust testing to Github runner hardware
  CMakeLists.txt
  src/core/comm/tests/4C_comm_utils_test.cpp
  src/core/comm/tests/CMakeLists.txt
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add first Github workflows
  .github/workflows/buildtest.yml
  .github/workflows/checkcode.yml
  .github/workflows/docker.yml
  .gitlab/CODEOWNERS
  README.md
  docker/Dockerfile
Due: non-ascii-chars

Don't run no-commit-to-branch in CI
  .github/workflows/checkcode.yml
Due: non-ascii-chars

Add reusable configure and build action
  .github/actions/build_4C/action.yml
  .github/actions/configure_4C/action.yml
  .github/workflows/buildtest.yml
  .gitlab/CODEOWNERS
Due: non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
