Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Remove early return from fix nullspace
  src/core/linear_solver/src/method/4C_linear_solver_method_parameters.cpp
  src/fluid/4C_fluid_meshtying.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add missing #include <vector> line
  src/core/fem/src/geometric_search/4C_fem_geometric_search_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix Kronecker product
  src/mat/4C_mat_service.cpp
  tests/input_files/plastic_necking_fbar_thrplast.dat
  tests/input_files/solid_ele_vs_mat.dat
  unittests/mat/4C_material_service_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Introduce adaptive nitsche parameter calculation
  src/contact/4C_contact_nitsche_integrator_ssi_elch.cpp
  src/contact/4C_contact_nitsche_strategy.cpp
  src/contact/4C_contact_nitsche_strategy_ssi.cpp
  src/contact/4C_contact_nitsche_strategy_ssi.hpp
  src/contact/4C_contact_nitsche_strategy_tsi.cpp
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/fluid_ele/4C_fluid_ele.hpp
  src/lubrication/src/4C_lubrication_ele.hpp
  src/membrane/4C_membrane.hpp
  src/mortar/4C_mortar_element.cpp
  src/mortar/4C_mortar_element.hpp
  src/porofluidmultiphase_ele/4C_porofluidmultiphase_ele.hpp
  src/scatra_ele/4C_scatra_ele.hpp
  src/shell7p/4C_shell7p_line.hpp
  src/so3/4C_so3_surface.hpp
  src/so3/4C_so3_surface_traceestimate.cpp
  src/ssi/4C_ssi_base.cpp
  src/xfem/4C_xfem_coupling_mesh.cpp
  tests/input_files/ssi_mono_3D_2blocks_hex8_nonmatching_nitsche_contact_scatra_s2i_constperm.dat
  tests/input_files/ssi_mono_3D_2blocks_hex8_nonmatching_nitsche_contact_scatra_s2i_constperm_BGS-AMG_2x2.dat
  tests/input_files/ssi_mono_3D_2blocks_hex8_nonmatching_nitsche_contact_scatra_s2i_constperm_BGS-AMG_3x3.dat
  tests/input_files/ssi_mono_3D_2blocks_hex8_nonmatching_nitsche_contact_scatra_s2i_linearperm.dat
  tests/input_files/ssi_mono_3D_3blocks_nitsche_contact_and_meshtying_elch_s2i_butlervolmer.dat
  tests/input_files/ssi_mono_3D_3blocks_nitsche_contact_elch_s2i_butlervolmer_linaniso_liniso_growthlaw.dat
  tests/input_files/ssi_mono_3D_3blocks_nitsche_unbiased_selfcontact_elch_s2i_butlervolmer_linaniso_liniso_growthlaw.dat
  tests/input_files/ssi_twoway_3D_2blocks_hex8_nonmatching_nitsche_contact_scatra_s2i_constperm.dat
  tests/input_files/ssi_twoway_3D_2blocks_hex8_nonmatching_nitsche_contact_scatra_s2i_linearperm.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove problematic beam-solid test
  TestingFrameworkListOfTests.cmake
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_composite.dat
Due: input-files, non-ascii-chars

Manually replace *(<rcp>.get()) with *<rcp>
  src/core/fem/src/discretization/4C_fem_discretization.hpp
  src/core/fem/src/discretization/4C_fem_discretization_evaluate.cpp
  src/elemag/4C_elemag_timeint.cpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/fluid/4C_fluid_xwall.cpp
  src/fluid_turbulence/4C_fluid_turbulence_hit_forcing.cpp
  src/porofluidmultiphase/4C_porofluidmultiphase_timint_implicit.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_statustest_combo.cpp
  src/thermo/4C_thermo_timint.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix test
  TestingFrameworkListOfTests.cmake
  tests/input_files/poromultielast_3D_tet10_mono.dat
Due: input-files, non-ascii-chars

Remove amgnxn from fpsi
  src/fpsi/4C_fpsi_monolithic.cpp
  tests/input_files/fpsi_bending_struct_BGSAMG.dat
  tests/input_files/fpsi_bending_struct_BGSAMG.xml
  tests/input_files/xml/block_preconditioner/fluid_poro_solid_ale.xml
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Introduce SingletonOwnerRegistry
  apps/global_full/4C_global_full_main.cpp
  src/core/utils/src/stl_extension/4C_utils_singleton_owner.cpp
  src/core/utils/src/stl_extension/4C_utils_singleton_owner.hpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Don't forward command line arguments to Kokkos
  apps/global_full/4C_global_full_main.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove *Teuchos::rcpFromRef
  src/art_net/4C_art_net_artery_ele_calc_lin_exp.cpp
  src/beam3/4C_beam3_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_mortar_FAD.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_mortar_rotation.cpp
  src/contact/4C_contact_nitsche_strategy.cpp
  src/contact/4C_contact_nitsche_strategy_poro.cpp
  src/contact/4C_contact_nitsche_strategy_ssi.cpp
  src/contact/4C_contact_nitsche_strategy_tsi.cpp
  src/core/io/src/4C_io_gridgenerator.cpp
  src/fsi/src/utils/4C_fsi_utils.cpp
  src/ssi/4C_ssi_monolithic_dbc_handler.cpp
  src/ssti/4C_ssti_monolithic_assemble_strategy.cpp
  src/structure_new/src/utils/4C_structure_new_dbc.cpp
  src/structure_new/src/utils/4C_structure_new_monitor_dbc.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Another pass of automatic RCP fixes
  apps/create_rtdfiles/4C_create_rtdfiles_utils.cpp
  apps/create_rtdfiles/4C_create_rtdfiles_utils.hpp
  apps/pre_exodus/4C_pre_exodus_reader.cpp
  apps/pre_exodus/4C_pre_exodus_validate.cpp
  apps/pre_exodus/4C_pre_exodus_validate.hpp
  apps/pre_exodus/4C_pre_exodus_writedat.cpp
  apps/pre_exodus/4C_pre_exodus_writedat.hpp
  src/constraint/4C_constraint_springdashpot_manager.cpp
  src/core/fem/src/general/utils/4C_fem_general_extract_values.cpp
  src/core/fem/src/general/utils/4C_fem_general_extract_values.hpp
  src/core/io/src/4C_io_gmsh.cpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/fluid/4C_fluid_meshtying.cpp
  src/fluid/4C_fluid_meshtying.hpp
  src/fluid/4C_fluid_timint_hdg_weak_comp.cpp
  src/fluid_ele/4C_fluid_ele_calc.cpp
  src/fluid_xfluid/4C_fluid_xfluid.cpp
  src/fsi/src/partitioned/model_evaluator/4C_fsi_str_model_evaluator_partitioned.cpp
  src/lubrication/src/4C_lubrication_timint_implicit.cpp
  src/particle_engine/4C_particle_engine_unique_global_id.cpp
  src/porofluidmultiphase/4C_porofluidmultiphase_timint_implicit.cpp
  src/scatra/4C_scatra_timint_elch.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_loma.cpp
  src/scatra_ele/4C_scatra_ele_calc_lsreinit.cpp
  src/scatra_ele/4C_scatra_ele_calc_service_turbulence.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_contact.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_springdashpot.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.hpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_timint_noxinterface.cpp
  src/structure_new/src/utils/4C_structure_new_dbc.cpp
  src/structure_new/src/utils/4C_structure_new_dbc.hpp
  src/xfem/4C_xfem_discretization_utils.cpp
  src/xfem/4C_xfem_discretization_utils.hpp
  src/xfem/4C_xfem_multi_field_mapextractor.hpp
  unittests/geometry_pair/4C_geometry_pair_line_to_surface_patch_averaged_normals_test.cpp
  unittests/geometry_pair/4C_geometry_pair_line_to_surface_patch_geometry_test.hpp
  unittests/mat/4C_druckerprager_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Devirtualize a few IO classes
  src/core/io/src/4C_io.hpp
  src/core/io/src/4C_io_discretization_visualization_writer_mesh.hpp
  src/core/io/src/4C_io_discretization_visualization_writer_nodes.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enable using VectorView on const vectors
  src/contact/4C_contact_lagrange_strategy_wear.cpp
  src/core/linalg/src/sparse/4C_linalg_multi_vector.hpp
  src/core/linalg/src/sparse/4C_linalg_vector.hpp
  src/core/linalg/tests/4C_linalg_vector_test.cpp
  src/coupling/src/adapter/4C_coupling_adapter.cpp
  src/ehl/4C_ehl_base.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix a bug in (Multi)Vector::ReplaceMap
  src/core/linalg/src/sparse/4C_linalg_multi_vector.cpp
  src/core/linalg/src/sparse/4C_linalg_multi_vector.hpp
  src/core/linalg/src/sparse/4C_linalg_vector.cpp
  src/core/linalg/src/sparse/4C_linalg_vector.hpp
  src/core/linalg/tests/4C_linalg_vector_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move SUB_SOLVER params to CheapSIMPLE
  src/inpar/4C_inpar_solver.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove unused SUB_SOLVER params from tests
  tests/input_files/fpsi_ofsiinterface.dat
  tests/input_files/homogenized-constrained-mixture-cyl-aniso-impl-nofibdir.dat
Due: input-files, non-ascii-chars

Remove parameters from tutorials
  tests/framework-test/tutorial_fsi.head
  tests/framework-test/tutorial_fsi_3d.head
Due: non-ascii-chars

Remove a few Epetra_Vectors
  src/adapter/4C_adapter_str_structure.cpp
  src/core/linalg/src/sparse/4C_linalg_krylov_projector.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_assemble.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_assemble.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Clean-up MultiVector comments
  src/core/linalg/src/sparse/4C_linalg_krylov_projector.cpp
  src/core/linalg/src/sparse/4C_linalg_krylov_projector.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add some multivector header includes
  src/beaminteraction/4C_beaminteraction_submodel_evaluator_crosslinking.cpp
  src/core/io/src/4C_io_discretization_visualization_writer_mesh.cpp
  src/core/io/src/4C_io_discretization_visualization_writer_nodes.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Replace check_reuse_status_of_active_set
  src/contact/4C_contact_abstract_strategy.hpp
  src/contact/4C_contact_lagrange_strategy.hpp
  src/contact/4C_contact_meshtying_abstract_strategy.hpp
  src/contact/4C_contact_nitsche_strategy.hpp
  src/contact/4C_contact_noxinterface.cpp
  src/contact/4C_contact_penalty_strategy.hpp
  src/core/linear_solver/src/method/4C_linear_solver_method_iterative.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_iterative.hpp
  src/mortar/4C_mortar_strategy_base.hpp
  src/poroelast/4C_poroelast_monolithic.cpp
  src/structure/4C_structure_timint_impl.cpp
  src/tsi/4C_tsi_monolithic.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix git hash not shown in doxygen
  doc/doxygen/CMakeLists.txt
Due: non-ascii-chars

Remove elch block preconditioner
  src/adapter/4C_adapter_scatra_base_algorithm.cpp
  src/inpar/4C_inpar_elch.cpp
  src/scatra/4C_scatra_timint_elch.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i_elch.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_std_elch.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Refactor elch tests
  tests/input_files/elch_Kwok_Wu.dat
  tests/input_files/elch_Kwok_Wu_BDF2.dat
  tests/input_files/elch_natconv.dat
  tests/input_files/elch_natconv_new_ost.dat
  tests/input_files/elch_onewaycoupled_afgenalpha.dat
  tests/input_files/elch_onewaycoupled_ost.dat
  tests/input_files/elch_pper_butlervolmer.dat
  tests/input_files/elch_pulseplating_hex27.dat
  tests/input_files/elch_pulseplating_hex27_moving_boundary.dat
Due: input-files, non-ascii-chars

Rework scale seperation interpolation operator
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_create.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_create.hpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/fluid/4C_fluid_utils.cpp
  src/scatra/4C_scatra_timint_implicit_service.cpp
  tests/input_files/f3_cha_xwall_6x8x6_grad_ol2p_bs_ramp_ale_mfs.dat
  tests/input_files/f3_cha_xwall_6x8x6_gradres_smooth_p_bs_ramp.dat
  tests/input_files/f3_channel_carreauyasuda_genalpha_drt_wss_agr.dat
  tests/input_files/loma_turbmodel_test_fssgd.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Migrate multi scale to new solid time int
  src/adapter/4C_adapter_str_structure_new.cpp
  src/beaminteraction/4C_beaminteraction_str_model_evaluator.cpp
  src/beaminteraction/4C_beaminteraction_str_model_evaluator.hpp
  src/inpar/4C_inpar_structure.hpp
  src/mat/4C_mat_micromaterial.hpp
  src/mat/4C_mat_micromaterial_evaluate.cpp
  src/mat/4C_mat_micromaterialgp_static.cpp
  src/mat/4C_mat_micromaterialgp_static.hpp
  src/solid_3D_ele/4C_solid_3D_ele.cpp
  src/solid_3D_ele/4C_solid_3D_ele.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_eas.hpp
  src/stru_multi/4C_stru_multi_microstatic.cpp
  src/stru_multi/4C_stru_multi_microstatic.hpp
  src/stru_multi/4C_stru_multi_microstatic_npsupport.cpp
  src/structure/4C_structure_timint.cpp
  src/structure_new/src/4C_structure_new_integrator.cpp
  src/structure_new/src/4C_structure_new_integrator.hpp
  src/structure_new/src/4C_structure_new_timint_basedataglobalstate.cpp
  src/structure_new/src/explicit/4C_structure_new_expl_ab2.cpp
  src/structure_new/src/explicit/4C_structure_new_expl_abx.cpp
  src/structure_new/src/explicit/4C_structure_new_expl_centrdiff.cpp
  src/structure_new/src/explicit/4C_structure_new_expl_forwardeuler.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_genalpha.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_genalpha_liegroup.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_ost.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_statics.cpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_factory.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_generic.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_manager.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_manager.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_multiscale.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_multiscale.hpp
  src/structure_new/src/utils/4C_structure_new_utils.cpp
  tests/input_files/sohex8_multiscale_macro.dat
  tests/input_files/sohex8_multiscale_macro_2micro.dat
  tests/input_files/sohex8_multiscale_micro.mat
  tests/input_files/sohex8_multiscale_micro1.mat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Delete multi scale from old solid time int
  src/adapter/4C_adapter_str_structure.hpp
  src/adapter/4C_adapter_str_structure_new.hpp
  src/adapter/4C_adapter_str_wrapper.hpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint.hpp
  src/structure_new/src/4C_structure_new_timint_base.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused and untested custom NOX classes
  src/contact/4C_contact_noxinterface.cpp
  src/inpar/4C_inpar_solver_nonlin.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_constraint_group.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_constraint_group.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_direction_defaultsteptest.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_direction_defaultsteptest.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_direction_factory.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_direction_modified_newton.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_direction_modified_newton.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_enum_lists.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_group.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_group.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_combo.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_combo.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_factory.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_factory.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_filter.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_filter.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_volume_change.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_volume_change.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_meritfunction_factory.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_meritfunction_infeasibility.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_meritfunction_infeasibility.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_meritfunction_lagrangian.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_meritfunction_lagrangian.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_solver_ptc.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_solver_ptc.hpp
  src/solver_nonlin_nox/CMakeLists.txt
  src/structure_new/src/implicit/4C_structure_new_impl_generic.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_generic.hpp
  src/structure_new/src/implicit/4C_structure_new_timint_implicit.cpp
  src/structure_new/src/implicit/4C_structure_new_timint_implicit.hpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_timint_noxinterface.cpp
  tests/input_files/structure_eas.xml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
