Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Globalize error types and messages
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.hpp
  src/mat/vplast/4C_mat_vplast_law.hpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.cpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.hpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
  unittests/mat/vplast/4C_vplast_reform_johnsoncook_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

CI: only push to registry in 4C-multiphysics/4C
  .github/workflows/docker.yml
  .github/workflows/docker_prebuilt_4c.yml
Due: non-ascii-chars

CI: Add missing path for docker workflow
  .github/workflows/docker.yml
Due: non-ascii-chars

Update LNM default compiler to GCC 13.2
  presets/lnm/workstation/CMakePresets.json
Due: non-ascii-chars

Add a missing MPI include when ArborX is off
  src/core/fem/src/geometric_search/4C_fem_geometric_search_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Replace err_type->err_message map with to_string
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused print functions
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.hpp
  src/core/io/src/4C_io_linecomponent.cpp
  src/core/io/src/4C_io_linecomponent.hpp
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_validmaterials.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add test summary report
  .github/actions/merge_junit_report_artifacts/action.yml
  .github/workflows/buildtest.yml
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars

Allow skipped gcc13_assertions_test_report
  .github/workflows/buildtest.yml
Due: non-ascii-chars

Improve performance of transvisotrop mat
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused beaminteraction files
  src/beaminteraction/4C_beaminteraction_submodel_evaluator_crosslinking.cpp
  src/beaminteraction/4C_beaminteraction_utils_parallel_proctoproc.cpp
  src/beaminteraction/4C_beaminteraction_utils_parallel_proctoproc.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Chunk test suite by test runtimes
  .github/actions/chunk_test_suite/action.yml
  .github/actions/chunk_test_suite/chunk_test_suite.py
  .github/workflows/buildtest.yml
  .github/workflows/nightly_tests.yml
  utilities/chunk_test_suite.py
Due: non-ascii-chars

Skip ensure_all_tests_pass on main
  .github/workflows/buildtest.yml
Due: non-ascii-chars

Change is nurbs check and test
  src/so3/4C_so3_surface_evaluate.cpp
  tests/input_files/ref/solid_nurbs27_hex8_ele_neumann_bcs-structure.pvd
  tests/input_files/ref/solid_nurbs27_hex8_ele_neumann_bcs-vtk-files/structure-00000-0.vtu
  tests/input_files/ref/solid_nurbs27_hex8_ele_neumann_bcs-vtk-files/structure-00000.pvtu
  tests/input_files/ref/solid_nurbs27_hex8_ele_neumann_bcs-vtk-files/structure-00001-0.vtu
  tests/input_files/ref/solid_nurbs27_hex8_ele_neumann_bcs-vtk-files/structure-00001.pvtu
  tests/input_files/solid_nurbs27_hex8_ele_neumann_bcs.dat
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Fix small naming issues after global rename
  src/mixture/4C_mixture_constituent_full_constrained_mixture_fiber.cpp
  src/mixture/4C_mixture_constituent_remodelfiber_expl.cpp
  src/mixture/4C_mixture_constituent_remodelfiber_impl.cpp
  src/mixture/4C_mixture_full_constrained_mixture_fiber.cpp
  src/mixture/4C_mixture_full_constrained_mixture_fiber.hpp
  src/mixture/4C_mixture_remodelfiber-internal.hpp
  src/mixture/4C_mixture_remodelfiber.cpp
  src/mixture/4C_mixture_remodelfiber.hpp
  unittests/mixture/4C_mixture_full_constrained_mixture_fiber_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add LLVM source-based coverage generated nightly
  .github/actions/chunk_test_suite/action.yml
  .github/actions/download_4C_build/action.yml
  .github/workflows/coverage.yml
  .github/workflows/deploy.yml
  .github/workflows/documentation.yml
  cmake/setup_global_options.cmake
  presets/docker/CMakePresets.json
Due: non-ascii-chars

Add error on not supported output case
  src/core/io/src/4C_io_discretization_visualization_writer_mesh.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove unused LineDefinition components w/o names
  src/core/io/src/4C_io_linedefinition.cpp
  src/core/io/src/4C_io_linedefinition.hpp
  src/core/io/tests/4C_io_linedefinition_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

ValueParser: refactor to accomodate peek() method
  src/beamcontact/4C_beamcontact_beam3contact_manager.cpp
  src/beamcontact/4C_beamcontact_beam3contact_octtree.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_beam_contact_utils.cpp
  src/beaminteraction/4C_beaminteraction_crosslinking_params.cpp
  src/beaminteraction/4C_beaminteraction_potential_params.cpp
  src/beaminteraction/4C_beaminteraction_spherebeamlinking_params.cpp
  src/browniandyn/4C_browniandyn_str_model_evaluator_data.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_constitutivelaw_definition.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/io/src/4C_io_value_parser.cpp
  src/core/io/src/4C_io_value_parser.hpp
  src/core/io/tests/4C_io_value_parser_test.cpp
  src/mat/4C_mat_materialdefinition.cpp
  src/particle_engine/4C_particle_engine_particlereader.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unnamed strings in LineDefinition
  src/core/io/src/4C_io_linedefinition.cpp
  src/core/io/src/4C_io_linedefinition.hpp
  src/core/io/tests/4C_io_linedefinition_test.cpp
  src/shell7p/4C_shell7p_ele.cpp
  src/shell7p/4C_shell7p_ele_scatra.cpp
  src/shell7p/4C_shell7p_utils.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rework documentation: particle discretization
  doc/readthedocs/geometrydefinition.rst
Due: none

Rework documentation: particle problem type
  doc/readthedocs/problemtypes.rst
Due: none

Fix linearization in implicit remodel fiber
  src/mixture/4C_mixture_constituent_remodelfiber_impl.cpp
  src/mixture/4C_mixture_constituent_remodelfiber_impl.hpp
  src/mixture/4C_mixture_remodelfiber-internal.hpp
  src/mixture/4C_mixture_remodelfiber.cpp
  tests/input_files/mixture_growth_impl_remodel_fiber_no_basal_mass_production.dat
  unittests/mixture/4C_remodelfiber_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

PackBuffer: avoid an additional copy of data
  src/core/comm/src/4C_comm_pack_buffer.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Increase number of chunks in coverage workflow
  .github/workflows/coverage.yml
Due: non-ascii-chars

Remove my_output_flag function from InputFile
  apps/pre_exodus/4C_pre_exodus_validate.cpp
  src/core/io/src/4C_io_domainreader.cpp
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/global_data/4C_global_data_read.cpp
  src/particle_engine/4C_particle_engine_particlereader.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add MPI broadcast for packable types
  src/core/comm/src/4C_comm_mpi_utils.hpp
  src/core/comm/tests/4C_comm_mpi_utils_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

InputFile: query file names for sections
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/tests/4C_io_input_file_test.cpp
  src/global_data/4C_global_data_read.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix broken CSV input for spline
  src/core/utils/src/functions/4C_utils_function_library.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix a a wrongly named section in test files
  tests/input_files/beam3r_line2_backweuler_browndyn_periodic_rve_dirich_coupling.dat
  tests/input_files/beam3r_line2_backweuler_browndyn_periodic_rve_dirich_crosslinking.dat
  tests/input_files/beam3r_line2_backweuler_browndyn_periodic_rve_dirich_element.dat
  tests/input_files/beam3r_line2_backweuler_browndyn_rve_and_node_dirich.dat
  tests/input_files/beam3r_line2_singlefil_periodic_uniaxial_shear.dat
  tests/input_files/beam3r_line2_singlefil_periodic_uniaxial_stretch.dat
Due: input-files, non-ascii-chars

Add coverage badge to README
  .github/workflows/coverage.yml
  README.md
Due: non-ascii-chars

Remove coverage report from Gitlab CI
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Fix wrong input para name in partitioned poroelast
  src/poroelast/4C_poroelast_partitioned.cpp
  tests/input_files/new_solidporo_pressure_velocity_based_ele_3D_hex8_stat_part.dat
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Update docs on testing
  doc/readthedocs/4Ctesting.rst
Due: none

Enable poro solid interaction in new timeint
  src/particle_rigidbody/4C_particle_rigidbody_result_test.cpp
  src/poroelast/4C_poroelast_base.cpp
  tests/input_files/new_solidporo_pressure_velocity_based_ele_3D_psi_hex8_new_struc.dat
  tests/input_files/poro_2D_psi_quad4.dat
  tests/input_files/poro_2D_psi_quad4_const_material_transversely_isotropic_permeability_new_struc.dat
  tests/input_files/poro_2D_psi_quad4_new_struc.dat
  tests/input_files/poro_2D_psi_quad4_switched.dat
  tests/input_files/poro_2D_psi_quad4_switched_new_struc.dat
  tests/input_files/poro_3D_psi_hex8.dat
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Add contact support for poroscatra partitioning solver
  src/contact/4C_contact_integrator_factory.cpp
  src/contact/4C_contact_nitsche_integrator_poro_scatra.cpp
  src/contact/4C_contact_nitsche_integrator_poro_scatra.hpp
  src/contact/4C_contact_nitsche_strategy_poro.hpp
  src/contact/4C_contact_nitsche_strategy_poro_scatra.cpp
  src/contact/4C_contact_nitsche_strategy_poro_scatra.hpp
  src/contact/4C_contact_strategy_factory.cpp
  src/inpar/4C_inpar_poroelast.cpp
  src/mat/4C_mat_structporo.cpp
  src/mat/4C_mat_structporo.hpp
  src/poroelast_scatra/4C_poroelast_scatra_base.cpp
  src/poroelast_scatra/4C_poroelast_scatra_base.hpp
  src/poroelast_scatra/4C_poroelast_scatra_dyn.cpp
  src/poroelast_scatra/4C_poroelast_scatra_part.cpp
  src/poroelast_scatra/4C_poroelast_scatra_part.hpp
  src/so3/4C_so3_poro.hpp
  src/so3/4C_so3_poro_scatra.hpp
  src/so3/4C_so3_poro_scatra_evaluate.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Reset the evaluation flag for scalar
  src/contact/4C_contact_nitsche_strategy_poro_scatra.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Improve error message
  src/lubrication/src/4C_lubrication_ele_calc.cpp
  src/mat/4C_mat_so3_material.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
