Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        name: Format C/C++
        # Only use on C and C++ files and not on other files that clang could format (e.g. json).
        types_or: [c++, c]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format cmake
        args: [--config, utilities/code_checks/.cmake-format.yaml, --in-place]
        additional_dependencies: [pyyaml>=5.1]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        name: Format python

  - repo: https://github.com/pamoller/xmlformatter
    rev: v0.2.6
    hooks:
      - id: xml-formatter
        name: Format xml
        args: [--indent, '2', --indent-char, ' ', --selfclose, --overwrite]
        # Only run on "pure" XML files and not on files that internally use XML (e.g. svg)
        files: \.xml$

  - repo: https://github.com/google/yamlfmt
    rev: v0.12.1
    hooks:
      - id: yamlfmt
        name: Format yaml
        args: [-conf, utilities/code_checks/.yamlfmt.yaml]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        # Do not modify reference vtu files, since we generate these and do not hand-edit them.
        exclude: 'vtu$'
      - id: no-commit-to-branch
        name: Don't commit to main

  - repo: local
    hooks:
      - id: check-venv-up-to-date
        name: Python virtual environment is up to date
        language: system
        entry: ./utilities/code_checks/check_venv
        always_run: true
        pass_filenames: false
        fail_fast: true

      - id: cpp-header
        name: C++ file headers
        description: 'Check that all C++ files have the correct header'
        language: system
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-file-header

      - id: cpp-filename-includes
        name: C++ file names and include style
        description: 'Check that all C++ files have the correct file name and include style'
        language: system
        types_or: [c++, c]
        exclude: 'tests/cut_test/'
        entry: utilities/python-venv/bin/check-filenames-and-includes
        args: ['--paths', 'src/', 'unittests/', 'apps/', '--files']

      - id: cpp-include-guard
        name: Include guards
        description: 'Check that all C++ files have the correct include guards'
        language: python
        types_or: [c++, c]
        files: '\.(h|hpp)$'
        entry: utilities/python-venv/bin/check-header-guards

      - id: cpp-preprocessor
        name: C++ preprocessor directives
        description: 'Check that all C++ files only use acceptable preprocessor directives'
        language: python
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-preprocessor

      - id: codeowners
        name: Inclusion in CODEOWNERS file
        description: 'Check that files are listed in CODEOWNERS file'
        language: python
        entry: utilities/python-venv/bin/check-codeowners

      - id: input-files
        name: Test input files
        description: 'Check input files conform to expectations'
        language: python
        files: 'tests/input_files/.*\.dat$'
        entry: utilities/python-venv/bin/check-test-files

      - id: non-ascii-chars
        name: Non-ASCII characters
        language: system
        exclude_types: [markdown, rst]
        entry: ./utilities/code_checks/check_non_ascii_chars

Remove remains of abstract numerical algebra (ANA)
  src/core/linear_solver/src/method/4C_linear_solver_method_iterative.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_block.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_block.hpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_cheapsimple.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_cheapsimple.hpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_linalg_ana.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_linalg_ana.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Change results in test file solid_ele_vs_mat.dat
  tests/input_files/solid_ele_vs_mat.dat
Due: input-files, non-ascii-chars

Remove CheapSIMPLE leftovers
  src/adapter/4C_adapter_fld_base_algorithm.cpp
  src/adapter/4C_adapter_fld_base_algorithm.hpp
  src/adapter/4C_adapter_str_structure.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method.hpp
  src/fsi_xfem/4C_fsi_xfem_monolithic.cpp
  src/inpar/4C_inpar_solver.cpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
  src/tsi/4C_tsi_monolithic.cpp
  tests/input_files/fpsi_ofsiinterface.dat
  tests/input_files/homogenized-constrained-mixture-cyl-aniso-impl-nofibdir.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove deleted parameters from tutorial files
  tests/framework-test/tutorial_fsi.head
  tests/framework-test/tutorial_fsi_3d.head
Due: non-ascii-chars

Add test case
  TestingFrameworkListOfTests.cmake
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar.dat
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar.xml
Due: input-files, non-ascii-chars

Add 2D-3D mortar beam-to-solid coupling
  src/beaminteraction/4C_beaminteraction_beam_to_solid_conditions.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_mortar_manager.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_utils.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_utils.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_2d-3d_full.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_2d-3d_mortar.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_2d-3d_mortar.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_2d-3d_plane.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_params.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_params.hpp
  src/inpar/4C_inpar_beam_to_solid.cpp
  src/inpar/4C_inpar_beam_to_solid.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Unify four_c_test and four_c_test_result_file
  TestingFramework.cmake
  TestingFrameworkListOfTests.cmake
Due: non-ascii-chars

Add further material service utilities
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix_voigt_notation.cpp
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix_voigt_notation.hpp
  src/mat/4C_mat_service.cpp
  src/mat/4C_mat_service.hpp
  unittests/mat/4C_material_service_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename TestingFramework.cmake
  .gitlab/CODEOWNERS
  CMakeLists.txt
  four_c_testing_functions.cmake
Due: non-ascii-chars

Rename and move TestingFrameworkListofTests.cmake
  .gitlab/CODEOWNERS
  four_c_testing_functions.cmake
  tests/list_of_tests.cmake
  utilities/four_c_utils/src/four_c_utils/check_test_files.py
Due: non-ascii-chars

Clean-up list_of_tests.cmake
  tests/list_of_tests.cmake
Due: non-ascii-chars

Remove unnecessary labels from list_of_tests.cmake
  tests/list_of_tests.cmake
Due: non-ascii-chars

Fix compilation in debug build
  src/core/fem/src/general/utils/4C_fem_general_utils_polynomial.cpp
  src/core/fem/src/geometry/4C_fem_geometry_update_reference_config.cpp
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix.hpp
  src/fluid_ele/4C_fluid_ele_calc_hdg.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Replace FOUR_C_DEBUG by FOUR_C_ENABLE_ASSERTIONS
  src/core/fem/src/general/utils/4C_fem_general_utils_polynomial.cpp
  src/core/fem/src/geometry/4C_fem_geometry_update_reference_config.cpp
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix.hpp
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix_solver.hpp
  src/core/utils/src/stl_extension/4C_utils_pairedobj_insert_policy.hpp
  src/coupling/src/adapter/4C_coupling_adapter_volmortar.cpp
  src/fluid_ele/4C_fluid_ele_calc_hdg.cpp
  src/xfem/4C_xfem_coupling_fpi_mesh.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move four_c_testing_functions into cmake/functions
  CMakeLists.txt
  cmake/functions/four_c_testing_functions.cmake
Due: non-ascii-chars

Remove documentation of level tags
  doc/readthedocs/codingguidelines.rst
Due: none

Remove a pointless test
  unittests/io/4C_domainreader_test.cpp
  unittests/io/CMakeLists.txt
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Rework DatFileReader to read filtered ranges
  apps/pre_exodus/4C_pre_exodus_writedat.cpp
  src/cardiovascular0d/4C_cardiovascular0d_respiratory_syspulperiphcirculation.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_constitutivelaw_definition.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.hpp
  src/core/fem/src/geometry/4C_fem_geometry_periodic_boundingbox.hpp
  src/core/io/src/4C_io_dat_file_utils.cpp
  src/core/io/src/4C_io_domainreader.cpp
  src/core/io/src/4C_io_domainreader.hpp
  src/core/io/src/4C_io_elementreader.cpp
  src/core/io/src/4C_io_elementreader.hpp
  src/core/io/src/4C_io_inputreader.cpp
  src/core/io/src/4C_io_inputreader.hpp
  src/core/io/src/4C_io_linedefinition.cpp
  src/core/io/src/4C_io_linedefinition.hpp
  src/core/io/src/4C_io_meshreader.hpp
  src/core/io/src/4C_io_nodereader.cpp
  src/core/io/src/4C_io_nodereader.hpp
  src/core/io/tests/4C_io_inputreader_test.cpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/core/utils/src/functions/4C_utils_function_manager.hpp
  src/core/utils/src/functions/4C_utils_functionvariables.hpp
  src/core/utils/src/stl_extension/4C_utils_std_cxx20_ranges.hpp
  src/global_data/4C_global_data_read.cpp
  src/global_data/4C_global_data_read.hpp
  src/mat/4C_mat_anisotropy_utils.hpp
  src/mat/4C_mat_materialdefinition.cpp
  src/mat/4C_mat_materialdefinition.hpp
  src/mixture/4C_mixture_constituent.hpp
  src/particle_engine/4C_particle_engine_particlereader.cpp
  src/particle_engine/4C_particle_engine_particlereader.hpp
  src/so3/4C_so3_sh8_service.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Clean up input for complicated sections
  src/contact_constitutivelaw/4C_contact_constitutivelaw_constitutivelaw_definition.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/io/src/4C_io_dat_file_utils.cpp
  src/core/io/src/4C_io_domainreader.cpp
  src/core/io/src/4C_io_domainreader.hpp
  src/core/io/src/4C_io_elementreader.cpp
  src/core/io/src/4C_io_elementreader.hpp
  src/core/io/src/4C_io_inputreader.cpp
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/src/4C_io_meshreader.hpp
  src/core/io/src/4C_io_nodereader.cpp
  src/core/io/src/4C_io_nodereader.hpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/global_data/4C_global_data_read.cpp
  src/mat/4C_mat_materialdefinition.cpp
  src/particle_engine/4C_particle_engine_particlereader.cpp
  src/particle_engine/4C_particle_engine_particlereader.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add license header to Wolfram files manually
  src/core/fem/src/geometric_search/script/kdop_generate_possible_intersection_planes.wls
  src/shell_kl_nurbs/script/shell_kl_nurbs_acegen.wls
  unittests/beaminteraction/script/unittest_beam_to_solid_volume_mortar.wls
  unittests/geometry_pair/script/unittest_geometry_pair_line_to_surface.wls
  unittests/geometry_pair/script/unittest_geometry_pair_line_to_surface_normal_derivative.wls
  unittests/geometry_pair/script/unittest_geometry_pair_line_to_volume.wls
  unittests/geometry_pair/script/unittest_geometry_pair_nurbs.wls
Due: non-ascii-chars

Update docker image
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Clean up DatFileReader interface
  apps/global_full/4C_global_full_inp_control.cpp
  apps/pre_exodus/4C_pre_exodus_validate.cpp
  src/core/io/src/4C_io_domainreader.cpp
  src/core/io/src/4C_io_domainreader.hpp
  src/core/io/src/4C_io_elementreader.cpp
  src/core/io/src/4C_io_elementreader.hpp
  src/core/io/src/4C_io_inputreader.cpp
  src/core/io/src/4C_io_inputreader.hpp
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/src/4C_io_meshreader.hpp
  src/core/io/src/4C_io_nodereader.cpp
  src/core/io/tests/4C_io_inputreader_test.cpp
  src/global_data/4C_global_data_read.cpp
  src/global_data/4C_global_data_read.hpp
  src/particle_engine/4C_particle_engine_particlereader.cpp
  src/particle_engine/4C_particle_engine_particlereader.hpp
  src/ssi/4C_ssi_base.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove reduced lung scatra
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/red_airways/4C_red_airways_acinus_evaluate.cpp
  src/red_airways/4C_red_airways_acinus_impl.cpp
  src/red_airways/4C_red_airways_acinus_impl.hpp
  src/red_airways/4C_red_airways_air_blood_scatra.cpp
  src/red_airways/4C_red_airways_air_blood_scatraLine3.cpp
  src/red_airways/4C_red_airways_air_blood_scatraLine3_evaluate.cpp
  src/red_airways/4C_red_airways_air_blood_scatraLine3_impl.cpp
  src/red_airways/4C_red_airways_air_blood_scatraLine3_impl.hpp
  src/red_airways/4C_red_airways_airway.cpp
  src/red_airways/4C_red_airways_airway_evaluate.cpp
  src/red_airways/4C_red_airways_airway_impl.cpp
  src/red_airways/4C_red_airways_airway_impl.hpp
  src/red_airways/4C_red_airways_dyn_drt.cpp
  src/red_airways/4C_red_airways_elementbase.hpp
  src/red_airways/4C_red_airways_evaluation_data.hpp
  src/red_airways/4C_red_airways_implicitintegration.cpp
  src/red_airways/4C_red_airways_implicitintegration.hpp
  src/red_airways/4C_red_airways_input.cpp
  src/red_airways/4C_red_airways_interacinardep_evaluate.cpp
  src/red_airways/4C_red_airways_tissue.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Clean up top-level directory
  .gitlab/CODEOWNERS
  README.md
  doc/readthedocs/4Csetup.rst
  tests/testconfig/.gitlab-ci.yml
  utilities/code_checks/check_venv
  utilities/requirements.txt
  utilities/set_up_dev_env.sh
Due: non-ascii-chars

Revert removal of RCP in build_dbc_map_extractor
  src/core/fem/src/discretization/4C_fem_discretization_utils.hpp
  src/core/fem/src/discretization/4C_fem_discretization_utils_dbc.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Generalize our MPI all_gather
  src/beaminteraction/4C_beaminteraction_submodel_evaluator_potential.cpp
  src/core/comm/src/4C_comm_mpi_utils.hpp
  src/core/comm/tests/4C_comm_mpi_utils_test.cpp
  src/core/comm/tests/CMakeLists.txt
  src/scatra/4C_scatra_timint_elch_scl.cpp
  src/ssi/4C_ssi_utils.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Change the (unused) use of material damping in the new time integration to match the old timint
  src/structure_new/src/explicit/4C_structure_new_expl_ab2.cpp
  src/structure_new/src/explicit/4C_structure_new_expl_abx.cpp
  src/structure_new/src/explicit/4C_structure_new_expl_centrdiff.cpp
  src/structure_new/src/explicit/4C_structure_new_expl_forwardeuler.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_genalpha.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_genalpha_liegroup.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_ost.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
  tests/input_files/beam3eb_backweuler_browndyn_singlefil.dat
  tests/input_files/beam3eb_genalpha_BTB_contact_elstat_attraction_twocrossedbeams.dat
  tests/input_files/beam3eb_genalpha_BTB_contact_elstat_attraction_twocrossedbeams_FAD.dat
  tests/input_files/beam3eb_genalpha_BTSPH_contact_elstat_attraction.dat
  tests/input_files/contact2D_nurbs9_std_new_struc.dat
  tests/input_files/fbi_fluid_obstacle.dat
  tests/input_files/fbi_meshtying_bmat.dat
  tests/input_files/fbi_meshtying_smat.dat
  tests/input_files/fbi_mortar_twoway_obstacle.dat
  tests/input_files/fbi_twoway_obstacle.dat
  tests/input_files/meshtying2D_nurbs9_dual.dat
  tests/input_files/meshtying2D_nurbs9_dual_new_struct.dat
  tests/input_files/new_solidporo_pressure_velocity_based_ele_3D_hex27_new_struc.dat
  tests/input_files/poro_2D_quad9_new_struc.dat
  tests/input_files/poro_3D_hex27_new_struc.dat
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Make (Un)PackBuffer take types having (un)pack
  src/core/comm/src/4C_comm_pack_helpers.cpp
  src/core/comm/src/4C_comm_pack_helpers.hpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_matchingoctree.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_eas.cpp
  src/solid_3D_ele/4C_solid_3D_ele_interface_serializable.hpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_calc.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add geev, matrix exponential and logarithm
  src/core/linalg/CMakeLists.txt
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_eigen.hpp
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_exp_log.cpp
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_exp_log.hpp
  src/core/linalg/tests/4C_linalg_utils_densematrix_eigen_test.cpp
  src/core/linalg/tests/4C_linalg_utils_densematrix_exp_log_test.cpp
  src/core/linalg/tests/CMakeLists.txt
  src/mat/4C_mat_plastic_VarConstUpdate.cpp
  src/mat/4C_mat_plastic_VarConstUpdate.hpp
  src/mat/4C_mat_plasticelasthyper.cpp
  src/mat/4C_mat_plasticelasthyper.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update README for GitHub
  README.md
Due: none

Fix Pack- and UnpackActions
  src/solid_3D_ele/4C_solid_3D_ele_interface_serializable.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix typos in README.md
  README.md
Due: none

Contributions must follow good research practice
  CONTRIBUTING.md
Due: none

Make input files hierarchical
  cmake/functions/four_c_add_googletest_executable.cmake
  src/core/io/src/4C_io_inputreader.cpp
  src/core/io/src/4C_io_inputreader.hpp
  src/core/io/tests/4C_io_inputreader_test.cpp
  src/core/io/tests/CMakeLists.txt
  src/core/io/tests/test_files/cyclic_includes/cycle1.dat
  src/core/io/tests/test_files/cyclic_includes/cycle2.dat
  src/core/io/tests/test_files/has_includes/folder1/include1a.dat
  src/core/io/tests/test_files/has_includes/folder1/include1b.dat
  src/core/io/tests/test_files/has_includes/folder2/include2.dat
  src/core/io/tests/test_files/has_includes/folder3/include3.dat
  src/core/io/tests/test_files/has_includes/main.dat
  src/core/io/tests/test_files/test1.dat
  src/core/utils/src/string_utils/4C_utils_string.cpp
  src/core/utils/src/string_utils/4C_utils_string.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars
