Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        name: Format C/C++
        # Only use on C and C++ files and not on other files that clang could format (e.g. json).
        types_or: [c++, c]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format cmake
        args: [--config, utilities/code_checks/.cmake-format.yaml, --in-place]
        additional_dependencies: [pyyaml>=5.1]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        name: Format python

  - repo: https://github.com/pamoller/xmlformatter
    rev: v0.2.6
    hooks:
      - id: xml-formatter
        name: Format xml
        args: [--indent, '2', --indent-char, ' ', --selfclose, --overwrite]
        # Only run on "pure" XML files and not on files that internally use XML (e.g. svg)
        files: \.xml$

  - repo: https://github.com/google/yamlfmt
    rev: v0.12.1
    hooks:
      - id: yamlfmt
        name: Format yaml
        args: [-conf, utilities/code_checks/.yamlfmt.yaml]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        # Do not modify reference vtu files, since we generate these and do not hand-edit them.
        exclude: 'vtu$'
      - id: no-commit-to-branch
        name: Don't commit to main

  - repo: local
    hooks:
      - id: check-venv-up-to-date
        name: Python virtual environment is up to date
        language: system
        entry: ./utilities/code_checks/check_venv
        always_run: true
        pass_filenames: false
        fail_fast: true

      - id: cpp-header
        name: C++ file headers
        description: 'Check that all C++ files have the correct header'
        language: system
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-file-header

      - id: cpp-filename-includes
        name: C++ file names and include style
        description: 'Check that all C++ files have the correct file name and include style'
        language: system
        types_or: [c++, c]
        exclude: 'tests/cut_test/'
        entry: utilities/python-venv/bin/check-filenames-and-includes
        args: ['--paths', 'src/', 'unittests/', 'apps/', '--files']

      - id: cpp-include-guard
        name: Include guards
        description: 'Check that all C++ files have the correct include guards'
        language: python
        types_or: [c++, c]
        files: '\.(h|hpp)$'
        entry: utilities/python-venv/bin/check-header-guards

      - id: cpp-preprocessor
        name: C++ preprocessor directives
        description: 'Check that all C++ files only use acceptable preprocessor directives'
        language: python
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-preprocessor

      - id: codeowners
        name: Inclusion in CODEOWNERS file
        description: 'Check that files are listed in CODEOWNERS file'
        language: python
        entry: utilities/python-venv/bin/check-codeowners

      - id: input-files
        name: Test input files
        description: 'Check input files conform to expectations'
        language: python
        files: 'tests/input_files/.*\.dat$'
        entry: utilities/python-venv/bin/check-test-files

      - id: non-ascii-chars
        name: Non-ASCII characters
        language: system
        exclude_types: [markdown, rst]
        entry: ./utilities/code_checks/check_non_ascii_chars

Wire AEI to vplast. material
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.cpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.hpp
  src/mat/vplast/4C_mat_vplast_law.cpp
  src/mat/vplast/4C_mat_vplast_law.hpp
  tests/input_files/mat_iso_thermoviscoplast_refJC_log_timint_tsi_monolithic.4C.yaml
  tests/input_files/mat_iso_thermoviscoplast_refJC_log_timint_tsi_partitioned.4C.yaml
  tests/input_files/mat_iso_viscoplast_refJC_adaptive_estimate_interp_equiv_stress_history.4C.yaml
  tests/input_files/mat_iso_viscoplast_refJC_adaptive_estimate_interp_equiv_stress_history_single_step.4C.yaml
  tests/input_files/mat_iso_viscoplast_refJC_adaptive_estimate_interp_equiv_stress_history_use_previous_hardening.4C.yaml
  tests/input_files/mat_iso_viscoplast_refJC_adaptive_estimate_interp_user_set_starting_point.4C.yaml
  tests/input_files/mat_iso_viscoplast_refJC_adaptive_estimate_interp_user_set_starting_point_single_step.4C.yaml
  tests/input_files/mat_iso_viscoplast_refJC_log_timint.4C.yaml
  tests/input_files/mat_iso_viscoplast_refJC_log_timint_substepping.4C.yaml
  tests/input_files/mat_transviso_viscoplast_refJC_log_timint.4C.yaml
  tests/input_files/mat_transviso_viscoplast_refJC_standard_timint.4C.yaml
  tests/list_of_tests.cmake
  unittests/mat/4C_inelastic_defgrad_factors_service_test.cpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Sync fork with upstream workflow
  .github/workflows/sync-fork.yml
Due: non-ascii-chars

Add rebase branch workflow
  .github/workflows/rebase-branch.yml
Due: non-ascii-chars

Add placeholder for Windows workflow
  .github/workflows/windows.yml
Due: non-ascii-chars

Fix precommit for Darwin
  utilities/code_checks/check_non_ascii_chars
Due: non-ascii-chars

Move pre-commit stuffs to unix folder
  .pre-commit-config.unix.yaml
  utilities/code_checks/unix/check_non_ascii_chars
  utilities/code_checks/unix/check_venv
  utilities/code_checks/unix/commit-msg
  utilities/set_up_dev_env.sh
Due: non-ascii-chars

Add Windows pre-commit stuff
  .pre-commit-config.windows.yaml
  utilities/code_checks/windows/check_non_ascii_chars.bat
  utilities/code_checks/windows/check_venv.bat
  utilities/code_checks/windows/commit-msg.bat
  utilities/four_c_python/README.md
  utilities/four_c_python/src/four_c_precommit/check_non_ascii_chars.py
  utilities/four_c_python/src/four_c_precommit/commit-msg.py
  utilities/set_up_dev_env.bat
Due: non-ascii-chars

Handle FE trapping for macos
  apps/global_full/4C_global_full_main.cpp
  src/core/utils/src/numerics/4C_utils_fenv.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linesearch_backtrack.cpp
  src/structure/4C_structure_timint_impl.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add windows testing workflow
  .github/workflows/windows.yml
  CMakePresets.json
  cmake/configure/configure_MPI.cmake
  cmake/configure/configure_Python.cmake
  cmake/configure/configure_ryml.cmake
  cmake/functions/four_c_testing_functions.cmake
  dependencies/windows/.gitattributes
  dependencies/windows/boost/install.bat
  dependencies/windows/cln/install.bat
  dependencies/windows/compile_dependencies.ps1
  dependencies/windows/fftw/install.bat
  dependencies/windows/hdf5/install.bat
  dependencies/windows/lapack/install.bat
  dependencies/windows/msmpi/install.ps1
  dependencies/windows/netcdf/install.bat
  dependencies/windows/parmetis/fixes.patch
  dependencies/windows/parmetis/install.bat
  dependencies/windows/prepare_system.ps1
  dependencies/windows/qhull/install.bat
  dependencies/windows/suitesparse/install.bat
  dependencies/windows/superlu_dist/fixes.patch
  dependencies/windows/superlu_dist/install.bat
  dependencies/windows/trilinos/fixes.patch
  dependencies/windows/trilinos/install.bat
  dependencies/windows/zlib/install.bat
  presets/windows/CMakePresets.json
  tests/install_test/CMakeLists.txt.in
  tests/list_of_tests.cmake
Due: non-ascii-chars

Add if statement to check for Teko list
  src/beaminteraction/src/4C_beaminteraction_str_model_evaluator.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Cleanup predictor state handling
  src/structure_new/src/implicit/4C_structure_new_timint_implicit.cpp
  src/structure_new/src/implicit/4C_structure_new_timint_implicit.hpp
  src/structure_new/src/predict/4C_structure_new_predict_constdisvelaccpress.hpp
  src/structure_new/src/predict/4C_structure_new_predict_generic.cpp
  src/structure_new/src/predict/4C_structure_new_predict_generic.hpp
  src/structure_new/src/predict/4C_structure_new_predict_tangdis.cpp
  src/structure_new/src/predict/4C_structure_new_predict_tangdis.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor PredEnum to enum class PredictorType
  src/contact/src/4C_contact_paramsinterface.hpp
  src/fpsi/4C_fpsi_monolithic.cpp
  src/ssi/4C_ssi_partitioned.cpp
  src/stru_multi/4C_stru_multi_microstatic.cpp
  src/stru_multi/4C_stru_multi_microstatic.hpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint_genalpha.cpp
  src/structure/4C_structure_timint_impl.cpp
  src/structure/4C_structure_timint_impl.hpp
  src/structure/4C_structure_timint_statics.cpp
  src/structure_new/src/4C_structure_new_timint_basedatasdyn.cpp
  src/structure_new/src/4C_structure_new_timint_basedatasdyn.hpp
  src/structure_new/src/implicit/4C_structure_new_impl_statics.cpp
  src/structure_new/src/implicit/4C_structure_new_timint_implicit.cpp
  src/structure_new/src/input/4C_structure_new_input.cpp
  src/structure_new/src/input/4C_structure_new_input.hpp
  src/structure_new/src/predict/4C_structure_new_predict_constdisvelaccpress.cpp
  src/structure_new/src/predict/4C_structure_new_predict_factory.cpp
  src/structure_new/src/predict/4C_structure_new_predict_factory.hpp
  src/structure_new/src/predict/4C_structure_new_predict_generic.cpp
  src/structure_new/src/predict/4C_structure_new_predict_generic.hpp
  src/structure_new/src/predict/4C_structure_new_predict_tangdis.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove predictor type from params interface
  src/contact/src/4C_contact_paramsinterface.hpp
  src/structure_new/src/4C_structure_new_elements_paramsinterface.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
  src/structure_new/src/predict/4C_structure_new_predict_tangdis.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Integrate review
  src/structure_new/src/4C_structure_new_timint_basedataglobalstate.cpp
  src/structure_new/src/4C_structure_new_timint_basedataglobalstate.hpp
  src/structure_new/src/4C_structure_new_timint_basedatasdyn.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.cpp
  src/structure_new/src/predict/4C_structure_new_predict_factory.cpp
  src/structure_new/src/predict/4C_structure_new_predict_factory.hpp
  src/structure_new/src/predict/4C_structure_new_predict_generic.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove is_predictor_state from model evaluator
  src/contact/src/4C_contact_paramsinterface.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Cleanup predictor construction
  src/structure_new/src/predict/4C_structure_new_predict_factory.cpp
  src/structure_new/src/predict/4C_structure_new_predict_factory.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Stop passing of predict_type in model evaluators
  src/beaminteraction/src/4C_beaminteraction_str_model_evaluator.hpp
  src/browniandyn/4C_browniandyn_str_model_evaluator.hpp
  src/cardiovascular0d/4C_cardiovascular0d_structure_new_model_evaluator.hpp
  src/constraint_framework/4C_constraint_framework_model_evaluator.cpp
  src/constraint_framework/4C_constraint_framework_model_evaluator.hpp
  src/fsi/src/partitioned/model_evaluator/4C_fsi_str_model_evaluator_partitioned.hpp
  src/pasi/4C_pasi_str_model_evaluator_partitioned.hpp
  src/ssi/4C_ssi_str_model_evaluator_base.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_contact.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_generic.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_lagpenconstraint.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_manager.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_manager.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_meshtying.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_multiscale.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_springdashpot.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.hpp
  src/structure_new/src/predict/4C_structure_new_predict_constdisvelaccpress.cpp
  src/structure_new/src/predict/4C_structure_new_predict_python_wrapper.cpp
  src/structure_new/src/predict/4C_structure_new_predict_tangdis.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add block triangular modified AL preconditioner
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_teko.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_teko.hpp
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_cube_augmented_block_preconditioner.4C.yaml
  tests/input_files/xml/block_preconditioner/beam_solid_modified_AL.xml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove some ThermoPlasticLinElast casts
  src/mat/4C_mat_thermoplasticlinelast.cpp
  src/mat/4C_mat_thermoplasticlinelast.hpp
  src/thermo/src/element/4C_thermo_ele_impl.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused materials in input files
  tests/input_files/f3_womersley.4C.yaml
  tests/input_files/fsi_ves_mono_mtrfs_ost_ost_slidcurr.4C.yaml
  tests/input_files/fsi_ves_mono_mtrfs_ost_ost_slidrot.4C.yaml
  tests/input_files/fsi_ves_mono_mtrss_ost_ost_slidcurr.4C.yaml
  tests/input_files/fsi_ves_mono_mtrss_ost_ost_slidrot.4C.yaml
  tests/input_files/lubrication_sb_2d.4C.yaml
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_twosided_new_struc_vplast.4C.yaml
  tests/input_files/rve2d_periodic_bcs.4C.yaml
  tests/input_files/tsi_geonln_simplrocketnozzle_monolithic.4C.yaml
  tests/input_files/tsi_simplrocketnozzle_monolithic.4C.yaml
  tests/input_files/tsi_simplrocketnozzle_monolithic_muelu.4C.yaml
Due: non-ascii-chars

Fix kss assembly (see comment)
  src/contact/src/4C_contact_lagrange_strategy_tsi.cpp
  tests/input_files/tsi_contact3D_mortar_symmetry.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix normal pressure on 2D solid lines
  src/global_legacy_module/4C_global_legacy_module_validconditions.cpp
  src/solid_ele/4C_solid_ele.hpp
  src/solid_ele/4C_solid_ele_line.cpp
  src/solid_ele/4C_solid_ele_neumann_evaluator.cpp
  src/solid_ele/4C_solid_ele_neumann_evaluator.hpp
  src/solid_ele/4C_solid_ele_surface.hpp
  src/solid_ele/4C_solid_ele_surface_evaluate.cpp
  tests/input_files/solid_ele_quad9_plane_strain_orthopressure.4C.yaml
  tests/list_of_tests.cmake
  unittests/solid_ele/4C_solid_ele_neumann_evaluator_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move spring dashpot manager to vtk
  apps/post_processor/4C_post_processor_single_field_writers.cpp
  src/constraint/4C_constraint_springdashpot.cpp
  src/constraint/4C_constraint_springdashpot_manager.cpp
  src/constraint/4C_constraint_springdashpot_manager.hpp
  src/structure/4C_structure_timint.cpp
  tests/input_files/ref/spring_dashpot_sohex8_old-vtk/xxx-structure-springdashpot.pvd
  tests/input_files/ref/spring_dashpot_sohex8_old-vtk/xxx-vtk-files/structure-springdashpot-00005-0.vtu
  tests/input_files/ref/spring_dashpot_sohex8_old-vtk/xxx-vtk-files/structure-springdashpot-00005-1.vtu
  tests/input_files/ref/spring_dashpot_sohex8_old-vtk/xxx-vtk-files/structure-springdashpot-00005.pvtu
  tests/input_files/spring_dashpot_sohex8_old.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix if condition
  src/beam3/src/4C_beam3_reissner.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove print "processor n finished normally" again
  apps/global_full/4C_global_full_main.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Refactor is_predictor_state flag
  src/structure_new/src/implicit/4C_structure_new_impl_genalpha.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_genalpha_liegroup.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_generic.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_generic.hpp
  src/structure_new/src/implicit/4C_structure_new_impl_ost.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_statics.cpp
  src/structure_new/src/predict/4C_structure_new_predict_generic.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix block information selection
  src/core/linear_solver/src/method/4C_linear_solver_method_parameters.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Use interface node row maps
  src/contact/src/4C_contact_lagrange_strategy_tsi.cpp
  src/contact/src/4C_contact_tsi_interface.cpp
  src/contact/src/4C_contact_tsi_interface.hpp
  tests/input_files/tsi_contact3D_multiple_interfaces.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove MAT_PlasticElastHyper(VCU)
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.hpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_material_factory.cpp
  src/mat/4C_mat_plastic_VarConstUpdate.cpp
  src/mat/4C_mat_plastic_VarConstUpdate.hpp
  src/mat/4C_mat_plasticelasthyper.cpp
  src/mat/4C_mat_plasticelasthyper.hpp
  src/thermo/src/element/4C_thermo_ele_impl.cpp
  src/tsi/4C_tsi_input.hpp
  tests/input_files/plastic_necking_fbar_vcu.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Modify material output in MAT_ConstraintMixture
  src/mat/4C_mat_constraintmixture.cpp
  src/mat/4C_mat_constraintmixture.hpp
  tests/input_files/mat_constraintmixture.4C.yaml
  tests/input_files/ref/mat_constraintmixture/mat_constraintmixture-structure.pvd
  tests/input_files/ref/mat_constraintmixture/vtk-files/structure-00015-0.vtu
  tests/input_files/ref/mat_constraintmixture/vtk-files/structure-00015-1.vtu
  tests/input_files/ref/mat_constraintmixture/vtk-files/structure-00015.pvtu
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Improve how matrix is set for inactive LM
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_mortar_manager.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update MIRCO hash in 4C
  cmake/configure/configure_MIRCO.cmake
Due: non-ascii-chars

Fix clangcuda++ logic for ccache
  .github/workflows/buildtest_kokkosparallel.yml
  apps/global_full/CMakeLists.txt
  cmake/configure/configure_MIRCO.cmake
  cmake/configure/configure_Trilinos.cmake
  cmake/functions/four_c_set_clangcuda_mode.cmake
  utilities/clangcuda++
Due: non-ascii-chars

Fix typos in installation documentation
  doc/documentation/src/installation/installation.rst
Due: none

Make comment more concise
  .github/workflows/buildtest_kokkosparallel.yml
Due: non-ascii-chars

Remove group from FSI::Monolithic*::create_status_test()
  src/fsi/src/monolithic/4C_fsi_monolithic.cpp
  src/fsi/src/monolithic/4C_fsi_monolithic.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicfluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicfluidsplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicstructuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicstructuresplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit_sp.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit_sp.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_structuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_structuresplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_fluidsplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_structuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_structuresplit.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars
