Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Add optional yaml-cpp dependency
  CMakeLists.txt
  cmake/configure/configure_yaml-cpp.cmake
  cmake/functions/four_c_configure_dependency.cmake
Due: non-ascii-chars

Basic yaml support for input files
  src/core/io/src/4C_io_inputreader.cpp
  src/core/io/src/4C_io_inputreader.hpp
  src/core/io/tests/4C_io_inputreader_test.cpp
  src/core/io/tests/test_files/yaml/basic.yml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enable INLCUDES section for yaml files
  src/core/io/src/4C_io_inputreader.cpp
  src/core/io/src/4C_io_inputreader.hpp
  src/core/io/tests/4C_io_inputreader_test.cpp
  src/core/io/tests/test_files/yaml_includes/included.dat
  src/core/io/tests/test_files/yaml_includes/included.yaml
  src/core/io/tests/test_files/yaml_includes/main.yaml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update docs of Core::IO::InputFile for yaml
  apps/global_full/4C_global_full_inp_control.cpp
  apps/pre_exodus/4C_pre_exodus_validate.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_constitutivelaw_definition.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_constitutivelaw_definition.hpp
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.hpp
  src/core/fem/src/discretization/4C_fem_discretization.hpp
  src/core/io/src/4C_io_dat_file_utils.cpp
  src/core/io/src/4C_io_dat_file_utils.hpp
  src/core/io/src/4C_io_domainreader.cpp
  src/core/io/src/4C_io_domainreader.hpp
  src/core/io/src/4C_io_elementreader.cpp
  src/core/io/src/4C_io_elementreader.hpp
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/src/4C_io_linedefinition.cpp
  src/core/io/src/4C_io_linedefinition.hpp
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/src/4C_io_meshreader.hpp
  src/core/io/src/4C_io_nodereader.cpp
  src/core/io/src/4C_io_nodereader.hpp
  src/core/io/tests/4C_io_input_file_test.cpp
  src/core/io/tests/CMakeLists.txt
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/core/utils/src/functions/4C_utils_function_manager.hpp
  src/core/utils/src/result_test/4C_utils_result_test.hpp
  src/global_data/4C_global_data.hpp
  src/global_data/4C_global_data_read.cpp
  src/global_data/4C_global_data_read.hpp
  src/mat/4C_mat_materialdefinition.cpp
  src/mat/4C_mat_materialdefinition.hpp
  src/particle_engine/4C_particle_engine_particlereader.cpp
  src/particle_engine/4C_particle_engine_particlereader.hpp
  src/ssi/4C_ssi_base.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add file ending to tests
  cmake/functions/four_c_testing_functions.cmake
  tests/list_of_tests.cmake
Due: non-ascii-chars

Fix postprocessing tests
  cmake/functions/four_c_testing_functions.cmake
Due: non-ascii-chars

Fix bug in load linearization matrix of shell7p
  src/shell7p/4C_shell7p_ele_neumann_evaluator.cpp
  tests/input_files/shell7p_cylinder_nonlinear_orthopressure_incompressible_quad4.dat
  tests/input_files/shell7p_cylinder_nonlinear_orthopressure_incompressible_quad9.dat
  tests/input_files/shell7p_cylinder_nonlinear_orthopressure_incompressible_tri3.dat
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Update SCATRA_FILENAME in input files
  tests/input_files/solidscatra_electromecha_1wc_myocardMV_ActiveStress_tet4_2.dat
  tests/input_files/solidscatra_electromecha_1wc_myocardMV_ActiveStress_tet4_hdg_2.dat
  tests/input_files/ssi_1wc_membrane_active_strain_scatrafromrestart_vol_matching.dat
  tests/input_files/ssi_1wc_membrane_active_strain_scatrafromrestart_vol_nonmatching.dat
Due: input-files, non-ascii-chars

Update boost on lnm bruteforce
  presets/lnm/cluster/CMakePresets.json
Due: non-ascii-chars

Remove unnecessary boost includes
  src/cut/4C_cut_sorted_vector.hpp
  unittests/matelast/4C_elast_coupanisoexpo_elementfibers_test.cpp
  unittests/matelast/4C_elast_coupanisoexpo_gausspointfibers_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add L2 displacement error norm and integral computations for solid elements
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_element_actions.hpp
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_structure.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib.hpp
  src/solid_3D_ele/4C_solid_3D_ele_evaluate.cpp
  src/structure_new/src/4C_structure_new_integrator.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.hpp
  src/structure_new/src/utils/4C_structure_new_error_evaluator.cpp
  src/structure_new/src/utils/4C_structure_new_error_evaluator.hpp
  tests/input_files/error_analytical_beam_cantilever_end_surface_load_with_poissons_effect.csv
  tests/input_files/error_analytical_beam_cantilever_end_surface_load_with_poissons_effect.dat
  tests/input_files/error_analytical_beam_cantilever_with_bodyload_without_poissons_effect.csv
  tests/input_files/error_analytical_beam_cantilever_with_bodyload_without_poissons_effect.dat
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Add case GenAlphaLieGroup
  src/mortar/4C_mortar_strategy_base.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_genalpha_liegroup.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add test case for GenAlphaLiegroup with mortar
  tests/input_files/contact3D_lin_penalty_genalphaliegroup.dat
  tests/list_of_tests.cmake
Due: input-files, non-ascii-chars

Move dat file helpers to Core::IO::InputFileUtils
  apps/create_rtdfiles/4C_create_rtdfiles_utils.cpp
  apps/global_full/4C_global_full_main.cpp
  apps/pre_exodus/4C_pre_exodus.cpp
  src/core/io/src/4C_io_dat_file_utils.cpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_file_utils.hpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/global_data/4C_global_data.cpp
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_validcontactconstitutivelaw.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/inpar/4C_inpar_validparameters.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix point coupling on multiple procs
  src/beaminteraction/4C_beaminteraction_beam_to_beam_point_coupling_pair_condition.cpp
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Allow to dump 4C_parameters_metadata.yaml
  apps/global_full/4C_global_full_main.cpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_file_utils.hpp
  src/core/io/tests/4C_io_input_file_utils_test.cpp
  src/core/io/tests/CMakeLists.txt
  src/inpar/4C_inpar_validparameters.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Bump ArborX to 1.7
  cmake/configure/configure_ArborX.cmake
  src/core/fem/src/geometric_search/4C_fem_geometric_search_bounding_volume.hpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_utils.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enable nitpicky and warning-free readthedocs build
  doc/readthedocs/4Csetup.rst
  doc/readthedocs/CMakeLists.txt
  doc/readthedocs/elementtypes.rst
  doc/readthedocs/introduction_solvers.rst
  tests/framework-test/tutorial_contact_3d.md
Due: non-ascii-chars

Use absolute and relative comparison when creating KDOP visualization
  src/core/fem/src/geometric_search/4C_fem_geometric_search_utils.cpp
  src/core/fem/tests/geometric_search/4C_geometric_search_test.cpp
  tests/input_files/ref/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact_boundingvolume-vtk/vtk-files/beam-interaction-geometric-search-00004-0.vtu
  tests/input_files/ref/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact_boundingvolume-vtk/vtk-files/beam-interaction-geometric-search-00004-1.vtu
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add crosslinking filament type none
  src/beam3/4C_beam3_base.cpp
  src/beaminteraction/4C_beaminteraction_submodel_evaluator_crosslinking.cpp
  src/inpar/4C_inpar_beaminteraction.hpp
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_crosslinking_beam3rline2_additional_fixed_crosslink.dat
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove obsolete scatra and elch post processing
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_electrolyte.csv
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_electrolyte_microdis1_el10_gp1.csv
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_electrolyte_microdis2_el25_gp0.csv
  tests/input_files/scatra_1D_line2_diffnumdof.csv
  tests/input_files/scatra_1D_line2_multiscale_constperm_macro.csv
  tests/input_files/scatra_1D_line2_multiscale_constperm_macro_microdis1_el4_gp1.csv
  tests/input_files/scatra_1D_line2_multiscale_constperm_macro_microdis2_el5_gp0.csv
  tests/list_of_tests.cmake
Due: non-ascii-chars

Fix typo in clang-tidy preset
  presets/docker/CMakePresets.json
  src/core/fem/src/discretization/4C_fem_discretization_hdg.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Pack/unpack: remove special treatment of double
  src/contact/4C_contact_rough_node.cpp
  src/core/comm/src/4C_comm_pack_helpers.cpp
  src/core/comm/src/4C_comm_pack_helpers.hpp
  src/immersed_problem/4C_immersed_problem_immersed_base.hpp
  src/mat/4C_mat_plasticelasthyper.cpp
  src/mortar/4C_mortar_element.cpp
  src/mortar/4C_mortar_node.cpp
  src/particle_rigidbody/4C_particle_rigidbody.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Clean up and extend MPI utils
  src/beaminteraction/4C_beaminteraction_submodel_evaluator_potential.cpp
  src/core/comm/src/4C_comm_mpi_utils.hpp
  src/core/comm/tests/4C_comm_mpi_utils_test.cpp
  src/core/comm/tests/CMakeLists.txt
  src/core/io/src/4C_io_input_file.cpp
  src/scatra/4C_scatra_timint_elch_scl.cpp
  src/ssi/4C_ssi_utils.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix wrong overloads picked in Pack/Unpack
  src/core/comm/src/4C_comm_pack_buffer.hpp
  src/core/comm/src/4C_comm_pack_helpers.hpp
  src/core/comm/tests/4C_comm_pack_unpack_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Split python venv in develop and build/test
  CMakeLists.txt
  cmake/functions/four_c_testing_functions.cmake
  cmake/python/requirements.txt
  cmake/python/set_up_python.cmake
  utilities/requirements.txt
Due: non-ascii-chars

Use build/test venv for readthedocs
  CMakeLists.txt
  cmake/python/requirements.txt
  doc/readthedocs/CMakeLists.txt
  doc/readthedocs/cmake/FindSphinx.cmake
  utilities/requirements.txt
Due: non-ascii-chars

Add PotentiallyUnusedBufferScope
  src/core/comm/src/4C_comm_pack_buffer.hpp
  src/mat/4C_mat_elasthyper.cpp
  src/mat/4C_mat_elchmat.cpp
  src/mat/4C_mat_elchphase.cpp
  src/mat/4C_mat_growthremodel_elasthyper.cpp
  src/mat/4C_mat_mixture.cpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.cpp
  src/mat/4C_mat_viscoelasthyper.cpp
  src/matelast/4C_matelast_remodelfiber.cpp
  src/mixture/4C_mixture_constituent_elasthyper_elastin_membrane.cpp
  src/mixture/4C_mixture_constituent_elasthyperbase.cpp
  src/mixture/4C_mixture_constituent_solidmaterial.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add json schema utility
  utilities/create_json_schema.py
Due: non-ascii-chars

Generate 4C_schema.json post build of 4C
  CMakeLists.txt
  apps/global_full/CMakeLists.txt
Due: non-ascii-chars

Replace simple .dat input file with .yaml file
  tests/input_files/solid_ele_hex8_Standard_eas_none_stressout.4C.yaml
  tests/input_files/solid_ele_hex8_Standard_eas_none_stressout.dat
  tests/list_of_tests.cmake
Due: input-files, non-ascii-chars

Fix warning for unused sections in input file
  src/core/io/src/4C_io_input_file.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update cmake version in documentation to 3.30.5
  README.md
  doc/readthedocs/4Csetup.rst
Due: none

Remove unnecessary dumps
  src/core/io/tests/4C_io_input_file_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Test strip_comment function
  src/core/utils/tests/string_utils/4C_utils_string_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
