Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Replace ml_multiply with matrix_multiply in fsi
  src/fsi/src/monolithic/linear_solver/4C_fsi_lung_overlapprec.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicfluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicstructuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_structuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_structuresplit.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Replace ml_mul with matrix_multiply in poroelast
  src/poroelast/4C_poroelast_monolithicsplit_nopenetration.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Replace ml_multiply with matrix_multiply in ale
  src/ale/4C_ale_meshsliding.cpp
  src/ale/4C_ale_meshtying.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove unused header
  src/mortar/4C_mortar_utils.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Replace ml_multiply with matrix_multiply in scatra
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add uids to beam potential runtime output
  src/beaminteraction/4C_beaminteraction_potential_runtime_visualization_output_params.cpp
  src/beaminteraction/4C_beaminteraction_potential_runtime_visualization_output_params.hpp
  src/beaminteraction/4C_beaminteraction_submodel_evaluator_potential.cpp
  src/inpar/4C_inpar_beampotential.cpp
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff.dat
  tests/input_files/ref/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff-potential-vtk-files/beam-potential-00005-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff-potential-vtk-files/beam-potential-00005-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff-potential-vtk-files/beam-potential-00005.pvtu
  tests/input_files/ref/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff-potential-vtk-files/beam-potential-00010-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff-potential-vtk-files/beam-potential-00010-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff-potential-vtk-files/beam-potential-00010.pvtu
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Fix some edge case solver sections
  tests/input_files/fps3i_reaction.dat
  tests/input_files/fpsi_bending_struct.dat
  tests/input_files/fs3i_part_1wc_finperm.dat
  tests/input_files/fs3i_part_1wc_infperm.dat
  tests/input_files/fsi_ves_mono_mtrfs_ost_ost_slidrot.dat
Due: input-files, non-ascii-chars

Rename un_pack to unpack
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/fem/src/discretization/4C_fem_discretization.hpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_matchingoctree.cpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_matchingoctree.hpp
  src/core/io/src/4C_io.cpp
  src/post/4C_post_common.cpp
  src/structure/4C_structure_timint.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move inpar_mod to cardiovascular0d
  src/inpar/4C_inpar_cardiovascular0d.cpp
  src/inpar/4C_inpar_mor.cpp
  src/inpar/4C_inpar_mor.hpp
  src/inpar/4C_inpar_validparameters.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix value of thermo scatra node
  tests/input_files/sti_mono_3D_tet4_elch_s2i_butlervolmerpeltier_adiabatic_mortar_standard.dat
Due: input-files, non-ascii-chars

Move mor_pod into namespace of cardiovascular0D
  src/cardiovascular0d/4C_cardiovascular0d_dofset.cpp
  src/cardiovascular0d/4C_cardiovascular0d_dofset.hpp
  src/cardiovascular0d/4C_cardiovascular0d_manager.cpp
  src/cardiovascular0d/4C_cardiovascular0d_manager.hpp
  src/cardiovascular0d/4C_cardiovascular0d_mor_pod.cpp
  src/cardiovascular0d/4C_cardiovascular0d_mor_pod.hpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix integration on beam surface
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_2d-3d_full.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_2d-3d_plane.cpp
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_circ_curved_restart_second.dat
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_circ_restart_second.dat
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_hex27_cross_section_projection_penalty_bending.dat
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_hex27_cross_section_projection_penalty_patch.dat
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d.dat
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_rotational_coupling_circ.dat
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Move nox jacobian files
  src/fsi/src/partitioned/nonlinear_solver/4C_fsi_nox_jacobian.cpp
  src/fsi/src/partitioned/nonlinear_solver/4C_fsi_nox_jacobian.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Replace ml_mul w. matrix_mul in beaminteraction
  src/beaminteraction/4C_beaminteraction_beam_to_solid_mortar_manager.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Replace ml_mul w. matrix_mul in core/linear_solver
  src/core/linear_solver/src/amgnxn/4C_linear_solver_amgnxn_hierarchies.cpp
  src/core/linear_solver/src/amgnxn/4C_linear_solver_amgnxn_smoothers.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_cheapsimple.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Replace ml_mult with matrix_mult in core/condition
  src/core/fem/src/condition/4C_fem_condition_locsys.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix scatra nodes due to matrix_multiply change
  tests/input_files/elch_Kwok_Wu.dat
  tests/input_files/elch_Kwok_Wu_BDF2.dat
Due: input-files, non-ascii-chars

Fix ASAN pipeline, move beam potential output
  src/beaminteraction/4C_beaminteraction_submodel_evaluator_potential.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove PreconditionedKrylov preconditioner
  src/fpsi/4C_fpsi_monolithic_plain.cpp
  src/fsi/src/monolithic/4C_fsi_monolithic.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec_fsiamg.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec_fsiamg.hpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec_fsiamg_smoothers.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec_fsiamg_vcycles.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_free_surface_monolithic.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicfluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_structuresplit.cpp
  src/poroelast/4C_poroelast_monolithicfluidsplit.cpp
  tests/input_files/fsci_simp_salz_syst.dat
  tests/input_files/fsci_simp_salz_syst_preconditioner.xml
  tests/input_files/fsi_dc_mono_ss_ada_halvestep.dat
  tests/input_files/tfsi_plate.dat
  tests/input_files/xffsi_monolithic_fs_nox_1D_partAle_pullstr.dat
  tests/input_files/xffsi_monolithic_fs_rotating_beam.dat
  tests/input_files/xffsi_monolithic_fs_stat_channel_fixedale_partitioned_edgebased.dat
  tests/input_files/xffsi_monolithic_fs_stat_channel_fixedale_partitioned_resbased.dat
  tests/input_files/xffsi_monolithic_ss_1D_interpAle_fixedstr_moreelements.dat
  tests/input_files/xffsi_monolithic_ss_1D_interpAle_inflow_fixedstr.dat
  tests/input_files/xffsi_monolithic_ss_1D_partAle_pullstr.dat
  tests/input_files/xffsi_monolithic_ss_evp_rotating_beam.dat
  tests/input_files/xffsi_monolithic_ss_nox_1D_interpAle_fixedstr_moreelements.dat
  tests/input_files/xffsi_monolithic_ss_nox_1D_interpAle_inflow_fixedstr.dat
  tests/input_files/xffsi_monolithic_ss_nox_1D_interpAle_inflow_freestr.dat
  tests/input_files/xffsi_monolithic_ss_nox_1D_partAle_pullstr.dat
  tests/input_files/xffsi_monolithic_ss_nox_bending_2D.dat
  tests/input_files/xffsi_monolithic_ss_rotating_beam.dat
  tests/input_files/xffsi_monolithic_ss_stat_channel_fixedale_partitioned_edgebased.dat
  tests/input_files/xffsi_monolithic_ss_stat_channel_fixedale_partitioned_resbased.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Preserve test goal despite change in solver
  tests/input_files/fsi_dc_mono_ss_ada_halvestep.dat
Due: input-files, non-ascii-chars

Remove redundant clang-tidy specs
  .clang-tidy
Due: non-ascii-chars

CI: enable assertions in code climate
  presets/docker/CMakePresets.json
Due: non-ascii-chars

Refactor some scatra tests
  src/fluid/4C_fluid_implicit_integration.cpp
  src/scatra/4C_scatra_timint_implicit_service.cpp
  tests/input_files/scatra_forced_hit_iso_8x8x8.dat
  tests/input_files/scatra_forced_hit_iso_8x8x8_dsm.dat
  tests/input_files/scatra_forced_hit_mean_8x8x8.dat
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Refactor some problematic fluid tests
  tests/input_files/f3_artery_coupled_with_3_1d_arteries.dat
  tests/input_files/f3_cylinder_001_ale_drt.dat
  tests/input_files/f3_decaying_hit_8x8x8.dat
  tests/input_files/f3_decaying_hit_eb.dat
  tests/input_files/f3_womersley.dat
Due: input-files, non-ascii-chars

Further work on scatra tests
  tests/input_files/scatra_2D_straight_convection_vm3gls.dat
  tests/input_files/scatra_turbmodel_test_mfs.dat
  tests/input_files/scatra_turbmodel_test_mfs_ml.dat
  tests/input_files/scatra_turbmodel_test_mfs_par.dat
  tests/input_files/scatra_turbmodel_test_vreman.dat
Due: input-files, non-ascii-chars

Fix failing fluid case
  tests/input_files/f3_decaying_hit_8x8x8.dat
Due: input-files, non-ascii-chars

Revert unintended renaming back to avm3
  src/fluid/4C_fluid_implicit_integration.cpp
  src/fluid/4C_fluid_implicit_integration.hpp
  src/fluid/4C_fluid_timint_loma.cpp
  src/fluid/4C_fluid_timint_loma.hpp
  src/fluid/4C_fluid_timint_red.cpp
  src/fluid/4C_fluid_timint_red.hpp
  src/fluid/4C_fluid_timint_stat.cpp
  src/loma/4C_loma_algorithm.cpp
  src/scatra/4C_scatra_timint_bdf2.cpp
  src/scatra/4C_scatra_timint_bdf2.hpp
  src/scatra/4C_scatra_timint_genalpha.cpp
  src/scatra/4C_scatra_timint_genalpha.hpp
  src/scatra/4C_scatra_timint_implicit.cpp
  src/scatra/4C_scatra_timint_implicit.hpp
  src/scatra/4C_scatra_timint_implicit_service.cpp
  src/scatra/4C_scatra_timint_ost.cpp
  src/scatra/4C_scatra_timint_ost.hpp
  src/scatra/4C_scatra_timint_stat.cpp
  src/scatra/4C_scatra_timint_stat.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Write discretization name to screen
  src/core/utils/src/result_test/4C_utils_result_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Move get_pair_gid to utlis function for MT and CO
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair_base.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_base.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_gauss_point_FAD.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_mortar_FAD.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Improve GID handling in bts surface pairs
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair_mortar.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_gauss_point.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_gauss_point_FAD.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_mortar_FAD.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use mat damping for gen alpha old time integration
  src/structure/4C_structure_timint_genalpha.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Adapt result file
  tests/input_files/sti_mono_3D_tet4_elch_s2i_butlervolmerpeltier_adiabatic_mortar_standard.dat
Due: input-files, non-ascii-chars

No longer include mpi via config header
  apps/create_rtdfiles/4C_create_rtdfiles_base.cpp
  src/config/4C_config.hpp.in
  src/core/io/src/legacy/4C_io_legacy_table.hpp
  src/core/utils/src/exceptions/4C_utils_exceptions.cpp
  unittests/4C_gtest_main_mpi_test.cpp
  unittests/assert_mpi.cpp.in
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Simplify preconditioner selection
  src/core/linear_solver/src/method/4C_linear_solver_method_iterative.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_iterative.hpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update XML file error check
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Split beam-to-surface pair GID function
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair_mortar.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_gauss_point.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_gauss_point_FAD.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_mortar_FAD.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix bug in beam-to-solid contact mortar pair
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair_mortar.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
