Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        name: Format C/C++
        # Only use on C and C++ files and not on other files that clang could format (e.g. json).
        types_or: [c++, c]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format cmake
        args: [--config, utilities/code_checks/.cmake-format.yaml, --in-place]
        additional_dependencies: [pyyaml>=5.1]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        name: Format python

  - repo: https://github.com/pamoller/xmlformatter
    rev: v0.2.6
    hooks:
      - id: xml-formatter
        name: Format xml
        args: [--indent, '2', --indent-char, ' ', --selfclose, --overwrite]
        # Only run on "pure" XML files and not on files that internally use XML (e.g. svg)
        files: \.xml$

  - repo: https://github.com/google/yamlfmt
    rev: v0.12.1
    hooks:
      - id: yamlfmt
        name: Format yaml
        args: [-conf, utilities/code_checks/.yamlfmt.yaml]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        # Do not modify reference vtu files, since we generate these and do not hand-edit them.
        exclude: 'vtu$'
      - id: no-commit-to-branch
        name: Don't commit to main

  - repo: local
    hooks:
      - id: check-venv-up-to-date
        name: Python virtual environment is up to date
        language: system
        entry: ./utilities/code_checks/check_venv
        always_run: true
        pass_filenames: false
        fail_fast: true

      - id: cpp-header
        name: C++ file headers
        description: 'Check that all C++ files have the correct header'
        language: system
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-file-header

      - id: cpp-filename-includes
        name: C++ file names and include style
        description: 'Check that all C++ files have the correct file name and include style'
        language: system
        types_or: [c++, c]
        exclude: 'tests/cut_test/'
        entry: utilities/python-venv/bin/check-filenames-and-includes
        args: ['--paths', 'src/', 'unittests/', 'apps/', '--files']

      - id: cpp-include-guard
        name: Include guards
        description: 'Check that all C++ files have the correct include guards'
        language: python
        types_or: [c++, c]
        files: '\.(h|hpp)$'
        entry: utilities/python-venv/bin/check-header-guards

      - id: cpp-preprocessor
        name: C++ preprocessor directives
        description: 'Check that all C++ files only use acceptable preprocessor directives'
        language: python
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-preprocessor

      - id: codeowners
        name: Inclusion in CODEOWNERS file
        description: 'Check that files are listed in CODEOWNERS file'
        language: python
        entry: utilities/python-venv/bin/check-codeowners

      - id: input-files
        name: Test input files
        description: 'Check input files conform to expectations'
        language: python
        files: 'tests/input_files/.*\.dat$'
        entry: utilities/python-venv/bin/check-test-files

      - id: non-ascii-chars
        name: Non-ASCII characters
        language: system
        exclude_types: [markdown, rst]
        entry: ./utilities/code_checks/check_non_ascii_chars

Create cache for dependency and build
  .github/workflows/macos.yml
  presets/darwin/CMakePresets.json
Due: non-ascii-chars

Fix compilation on macos
  src/reduced_lung/tests/4C_reduced_lung_aaa_approx_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

More fix
  .github/workflows/macos.yml
  presets/docker/CMakePresets.json
Due: non-ascii-chars

Restore the dependencies from cache and enable gmsh
  .github/workflows/macos.yml
  presets/darwin/CMakePresets.json
Due: non-ascii-chars

Disable FE trapping
  presets/darwin/CMakePresets.json
Due: non-ascii-chars

Use new key for saved cache
  .github/workflows/macos.yml
Due: non-ascii-chars

Temporarily disable
  .github/workflows/macos.yml
Due: non-ascii-chars

Add macos workflow stub
  .github/workflows/macos.yml
  dependencies/darwin/compile_dependencies.sh
  dependencies/darwin/mumps/install.sh
  dependencies/darwin/trilinos/install.sh
Due: non-ascii-chars

Enable dependencies cache restore
  .github/workflows/macos.yml
Due: non-ascii-chars

Fix cmake preset
  presets/darwin/CMakePresets.json
Due: non-ascii-chars

Add missing libraries
  .github/workflows/macos.yml
Due: non-ascii-chars

Install parmetis to $HOME/opt to allow caching
  .github/workflows/macos.yml
  dependencies/darwin/mumps/install.sh
  dependencies/darwin/parmetis/install.sh
  dependencies/darwin/superlu_dist/install.sh
  dependencies/darwin/trilinos/install.sh
Due: non-ascii-chars

Fix cache path
  .github/workflows/macos.yml
Due: non-ascii-chars

Fix MUMPS path for parmetis
  dependencies/darwin/trilinos/install.sh
Due: non-ascii-chars

Add trust command for cmake3 repo
  .github/workflows/macos.yml
Due: non-ascii-chars

dep - update Trilinos to 16.2.1, bug fixes and 4.7.4 patch of Kokkos/Kokkos-kernels
  .github/workflows/buildtest.yml
  .github/workflows/checkcode.yml
  .github/workflows/coverage.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly_tests.yml
  dependencies/current/trilinos/install.sh
  dependencies/supported_version/Trilinos.txt
  doc/documentation/src/installation/installation.rst
  docker/dependencies/Dockerfile
Due: non-ascii-chars

Fix MUMPS download link
  dependencies/darwin/mumps/install.sh
Due: non-ascii-chars

Add flags for trilinos compilation
  dependencies/darwin/trilinos/install.sh
Due: non-ascii-chars

Fix tolerance comparison in cut kernel
  src/cut/4C_cut_kernel.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add more system dependencies
  .github/workflows/macos.yml
Due: non-ascii-chars

Allow bts mortar energy
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_pair_base.hpp
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar.4C.yaml
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar_energy.csv
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Make sdata const and return rdata in particle utils
  src/particle/src/engine/4C_particle_engine.cpp
  src/particle/src/engine/4C_particle_engine.hpp
  src/particle/src/engine/4C_particle_engine_communication_utils.cpp
  src/particle/src/engine/4C_particle_engine_communication_utils.hpp
  src/particle/src/engine/4C_particle_engine_unique_global_id.cpp
  src/particle/src/interaction/4C_particle_interaction_dem_history_pairs.cpp
  src/particle/src/interaction/4C_particle_interaction_pd_neighbor_pairs.cpp
  src/particle/src/rigidbody/4C_particle_rigidbody.cpp
  src/particle/src/rigidbody/4C_particle_rigidbody_affiliation_pairs.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Allow different types of beam BV
  src/beam3/src/4C_beam3_base.cpp
  src/beam3/src/4C_beam3_base.hpp
  src/beaminteraction/src/4C_beaminteraction_str_model_evaluator.cpp
  src/beaminteraction/src/contact/4C_beaminteraction_contact_submodel_evaluator.cpp
  src/beaminteraction/src/contact/4C_beaminteraction_contact_submodel_evaluator.hpp
  src/constraint_framework/4C_constraint_framework_submodelevaluator_mpc.cpp
  src/core/fem/src/general/element/4C_fem_general_element.cpp
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/core/geometric_search/src/4C_geometric_search_input.cpp
  src/core/geometric_search/src/4C_geometric_search_input.hpp
  src/core/geometric_search/src/4C_geometric_search_params.cpp
  src/core/geometric_search/src/4C_geometric_search_params.hpp
  src/core/rebalance/src/4C_rebalance.cpp
  src/core/rebalance/src/4C_rebalance.hpp
  src/core/rebalance/src/4C_rebalance_graph_based.cpp
  src/core/rebalance/src/4C_rebalance_graph_based.hpp
  src/core/rebalance/tests/4C_rebalance_graph_test.np2.cpp
  src/geometry_pair/4C_geometry_pair_line_to_volume.hpp
  src/global_data/4C_global_data.hpp
  src/global_data/4C_global_data_read.cpp
  src/reduced_lung/src/4C_reduced_lung_main.cpp
  src/rigidsphere/4C_rigidsphere.hpp
  src/rigidsphere/4C_rigidsphere_evaluate.cpp
  tests/input_files/beam3eb_static_contact_penalty_newgap_twocrossedbeams.4C.yaml
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar_beam_bounding_volume_surface.4C.yaml
  tests/input_files/beam3r_line2_genalpha_liegroup_contact_penalty_linpen_newgap_twocrossedbeams.4C.yaml
  tests/input_files/beam3r_line3_genalpha_liegroup_contact_penalty_linpen_newgap_multiple_crossed_beams.4C.yaml
  tests/input_files/beam3r_line3_genalpha_liegroup_contact_penalty_linpen_newgap_multiple_crossed_beams_parallel.4C.yaml
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar_beam_bounding_volume_surface-vtk/structure-00002-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar_beam_bounding_volume_surface-vtk/structure-00002-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar_beam_bounding_volume_surface-vtk/structure-00002-2.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar_beam_bounding_volume_surface-vtk/structure-00002.pvtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar_beam_bounding_volume_surface-vtk/structure.pvd
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add find() guard when unpacking rdata
  src/particle/src/engine/4C_particle_engine_unique_global_id.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update beamsolid preconditioner config
  tests/input_files/xml/block_preconditioner/beam_solid.xml
  tests/input_files/xml/block_preconditioner/beam_solid_iterative.xml
Due: non-ascii-chars

Post filter beaminteraction penalty contribution
  src/beaminteraction/src/contact/4C_beaminteraction_contact_submodel_evaluator_assembly_manager_indirect.cpp
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_input.cpp
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_mortar_lagrange_individually_augmented_line3.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix two bugs for strain-energy output
  src/mat/elast/4C_mat_elast_coupblatzko.cpp
  src/mat/elast/4C_mat_elast_volpow.cpp
  unittests/mat/elast/4C_elast_strain_energy_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Implement hybrid Ogden material model
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.hpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_material_factory.cpp
  src/mat/4C_mat_ogden_tca.cpp
  src/mat/4C_mat_ogden_tca.hpp
  tests/input_files/mat_ogden_tca_hex.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused mat type to string method
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused pre_solve() method
  src/adapter/4C_adapter_str_structure.hpp
  src/adapter/4C_adapter_str_structure_new.hpp
  src/adapter/4C_adapter_str_timeada.cpp
  src/adapter/4C_adapter_str_timeada.hpp
  src/adapter/4C_adapter_str_timeloop.cpp
  src/adapter/4C_adapter_str_timeloop.hpp
  src/adapter/4C_adapter_str_wrapper.hpp
  src/scatra/4C_scatra_timint_implicit.cpp
  src/scatra/4C_scatra_timint_implicit.hpp
  src/scatra/4C_scatra_timint_ost.hpp
  src/structure/4C_structure_timint.hpp
  src/structure/4C_structure_timint_ab2.cpp
  src/structure/4C_structure_timint_centrdiff.cpp
  src/structure/4C_structure_timint_expleuler.cpp
  src/structure/4C_structure_timint_impl.cpp
  src/structure_new/src/4C_structure_new_timint_base.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unsused pre_predict
  src/adapter/4C_adapter_str_structure.hpp
  src/adapter/4C_adapter_str_structure_new.hpp
  src/adapter/4C_adapter_str_timeada.cpp
  src/adapter/4C_adapter_str_timeada.hpp
  src/adapter/4C_adapter_str_timeloop.cpp
  src/adapter/4C_adapter_str_timeloop.hpp
  src/adapter/4C_adapter_str_wrapper.hpp
  src/structure/4C_structure_timint.hpp
  src/structure/4C_structure_timint_expl.hpp
  src/structure/4C_structure_timint_impl.cpp
  src/structure_new/src/4C_structure_new_timint_base.hpp
  src/structure_new/src/explicit/4C_structure_new_timint_explicit.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add vtu tests
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/io/tests/4C_io_vtu_test.cpp
  src/core/io/tests/test_files/vtu/mixed_hex8_tet4_same_block.vtu
  tests/input_files/solid_vtu_mixed_element_block.4C.yaml
  tests/input_files/vtu/solid_vtu_mixed_element_block.vtu
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add info about AI contributions to contributing
  CONTRIBUTING.md
Due: none

chore: move fluid runtime output parameters to fluid physics
  src/fluid/4C_fluid_input.cpp
  src/global_legacy_module/4C_global_legacy_module_validparameters.cpp
  src/inpar/4C_inpar_IO_runtime_output_fluid.cpp
  src/inpar/4C_inpar_IO_runtime_output_fluid.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

feat: move low mach input to physics module
  src/global_legacy_module/4C_global_legacy_module_validparameters.cpp
  src/global_legacy_module/CMakeLists.txt
  src/inpar/4C_inpar_fluid.cpp
  src/inpar/4C_inpar_fluid.hpp
  src/loma/4C_loma_input.cpp
  src/loma/4C_loma_input.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

fix: poroelast condition check
  src/poroelast/4C_poroelast_monolithic.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update PR template with AI assistance disclosure
  .github/pull_request_template.md
Due: none

Find libbacktrace by name, not hardcoded suffix
  cmake/modules/FindBacktrace.cmake
Due: non-ascii-chars
