Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Isolate Global::Problem access in TSI
  src/tsi/4C_tsi_algorithm.cpp
  src/tsi/4C_tsi_algorithm.hpp
  src/tsi/4C_tsi_dyn.cpp
  src/tsi/4C_tsi_monolithic.cpp
  src/tsi/4C_tsi_partitioned.cpp
  src/tsi/4C_tsi_problem_access.hpp
  src/tsi/4C_tsi_utils.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Isolate Global::Problem access in SSI
  src/ssi/4C_ssi_base.cpp
  src/ssi/4C_ssi_clonestrategy.cpp
  src/ssi/4C_ssi_coupling.cpp
  src/ssi/4C_ssi_dyn.cpp
  src/ssi/4C_ssi_manifold_utils.cpp
  src/ssi/4C_ssi_monolithic.cpp
  src/ssi/4C_ssi_partitioned_1wc.cpp
  src/ssi/4C_ssi_partitioned_2wc.cpp
  src/ssi/4C_ssi_problem_access.hpp
  src/ssi/4C_ssi_utils.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Isolate Global::Problem access in adapter
  src/adapter/4C_adapter_fld_base_algorithm.cpp
  src/adapter/4C_adapter_fld_fluid_ale.cpp
  src/adapter/4C_adapter_problem_access.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor InputSpec common test code
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Enable nurbs in 2D solid elements
  src/core/fem/src/general/node/4C_fem_general_fiber_node_utils.cpp
  src/core/fem/src/general/utils/4C_fem_general_utils_gauss_point_extrapolation.cpp
  src/solid_3D_ele/4C_solid_3D_ele.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib_integration.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib_plane.cpp
  src/solid_3D_ele/4C_solid_3D_ele_factory.hpp
  src/solid_3D_ele/4C_solid_3D_ele_line.cpp
  tests/input_files/contact2D_nurbs9_dual_consistent.4C.yaml
  tests/input_files/contact2D_nurbs9_dual_consistent_new_struct.4C.yaml
  tests/input_files/contact2D_nurbs9_pg_frict.4C.yaml
  tests/input_files/contact2D_nurbs9_std_new_struc.4C.yaml
  tests/input_files/meshtying2D_nurbs9_dual.4C.yaml
  tests/input_files/meshtying2D_nurbs9_dual_new_struct.4C.yaml
  tests/input_files/w1_w1nurbs.4C.yaml
  tests/input_files/w1nurbs9_pbc.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix: set time step in ssi mono
  src/ssi/4C_ssi_monolithic_evaluate_OffDiag.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Split reduced lung main into functional blocks
  src/reduced_lung/src/4C_reduced_lung_main.cpp
  src/reduced_lung/src/4C_reduced_lung_main.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Create assembly pipeline for nox in reduced lung
  src/reduced_lung/src/4C_reduced_lung_helpers.cpp
  src/reduced_lung/src/4C_reduced_lung_helpers.hpp
  src/reduced_lung/src/4C_reduced_lung_main.cpp
  src/reduced_lung/tests/4C_reduced_lung_nox_solver_test.np2.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use Tensors in solid-poro elements
  src/solid_3D_ele/4C_solid_3D_ele_calc_eas.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_fbar.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_mulf.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_mulf_fbar.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_lib.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_velocity_based.cpp
  tests/benchmark_tests/solid_3D_ele/4C_solid_3D_ele_calc_lib_benchmark.cpp
  unittests/solid_3D_ele/4C_solid_3D_ele_calc_lib_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add per particle Dirichlet BC
  src/particle/src/4C_particle_input.cpp
  src/particle/src/algorithm/4C_particle_algorithm.cpp
  src/particle/src/algorithm/4C_particle_algorithm_dirichlet_bc.cpp
  src/particle/src/algorithm/4C_particle_algorithm_dirichlet_bc.hpp
  src/particle/src/algorithm/4C_particle_algorithm_timint.cpp
  src/particle/src/algorithm/4C_particle_algorithm_timint.hpp
  src/particle/src/engine/4C_particle_engine_enums.cpp
  src/particle/src/engine/4C_particle_engine_enums.hpp
  src/particle/src/engine/4C_particle_engine_particlereader.cpp
  tests/input_files/particle_sph_2d_pdbody_dbc_per_particle.4C.yaml
  tests/input_files/particle_sph_2d_pdbody_two_distinct_dbc_per_particle_motion.4C.yaml
  tests/input_files/particle_sph_3d_pdbody_type_wide_and_per_particle_dbc.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enable EAS in SOLID2 elements
  src/solid_3D_ele/4C_solid_3D_ele.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_eas_helpers.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib.hpp
  src/solid_3D_ele/4C_solid_3D_ele_factory.cpp
  src/solid_3D_ele/4C_solid_3D_ele_factory.hpp
  tests/input_files/solid_ele_quad4_stvk_plane_strain_eas.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enable 2D Solid-Scatra element
  src/adapter/4C_adapter_structure_scatra_ele.cpp
  src/contact/src/4C_contact_nitsche_integrator_ssi.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib_plane.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib_plane.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_factory.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_evaluate.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele.hpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_calc.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_calc.hpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_evaluate.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_factory.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_factory.hpp
  src/tsi/4C_tsi_utils.cpp
  tests/input_files/ssi_2D_quad4.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove old Wall-Scatra element
  src/adapter/4C_adapter_structure_scatra_ele.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/membrane/4C_membrane_scatra.cpp
  src/poroelast_scatra/4C_poroelast_scatra_utils_clonestrategy.cpp
  src/ssi/4C_ssi_clonestrategy.cpp
  src/ssti/4C_ssti_utils.cpp
  src/w1/4C_w1_scatra.cpp
  src/w1/4C_w1_scatra.hpp
  src/w1/4C_w1_scatra_evaluate.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Improve BTS mortar checks
  src/beaminteraction/src/contact/beam_to_beam/4C_beaminteraction_contact_beam_to_beam_point_coupling_pair.cpp
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_mortar_manager.cpp
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_utils.cpp
  src/beaminteraction/src/contact/beam_to_solid/surface/4C_beaminteraction_contact_beam_to_solid_surface_meshtying_pair_mortar_FAD.cpp
  src/beaminteraction/src/contact/beam_to_solid/surface/4C_beaminteraction_contact_beam_to_solid_surface_meshtying_pair_mortar_base.cpp
  src/beaminteraction/src/contact/beam_to_solid/surface/4C_beaminteraction_contact_beam_to_solid_surface_pair_mortar.cpp
  src/beaminteraction/src/contact/beam_to_solid/volume/4C_beaminteraction_contact_beam_to_solid_volume_meshtying_pair_2d-3d_mortar.cpp
  src/beaminteraction/src/contact/beam_to_solid/volume/4C_beaminteraction_contact_beam_to_solid_volume_meshtying_pair_mortar.cpp
  src/beaminteraction/src/contact/beam_to_solid/volume/4C_beaminteraction_contact_beam_to_solid_volume_meshtying_pair_mortar_rotation.cpp
  tests/input_files/beam3r_herm2line3_beam_to_beam_point_coupling_elbow_offset_indirect_global_assembly_lagrange_multiple_point_couplings_on_element.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add serial dense matrix overload to local_newton
  src/core/utils/src/numerics/4C_utils_local_newton.hpp
  src/core/utils/tests/numerics/4C_utils_local_newton_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Apply local newton to 1D pipe flow
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_main.cpp
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_main.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Increase test time out of one
  tests/list_of_tests.cmake
Due: non-ascii-chars

Use tensor notation in solid-poro with Brinkman
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_lib.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_velocity_based.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

InputSpec: enum description + validator
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add template parameter to solid poro elements
  src/contact/src/4C_contact_nitsche_integrator_fsi.cpp
  src/contact/src/4C_contact_nitsche_integrator_poro.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/poroelast/4C_poroelast_utils.cpp
  src/poroelast/4C_poroelast_utils_clonestrategy.cpp
  src/poroelast_scatra/4C_poroelast_scatra_utils.cpp
  src/poroelast_scatra/4C_poroelast_scatra_utils_clonestrategy.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_based.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based_evaluate.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_evaluate.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_p1.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_p1.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_p1_evaluate.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add dependencies compilation script and cmake preset to compile 4C on Darwin
  CMakePresets.json
  cmake/configure/configure_MIRCO.cmake
  dependencies/current/qhull/install.sh
  dependencies/darwin/compile_dependencies.sh
  dependencies/darwin/parmetis/install.sh
  dependencies/darwin/superlu_dist/install.sh
  dependencies/darwin/trilinos/install.sh
  presets/darwin/CMakePresets.json
Due: non-ascii-chars

Add macos workflow stub
  .github/workflows/macos.yml
  .pre-commit-config.yaml
  dependencies/darwin/compile_dependencies.sh
  dependencies/darwin/mumps/install.sh
  dependencies/darwin/trilinos/install.sh
Due: non-ascii-chars

Create cache for dependency and build
  .github/workflows/macos.yml
  presets/darwin/CMakePresets.json
Due: non-ascii-chars

Harden viscoelastic contracts and guardrails
  src/mat/4C_mat_viscoelasthyper.cpp
  src/mat/4C_mat_viscoelasthyper.hpp
  src/mat/elast/4C_mat_elast_summand.hpp
  src/mat/elast/4C_mat_elast_visco_coupmyocard.cpp
  src/mat/elast/4C_mat_elast_visco_coupmyocard.hpp
  src/mat/elast/4C_mat_elast_visco_fsls.cpp
  src/mat/elast/4C_mat_elast_visco_generalizedmaxwell.cpp
  src/mat/elast/4C_mat_elast_visco_isoratedep.cpp
  src/mat/elast/4C_mat_elast_visco_isoratedep.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Cleanup legacy visco material paths
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.hpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_material_factory.cpp
  src/mat/4C_mat_viscoelasthyper.cpp
  src/mat/elast/4C_mat_elast_summand.cpp
  src/mat/elast/4C_mat_elast_summand.hpp
  src/mat/elast/4C_mat_elast_visco_coupmyocard.hpp
  src/mat/elast/4C_mat_elast_visco_fsls.hpp
  src/mat/elast/4C_mat_elast_visco_generalizedmaxwell.hpp
  src/mat/elast/4C_mat_elast_visco_isoratedep.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Introduce explicit viscoelastic state struct
  src/mat/4C_mat_viscoelast_state.cpp
  src/mat/4C_mat_viscoelast_state.hpp
  src/mat/4C_mat_viscoelasthyper.cpp
  src/mat/4C_mat_viscoelasthyper.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Unify and clean up viscoelast state handling
  src/mat/4C_mat_viscoelast_state.cpp
  src/mat/4C_mat_viscoelast_state.hpp
  src/mat/4C_mat_viscoelasthyper.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add documentation to viscoelast state
  src/mat/4C_mat_viscoelast_state.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move viscoelast hyper toolbox to dedicated folder
  src/mat/4C_mat_material_factory.cpp
  src/mat/elast/4C_mat_elast_summand.cpp
  src/mat/viscoelast/4C_mat_viscoelast_coupmyocard.cpp
  src/mat/viscoelast/4C_mat_viscoelast_coupmyocard.hpp
  src/mat/viscoelast/4C_mat_viscoelast_fsls.cpp
  src/mat/viscoelast/4C_mat_viscoelast_fsls.hpp
  src/mat/viscoelast/4C_mat_viscoelast_generalizedmaxwell.cpp
  src/mat/viscoelast/4C_mat_viscoelast_generalizedmaxwell.hpp
  src/mat/viscoelast/4C_mat_viscoelast_isoratedep.cpp
  src/mat/viscoelast/4C_mat_viscoelast_isoratedep.hpp
  src/mat/viscoelast/4C_mat_viscoelast_state.cpp
  src/mat/viscoelast/4C_mat_viscoelast_state.hpp
  src/mat/viscoelast/4C_mat_viscoelasthyper.cpp
  src/mat/viscoelast/4C_mat_viscoelasthyper.hpp
  src/mat/viscoelast/CMakeLists.txt
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add temperature derivative refJC
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.hpp
  src/mat/vplast/4C_mat_vplast_law.hpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.cpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.hpp
  tests/input_files/mat_iso_viscoplast_refJC_log_timint_substepping.4C.yaml
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
  unittests/mat/vplast/4C_vplast_reform_johnsoncook_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add viscoelastic state activation descriptor
  src/mat/viscoelast/4C_mat_viscoelast_state.cpp
  src/mat/viscoelast/4C_mat_viscoelast_state.hpp
  src/mat/viscoelast/4C_mat_viscoelasthyper.cpp
  src/mat/viscoelast/4C_mat_viscoelasthyper.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Pipeline model orchestration+add invariant checks
  src/mat/viscoelast/4C_mat_viscoelasthyper.cpp
  src/mat/viscoelast/4C_mat_viscoelasthyper.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update increments before sub-solves
  src/tsi/4C_tsi_partitioned.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Prepare viscoplastic factor for thermo-coupling
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.hpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.cpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.hpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper_service.hpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
  unittests/mat/4C_multiplicative_split_defgrad_elasthyper_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use return_mapping in perturb based linearization
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor test
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update tolerance in beam test
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_mortar_lagrange_augmented_line3.4C.yaml
Due: non-ascii-chars

Make to FE matrix
  src/beaminteraction/src/contact/4C_beaminteraction_contact_submodel_evaluator_assembly_manager_indirect.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix 2D solid output of out-of-plane components
  src/solid_ele/4C_solid_ele_calc.cpp
  src/solid_ele/4C_solid_ele_calc_lib.hpp
  src/solid_ele/4C_solid_ele_calc_lib_io.hpp
  src/solid_ele/4C_solid_ele_calc_lib_plane.cpp
  src/solid_scatra_ele/4C_solid_scatra_ele_calc.cpp
  tests/input_files/solid_ele_quad4_elasthyper_plane_strain.4C.yaml
  tests/input_files/solid_ele_quad4_elasthyper_plane_stress.4C.yaml
  tests/input_files/solid_ele_quad4_stvk_plane_strain.4C.yaml
  tests/input_files/solid_ele_quad4_stvk_plane_stress.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix FP crash in plane stress solver path
  src/solid_ele/4C_solid_ele_calc_lib_io.hpp
  src/solid_ele/4C_solid_ele_calc_lib_plane.cpp
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_mortar_lagrange_augmented_line3.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
