Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        name: Format C/C++
        # Only use on C and C++ files and not on other files that clang could format (e.g. json).
        types_or: [c++, c]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format cmake
        args: [--config, utilities/code_checks/.cmake-format.yaml, --in-place]
        additional_dependencies: [pyyaml>=5.1]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        name: Format python

  - repo: https://github.com/pamoller/xmlformatter
    rev: v0.2.6
    hooks:
      - id: xml-formatter
        name: Format xml
        args: [--indent, '2', --indent-char, ' ', --selfclose, --overwrite]
        # Only run on "pure" XML files and not on files that internally use XML (e.g. svg)
        files: \.xml$

  - repo: https://github.com/google/yamlfmt
    rev: v0.12.1
    hooks:
      - id: yamlfmt
        name: Format yaml
        args: [-conf, utilities/code_checks/.yamlfmt.yaml]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        # Do not modify reference vtu files, since we generate these and do not hand-edit them.
        exclude: 'vtu$'
      - id: no-commit-to-branch
        name: Don't commit to main

  - repo: local
    hooks:
      - id: check-venv-up-to-date
        name: Python virtual environment is up to date
        language: system
        entry: ./utilities/code_checks/check_venv
        always_run: true
        pass_filenames: false
        fail_fast: true

      - id: cpp-header
        name: C++ file headers
        description: 'Check that all C++ files have the correct header'
        language: system
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-file-header

      - id: cpp-filename-includes
        name: C++ file names and include style
        description: 'Check that all C++ files have the correct file name and include style'
        language: system
        types_or: [c++, c]
        exclude: 'tests/cut_test/'
        entry: utilities/python-venv/bin/check-filenames-and-includes
        args: ['--paths', 'src/', 'unittests/', 'apps/', '--files']

      - id: cpp-include-guard
        name: Include guards
        description: 'Check that all C++ files have the correct include guards'
        language: python
        types_or: [c++, c]
        files: '\.(h|hpp)$'
        entry: utilities/python-venv/bin/check-header-guards

      - id: cpp-preprocessor
        name: C++ preprocessor directives
        description: 'Check that all C++ files only use acceptable preprocessor directives'
        language: python
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-preprocessor

      - id: codeowners
        name: Inclusion in CODEOWNERS file
        description: 'Check that files are listed in CODEOWNERS file'
        language: python
        entry: utilities/python-venv/bin/check-codeowners

      - id: input-files
        name: Test input files
        description: 'Check input files conform to expectations'
        language: python
        files: 'tests/input_files/.*\.dat$'
        entry: utilities/python-venv/bin/check-test-files

      - id: non-ascii-chars
        name: Non-ASCII characters
        language: system
        exclude_types: [markdown, rst]
        entry: ./utilities/code_checks/check_non_ascii_chars

Remove unused Transpose() routine
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused vector assembly routines
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_assemble.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_assemble.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused vector creation routine
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_create.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_create.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused vector extraction routine
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove few header Epetra_CrsMatrix occurences in contact modules"
  src/contact/4C_contact_ehl_integrator.hpp
  src/contact/4C_contact_interface.cpp
  src/contact/4C_contact_nitsche_integrator.hpp
  src/contact/4C_contact_nitsche_integrator_poro.hpp
  src/contact/4C_contact_nitsche_integrator_tsi.hpp
  src/contact/4C_contact_nitsche_utils.hpp
  src/contact/4C_contact_penalty_strategy.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Introduce nurbs9 surfaces in the cut framework
  src/cut/4C_cut_boundarycell.cpp
  src/cut/4C_cut_boundarycell.hpp
  src/cut/4C_cut_cutwizard.cpp
  src/cut/4C_cut_cutwizard.hpp
  src/cut/4C_cut_elementhandle.cpp
  src/cut/4C_cut_elementhandle.hpp
  src/cut/4C_cut_kernel.hpp
  src/cut/4C_cut_mesh.cpp
  src/cut/4C_cut_mesh.hpp
  src/cut/4C_cut_meshhandle.cpp
  src/cut/4C_cut_options.cpp
  src/cut/4C_cut_options.hpp
  src/cut/4C_cut_sidehandle.hpp
  src/inpar/4C_inpar_cut.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Reduce tolerance and GFILL in cardiovascular0d
  tests/input_files/cardiovascular0d_syspulcirculation_2chamber_structure_simple_genalpha.dat
Due: input-files, non-ascii-chars

Centralize calls
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_create.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_create.hpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/fluid/4C_fluid_utils.cpp
  src/fluid/4C_fluid_xwall.cpp
  src/scatra/4C_scatra_timint_implicit_service.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

First draft of issue templates for GitHub
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .gitlab/CODEOWNERS
Due: non-ascii-chars

First draft of pull request template for GitHub
  .github/PULL_REQUEST_TEMPLATE.md
  .gitlab/CODEOWNERS
Due: non-ascii-chars

Remove unused header inclusions
  src/constraint_framework/4C_constraint_framework_equation_mpc.hpp
  src/constraint_framework/4C_constraint_framework_submodelevaluator_mpc.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_interface.cpp
  src/core/coupling/src/adapter/4C_coupling_adapter_mortar.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_assemble.hpp
  src/core/linear_solver/src/method/4C_linear_solver_method_direct.hpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_monolithic_linearsystem.cpp
  src/fsi/src/partitioned/4C_fsi_partitioned.hpp
  src/fsi/src/utils/4C_fsi_utils.cpp
  src/rigidsphere/4C_rigidsphere_evaluate.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Resolve header-in-header inclusion
  src/constraint/4C_constraint_multipointconstraint3penalty.cpp
  src/constraint/4C_constraint_penalty.cpp
  src/core/coupling/src/adapter/4C_coupling_adapter.cpp
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_communication.hpp
  src/core/linalg/src/sparse/4C_linalg_equilibrate.hpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move header inclusion to child class
  src/structure/4C_structure_timint.hpp
  src/structure/4C_structure_timint_impl.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove default parameter printout
  src/adapter/4C_adapter_algorithmbase.cpp
  src/adapter/4C_adapter_fld_base_algorithm.cpp
  src/adapter/4C_adapter_str_structure.cpp
  src/adapter/4C_adapter_str_structure_new.cpp
  src/adapter/4C_adapter_thermo.cpp
  src/art_net/4C_art_net_dyn_drt.cpp
  src/elch/4C_elch_dyn.cpp
  src/fsi/src/utils/4C_fsi_fluid_ale.cpp
  src/fsi_xfem/4C_fsi_xfem_fluid.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/inpar/4C_inpar_validparameters.hpp
  src/red_airways/4C_red_airways_dyn_drt.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused Trilinos header inclusions
  src/art_net/4C_art_net_artery_resulttest.hpp
  src/core/binstrategy/4C_binstrategy.hpp
  src/core/coupling/src/adapter/4C_coupling_adapter_base.hpp
  src/core/coupling/src/adapter/4C_coupling_adapter_volmortar.hpp
  src/core/fem/src/condition/4C_fem_condition.hpp
  src/core/fem/src/general/utils/4C_fem_general_extract_values.hpp
  src/core/fem/src/general/utils/4C_fem_general_l2_projection.hpp
  src/core/fem/src/geometry/4C_fem_geometry_intersection_math.hpp
  src/core/io/src/4C_io_domainreader.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_print.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_print.hpp
  src/cut/4C_cut_volume_integration.cpp
  src/elemag/4C_elemag_ele_interface.hpp
  src/elemag/4C_elemag_timeint.hpp
  src/fbi/4C_fbi_calc_utils.hpp
  src/fbi/4C_fbi_fluid_assembly_strategy.hpp
  src/fbi/4C_fbi_fluidblockmatrix_assembly_strategy.hpp
  src/fbi/4C_fbi_immersed_geometry_coupler.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_free_surface_monolithic.hpp
  src/levelset/4C_levelset_intersection_utils.hpp
  src/lubrication/4C_lubrication_resulttest.hpp
  src/lubrication/4C_lubrication_timint_implicit.hpp
  src/porofluidmultiphase/4C_porofluidmultiphase_resulttest.hpp
  src/red_airways/4C_red_airways_resulttest.hpp
  src/scatra/4C_scatra_resulttest.hpp
  src/so3/4C_so3_hex8_evaluate.cpp
  src/structure/4C_structure_timint.hpp
  src/structure_new/src/implicit/4C_structure_new_impl_ost.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix header include guard
  src/fluid/4C_fluid_functions.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove monolithic multigrid for blocked fluid
  TestingFrameworkListOfTests.cmake
  src/adapter/4C_adapter_fld_base_algorithm.cpp
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method.hpp
  src/core/linear_solver/src/method/4C_linear_solver_method_iterative.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.hpp
  src/inpar/4C_inpar_solver.cpp
  tests/input_files/f2_drivencavity20x20_muelu_blocked.dat
  tests/input_files/xml/multigrid/fluid2D_blocked_template.xml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Make issue and PR tempaltes shorter
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Use snake_case for PR template file
  .github/pull_request_template.md
  .gitlab/CODEOWNERS
Due: non-ascii-chars

Avoid access to underlying Epetra_CrsMatrix
  src/constraint_framework/4C_constraint_framework_submodelevaluator_base.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove untested code behind define flag
  src/fs3i/4C_fs3i.cpp
  src/fs3i/4C_fs3i_biofilm_fsi.cpp
  src/fs3i/4C_fs3i_fps3i_partitioned.cpp
  src/fs3i/4C_fs3i_partitioned.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Linear solver setup and solve w/ Epetra_Operator
  src/constraint/4C_constraint_solver.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrixbase.hpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_bgs2x2.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_lung_overlapprec.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec_fsiamg.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec_fsiamg_smoothers.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_free_surface_monolithic.cpp
  src/stru_multi/4C_stru_multi_microstatic.cpp
  src/structure/4C_structure_timint_noxlinsys.cpp
  src/thermo/4C_thermo_timint.cpp
  src/thermo/4C_thermo_timint_impl.cpp
  src/wear/4C_wear_partitioned.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Reduce passing of Epetra_CrsMatrix in constructor
  src/fpsi/4C_fpsi_monolithic.cpp
  src/poroelast_scatra/4C_poroelast_scatra_monolithic.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_monolithic_twoway.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove unused defines file from poroelast
  src/poroelast/4C_poroelast_base.cpp
  src/poroelast/4C_poroelast_defines.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove commented and unused define flags
  src/fsi_xfem/4C_fsi_xfem_XFFcoupling_manager.hpp
  src/post/4C_post_vtk_writer.cpp
  src/so3/4C_so3_tet4av.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove untested serial debug code
  src/fluid/4C_fluid_implicit_integration.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove untested block matrix merging from FSI
  src/fsi/src/monolithic/linear_solver/4C_fsi_lung_overlapprec.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_lung_overlapprec.hpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec.hpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec_fsiamg.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_free_surface_monolithic.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_free_surface_monolithic.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

First steps on unification of multigrid precs
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method.hpp
  src/core/linear_solver/src/method/4C_linear_solver_method_iterative.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_parameters.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.hpp
  src/fsi/src/monolithic/4C_fsi_monolithic.cpp
  src/inpar/4C_inpar_solver.cpp
  src/tsi/4C_tsi_monolithic.cpp
  tests/input_files/fsi_dc_mono_fs_ga_ga.dat
  tests/input_files/fsi_dc_mono_ss_ost_ga_rsb.dat
  tests/input_files/fsi_pw_mono_fs_ga_ga_muelu.dat
  tests/input_files/fsi_pw_mono_ss_ga_ga_muelu.dat
  tests/input_files/fsi_pw_mono_ss_ost_ga_muelu.dat
  tests/input_files/fsi_ves_mono_mtrfs_ost_ost_slidcurr.dat
  tests/input_files/fsi_ves_mono_mtrss_ost_ost_slidcurr.dat
  tests/input_files/fsi_ves_mono_mtrss_ost_ost_slidrot.dat
  tests/input_files/tsi_heatconvection_monolithic_muelu.dat
  tests/input_files/tsi_lincompression_monolithic_muelu.dat
  tests/input_files/tsi_simplrocketnozzle_monolithic_muelu.dat
  tests/input_files/xml/multigrid/fluid_solid.xml
  tests/input_files/xml/multigrid/thermo_solid.xml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Show diff if a code-check fails
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Add a CODE OF CONDUCT
  .gitlab/CODEOWNERS
  CODE_OF_CONDUCT.md
Due: non-ascii-chars

Fix link to maintainer team
  CODE_OF_CONDUCT.md
Due: none

Update trilinos develop config
  dependencies/trilinos_develop/trilinos/install.sh
Due: non-ascii-chars

Make set_parent_state same signature as set_state
  src/adapter/4C_adapter_coupling_poro_mortar.cpp
  src/contact/4C_contact_abstract_strategy.hpp
  src/contact/4C_contact_lagrange_strategy_poro.cpp
  src/contact/4C_contact_lagrange_strategy_poro.hpp
  src/contact/4C_contact_nitsche_strategy.cpp
  src/contact/4C_contact_nitsche_strategy.hpp
  src/contact/4C_contact_nitsche_strategy_poro.cpp
  src/contact/4C_contact_nitsche_strategy_poro.hpp
  src/contact/4C_contact_nitsche_strategy_ssi.cpp
  src/contact/4C_contact_nitsche_strategy_ssi.hpp
  src/contact/4C_contact_nitsche_strategy_tsi.cpp
  src/contact/4C_contact_nitsche_strategy_tsi.hpp
  src/poroelast/4C_poroelast_monolithic.cpp
  src/structure/4C_structure_timint_impl.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add Kirchhoff-Love shell material
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.hpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/inpar/4C_inpar_validmaterials.cpp
  src/mat/4C_mat_material_factory.cpp
  src/mat/4C_mat_shell_kl.cpp
  src/mat/4C_mat_shell_kl.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Improve error message
  src/mat/4C_mat_shell_kl.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add unittest for KL shell
  src/shell_kl_nurbs/tests/CMakeLists.txt
  src/shell_kl_nurbs/tests/shell_kl_nurbs/4C_shell_kl_nurbs_test.cpp
  src/shell_kl_nurbs/tests/shell_kl_nurbs/CMakeLists.txt
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add Kiendl Kirchhoff-Love shell element
  .gitlab/CODEOWNERS
  TestingFrameworkListOfTests.cmake
  src/CMakeLists.txt
  src/core/fem/src/general/element/4C_fem_general_element_definition.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/global_legacy_module/CMakeLists.txt
  src/shell_kl_nurbs/4C_shell_kl_nurbs.cpp
  src/shell_kl_nurbs/4C_shell_kl_nurbs.hpp
  src/shell_kl_nurbs/4C_shell_kl_nurbs_evaluate.cpp
  src/shell_kl_nurbs/4C_shell_kl_nurbs_evaluate_acegen_body_load.cpp
  src/shell_kl_nurbs/4C_shell_kl_nurbs_evaluate_acegen_res.cpp
  src/shell_kl_nurbs/4C_shell_kl_nurbs_evaluate_acegen_res_and_stiff.cpp
  src/shell_kl_nurbs/4C_shell_kl_nurbs_input.cpp
  src/shell_kl_nurbs/CMakeLists.txt
  src/shell_kl_nurbs/script/shell_kl_nurbs_acegen.wls
  tests/input_files/shell_kl_nurbs.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars
