Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Remove fftw
  dependencies/windows/compile_dependencies.ps1
Due: non-ascii-chars

Improve trilinos installation
  dependencies/windows/trilinos/install.bat
Due: non-ascii-chars

Debug Trilinos
  dependencies/windows/compile_dependencies.ps1
  dependencies/windows/trilinos/install.bat
Due: non-ascii-chars

Fix Trilinos
  dependencies/windows/trilinos/install.bat
Due: non-ascii-chars

Fix fftw
  dependencies/windows/compile_dependencies.ps1
  dependencies/windows/fftw/install.bat
Due: non-ascii-chars

Fix hash
  .github/workflows/windows.yml
Due: non-ascii-chars

Fix trilinos
  dependencies/windows/trilinos/fixes.patch
  dependencies/windows/trilinos/install.bat
Due: non-ascii-chars

Enable cln and boost
  dependencies/windows/compile_dependencies.ps1
Due: non-ascii-chars

Skip performance test on forks
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars

Sync fork with upstream workflow
  .github/workflows/sync-fork.yml
Due: non-ascii-chars

Add rebase branch workflow
  .github/workflows/rebase-branch.yml
Due: non-ascii-chars

Add placeholder for Windows workflow
  .github/workflows/windows.yml
Due: non-ascii-chars

Enable adaptive time stepping for contact
  src/constraint_framework/4C_constraint_framework_model_evaluator.cpp
  src/contact/src/4C_contact_abstract_strategy.cpp
  src/contact/src/4C_contact_abstract_strategy.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_contact.cpp
  tests/input_files/contact3D_hslot_adaptive_timestep_new_struct.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Adress review comments
  src/contact/src/4C_contact_abstract_strategy.cpp
  src/contact/src/4C_contact_abstract_strategy.hpp
  tests/input_files/contact3D_hslot_adaptive_timestep_new_struct.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Adapt adaptive timestep test to new DIVERCONT
  tests/input_files/contact3D_hslot_adaptive_timestep_new_struct.4C.yaml
Due: non-ascii-chars

Remove unused "Allow Exceptions" from tests
  tests/input_files/contact3D_nitsche_hex8_skew_segm_newtonLS_new_struc.4C.yaml
  tests/input_files/shell7p_slit_annual_plate_line_end_force.4C.yaml
Due: non-ascii-chars

Update CONTRIBUTION.md about commit history
  CONTRIBUTING.md
Due: none

Make pleural pressure offset spatially varying
  src/reduced_lung/src/4C_reduced_lung_boundary_conditions.cpp
  src/reduced_lung/src/4C_reduced_lung_boundary_conditions.hpp
  src/reduced_lung/src/4C_reduced_lung_input.cpp
  src/reduced_lung/src/4C_reduced_lung_input.hpp
  src/reduced_lung/tests/4C_reduced_lung_boundary_conditions_test.cpp
  tests/input_files/reduced_lung_3_aw_2_tu_pleural_pressure.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor the VTK Writer
  src/core/io/src/4C_io_visualization_writer_vtu_per_rank.cpp
  src/core/io/src/4C_io_visualization_writer_vtu_per_rank.hpp
  src/core/io/src/4C_io_vtk_writer_base.cpp
  src/core/io/src/4C_io_vtk_writer_base.hpp
  src/core/io/src/4C_io_vtu_writer.cpp
  src/core/io/src/4C_io_vtu_writer.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor tractions vs stresses
  apps/post_processor/4C_post_processor_single_field_writers.cpp
  src/contact/src/4C_contact_abstract_data_container.cpp
  src/contact/src/4C_contact_abstract_data_container.hpp
  src/contact/src/4C_contact_abstract_strategy.cpp
  src/contact/src/4C_contact_abstract_strategy.hpp
  src/contact/src/4C_contact_interface.cpp
  src/contact/src/4C_contact_lagrange_strategy.cpp
  src/contact/src/4C_contact_lagrange_strategy.hpp
  src/contact/src/4C_contact_manager.cpp
  src/contact/src/4C_contact_meshtying_abstract_strategy.hpp
  src/contact/src/4C_contact_nitsche_strategy.hpp
  src/mortar/src/4C_mortar_strategy_base.hpp
  src/post/4C_post_ensight_writer_nurbs.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_contact.cpp
  tests/input_files/ref/contact3D_pwlin_penalty_hex27_new_struct-vtk-files/structure-contact-00010-0.vtu
  tests/input_files/ref/contact3D_pwlin_penalty_hex27_new_struct-vtk-files/structure-contact-00010-1.vtu
  tests/input_files/ref/contact3D_pwlin_penalty_hex27_new_struct-vtk-files/structure-contact-00010.pvtu
  tests/input_files/ref/contact3D_slidingblock_coulomb_new_struct-vtk-files/structure-contact-00020-0.vtu
  tests/input_files/ref/contact3D_slidingblock_coulomb_new_struct-vtk-files/structure-contact-00020-1.vtu
  tests/input_files/ref/contact3D_slidingblock_coulomb_new_struct-vtk-files/structure-contact-00020.pvtu
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove nox_floating_point exception handling
  src/solver_nonlin_nox/4C_solver_nonlin_nox_floating_point_exception.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_floating_point_exception.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_generic.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_generic.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Check FPEs directly in Backtrack
  src/solver_nonlin_nox/4C_solver_nonlin_nox_input.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linesearch_backtrack.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linesearch_backtrack.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix precommit for Darwin
  utilities/code_checks/check_non_ascii_chars
Due: non-ascii-chars

Move pre-commit stuffs to unix folder
  .pre-commit-config.unix.yaml
  utilities/code_checks/unix/check_non_ascii_chars
  utilities/code_checks/unix/check_venv
  utilities/code_checks/unix/commit-msg
  utilities/set_up_dev_env.sh
Due: non-ascii-chars

Add Windows pre-commit stuff
  .pre-commit-config.windows.yaml
  utilities/code_checks/windows/check_non_ascii_chars.bat
  utilities/code_checks/windows/check_venv.bat
  utilities/code_checks/windows/commit-msg.bat
  utilities/four_c_python/README.md
  utilities/four_c_python/src/four_c_precommit/check_non_ascii_chars.py
  utilities/four_c_python/src/four_c_precommit/commit-msg.py
  utilities/set_up_dev_env.bat
Due: non-ascii-chars

Add windows workflow
  .github/workflows/windows.yml
  CMakePresets.json
  cmake/configure/configure_MPI.cmake
  cmake/configure/configure_Python.cmake
  cmake/configure/configure_ryml.cmake
  cmake/functions/four_c_testing_functions.cmake
  dependencies/windows/.gitattributes
  dependencies/windows/boost/install.bat
  dependencies/windows/cln/install.bat
  dependencies/windows/compile_dependencies.ps1
  dependencies/windows/fftw/install.bat
  dependencies/windows/hdf5/install.bat
  dependencies/windows/lapack/install.bat
  dependencies/windows/msmpi/install.ps1
  dependencies/windows/netcdf/install.bat
  dependencies/windows/parmetis/fixes.patch
  dependencies/windows/parmetis/install.bat
  dependencies/windows/prepare_system.ps1
  dependencies/windows/qhull/install.bat
  dependencies/windows/suitesparse/install.bat
  dependencies/windows/superlu_dist/fixes.patch
  dependencies/windows/superlu_dist/install.bat
  dependencies/windows/trilinos/fixes.patch
  dependencies/windows/trilinos/install.bat
  dependencies/windows/zlib/install.bat
  presets/windows/CMakePresets.json
Due: non-ascii-chars

Enable ccache
  .github/workflows/windows.yml
Due: non-ascii-chars

Fix windows preset
  presets/windows/CMakePresets.json
Due: non-ascii-chars

Change /Zi to /Z7 to enable ccache
  cmake/setup_global_options.cmake
Due: non-ascii-chars

Change /Zi to /Z7 to enable ccache
  CMakeLists.txt
  cmake/setup_global_options.cmake
Due: non-ascii-chars

Disable tests on Windows
  cmake/functions/four_c_testing_functions.cmake
  tests/list_of_tests.cmake
Due: non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
