Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Clean up
  src/contact/4C_contact_meshtying_contact_bridge.cpp
  src/contact/4C_contact_meshtying_penalty_strategy.cpp
  src/contact/4C_contact_meshtying_poro_lagrange_strategy.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Vector: improve interface to enable mass-replace
  src/core/linalg/src/sparse/4C_linalg_vector.cpp
  src/core/linalg/src/sparse/4C_linalg_vector.hpp
  src/core/linalg/tests/4C_linalg_vector_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused thermo actions
  src/thermo/4C_thermo_ele_action.hpp
  src/thermo/4C_thermo_ele_boundary_impl.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused adapter FluidLung and StructureLung
  src/adapter/4C_adapter_fld_base_algorithm.cpp
  src/adapter/4C_adapter_fld_lung.cpp
  src/adapter/4C_adapter_fld_lung.hpp
  src/adapter/4C_adapter_str_lung.cpp
  src/adapter/4C_adapter_str_lung.hpp
  src/adapter/4C_adapter_str_structure.cpp
  src/adapter/4C_adapter_str_structure_new.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Improve stiffness of so3 poro_p1 ele when no damp
  src/so3/4C_so3_poro_p1_evaluate.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

LinAlg: Specialize Vector<int>
  src/core/linalg/src/sparse/4C_linalg_vector.cpp
  src/core/linalg/src/sparse/4C_linalg_vector.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update docs for unit testing
  doc/readthedocs/4Ctesting.rst
  doc/readthedocs/figures/tgm_filestructure.png
  doc/readthedocs/figures/tgm_headerfile.png
Due: non-ascii-chars

CMake: store unit test executables in tests/
  cmake/functions/four_c_add_googletest_executable.cmake
Due: non-ascii-chars

Mortar projection only for elements of same dim
  src/mortar/4C_mortar_projector.cpp
  src/mortar/4C_mortar_projector.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fluid: fix parts of the code for dim==2
  src/fluid_ele/4C_fluid_ele_calc.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Old solid elements: use explicit cell type
  src/so3/4C_so3_hex8.cpp
  src/so3/4C_so3_hex8_service.cpp
  src/so3/4C_so3_tet10.cpp
  src/so3/4C_so3_tet4.cpp
  src/so3/4C_so3_weg6.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Membrane: template shape function evaluation
  src/membrane/4C_membrane_scatra_evaluate.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix GCC 14 warnings for thermo
  src/thermo/4C_thermo_ele_boundary_impl.cpp
  src/thermo/4C_thermo_ele_boundary_impl.hpp
  src/thermo/4C_thermo_ele_impl.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Simplify Teko adapter
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_teko.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

LinAlg::MultiVector wrapping Epetra_MultiVector
  src/core/linalg/src/sparse/4C_linalg_multi_vector.cpp
  src/core/linalg/src/sparse/4C_linalg_multi_vector.hpp
  src/core/linalg/src/sparse/4C_linalg_vector.cpp
  src/core/linalg/src/sparse/4C_linalg_vector.hpp
  src/core/linalg/tests/4C_linalg_vector_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Drop brittle test scatra_forced_hit_iso_8x8x8
  TestingFrameworkListOfTests.cmake
  tests/input_files/scatra_forced_hit_iso_8x8x8.dat
Due: input-files, non-ascii-chars

Add method to enrich a matrix graph
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.hpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_manipulation_test.cpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_math_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

CMake: allow to define support files for unittests
  cmake/functions/four_c_add_googletest_executable.cmake
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_manipulation_test.cpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_math_test.cpp
  src/core/linalg/tests/CMakeLists.txt
  unittests/common/unittest_utils/4C_unittest_utils_support_files_test.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add sparsifying methods for matrix and graph
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.hpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_manipulation_test.cpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_math_test.cpp
  src/core/linalg/tests/CMakeLists.txt
  src/core/linalg/tests/test_matrices/beam.mm
  src/core/linalg/tests/test_matrices/filter.mm
  src/core/linalg/tests/test_matrices/nonsym.mm
  src/core/linalg/tests/test_matrices/poisson1d.mm
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add matrix sparse inverse calculation
  .pre-commit-config.yaml
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.hpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_math_test.cpp
  src/core/linalg/tests/CMakeLists.txt
  src/core/linalg/tests/script/matrix_sparse_inverse.m
  src/core/linalg/tests/test_matrices/nonsym.mm
  src/core/linalg/tests/test_matrices/poisson1d.mm
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update testing, naming and documentation
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_math_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Unify result file testing
  TestingFramework.cmake
  TestingFrameworkListOfTests.cmake
  utilities/diff_with_tolerance.py
Due: non-ascii-chars

Add proper testing
  TestingFrameworkListOfTests.cmake
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_composite.dat
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_composite_muelu_linear.xml
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_composite_muelu_nonlinear.xml
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_cube.dat
  tests/input_files/xml/block_preconditioner/beam_solid.xml
Due: input-files, non-ascii-chars

Add a special block LU 2x2 strategy using SPAI
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_teko.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_teko.hpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove MueLu beam solid preconditioner
  src/core/linear_solver/src/method/4C_linear_solver_method.hpp
  src/core/linear_solver/src/method/4C_linear_solver_method_iterative.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.hpp
  src/inpar/4C_inpar_solver.cpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused functions from contact
  src/contact/4C_contact_interface.cpp
  src/contact/4C_contact_interface.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix spelling error for inactive nodes
  src/contact/4C_contact_interface.cpp
  src/contact/4C_contact_interface.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Delete Core::LinAlg::Preconditioner
  src/adapter/4C_adapter_ale.hpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_linalg.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_linalg.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove amgnxn from all poro related code paths
  src/poroelast/4C_poroelast_monolithic.cpp
  src/porofluidmultiphase/4C_porofluidmultiphase_meshtying_strategy_artery.cpp
  src/poromultiphase/4C_poromultiphase_monolithic_twoway.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_monolithic_twoway.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_artery.cpp
  tests/input_files/new_solidporo_pressure_based_ele_poromultielast_3D_hex8_mono.dat
  tests/input_files/new_solidporo_pressure_based_ele_poromultielast_3D_tet4_mono.dat
  tests/input_files/new_solidporo_pressure_based_ele_poromultielastscatra_3D_hex8_linebased_artery_coupling_part_network.dat
  tests/input_files/new_solidporo_pressure_based_ele_poromultielastscatra_3D_hex8_mono_tumor.dat
  tests/input_files/new_solidporo_pressure_velocity_based_ele_3D_hex8_BGS.dat
  tests/input_files/poro_2D_scatra_quad4_partint.dat
  tests/input_files/poro_2D_scatra_quad4_reaction.dat
  tests/input_files/poro_2D_scatra_quad4_reaction_mono.dat
  tests/input_files/poro_3D_hex8_BGS.dat
  tests/input_files/poro_3D_hex8_p1.dat
  tests/input_files/poromultielast_3D_hex8_mono.dat
  tests/input_files/poromultielast_3D_hex8_mono_BGS-AMG_2x2.xml
  tests/input_files/poromultielast_3D_tet10_mono.dat
  tests/input_files/poromultielast_3D_tet4_mono.dat
  tests/input_files/poromultielastscatra_3D_hex8_linebased_artery_coupling_part_network.dat
  tests/input_files/poromultielastscatra_3D_hex8_linebased_artery_coupling_part_network_porofluid_artery_BGS-AMG_2x2.xml
  tests/input_files/poromultielastscatra_3D_hex8_linebased_artery_coupling_part_network_scatra_artery-scatra_BGS-AMG_2x2.xml
  tests/input_files/poromultielastscatra_3D_hex8_mono_tumor.dat
  tests/input_files/xml/block_preconditioner/artery.xml
  tests/input_files/xml/block_preconditioner/porofluid.xml
  tests/input_files/xml/block_preconditioner/poromultifluid.xml
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Update poromultielast test cases
  tests/input_files/poromultielast_3D_tet10_mono.dat
  tests/input_files/poromultielast_3D_tet4_mono.dat
Due: input-files, non-ascii-chars

Remove amgnxn from xfsi
  src/fsi_xfem/4C_fsi_xfem_monolithic.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix parallel restart bug of beaminteraction
  TestingFrameworkListOfTests.cmake
  src/beaminteraction/4C_beaminteraction_str_model_evaluator.cpp
  tests/input_files/beam3r_herm2line3_beam_to_beam_penalty_point_coupling_restart.dat
  tests/input_files/beam3r_herm2line3_beam_to_beam_penalty_point_coupling_restart.xml
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
