Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        name: Format C/C++
        # Only use on C and C++ files and not on other files that clang could format (e.g. json).
        types_or: [c++, c]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format cmake
        args: [--config, utilities/code_checks/.cmake-format.yaml, --in-place]
        additional_dependencies: [pyyaml>=5.1]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        name: Format python

  - repo: https://github.com/pamoller/xmlformatter
    rev: v0.2.6
    hooks:
      - id: xml-formatter
        name: Format xml
        args: [--indent, '2', --indent-char, ' ', --selfclose, --overwrite]
        # Only run on "pure" XML files and not on files that internally use XML (e.g. svg)
        files: \.xml$

  - repo: https://github.com/google/yamlfmt
    rev: v0.12.1
    hooks:
      - id: yamlfmt
        name: Format yaml
        args: [-conf, utilities/code_checks/.yamlfmt.yaml]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        # Do not modify reference vtu files, since we generate these and do not hand-edit them.
        exclude: 'vtu$'
      - id: no-commit-to-branch
        name: Don't commit to main

  - repo: local
    hooks:
      - id: check-venv-up-to-date
        name: Python virtual environment is up to date
        language: system
        entry: ./utilities/code_checks/check_venv
        always_run: true
        pass_filenames: false
        fail_fast: true

      - id: cpp-header
        name: C++ file headers
        description: 'Check that all C++ files have the correct header'
        language: system
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-file-header

      - id: cpp-filename-includes
        name: C++ file names and include style
        description: 'Check that all C++ files have the correct file name and include style'
        language: system
        types_or: [c++, c]
        exclude: 'tests/cut_test/'
        entry: utilities/python-venv/bin/check-filenames-and-includes
        args: ['--paths', 'src/', 'unittests/', 'apps/', '--files']

      - id: cpp-include-guard
        name: Include guards
        description: 'Check that all C++ files have the correct include guards'
        language: python
        types_or: [c++, c]
        files: '\.(h|hpp)$'
        entry: utilities/python-venv/bin/check-header-guards

      - id: cpp-preprocessor
        name: C++ preprocessor directives
        description: 'Check that all C++ files only use acceptable preprocessor directives'
        language: python
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-preprocessor

      - id: codeowners
        name: Inclusion in CODEOWNERS file
        description: 'Check that files are listed in CODEOWNERS file'
        language: python
        entry: utilities/python-venv/bin/check-codeowners

      - id: input-files
        name: Test input files
        description: 'Check input files conform to expectations'
        language: python
        files: 'tests/input_files/.*\.dat$'
        entry: utilities/python-venv/bin/check-test-files

      - id: non-ascii-chars
        name: Non-ASCII characters
        language: system
        exclude_types: [markdown, rst]
        entry: ./utilities/code_checks/check_non_ascii_chars

Add good scientific practice in code of conduct
  CODE_OF_CONDUCT.md
Due: none

Add LGPL 3.0 license to LICENSE.md
  .gitlab/CODEOWNERS
  LICENSE.md
Due: non-ascii-chars

Improve data structure in build_monolithic_node_gr
  src/core/rebalance/src/4C_rebalance_graph_based.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Improve test case pair creation
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_monolithic_partitioning.dat
Due: input-files, non-ascii-chars

Move ArborX vtk tests to fix pipeline
  tests/list_of_tests.cmake
Due: non-ascii-chars

Update CMake version and Docker dependency
  CMakeLists.txt
  dependencies/current/cmake/install.sh
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Update CMake version and Docker dependency
  dependencies/current/cmake/install.sh
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Fix gcc 14 warnings in cut, scatra, poro
  src/cut/4C_cut_side.hpp
  src/cut/4C_cut_tetmeshintersection.cpp
  src/cut/4C_cut_triangulateFacet.cpp
  src/porofluidmultiphase_ele/4C_porofluidmultiphase_ele_evaluator.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_artery_coupling_pair.cpp
  src/scatra_ele/4C_scatra_ele_calc_service_general.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Annotate shape function evaluation with asserts
  src/core/fem/src/general/utils/4C_fem_general_utils_fem_shapefunctions.hpp
  src/core/linalg/src/dense/4C_linalg_serialdensevector.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

CI: treat warnings as errors for GCC 14
  presets/docker/CMakePresets.json
Due: non-ascii-chars

Add .devcontainer to .gitignore
  .gitignore
Due: non-ascii-chars

Create badge for performance report
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Fix a few clang warnings
  apps/pre_exodus/4C_pre_exodus_reader.cpp
  src/beaminteraction/4C_beaminteraction_calc_utils.cpp
  src/beaminteraction/4C_beaminteraction_str_model_evaluator.cpp
  src/mat/4C_mat_robinson.cpp
  src/mat/4C_mat_robinson.hpp
  src/xfem/4C_xfem_coupling_levelset.hpp
  tests/cut_test/cut_test_levelset_no_loc_coord.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Introduce tensor interpolation routine
  src/core/linalg/src/dense/4C_linalg_utils_tensor_interpolation.cpp
  src/core/linalg/src/dense/4C_linalg_utils_tensor_interpolation.hpp
  src/core/linalg/tests/4C_linalg_utils_tensor_interpolation_test.cpp
  src/core/linalg/tests/CMakeLists.txt
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move the EAS helpers out from internal
  src/solid_3D_ele/4C_solid_3D_ele_calc_eas.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_eas_helpers.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_shell_ans.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add btsv-2d-3d mortar output input parameter
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_visualization_output_params.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_visualization_output_params.hpp
  src/inpar/4C_inpar_beam_to_solid.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix wrong rename
  src/beaminteraction/4C_beaminteraction_beam_to_solid_pair_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair_mortar.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_mortar_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_visualization_output_params.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_visualization_output_writer.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_visualization_output_writer_contact.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_mortar.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_visualization_output_params.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_visualization_output_writer.cpp
  src/fbi/4C_fbi_beam_to_fluid_meshtying_pair_base.cpp
  src/fbi/4C_fbi_beam_to_fluid_meshtying_pair_mortar.cpp
  src/geometry_pair/4C_geometry_pair_line_projection.cpp
  src/geometry_pair/4C_geometry_pair_line_to_surface.cpp
  src/geometry_pair/4C_geometry_pair_utility_classes.hpp
  unittests/geometry_pair/4C_geometry_pair_line_to_volume_segmentation_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add btsv-2d-3d mortar output
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_2d-3d_mortar.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_2d-3d_mortar.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_visualization_output_writer.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add btsv-2d-3d mortar output test case
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar.dat
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar-vtk/beam-to-solid-volume-mortar-continuous.pvd
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar-vtk/vtk-files/beam-to-solid-volume-mortar-continuous-000010001-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar-vtk/vtk-files/beam-to-solid-volume-mortar-continuous-000010001-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar-vtk/vtk-files/beam-to-solid-volume-mortar-continuous-000010001-2.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar-vtk/vtk-files/beam-to-solid-volume-mortar-continuous-000010001.pvtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar-vtk/vtk-files/beam-to-solid-volume-mortar-continuous-000020000-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar-vtk/vtk-files/beam-to-solid-volume-mortar-continuous-000020000-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar-vtk/vtk-files/beam-to-solid-volume-mortar-continuous-000020000-2.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_2d-3d_mortar-vtk/vtk-files/beam-to-solid-volume-mortar-continuous-000020000.pvtu
  tests/list_of_tests.cmake
Due: input-files, non-ascii-chars

Update CMake version in README
  README.md
Due: none

Preparing ILU for preconditioning block systems
  src/adapter/4C_adapter_str_structure.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_ifpack.cpp
  src/tsi/4C_tsi_monolithic.cpp
  tests/input_files/contact3D_blocked_system_ilu_precon.dat
  tests/input_files/tsi_simplrocketnozzle_monolithic_ilu.dat
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

CI: enable clang18 release build
  presets/docker/CMakePresets.json
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Update GoogleTest
  cmake/setup_tests.cmake
Due: non-ascii-chars

CI: no longer run gcc9 assertions job
  presets/docker/CMakePresets.json
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Fix clang unused variable warning
  cmake/setup_global_options.cmake
  src/art_net/4C_art_net_artery_ele_calc_lin_exp.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Ensure codegen can handle fp-env trapping
  cmake/setup_global_options.cmake
  presets/docker/CMakePresets.json
Due: non-ascii-chars

Remove many solid thermo element shapes
  doc/readthedocs/elementtypes.rst
  doc/readthedocs/materials.rst
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/so3/4C_so3_thermo.cpp
  src/so3/4C_so3_thermo.hpp
  src/so3/4C_so3_thermo_eletypes.cpp
  src/so3/4C_so3_thermo_eletypes.hpp
  src/so3/4C_so3_thermo_evaluate.cpp
  src/so3/4C_so3_thermo_fwd.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused variable in pre_exodus_writedat
  apps/pre_exodus/4C_pre_exodus_writedat.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Make LICENSE a text file
  .gitlab/CODEOWNERS
  LICENSE
Due: non-ascii-chars

Clean up RTTI with typeid
  cmake/setup_global_options.cmake
  src/ale/4C_ale_utils_clonestrategy.cpp
  src/art_net/4C_art_net_utils.cpp
  src/core/io/src/4C_io_file_reader.hpp
  src/core/io/src/4C_io_input_parameter_container.hpp
  src/core/io/src/4C_io_value_parser.hpp
  src/core/utils/src/functions/4C_utils_function_manager.hpp
  src/core/utils/src/stl_extension/4C_utils_demangle.cpp
  src/core/utils/src/stl_extension/4C_utils_demangle.hpp
  src/core/utils/tests/stl_extension/4C_utils_demangle_test.cpp
  src/elemag/4C_elemag_utils_clonestrategy.cpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/poroelast/4C_poroelast_utils.cpp
  src/poroelast/4C_poroelast_utils_clonestrategy.cpp
  src/poroelast_scatra/4C_poroelast_scatra_utils_clonestrategy.cpp
  src/poromultiphase/4C_poromultiphase_utils_clonestrategy.cpp
  src/scatra/4C_scatra_utils_clonestrategy.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib_nitsche.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_mulf.hpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_calc.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_calc_lib_nitsche.hpp
  src/ssi/4C_ssi_clonestrategy.cpp
  src/ssti/4C_ssti_utils.cpp
  src/sti/4C_sti_clonestrategy.cpp
  src/tsi/4C_tsi_utils.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refer to dat file sections without dashes
  src/contact_constitutivelaw/4C_contact_constitutivelaw_constitutivelaw_definition.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/io/src/4C_io_dat_file_utils.cpp
  src/core/io/src/4C_io_inputreader.cpp
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/tests/4C_io_inputreader_test.cpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/global_data/4C_global_data_read.cpp
  src/mat/4C_mat_materialdefinition.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Don't include Sacado in central beam3 headers
  src/beam3/4C_beam3_base.cpp
  src/beam3/4C_beam3_base.hpp
  src/beam3/4C_beam3_base_templates.hpp
  src/beam3/4C_beam3_kirchhoff.cpp
  src/beam3/4C_beam3_reissner.cpp
  src/structure_new/src/4C_structure_new_timint_basedatasdyn.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Don't include Sacado in matelast summand
  src/matelast/4C_matelast_coupanisoexpoactive.cpp
  src/matelast/4C_matelast_coupanisoexpobase.cpp
  src/matelast/4C_matelast_couptransverselyisotropic.cpp
  src/matelast/4C_matelast_remodelfiber.cpp
  src/matelast/4C_matelast_summand.hpp
  src/matelast/4C_matelast_visco_coupmyocard.cpp
  src/matelast/4C_matelast_visco_isoratedep.cpp
  unittests/matelast/4C_elast_coupanisoexpobase_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Don't include Sacado in rigidsphere header
  src/rigidsphere/4C_rigidsphere.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

CMake: make generated file sets names more robust
  cmake/functions/four_c_auto_define_module.cmake
Due: non-ascii-chars

Relax wording for citing 4C
  README.md
Due: none

Fill in another reference to the 4C Slack
  README.md
Due: none
