Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Restructure directory structure
  src/mat/4C_mat_shell_kl.cpp
  src/mat/4C_mat_shell_kl.hpp
  src/shell_kl_nurbs/CMakeLists.txt
  src/shell_kl_nurbs/script/shell_kl_nurbs_acegen.wls
  src/shell_kl_nurbs/src/4C_shell_kl_nurbs.cpp
  src/shell_kl_nurbs/src/4C_shell_kl_nurbs.hpp
  src/shell_kl_nurbs/src/4C_shell_kl_nurbs_evaluate.cpp
  src/shell_kl_nurbs/src/4C_shell_kl_nurbs_evaluate_acegen_body_load.cpp
  src/shell_kl_nurbs/src/4C_shell_kl_nurbs_evaluate_acegen_res.cpp
  src/shell_kl_nurbs/src/4C_shell_kl_nurbs_evaluate_acegen_res_and_stiff.cpp
  src/shell_kl_nurbs/src/4C_shell_kl_nurbs_input.cpp
  src/shell_kl_nurbs/src/CMakeLists.txt
  src/shell_kl_nurbs/tests/4C_shell_kl_nurbs_test.cpp
  src/shell_kl_nurbs/tests/CMakeLists.txt
  src/shell_kl_nurbs/tests/shell_kl_nurbs/CMakeLists.txt
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove merged solve from amgnxn
  src/core/linear_solver/src/amgnxn/4C_linear_solver_amgnxn_preconditioner.cpp
  src/core/linear_solver/src/amgnxn/4C_linear_solver_amgnxn_preconditioner.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused code
  src/core/rebalance/src/4C_rebalance_binning_based.cpp
  src/core/rebalance/src/4C_rebalance_binning_based.hpp
  src/mortar/4C_mortar_interface.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused define flag CHECKCONSERVATIONLAWS
  src/contact/4C_contact_defines.hpp
  src/contact/4C_contact_interface.cpp
  src/contact/4C_contact_interface.hpp
  src/contact/4C_contact_lagrange_strategy.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused define flag CONTACTEIG
  src/contact/4C_contact_defines.hpp
  src/structure/4C_structure_timint_impl.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unsed define flag MASTERNODESINCONTACT
  src/contact/4C_contact_defines.hpp
  src/contact/4C_contact_manager.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_contact.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused define PRINTSTRUCTDEFORMEDNODECOORDS
  src/contact/4C_contact_defines.hpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint.hpp
  src/structure_new/src/4C_structure_new_timint_base.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused define CONTACTEXPORT
  src/contact/4C_contact_abstract_strategy.cpp
  src/contact/4C_contact_defines.hpp
  src/contact/4C_contact_manager.cpp
  src/structure/4C_structure_timint_impl.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_contact.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove ununsed define flag CONTACTFORCEOUTPUT
  src/contact/4C_contact_defines.hpp
  src/contact/4C_contact_manager.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_contact.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update Trilinos install hash and config
  dependencies/current/trilinos/install.sh
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Update docker hash
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Update trilinos hash comment
  dependencies/current/trilinos/install.sh
Due: non-ascii-chars

Update IMCS workstation preset
  presets/imcs/workstation/CMakePresets.json
Due: non-ascii-chars

Update LNM workstation and cluster presets
  presets/lnm/cluster/CMakePresets.json
  presets/lnm/workstation/CMakePresets.json
Due: non-ascii-chars

Remove occurences of EpetraExt
  src/core/linalg/src/sparse/4C_linalg_blocksparsematrix.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix testing of scatra
  src/scatra/4C_scatra_resulttest.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove nstet
  TestingFrameworkListOfTests.cmake
  doc/readthedocs/elementtypes.rst
  src/core/fem/src/general/element/4C_fem_general_element_definition.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/so3/4C_so3_nstet5.cpp
  src/so3/4C_so3_nstet5.hpp
  src/so3/4C_so3_nstet5_evaluate.cpp
  src/so3/4C_so3_nstet5_input.cpp
  src/so3/4C_so3_nstet5_multiscale.cpp
  src/so3/4C_so3_nstet5_nodalstrain.cpp
  src/so3/4C_so3_scatra.hpp
  tests/input_files/cook_original8x8x2_nstet5.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove tet4av
  TestingFrameworkListOfTests.cmake
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/so3/4C_so3_tet4av.cpp
  src/so3/4C_so3_tet4av.hpp
  src/so3/4C_so3_tet4av_evaluate.cpp
  src/so3/4C_so3_tet4av_input.cpp
  tests/input_files/cook_original4x4x2_tet4av.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove hex8p1j1
  TestingFrameworkListOfTests.cmake
  doc/readthedocs/elementtypes.rst
  src/core/fem/src/general/element/4C_fem_general_element_definition.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/so3/4C_so3_hex8p1j1.cpp
  src/so3/4C_so3_hex8p1j1.hpp
  src/so3/4C_so3_hex8p1j1_evaluate.cpp
  src/so3/4C_so3_hex8p1j1_input.cpp
  src/so3/4C_so3_sh8_input.cpp
  src/structure/4C_structure_timint_impl.cpp
  tests/input_files/sohex8p1j1_cooks_nln_drt.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove sh8p8
  TestingFrameworkListOfTests.cmake
  doc/readthedocs/elementtypes.rst
  src/adapter/4C_adapter_str_structure_new.cpp
  src/core/fem/src/general/element/4C_fem_general_element_definition.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/inpar/4C_inpar_structure.hpp
  src/so3/4C_so3_hex8.hpp
  src/so3/4C_so3_hex8_eas.cpp
  src/so3/4C_so3_sh8p8.cpp
  src/so3/4C_so3_sh8p8.hpp
  src/so3/4C_so3_sh8p8_auxiliar.cpp
  src/so3/4C_so3_sh8p8_eas.cpp
  src/so3/4C_so3_sh8p8_eas.hpp
  src/so3/4C_so3_sh8p8_evaluate.cpp
  src/so3/4C_so3_sh8p8_input.cpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint_impl.cpp
  src/structure_new/src/4C_structure_new_integrator.cpp
  src/structure_new/src/4C_structure_new_timint_basedataglobalstate.cpp
  src/structure_new/src/4C_structure_new_timint_basedataglobalstate.hpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_utils.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_timint_noxinterface.cpp
  src/structure_new/src/utils/4C_structure_new_utils.cpp
  tests/input_files/sosh8p8_cooks_nl_incomp.dat
  tests/input_files/sosh8p8_lin_bending_patchtest.dat
  tests/input_files/sosh8p8_lin_bending_patchtest.xml
  tests/input_files/sosh8p8_patchtest.dat
  tests/input_files/sosh8p8_patchtest2.dat
  tests/input_files/stc-mltube-sosh8p8.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Further EpetraExt removal
  src/core/linalg/src/sparse/4C_linalg_multiply.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linear_solver/src/amgnxn/4C_linear_solver_amgnxn_hierarchies.cpp
  src/core/linear_solver/src/amgnxn/4C_linear_solver_amgnxn_preconditioner.cpp
  src/core/linear_solver/src/amgnxn/4C_linear_solver_amgnxn_vcycle.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_cheapsimple.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec_fsiamg_smoothers.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec_fsiamg_vcycles.cpp
  src/post/4C_post_common.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update documentation for parameter sub-lists
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_teko.cpp
  tests/input_files/xml/block_preconditioner/cardiovascular_solid.xml
  tests/input_files/xml/block_preconditioner/fluid_solid.xml
  tests/input_files/xml/block_preconditioner/thermo_solid.xml
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove element print out
  src/solid_3D_ele/4C_solid_3D_ele_calc.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Document the removal of growth materials and AC
  doc_removed_code/major_changes.txt
Due: non-ascii-chars

Compile files in adapter separately in unity build
  src/adapter/CMakeLists.txt
Due: non-ascii-chars

Allow to use KL shell with BTS
  TestingFrameworkListOfTests.cmake
  src/beaminteraction/4C_beaminteraction_calc_utils.cpp
  src/beaminteraction/4C_beaminteraction_contact_pair.cpp
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_surface_coupling_kl_shell_mortar_consistent_FAD_line2.dat
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Improve storage of surface elements in BTS
  src/beaminteraction/4C_beaminteraction_beam_to_solid_conditions.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_conditions.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_mortar_FAD.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_visualization_output_writer_utils.cpp
  src/geometry_pair/4C_geometry_pair_element.hpp
  src/geometry_pair/4C_geometry_pair_element_faces.cpp
  src/geometry_pair/4C_geometry_pair_element_faces.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove Linalg:ProjectedOperator
  src/core/linalg/src/sparse/4C_linalg_projected_operator.cpp
  src/core/linalg/src/sparse/4C_linalg_projected_operator.hpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_krylovprojection.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_krylovprojection.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove is_nurbs from elements
  src/core/fem/src/general/element/4C_fem_general_cell_type_traits.hpp
  src/core/fem/src/general/element/4C_fem_general_cell_type_traits_def.hpp
  src/core/fem/src/general/element/4C_fem_general_element.cpp
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/post/4C_post_vtk_vtu_writer_node_based.cpp
  src/shell_kl_nurbs/src/4C_shell_kl_nurbs.cpp
  src/so3/4C_so3_nurbs27.cpp
  src/so3/so3_plast/4C_so3_plast_ssn.cpp
  src/so3/so3_plast/4C_so3_plast_ssn_evaluate.cpp
  src/solid_3D_ele/4C_solid_3D_ele.cpp
  src/thermo/4C_thermo_element.cpp
  src/thermo/4C_thermo_element_input.cpp
  src/w1/4C_w1_nurbs.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused BGS2x2 mentions from EHL input files
  tests/input_files/ehl2D_block_sqz.dat
  tests/input_files/ehl3D_block_sqz.dat
  tests/input_files/ehl3d_cyl_mono.dat
  tests/input_files/ehl3d_cyl_mono_averaged.dat
  tests/input_files/ehl3d_cyl_part.dat
Due: input-files, non-ascii-chars

Remove untested solver options from EHL
  src/ehl/4C_ehl_monolithic.cpp
  src/ehl/4C_ehl_monolithic.hpp
  src/inpar/4C_inpar_ehl.cpp
  tests/input_files/ehl2D_block_sqz.dat
  tests/input_files/ehl3D_block_sqz.dat
  tests/input_files/ehl3d_cyl_mono.dat
  tests/input_files/ehl3d_cyl_mono_averaged.dat
  tests/input_files/ehl3d_cyl_part.dat
  tests/input_files/ehl3d_mixed.dat
  tests/input_files/ehl_bearing_barus.dat
  tests/input_files/ehl_bearing_roeland.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove single-option input parameter from EHL
  src/ehl/4C_ehl_monolithic.cpp
  src/ehl/4C_ehl_monolithic.hpp
  src/inpar/4C_inpar_ehl.cpp
  tests/input_files/ehl2D_block_sqz.dat
  tests/input_files/ehl3D_block_sqz.dat
  tests/input_files/ehl3d_cyl_mono.dat
  tests/input_files/ehl3d_cyl_mono_averaged.dat
  tests/input_files/ehl3d_cyl_part.dat
  tests/input_files/ehl3d_mixed.dat
  tests/input_files/ehl_bearing_barus.dat
  tests/input_files/ehl_bearing_roeland.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Introduce NURBS input section
  src/core/fem/src/nurbs_discretization/4C_fem_nurbs_discretization.cpp
  src/core/fem/src/nurbs_discretization/4C_fem_nurbs_discretization_initial_condition.cpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/global_data/4C_global_data.cpp
  src/global_data/4C_global_data.hpp
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_solver.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/structure/4C_structure_timint.cpp
  tests/input_files/scatra_chemo_h27.dat
  tests/input_files/solid_ele_nurbs27_periodic_patches_with_ls_dirichlet.dat
  tests/input_files/sonurbs27.dat
  tests/input_files/w1nurbs9_pbc.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Fix bug in beam visualization output
  TestingFrameworkListOfTests.cmake
  src/beam3/4C_beam3_discretization_runtime_vtu_writer.cpp
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_crosslinking_beam3rline2.dat
  tests/input_files/ref/beam3r_herm2line3_backweuler_browndyn_crosslinking_beam3rline2-vtk/structure-beams.pvd
  tests/input_files/ref/beam3r_herm2line3_backweuler_browndyn_crosslinking_beam3rline2-vtk/vtk-files/structure-beams-00025-0.vtu
  tests/input_files/ref/beam3r_herm2line3_backweuler_browndyn_crosslinking_beam3rline2-vtk/vtk-files/structure-beams-00025-1.vtu
  tests/input_files/ref/beam3r_herm2line3_backweuler_browndyn_crosslinking_beam3rline2-vtk/vtk-files/structure-beams-00025.pvtu
  tests/input_files/ref/beam3r_herm2line3_backweuler_browndyn_crosslinking_beam3rline2-vtk/vtk-files/structure-beams-00085-0.vtu
  tests/input_files/ref/beam3r_herm2line3_backweuler_browndyn_crosslinking_beam3rline2-vtk/vtk-files/structure-beams-00085-1.vtu
  tests/input_files/ref/beam3r_herm2line3_backweuler_browndyn_crosslinking_beam3rline2-vtk/vtk-files/structure-beams-00085.pvtu
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Cleaning up some things
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use SOLID element for sosh8 with EAS&ANS none
  tests/input_files/fsi_ves_mono_mtrfs_ost_ost_slidcurr.dat
  tests/input_files/fsi_ves_mono_mtrfs_ost_ost_slidrot.dat
  tests/input_files/fsi_ves_mono_mtrss_ost_ost_slidcurr.dat
  tests/input_files/fsi_ves_mono_mtrss_ost_ost_slidrot.dat
Due: input-files, non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
