Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        name: Format C/C++
        # Only use on C and C++ files and not on other files that clang could format (e.g. json).
        types_or: [c++, c]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format cmake
        args: [--config, utilities/code_checks/.cmake-format.yaml, --in-place]
        additional_dependencies: [pyyaml>=5.1]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        name: Format python

  - repo: https://github.com/pamoller/xmlformatter
    rev: v0.2.6
    hooks:
      - id: xml-formatter
        name: Format xml
        args: [--indent, '2', --indent-char, ' ', --selfclose, --overwrite]
        # Only run on "pure" XML files and not on files that internally use XML (e.g. svg)
        files: \.xml$

  - repo: https://github.com/google/yamlfmt
    rev: v0.12.1
    hooks:
      - id: yamlfmt
        name: Format yaml
        args: [-conf, utilities/code_checks/.yamlfmt.yaml]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        # Do not modify reference vtu files, since we generate these and do not hand-edit them.
        exclude: 'vtu$'
      - id: no-commit-to-branch
        name: Don't commit to main

  - repo: local
    hooks:
      - id: check-venv-up-to-date
        name: Python virtual environment is up to date
        language: system
        entry: ./utilities/code_checks/check_venv
        always_run: true
        pass_filenames: false
        fail_fast: true

      - id: cpp-header
        name: C++ file headers
        description: 'Check that all C++ files have the correct header'
        language: system
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-file-header

      - id: cpp-filename-includes
        name: C++ file names and include style
        description: 'Check that all C++ files have the correct file name and include style'
        language: system
        types_or: [c++, c]
        exclude: 'tests/cut_test/'
        entry: utilities/python-venv/bin/check-filenames-and-includes
        args: ['--paths', 'src/', 'unittests/', 'apps/', '--files']

      - id: cpp-include-guard
        name: Include guards
        description: 'Check that all C++ files have the correct include guards'
        language: python
        types_or: [c++, c]
        files: '\.(h|hpp)$'
        entry: utilities/python-venv/bin/check-header-guards

      - id: cpp-preprocessor
        name: C++ preprocessor directives
        description: 'Check that all C++ files only use acceptable preprocessor directives'
        language: python
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-preprocessor

      - id: codeowners
        name: Inclusion in CODEOWNERS file
        description: 'Check that files are listed in CODEOWNERS file'
        language: python
        entry: utilities/python-venv/bin/check-codeowners

      - id: input-files
        name: Test input files
        description: 'Check input files conform to expectations'
        language: python
        files: 'tests/input_files/.*\.dat$'
        entry: utilities/python-venv/bin/check-test-files

      - id: non-ascii-chars
        name: Non-ASCII characters
        language: system
        exclude_types: [markdown, rst]
        entry: ./utilities/code_checks/check_non_ascii_chars

Rename slave to source in contact constitutive law
  src/contact_constitutivelaw/src/4C_contact_constitutivelaw_interface.cpp
  src/contact_constitutivelaw/src/4C_contact_constitutivelaw_interface.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename master/slave to source/target in ehl
  src/ehl/4C_ehl_base.cpp
  src/ehl/4C_ehl_base.hpp
  src/ehl/4C_ehl_monolithic.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix usage of distype and dofsets in volmortar
  src/coupling/src/volmortar/4C_coupling_volmortar_integrator.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Group passive/active muscle material parameters
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_muscle_combo.cpp
  tests/input_files/mat_muscle_combo_hex.4C.yaml
  tests/input_files/mat_muscle_combo_hex_act_map_every_timestep.4C.yaml
  tests/input_files/mat_muscle_combo_hex_act_map_interpolation.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Refactor the muscle combo material
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_muscle_combo.cpp
  src/mat/4C_mat_muscle_combo.hpp
  src/mat/4C_mat_muscle_utils.cpp
  src/mat/4C_mat_muscle_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove redundant methods and do some cleanup
  src/mat/4C_mat_elchsinglemat.cpp
  src/mat/4C_mat_elchsinglemat.hpp
  src/mat/4C_mat_newman.cpp
  src/mat/4C_mat_newman.hpp
  src/mat/4C_mat_newman_multiscale.cpp
  src/mat/4C_mat_newman_multiscale.hpp
  src/mat/4C_mat_scl.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix build error on lnm cluster thought
  src/scatra/4C_scatra_functions.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

feat: beaminteraction -> potential: add potential reduction functions
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_beam.cpp
  tests/input_files/beam3r_herm2line3_static_vdW_singlelengthsspec_smallsepapprox_simple_end_point_potential_reduction_strategy_red_func_pol5.4C.yaml
  tests/input_files/beam3r_herm2line3_static_vdW_singlelengthsspec_smallsepapprox_simple_end_point_potential_reduction_strategy_red_func_pol7.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update the lnm cluster presets to
  presets/lnm/cluster/CMakePresets.json
Due: non-ascii-chars

Fix sign in 4 ele Maxwell residual
  src/reduced_lung/src/terminal_units/4C_reduced_lung_terminal_unit_rheology.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove unused AAA-related functions
  src/mat/4C_mat_aaaneohooke.cpp
  src/mat/4C_mat_aaaneohooke.hpp
  src/mat/4C_mat_elasthyper.cpp
  src/mat/4C_mat_elasthyper.hpp
  src/mat/elast/4C_mat_elast_anisoactivestress_evolution.hpp
  src/mat/elast/4C_mat_elast_coupanisoneohooke_VarProp.hpp
  src/mat/elast/4C_mat_elast_summand.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused varying_density from so3 material
  src/mat/4C_mat_so3_material.hpp
  src/membrane/4C_membrane_evaluate.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused elasthyper functions
  src/mat/4C_mat_elasthyper.cpp
  src/mat/4C_mat_elasthyper.hpp
  src/mat/elast/4C_mat_elast_coupSaintVenantKirchhoff.hpp
  src/mat/elast/4C_mat_elast_coupblatzko.hpp
  src/mat/elast/4C_mat_elast_coupneohooke.hpp
  src/mat/elast/4C_mat_elast_summand.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Inline elasthyper member functions and rewrite loops
  src/mat/4C_mat_elasthyper.cpp
  src/mat/4C_mat_elasthyper.hpp
  src/mat/elast/4C_mat_elast_couplogmixneohooke.cpp
  src/mat/elast/4C_mat_elast_couplogmixneohooke.hpp
  src/mat/elast/4C_mat_elast_couplogneohooke.cpp
  src/mat/elast/4C_mat_elast_couplogneohooke.hpp
  src/mat/elast/4C_mat_elast_coupneohooke.cpp
  src/mat/elast/4C_mat_elast_coupneohooke.hpp
  src/mat/elast/4C_mat_elast_coupvarga.cpp
  src/mat/elast/4C_mat_elast_coupvarga.hpp
  src/mat/elast/4C_mat_elast_isoneohooke.cpp
  src/mat/elast/4C_mat_elast_isoneohooke.hpp
  src/mat/elast/4C_mat_elast_isovarga.cpp
  src/mat/elast/4C_mat_elast_isovarga.hpp
  src/mat/elast/4C_mat_elast_summand.cpp
  src/mat/elast/4C_mat_elast_summand.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Improve error messages in elasthyper
  src/mat/4C_mat_elasthyper.cpp
  src/mat/elast/4C_mat_elast_summand.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Intermediate working version
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_conditions.cpp
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_input.hpp
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_utils.cpp
  src/beaminteraction/src/contact/beam_to_solid/volume/4C_beaminteraction_contact_beam_to_solid_volume_meshtying_pair_mortar.cpp
  src/beaminteraction/src/contact/beam_to_solid/volume/4C_beaminteraction_contact_beam_to_solid_volume_meshtying_pair_mortar_rotation.cpp
  src/core/fem/src/general/utils/4C_fem_general_utils_fem_shapefunctions.hpp
  src/geometry_pair/4C_geometry_pair_element.hpp
  src/geometry_pair/4C_geometry_pair_element_shape_functions.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Flush error output before MPI abort in main
  apps/global_full/4C_global_full_main.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update IMCS cluster preset
  presets/imcs/cluster/CMakePresets.json
Due: non-ascii-chars

Add warning to exodus reader
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.hpp
  src/core/io/src/4C_io_exodus.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Adapt battery tutorial
  tests/tutorials/battery/tutorial_battery.4C.yaml
  tests/tutorials/battery/tutorial_battery.e
  tests/tutorials/battery/tutorial_battery.jou
Due: non-ascii-chars

Adapt fsi 2D tutorial
  tests/tutorials/fsi/tutorial_fsi_2d.4C.yaml
  tests/tutorials/fsi/tutorial_fsi_2d.e
  tests/tutorials/fsi/tutorial_fsi_2d.jou
Due: non-ascii-chars

Adapt fsi 3D tutorial
  tests/tutorials/fsi/tutorial_fsi_3d.4C.yaml
  tests/tutorials/fsi/tutorial_fsi_3d.e
  tests/tutorials/fsi/tutorial_fsi_3d.jou
Due: non-ascii-chars

Further cleanup Local Newton in preparation
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.cpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.hpp
  src/mat/vplast/4C_mat_vplast_law.cpp
  src/mat/vplast/4C_mat_vplast_law.hpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.cpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.hpp
  tests/input_files/mat_iso_viscoplast_refJC_log_timint.4C.yaml
  tests/input_files/mat_iso_viscoplast_refJC_log_timint_substepping.4C.yaml
  unittests/mat/4C_inelastic_defgrad_factors_service_test.cpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
  unittests/mat/vplast/4C_vplast_reform_johnsoncook_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add thermal effects to the multsplit material
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.hpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.cpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.hpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper_service.hpp
  src/mat/4C_mat_trait_thermo_solid.hpp
  src/thermo/src/element/4C_thermo_ele_impl.cpp
  src/tsi/4C_tsi_monolithic.cpp
  tests/input_files/mat_iso_thermoviscoplast_refJC_log_timint_tsi_monolithic.4C.yaml
  tests/input_files/mat_iso_thermoviscoplast_refJC_log_timint_tsi_partitioned.4C.yaml
  tests/list_of_tests.cmake
  unittests/mat/4C_multiplicative_split_defgrad_elasthyper_service_test.cpp
  unittests/mat/4C_multiplicative_split_defgrad_elasthyper_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix grid velocity handling in ale fluid
  src/fluid/4C_fluid_implicit_integration.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Replace ThermoSVK by Fourier material in scatra
  src/fs3i/4C_fs3i_partitioned.cpp
  src/fs3i/4C_fs3i_partitioned.hpp
  src/fs3i/4C_fs3i_partitioned_2wc.cpp
  src/fs3i/4C_fs3i_partitioned_2wc.hpp
  src/fs3i/4C_fs3i_utils.cpp
  src/fs3i/4C_fs3i_utils.hpp
  src/poroelast_scatra/4C_poroelast_scatra_utils_clonestrategy.cpp
  src/scatra/4C_scatra_utils_clonestrategy.cpp
  src/scatra_ele/4C_scatra_ele.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc.cpp
  src/scatra_ele/4C_scatra_ele_calc_loma.cpp
  src/scatra_ele/4C_scatra_ele_calc_loma.hpp
  src/ssi/4C_ssi_clonestrategy.cpp
  src/thermo/src/element/4C_thermo_ele_impl.cpp
  tests/input_files/tfsi_plate.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove ThermoSolid reinit
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.hpp
  src/mat/4C_mat_robinson.cpp
  src/mat/4C_mat_robinson.hpp
  src/mat/4C_mat_thermoplastichyperelast.cpp
  src/mat/4C_mat_thermoplastichyperelast.hpp
  src/mat/4C_mat_thermoplasticlinelast.cpp
  src/mat/4C_mat_thermoplasticlinelast.hpp
  src/mat/4C_mat_thermostvenantkirchhoff.cpp
  src/mat/4C_mat_thermostvenantkirchhoff.hpp
  src/mat/4C_mat_trait_thermo_solid.hpp
  src/thermo/src/element/4C_thermo_ele_impl.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove thermo trait from thermosolid materials
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.hpp
  src/mat/4C_mat_robinson.cpp
  src/mat/4C_mat_robinson.hpp
  src/mat/4C_mat_thermomechanical.hpp
  src/mat/4C_mat_thermoplastichyperelast.cpp
  src/mat/4C_mat_thermoplastichyperelast.hpp
  src/mat/4C_mat_thermoplasticlinelast.cpp
  src/mat/4C_mat_thermoplasticlinelast.hpp
  src/mat/4C_mat_thermostvenantkirchhoff.cpp
  src/mat/4C_mat_thermostvenantkirchhoff.hpp
  src/mat/4C_mat_trait_solid.hpp
  src/mat/4C_mat_trait_thermo_solid.hpp
  src/thermo/src/element/4C_thermo_ele_impl.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

fixup! Replace ThermoSVK by Fourier material in scatra
  src/fs3i/4C_fs3i_partitioned.cpp
  src/fs3i/4C_fs3i_partitioned.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Initialize numgp_ to -1
  src/mat/4C_mat_anisotropy_extension.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Clear anisotropy extensions in anisotropy unpack
  src/mat/4C_mat_anisotropy.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Store anisotropy by value in all materials
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.cpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove empty lines in mixture
  src/mat/4C_mat_mixture.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove anisotropy back-reference from extensions
  src/mat/4C_mat_anisotropy.cpp
  src/mat/4C_mat_anisotropy_extension.cpp
  src/mat/4C_mat_anisotropy_extension.hpp
  src/mat/4C_mat_anisotropy_extension_base.cpp
  src/mat/4C_mat_anisotropy_extension_base.hpp
  src/mat/4C_mat_anisotropy_extension_cylinder_cosy.cpp
  src/mat/4C_mat_anisotropy_extension_cylinder_cosy.hpp
  src/mat/4C_mat_anisotropy_extension_default.cpp
  src/mat/4C_mat_anisotropy_extension_default.hpp
  src/mat/elast/4C_mat_elast_coupanisoexposhear.cpp
  src/mat/elast/4C_mat_elast_coupanisoexposhear.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Pack/unpack numgp_ in FiberAnisotropyExtension
  src/mat/4C_mat_anisotropy_extension.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars
