Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Remove warning about migration to GitHub
  README.md
Due: none

Print input when failing to parse a one_of spec
  src/core/io/src/4C_io_input_spec_builders.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Use InputParameterContainer to create Functions
  src/core/utils/src/functions/4C_utils_function.cpp
  src/core/utils/src/functions/4C_utils_function.hpp
  src/core/utils/src/functions/4C_utils_function_library.cpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/core/utils/src/functions/4C_utils_function_manager.hpp
  src/core/utils/src/functions/4C_utils_function_of_time.cpp
  src/core/utils/src/functions/4C_utils_function_of_time.hpp
  src/core/utils/src/functions/4C_utils_functionvariables.cpp
  src/core/utils/src/functions/4C_utils_functionvariables.hpp
  src/fluid/4C_fluid_functions.cpp
  src/fluid_xfluid/4C_fluid_xfluid_functions.cpp
  src/fluid_xfluid/4C_fluid_xfluid_functions_combust.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function.cpp
  src/structure_new/src/utils/4C_structure_new_functions.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove container() function from LineDefinition
  src/core/io/src/4C_io_elementreader.cpp
  src/core/io/src/4C_io_gridgenerator.cpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_file_utils.hpp
  src/core/io/src/4C_io_linedefinition.cpp
  src/core/io/src/4C_io_linedefinition.hpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/core/utils/src/result_test/4C_utils_result_test.cpp
  src/core/utils/src/result_test/4C_utils_result_test.hpp
  src/global_data/4C_global_data_read.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused Neumann TYPE options
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_xfem.cpp
  src/shell7p/4C_shell7p_ele_neumann_evaluator.cpp
  src/so3/4C_so3_surface_evaluate.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Check for unconsumed content in cond. definition
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update LNM cluster presets
  presets/lnm/cluster/CMakePresets.json
Due: non-ascii-chars

Introduce CalVer versioning and print it
  CMakeLists.txt
  VERSION
  apps/global_full/4C_global_full_main.cpp
  cmake/setup_install.cmake
  src/config/4C_config.hpp.in
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Cleanup reduced lung main
  src/reduced_lung/src/4C_reduced_lung_airways.cpp
  src/reduced_lung/src/4C_reduced_lung_airways.hpp
  src/reduced_lung/src/4C_reduced_lung_helpers.cpp
  src/reduced_lung/src/4C_reduced_lung_helpers.hpp
  src/reduced_lung/src/4C_reduced_lung_main.cpp
  src/reduced_lung/src/4C_reduced_lung_terminal_unit.cpp
  src/reduced_lung/src/4C_reduced_lung_terminal_unit.hpp
  src/reduced_lung/tests/4C_reduced_lung_helpers_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add workflow to close stale PRs
  .github/workflows/stale.yml
Due: non-ascii-chars

Switch 2D/3D peridynamics
  src/particle/src/4C_particle_input.cpp
  src/particle/src/4C_particle_input.hpp
  src/particle/src/interaction/4C_particle_interaction_sph_peridynamic.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_peridynamic.hpp
  tests/input_files/particle_sph_2d_pdbody_gravity.4C.yaml
  tests/input_files/particle_sph_2d_pdbody_gravity_cracking.4C.yaml
  tests/input_files/particle_sph_2d_pdbody_interaction_soft.4C.yaml
  tests/input_files/particle_sph_2d_pdbody_interaction_stiff.4C.yaml
  tests/input_files/particle_sph_3d_pdbody_colliding_fast.4C.yaml
  tests/input_files/particle_sph_3d_pdbody_colliding_slow.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Locally replicated maps and orthonormalization
  src/core/linalg/src/sparse/4C_linalg.hpp
  src/core/linalg/src/sparse/4C_linalg_map.cpp
  src/core/linalg/src/sparse/4C_linalg_map.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.hpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_math_test.np2.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Increase error message verbosity
  src/particle/src/algorithm/4C_particle_algorithm.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add method to detect Dirichlet condition
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_assemble.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_assemble.hpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_assemble_test.np2.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add further testing
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_assemble_test.np2.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Refactor SPHKernelBase::kernel_space_dimension() to return a value
  src/particle/src/4C_particle_input.cpp
  src/particle/src/4C_particle_input.hpp
  src/particle/src/interaction/4C_particle_interaction_sph.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_kernel.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_kernel.hpp
  src/particle/src/interaction/4C_particle_interaction_sph_momentum.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_virtual_wall_particle.cpp
  src/particle/tests/4C_particle_interaction_sph_kernel_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix stale bot message
  .github/workflows/stale.yml
Due: non-ascii-chars

Add terminal units in 1D pipe flow implementation
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_input.cpp
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_input.hpp
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_main.cpp
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_terminal_unit.cpp
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_terminal_unit.hpp
  tests/input_files/reduced_lung_1d_pipe_flow_3_aw_2_tu.4C.yaml
  tests/input_files/reduced_lung_1d_pipe_flow_3_aw_2_tu.json
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add missing methods to multivector wrapper
  src/core/linalg/src/sparse/4C_linalg_multi_vector.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_math_test.np2.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

feat: add first instructions for copilot review guidelines
  .github/copilot-instructions.md
Due: none

Change peridynamic contact formulation
  src/particle/src/interaction/4C_particle_interaction_pd_neighbor_pairs.cpp
  src/particle/src/interaction/4C_particle_interaction_pd_neighbor_pairs.hpp
  src/particle/src/interaction/4C_particle_interaction_sph.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove GlobalProblem call from reduced lung bcs
  src/reduced_lung/src/4C_reduced_lung_boundary_conditions.cpp
  src/reduced_lung/src/4C_reduced_lung_boundary_conditions.hpp
  src/reduced_lung/src/4C_reduced_lung_main.cpp
  src/reduced_lung/tests/4C_reduced_lung_boundary_conditions_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix Nitsche trace estimation for solid-surface ele
  src/contact/src/4C_contact_manager.cpp
  src/contact/src/4C_contact_nitsche_strategy.cpp
  src/contact/src/4C_contact_nitsche_strategy.hpp
  src/contact/src/4C_contact_nitsche_strategy_fpi.hpp
  src/contact/src/4C_contact_nitsche_strategy_fsi.hpp
  src/contact/src/4C_contact_nitsche_strategy_poro.hpp
  src/contact/src/4C_contact_nitsche_strategy_ssi.hpp
  src/contact/src/4C_contact_nitsche_strategy_ssi_elch.hpp
  src/contact/src/4C_contact_paramsinterface.hpp
  src/contact/src/4C_contact_strategy_factory.cpp
  src/mortar/src/4C_mortar_element.cpp
  src/mortar/src/4C_mortar_element.hpp
  src/solid_3D_ele/4C_solid_3D_ele_surface.hpp
  src/solid_3D_ele/4C_solid_3D_ele_surface_traceestimate.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.hpp
  src/xfem/4C_xfem_coupling_mesh.cpp
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_twosided_new_struc_elast.4C.yaml
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_twosided_new_struc_vplast.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fixes to compile and run on Darwin
  src/art_net/4C_art_net_artery_ele_calc_lin_exp.cpp
  src/art_net/4C_art_net_artery_ele_calc_pres_based.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_beam.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_sphere.cpp
  src/core/comm/src/4C_comm_pack_helpers.hpp
  src/core/fem/src/general/utils/4C_fem_general_largerotations.hpp
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix.hpp
  src/core/linalg/src/dense/4C_linalg_symmetric_tensor.hpp
  src/core/linalg/src/sparse/4C_linalg_map.hpp
  src/core/linalg/src/sparse/4C_linalg_vector.hpp
  src/core/utils/src/exceptions/4C_utils_exceptions.cpp
  src/core/utils/src/functions/4C_utils_function.hpp
  src/particle/src/interaction/4C_particle_interaction_utils.hpp
  src/scatra/4C_scatra_functions.cpp
  src/truss3/4C_truss3.hpp
  src/xfem/4C_xfem_interface_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enable intensive scalar transport
  src/inpar/4C_inpar_scatra.cpp
  src/ssi/4C_ssi_base.cpp
  src/ssi/4C_ssi_partitioned_1wc.cpp
  src/ssi/4C_ssi_partitioned_2wc.cpp
  tests/input_files/solidscatra_electromecha_1wc_myocardMV_ActiveStress_tet4_line2.4C.yaml
  tests/input_files/solidscatra_electromecha_1wc_myocardMV_ActiveStress_tet4_line2_independenttimestepping.4C.yaml
  tests/input_files/ssi_1wc_membrane_active_strain_scatra_only.4C.yaml
  tests/input_files/ssi_1wc_membrane_active_strain_scatrafromrestart_vol_matching.4C.yaml
  tests/input_files/ssi_1wc_membrane_active_strain_vol_matching.4C.yaml
  tests/input_files/ssi_1wc_membrane_active_strain_vol_nonmatching.4C.yaml
  tests/input_files/ssi_mono_3D_1hex8_scatra_intensive.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix bug: poro-contact mastertype
  src/contact/src/4C_contact_strategy_factory.cpp
  tests/input_files/poro_new_solid_nitsche_contact3D_new_struc_vplast.4C.yaml
  tests/input_files/poro_new_solid_nitsche_contact3D_twoelem_new_struc_elast.4C.yaml
  tests/input_files/poro_new_solid_nitsche_contact3D_twoelem_new_struc_vplast.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Create context-driven main without GlobalProblem
  src/reduced_lung/src/4C_reduced_lung_main.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update already existing functionality
  src/deal_ii/src/4C_deal_ii_context.cpp
  src/deal_ii/src/4C_deal_ii_context.hpp
  src/deal_ii/src/4C_deal_ii_context_implementation.hpp
  src/deal_ii/src/4C_deal_ii_dofs.cpp
  src/deal_ii/src/4C_deal_ii_dofs.hpp
  src/deal_ii/src/4C_deal_ii_element_conversion.hpp
  src/deal_ii/src/4C_deal_ii_triangulation.cpp
  src/deal_ii/src/4C_deal_ii_triangulation.hpp
  src/deal_ii/src/4C_deal_ii_vector_conversion.cpp
  src/deal_ii/src/4C_deal_ii_vector_conversion.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add helper function to create a sparsity pattern
  src/deal_ii/src/4C_deal_ii_linalg_sparsity.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add FEValues Wrapper usable with the 4C layout
  src/deal_ii/src/4C_deal_ii_fe_values_context.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add mapping class with isogeometric mapping
  src/deal_ii/src/4C_deal_ii_mapping.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update tests and add new ones
  src/deal_ii/tests/4C_deal_ii_create_discretization_helper_test.hpp
  src/deal_ii/tests/4C_deal_ii_interpolate_and_assembly_test.cpp
  src/deal_ii/tests/4C_deal_ii_triangulation_parallel_test.np3.cpp
  src/deal_ii/tests/4C_deal_ii_triangulation_serial_test.cpp
  src/deal_ii/tests/4C_deal_ii_vector_mapping_test.np2.cpp
  unittests/common/unittest_utils/4C_unittest_utils_create_discretization_helper_test.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update namespace names and fix include errors
  src/deal_ii/src/4C_deal_ii_element_conversion.hpp
  src/deal_ii/src/4C_deal_ii_fe_values_context.hpp
  src/deal_ii/src/4C_deal_ii_mapping.hpp
  src/deal_ii/src/4C_deal_ii_triangulation.cpp
  src/deal_ii/src/4C_deal_ii_vector_conversion.cpp
  src/deal_ii/tests/4C_deal_ii_create_discretization_helper_test.hpp
  src/deal_ii/tests/4C_deal_ii_interpolate_and_assembly_test.cpp
  src/deal_ii/tests/4C_deal_ii_triangulation_parallel_test.np3.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Improve Mapping Context Documentation
  src/deal_ii/src/4C_deal_ii_mapping.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enable mesh fiber input for muscle materials
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_muscle_combo.cpp
  src/mat/4C_mat_muscle_combo.hpp
  src/mat/4C_mat_muscle_giantesio.cpp
  src/mat/4C_mat_muscle_giantesio.hpp
  src/mat/4C_mat_muscle_weickenmeier.cpp
  src/mat/4C_mat_muscle_weickenmeier.hpp
  tests/input_files/mat_muscle_combo_hex.4C.yaml
  tests/input_files/mat_muscle_combo_hex_act_map_every_timestep.4C.yaml
  tests/input_files/mat_muscle_combo_hex_act_map_interpolation.4C.yaml
  tests/input_files/mat_muscle_combo_hex_fiber_orientation.json
  tests/input_files/mat_muscle_giantesio_hex.4C.yaml
  tests/input_files/mat_muscle_weickenmeier_hex.4C.yaml
  tests/input_files/mixture_muscle_giantesio_hex.4C.yaml
  tests/input_files/mixture_muscle_weickenmeier_hex.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
