Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Make the dependencies hash computation more robust
  .github/workflows/buildtest.yml
  .github/workflows/buildtest_kokkosparallel.yml
  .github/workflows/checkcode.yml
  .github/workflows/coverage.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly_tests.yml
  docker/dependencies/compute_dependencies_hash.sh
  docker/kokkosparallel/compute_dependencies_hash.sh
Due: non-ascii-chars

Migrate output of FluidImplicitTimeInt
  apps/post_processor/4C_post_processor_single_field_writers.cpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_fluidfluidmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_fluidfluidmonolithic_fluidsplit_nonox.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicfluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit_sp.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_fluidsplit.cpp
  tests/input_files/elch_natconv.4C.yaml
  tests/input_files/f3_cha_xwall_6x8x6_gradres_smooth_p_bs_ramp.4C.yaml
  tests/input_files/f3_channel_carreauyasuda_genalpha_drt_wss_agr.4C.yaml
  tests/input_files/fs3i_biogr.4C.yaml
  tests/input_files/fsi_dc_part_ait_ga_ga.4C.yaml
  tests/input_files/ref/elch_natconv-fluid.pvd
  tests/input_files/ref/elch_natconv-vtk-files/fluid-00003-0.vtu
  tests/input_files/ref/elch_natconv-vtk-files/fluid-00003-1.vtu
  tests/input_files/ref/elch_natconv-vtk-files/fluid-00003.pvtu
  tests/input_files/ref/f3_cha_xwall_6x8x6_gradres_smooth_p_bs_ramp-fluid.pvd
  tests/input_files/ref/f3_cha_xwall_6x8x6_gradres_smooth_p_bs_ramp-vtk-files/fluid-00005-0.vtu
  tests/input_files/ref/f3_cha_xwall_6x8x6_gradres_smooth_p_bs_ramp-vtk-files/fluid-00005.pvtu
  tests/input_files/ref/f3_channel_carreauyasuda_genalpha_drt_wss_agr-fluid.pvd
  tests/input_files/ref/f3_channel_carreauyasuda_genalpha_drt_wss_agr-vtk-files/fluid-00010-0.vtu
  tests/input_files/ref/f3_channel_carreauyasuda_genalpha_drt_wss_agr-vtk-files/fluid-00010.pvtu
  tests/input_files/ref/fsi_runtime_output-fluid.pvd
  tests/input_files/ref/fsi_runtime_output-vtk-files/fluid-000000010-0.vtu
  tests/input_files/ref/fsi_runtime_output-vtk-files/fluid-000000010-1.vtu
  tests/input_files/ref/fsi_runtime_output-vtk-files/fluid-00010-0.vtu
  tests/input_files/ref/fsi_runtime_output-vtk-files/fluid-00010-1.vtu
  tests/input_files/ref/fsi_runtime_output-vtk-files/fluid-00010.pvtu
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update Docker README with configurations
  docker/README.md
Due: none

Particle: reduce duplicated code
  src/particle/src/engine/4C_particle_engine_container.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Particle: minor access fix
  src/particle/src/engine/4C_particle_engine.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Particle: test try_.._writable fn
  src/particle/tests/4C_particle_container_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Particle: clearer error message
  src/particle/src/engine/4C_particle_engine_container.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add a performance test for reduced lung
  tests/performance_tests/list_of_performance_tests.cmake
  tests/performance_tests/meshes/full/reduced_lung_tree.vtu
  tests/performance_tests/meshes/minimal/reduced_lung_tree.vtu
  tests/performance_tests/reduced_lung.4C.yaml
Due: non-ascii-chars

Add dependencies compilation script and cmake preset to compile 4C on Darwin
  CMakePresets.json
  dependencies/darwin/compile_dependencies.sh
  dependencies/darwin/parmetis/install.sh
  dependencies/darwin/qhull/install.sh
  dependencies/darwin/superlu_dist/install.sh
  dependencies/darwin/trilinos/install.sh
  presets/darwin/CMakePresets.json
Due: non-ascii-chars

Add macos workflow stub
  .github/workflows/macos.yml
  dependencies/darwin/compile_dependencies.sh
  dependencies/darwin/mumps/install.sh
  dependencies/darwin/trilinos/install.sh
Due: non-ascii-chars

Fix compilation on macos
  src/reduced_lung/tests/4C_reduced_lung_aaa_approx_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Particle: clean up THROW vs ASSERT
  src/particle/src/engine/4C_particle_engine_container.cpp
  src/particle/src/engine/4C_particle_engine_container.hpp
  src/particle/src/engine/4C_particle_engine_container_bundle.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Particle: minor consistency
  src/particle/src/algorithm/4C_particle_algorithm_result_test.cpp
  src/particle/src/engine/4C_particle_engine_enums.cpp
  src/particle/src/engine/4C_particle_engine_enums.hpp
  src/particle/src/interaction/4C_particle_interaction_sph_surface_tension.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_temperature.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Particle: enum type usage consistency
  src/particle/src/algorithm/4C_particle_algorithm.cpp
  src/particle/src/engine/4C_particle_engine.cpp
  src/particle/src/engine/4C_particle_engine.hpp
  src/particle/src/engine/4C_particle_engine_container.cpp
  src/particle/src/engine/4C_particle_engine_container.hpp
  src/particle/src/engine/4C_particle_engine_container_bundle.cpp
  src/particle/src/engine/4C_particle_engine_container_bundle.hpp
  src/particle/src/engine/4C_particle_engine_interface.hpp
  src/particle/src/engine/4C_particle_engine_object.cpp
  src/particle/src/engine/4C_particle_engine_object.hpp
  src/particle/src/engine/4C_particle_engine_particlereader.cpp
  src/particle/src/engine/4C_particle_engine_refresh_entry.cpp
  src/particle/src/engine/4C_particle_engine_refresh_entry.hpp
  src/particle/src/engine/4C_particle_engine_runtime_vtp_writer.hpp
  src/particle/src/interaction/4C_particle_interaction_sph.cpp
  src/particle/tests/4C_particle_container_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Particle: Clean up formatting in throw
  src/particle/src/interaction/4C_particle_interaction_pd_neighbor_pairs.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix cell_block id access in reduced lung
  src/reduced_lung/src/4C_reduced_lung_helpers.cpp
  src/reduced_lung/src/4C_reduced_lung_helpers.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Adjust the workflow and tests on Darwin
  .github/workflows/macos.yml
  cmake/functions/four_c_testing_functions.cmake
  dependencies/darwin/compile_dependencies.sh
  dependencies/darwin/mumps/install.sh
  dependencies/darwin/parmetis/install.sh
  dependencies/darwin/prepare_system.sh
  dependencies/darwin/superlu_dist/install.sh
  dependencies/darwin/trilinos/install.sh
  presets/darwin/CMakePresets.json
  tests/list_of_tests.cmake
Due: non-ascii-chars

Add structured tree terminal unit
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_input.cpp
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_input.hpp
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_main.cpp
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_resulttest.cpp
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_resulttest.hpp
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_structured_tree.cpp
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_structured_tree.hpp
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_terminal_unit.cpp
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_terminal_unit.hpp
  tests/input_files/reduced_lung_1d_pipe_flow_structured_tree_tu.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove redundant definition from input file
  tests/input_files/ssi_mono_3D_tet4_elch_s2i_butlervolmer_manifold.4C.yaml
Due: non-ascii-chars

Temporarily disable kokkoscuda_build workflow
  .github/workflows/buildtest_kokkosparallel.yml
Due: non-ascii-chars

Add brew versions to the key hash for caching
  .github/workflows/macos.yml
Due: non-ascii-chars

Export the brew versions key hash
  .github/workflows/macos.yml
Due: non-ascii-chars

Remove some unnecessary brew packages
  dependencies/darwin/prepare_system.sh
Due: non-ascii-chars

Cache the full performance test meshes
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars

Introduce LineSearch::Controller to simplify and separate interfaces
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_armijo.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_armijo.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_generic.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_interface_required.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_upperbound.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_upperbound.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linesearch_backtrack.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linesearch_backtrack.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linesearch_controller.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linesearch_generic.hpp
  src/structure_new/src/4C_structure_new_timint_basedataio.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Clean up of NOX::Nln::Inner::StatusTest interface
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_armijo.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_armijo.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_generic.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_upperbound.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_inner_statustest_upperbound.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add virtual dtor to NOX::Nln::LineSearch::Controller
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linesearch_controller.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor DiverContAct to an enum class
  src/adapter/4C_adapter_str_timeada.cpp
  src/ehl/4C_ehl_monolithic.cpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint_impl.cpp
  src/structure_new/src/4C_structure_new_timint_basedatasdyn.cpp
  src/structure_new/src/implicit/4C_structure_new_timint_implicit.cpp
  src/structure_new/src/input/4C_structure_new_input.cpp
  src/structure_new/src/input/4C_structure_new_input.hpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_nox.cpp
  src/tsi/4C_tsi_monolithic.cpp
  tests/input_files/contact2D_hertz_linstatic.4C.yaml
  tests/input_files/contact2D_hertz_linstatic_new_struct.4C.yaml
  tests/input_files/contact2D_patch_bound.4C.yaml
  tests/input_files/contact2D_patch_bound_new_struct.4C.yaml
  tests/input_files/contact2D_patch_linstatic.4C.yaml
  tests/input_files/contact2D_patch_linstatic_new_struct.4C.json
  tests/input_files/contact3D_patch_linstatic.4C.yaml
  tests/input_files/contact3D_patch_linstatic_new_struct.4C.yaml
  tests/input_files/meshtying2D_inf_plate.4C.yaml
  tests/input_files/meshtying2D_inf_plate_new_struct.4C.yaml
  tests/input_files/meshtying2D_patch_linstatic.4C.yaml
  tests/input_files/meshtying2D_patch_linstatic_2.4C.yaml
  tests/input_files/meshtying2D_patch_linstatic_2_new_struct.4C.yaml
  tests/input_files/sohex8_disp_patchtest.4C.yaml
  tests/input_files/sohex8_disp_patchtest_varytimecurve.4C.yaml
  tests/input_files/sohex8_disp_patchtest_varytimecurve_new_struc.4C.yaml
  tests/input_files/sohex8_easfull_patchtest.4C.yaml
  tests/input_files/sohex8_incompr_block.4C.yaml
  tests/input_files/sosh8_lin_bending_patchtest.4C.yaml
  tests/input_files/sotet10_patchtest.4C.yaml
  tests/input_files/sotet4_patchtest.4C.yaml
  tests/input_files/w1_w1nurbs.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update DIVERCONT time-step handling
  doc/documentation/src/analysis_guide_templates/struct_dynamics.rst.j2
  src/adapter/4C_adapter_str_structure.cpp
  src/adapter/4C_adapter_str_structure.hpp
  src/adapter/4C_adapter_str_structure_new.cpp
  src/adapter/4C_adapter_str_timeada.cpp
  src/adapter/4C_adapter_str_timeada.hpp
  src/adapter/4C_adapter_str_timeloop.cpp
  src/adapter/4C_adapter_str_timeloop.hpp
  src/adapter/4C_adapter_str_wrapper.hpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint.hpp
  src/structure/4C_structure_timint_impl.cpp
  src/structure/4C_structure_timint_impl.hpp
  src/structure_new/src/4C_structure_new_timint_base.cpp
  src/structure_new/src/4C_structure_new_timint_base.hpp
  src/structure_new/src/4C_structure_new_timint_basedatasdyn.cpp
  src/structure_new/src/4C_structure_new_timint_basedatasdyn.hpp
  src/structure_new/src/implicit/4C_structure_new_timint_implicit.cpp
  src/structure_new/src/implicit/4C_structure_new_timint_implicit.hpp
  src/structure_new/src/input/4C_structure_new_input.cpp
  src/structure_new/src/input/4C_structure_new_input.hpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_nox.cpp
  src/timestepping/4C_timestepping_time_step_control.cpp
  src/timestepping/4C_timestepping_time_step_control.hpp
  src/timestepping/tests/4C_timestepping_time_step_control_test.cpp
  src/timestepping/tests/CMakeLists.txt
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_vanderWaals_doublelengthspec_smallsepapprox_twocrossedbeams.4C.yaml
  tests/input_files/beam3r_line5_static_test1_adaptstep.4C.yaml
  tests/input_files/beam3sk_line3rot_static_test1_adaptstep.4C.yaml
  tests/input_files/beam3wk_line3rot_static_test1_adaptstep.4C.yaml
  tests/input_files/solid_time_step_control_decrease_after_newton_failure.4C.yaml
  tests/input_files/solid_time_step_control_decrease_to_max_time.4C.yaml
  tests/input_files/solid_time_step_control_increase_blocked.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enable restartfrom option within restart test
  cmake/functions/four_c_testing_functions.cmake
  tests/list_of_tests.cmake
Due: non-ascii-chars

Add spack build testing
  .github/actions/report_nightly_test_failure/action.yml
  .github/workflows/spack.yml
Due: non-ascii-chars

Create issue for failing pipeline
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars

Add the rebase branch workflow
  .github/workflows/rebase-branch.yml
Due: non-ascii-chars

Add rebase branch workflow
  .github/workflows/rebase-branch.yml
Due: non-ascii-chars

Sync fork with upstream workflow
  .github/workflows/sync-fork.yml
Due: non-ascii-chars

Add placeholder for Windows workflow
  .github/workflows/windows.yml
Due: non-ascii-chars

Fix precommit for Darwin
  utilities/code_checks/check_non_ascii_chars
Due: non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
