Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        name: Format C/C++
        # Only use on C and C++ files and not on other files that clang could format (e.g. json).
        types_or: [c++, c]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format cmake
        args: [--config, utilities/code_checks/.cmake-format.yaml, --in-place]
        additional_dependencies: [pyyaml>=5.1]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        name: Format python

  - repo: https://github.com/pamoller/xmlformatter
    rev: v0.2.6
    hooks:
      - id: xml-formatter
        name: Format xml
        args: [--indent, '2', --indent-char, ' ', --selfclose, --overwrite]
        # Only run on "pure" XML files and not on files that internally use XML (e.g. svg)
        files: \.xml$

  - repo: https://github.com/google/yamlfmt
    rev: v0.12.1
    hooks:
      - id: yamlfmt
        name: Format yaml
        args: [-conf, utilities/code_checks/.yamlfmt.yaml]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        # Do not modify reference vtu files, since we generate these and do not hand-edit them.
        exclude: 'vtu$'
      - id: no-commit-to-branch
        name: Don't commit to main

  - repo: local
    hooks:
      - id: check-venv-up-to-date
        name: Python virtual environment is up to date
        language: system
        entry: ./utilities/code_checks/check_venv
        always_run: true
        pass_filenames: false
        fail_fast: true

      - id: cpp-header
        name: C++ file headers
        description: 'Check that all C++ files have the correct header'
        language: system
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-file-header

      - id: cpp-filename-includes
        name: C++ file names and include style
        description: 'Check that all C++ files have the correct file name and include style'
        language: system
        types_or: [c++, c]
        exclude: 'tests/cut_test/'
        entry: utilities/python-venv/bin/check-filenames-and-includes
        args: ['--paths', 'src/', 'unittests/', 'apps/', '--files']

      - id: cpp-include-guard
        name: Include guards
        description: 'Check that all C++ files have the correct include guards'
        language: python
        types_or: [c++, c]
        files: '\.(h|hpp)$'
        entry: utilities/python-venv/bin/check-header-guards

      - id: cpp-preprocessor
        name: C++ preprocessor directives
        description: 'Check that all C++ files only use acceptable preprocessor directives'
        language: python
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-preprocessor

      - id: codeowners
        name: Inclusion in CODEOWNERS file
        description: 'Check that files are listed in CODEOWNERS file'
        language: python
        entry: utilities/python-venv/bin/check-codeowners

      - id: input-files
        name: Test input files
        description: 'Check input files conform to expectations'
        language: python
        files: 'tests/input_files/.*\.dat$'
        entry: utilities/python-venv/bin/check-test-files

      - id: non-ascii-chars
        name: Non-ASCII characters
        language: system
        exclude_types: [markdown, rst]
        entry: ./utilities/code_checks/check_non_ascii_chars

Use libcln debian package
  dependencies/current/cln/install.sh
  docker/Dockerfile
  docker/trilinos_develop/Dockerfile
  presets/docker/CMakePresets.json
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Remove code disabled by preprocessor if
  src/fsi/src/monolithic/4C_fsi_monolithic_nonox.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Refactor NOX function call
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linearsystem.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename Register methods
  src/core/comm/src/4C_comm_parobjectfactory.cpp
  src/core/fem/src/dofset/4C_fem_dofset_base.cpp
  src/core/fem/src/dofset/4C_fem_dofset_base.hpp
  src/core/fem/src/dofset/4C_fem_dofset_definedmapping_wrapper.cpp
  src/core/fem/src/dofset/4C_fem_dofset_gidbased_wrapper.cpp
  src/core/fem/src/dofset/4C_fem_dofset_interface.hpp
  src/core/fem/src/dofset/4C_fem_dofset_merged_wrapper.cpp
  src/core/fem/src/dofset/4C_fem_dofset_proxy.cpp
  src/cut/4C_cut_edge.hpp
  src/cut/4C_cut_element.cpp
  src/cut/4C_cut_facet.cpp
  src/cut/4C_cut_facet.hpp
  src/cut/4C_cut_line.cpp
  src/cut/4C_cut_node.hpp
  src/cut/4C_cut_point.hpp
  src/cut/4C_cut_side.cpp
  src/cut/4C_cut_side.hpp
  src/cut/4C_cut_volumecell.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Seperate old input parameters with if-else
  src/core/linear_solver/src/method/4C_linear_solver_method_iterative.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Manually rename Delete methods
  .clang-tidy
  src/cut/4C_cut_memory_manager.cpp
  src/cut/4C_cut_memory_manager.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename methods that are only used when ArborX=OFF
  src/core/fem/src/geometric_search/4C_fem_geometric_search_bounding_volume.hpp
  src/cut/4C_cut_selfcut.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename remaining public methods
  src/core/coupling/src/adapter/4C_coupling_adapter.hpp
  src/core/coupling/src/adapter/4C_coupling_adapter_mortar.hpp
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/elemag/4C_elemag_diff_ele.cpp
  src/elemag/4C_elemag_diff_ele.hpp
  src/mat/4C_mat_growth_law.cpp
  src/mat/4C_mat_growth_law.hpp
  src/xfem/4C_xfem_multi_field_mapextractor.cpp
  src/xfem/4C_xfem_xfield_field_coupling.cpp
  src/xfem/4C_xfem_xfield_field_coupling.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix infinite recursion reported by clang-tidy
  src/cut/4C_cut_memory_manager.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Clean LinAlg sparse utils from never called code
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Small beauty on Trilinos configure
  cmake/configure/configure_Trilinos.cmake
Due: non-ascii-chars

Update history of 4C in documentation
  doc/readthedocs/4Csetup.rst
  doc/readthedocs/welcome.rst
Due: none

Restructure entry point of documentation
  doc/readthedocs/about.rst
  doc/readthedocs/index.rst
  doc/readthedocs/welcome.rst
Due: none

Invert matrix using serial dense solver for size > 3
  src/core/utils/src/numerics/4C_utils_local_newton.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename material service functions
  src/mat/4C_mat_service.cpp
  src/mat/4C_mat_service.hpp
  unittests/mat/4C_material_service_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add GTN plasticity model
  TestingFrameworkListOfTests.cmake
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.hpp
  src/inpar/4C_inpar_validmaterials.cpp
  src/mat/4C_mat_material_factory.cpp
  src/mat/4C_mat_plasticgtn.cpp
  src/mat/4C_mat_plasticgtn.hpp
  tests/input_files/mat_gtn_patch_test.dat
  tests/input_files/mat_gtn_solid_necking_bar_h8.dat
  tests/input_files/mat_gtn_solid_necking_bar_with_f0_h8.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove outdate, thus useless documentation
  doc/readthedocs/analysisguide.rst
  doc/readthedocs/figures/coupled_system_f_s.eps
  doc/readthedocs/figures/coupled_system_f_s.pdf
  doc/readthedocs/free_surface_flow.rst
  doc/readthedocs/fsi.rst
Due: non-ascii-chars

Small fixes
  src/core/linear_solver/src/method/4C_linear_solver_method_parameters.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_parameters.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move function and clean up related headers
  src/core/fem/src/general/nurbs/4C_fem_general_utils_nurbs_shapefunctions.hpp
  src/core/fem/src/nurbs_discretization/4C_fem_nurbs_discretization_utils.hpp
  src/core/io/src/4C_io_element_append_visualization.hpp
  src/fluid_ele/4C_fluid_ele_calc.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Minor refactoring
  src/core/fem/src/nurbs_discretization/4C_fem_nurbs_discretization_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Split contact_abstract DataContainer from Strategy
  src/contact/4C_contact_abstract_data_container.cpp
  src/contact/4C_contact_abstract_data_container.hpp
  src/contact/4C_contact_abstract_strategy.cpp
  src/contact/4C_contact_abstract_strategy.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove hybrid fsi preconditioner
  TestingFrameworkListOfTests.cmake
  src/fsi/src/monolithic/4C_fsi_monolithic.cpp
  src/fsi/src/monolithic/4C_fsi_monolithic_redistribution.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec_fsiamg.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec_fsiamg.hpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec_hybrid.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_overlapprec_hybrid.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_fluidsplit.cpp
  src/inpar/4C_inpar_fsi.cpp
  src/inpar/4C_inpar_fsi.hpp
  tests/input_files/fsi_pw_mono_mtrfs_ga_ga_hybrid.dat
  tests/input_files/mfsi_oval3D_sliding_up_fs.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove unused functions and weird header
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_print.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_print.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove dense algebra functions from sparse math
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove parallel redistribution from monolithic FSI
  src/fsi/src/4C_fsi_dyn.cpp
  src/fsi/src/monolithic/4C_fsi_monolithic.hpp
  src/fsi/src/monolithic/4C_fsi_monolithic_redistribution.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_constrmonolithic.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_lungmonolithic.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicfluidsplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicstructuresplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit_sp.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit_sp.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_structuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_structuresplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_fluidsplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_structuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_structuresplit.hpp
  src/inpar/4C_inpar_fsi.cpp
  src/inpar/4C_inpar_fsi.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused functions
  src/core/linalg/src/sparse/4C_linalg_blocksparsematrix.cpp
  src/core/linalg/src/sparse/4C_linalg_blocksparsematrix.hpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.hpp
  src/fluid/4C_fluid_meshtying.cpp
  src/fluid/4C_fluid_meshtying.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move and rename function to create identity matrix
  src/contact/4C_contact_lagrange_strategy.cpp
  src/contact/4C_contact_meshtying_lagrange_strategy.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_create.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_create.hpp
  src/core/linear_solver/src/amgnxn/4C_linear_solver_amgnxn_hierarchies.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_constrmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_lungmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicfluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_fluidsplit.cpp
  src/mortar/4C_mortar_utils.cpp
  src/poroelast/4C_poroelast_monolithicfluidsplit.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove output function
  src/fsi/src/utils/4C_fsi_utils.cpp
  src/fsi/src/utils/4C_fsi_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor sparse matrix multiply
  src/adapter/4C_adapter_fld_fluid_fsi.cpp
  src/constraint_framework/4C_constraint_framework_submodelevaluator_base.cpp
  src/contact/4C_contact_lagrange_strategy.cpp
  src/core/fem/src/condition/4C_fem_condition_locsys.cpp
  src/core/linalg/src/sparse/4C_linalg_blocksparsematrix.cpp
  src/core/linalg/src/sparse/4C_linalg_blocksparsematrix.hpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.hpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/fluid/4C_fluid_utils.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_constr_overlapprec.cpp
  src/mortar/4C_mortar_utils.cpp
  src/scatra/4C_scatra_timint_implicit_service.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor contact export_nodal_normals
  src/contact/4C_contact_interface.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove c style casting from export_nodal_normals
  src/contact/4C_contact_interface.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Delete FSI::ConstrMonolithic
  src/adapter/4C_adapter_ale.cpp
  src/adapter/4C_adapter_fld_base_algorithm.cpp
  src/adapter/4C_adapter_str_structure.cpp
  src/adapter/4C_adapter_str_structure_new.cpp
  src/fsi/src/4C_fsi_dyn.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_constr_overlapprec.cpp
  src/fsi/src/monolithic/linear_solver/4C_fsi_constr_overlapprec.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_constrmonolithic.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_constrmonolithic.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_constrmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_constrmonolithic_fluidsplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_constrmonolithic_structuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_constrmonolithic_structuresplit.hpp
  src/inpar/4C_inpar_fsi.cpp
  src/inpar/4C_inpar_fsi.hpp
  tests/framework-test/tutorial_fsi.head
  tests/framework-test/tutorial_fsi_3d.head
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Document removal
  doc_removed_code/major_changes.txt
Due: non-ascii-chars

Remove Downwindmatrix file and dependencies
  src/core/linalg/src/sparse/4C_linalg_downwindmatrix.cpp
  src/core/linalg/src/sparse/4C_linalg_downwindmatrix.hpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.hpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_cheapsimple.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_cheapsimple.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove some friend functionality in sparse matrix
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars
