Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        name: Format C/C++
        # Only use on C and C++ files and not on other files that clang could format (e.g. json).
        types_or: [c++, c]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format cmake
        args: [--config, utilities/code_checks/.cmake-format.yaml, --in-place]
        additional_dependencies: [pyyaml>=5.1]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        name: Format python

  - repo: https://github.com/pamoller/xmlformatter
    rev: v0.2.6
    hooks:
      - id: xml-formatter
        name: Format xml
        args: [--indent, '2', --indent-char, ' ', --selfclose, --overwrite]
        # Only run on "pure" XML files and not on files that internally use XML (e.g. svg)
        files: \.xml$

  - repo: https://github.com/google/yamlfmt
    rev: v0.12.1
    hooks:
      - id: yamlfmt
        name: Format yaml
        args: [-conf, utilities/code_checks/.yamlfmt.yaml]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        # Do not modify reference vtu files, since we generate these and do not hand-edit them.
        exclude: 'vtu$'
      - id: no-commit-to-branch
        name: Don't commit to main

  - repo: local
    hooks:
      - id: check-venv-up-to-date
        name: Python virtual environment is up to date
        language: system
        entry: ./utilities/code_checks/check_venv
        always_run: true
        pass_filenames: false
        fail_fast: true

      - id: cpp-header
        name: C++ file headers
        description: 'Check that all C++ files have the correct header'
        language: system
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-file-header

      - id: cpp-filename-includes
        name: C++ file names and include style
        description: 'Check that all C++ files have the correct file name and include style'
        language: system
        types_or: [c++, c]
        exclude: 'tests/cut_test/'
        entry: utilities/python-venv/bin/check-filenames-and-includes
        args: ['--paths', 'src/', 'unittests/', 'apps/', '--files']

      - id: cpp-include-guard
        name: Include guards
        description: 'Check that all C++ files have the correct include guards'
        language: python
        types_or: [c++, c]
        files: '\.(h|hpp)$'
        entry: utilities/python-venv/bin/check-header-guards

      - id: cpp-preprocessor
        name: C++ preprocessor directives
        description: 'Check that all C++ files only use acceptable preprocessor directives'
        language: python
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-preprocessor

      - id: codeowners
        name: Inclusion in CODEOWNERS file
        description: 'Check that files are listed in CODEOWNERS file'
        language: python
        entry: utilities/python-venv/bin/check-codeowners

      - id: input-files
        name: Test input files
        description: 'Check input files conform to expectations'
        language: python
        files: 'tests/input_files/.*\.dat$'
        entry: utilities/python-venv/bin/check-test-files

      - id: non-ascii-chars
        name: Non-ASCII characters
        language: system
        exclude_types: [markdown, rst]
        entry: ./utilities/code_checks/check_non_ascii_chars

Check element maps too to decide if geometry needs an update
  src/core/io/src/4C_io_discretization_visualization_writer_mesh.cpp
  src/core/io/src/4C_io_discretization_visualization_writer_mesh.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Pass EvaluationContext instead of ParameterList
  src/mat/4C_mat_elasthyper.cpp
  src/mat/4C_mat_elasthyper_service.cpp
  src/mat/4C_mat_elasthyper_service.hpp
  src/mat/4C_mat_viscoelasthyper.cpp
  src/mat/elast/4C_mat_elast_isoanisoexpo.cpp
  src/mat/elast/4C_mat_elast_isoanisoexpo.hpp
  src/mat/elast/4C_mat_elast_isomuscle_blemker.cpp
  src/mat/elast/4C_mat_elast_isomuscle_blemker.hpp
  src/mat/elast/4C_mat_elast_summand.hpp
  src/mixture/src/4C_mixture_constituent_elasthyper.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use interpolated input field for Blemker material
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/elast/4C_mat_elast_isomuscle_blemker.cpp
  src/mat/elast/4C_mat_elast_isomuscle_blemker.hpp
  tests/input_files/elasthyper_isomuscle_blemker.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix typos and remove dead code
  src/mat/elast/4C_mat_elast_coupsimopister.hpp
  src/mat/elast/4C_mat_elast_isomuscle_blemker.cpp
  src/mat/elast/4C_mat_elast_summand.cpp
  src/mat/elast/4C_mat_elast_visco_fract.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove discretization helper dependency on deal.II
  src/deal_ii/tests/4C_deal_ii_interpolate_and_assembly_test.cpp
  unittests/common/unittest_utils/4C_unittest_utils_create_discretization_helper_test.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add some descriptions to a few boundary conditions
  doc/documentation/src/analysis_guide_templates/boundaryconditions.rst.j2
  src/core/fem/src/condition/4C_fem_condition_locsys.cpp
  src/global_legacy_module/4C_global_legacy_module_validconditions.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Use node set names in condition definition
  src/core/fem/src/condition/4C_fem_condition.cpp
  src/core/fem/src/condition/4C_fem_condition.hpp
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.hpp
  src/core/io/src/4C_io_input_spec_validators.hpp
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/src/4C_io_meshreader.hpp
  src/global_data/4C_global_data_read.cpp
  src/structure_new/src/utils/4C_structure_new_monitor_dbc.cpp
  src/structure_new/src/utils/4C_structure_new_monitor_dbc.hpp
  tests/input_files/ref/solid_gmsh_input-left_faces_monitor_dbc.csv
  tests/input_files/ref/solid_gmsh_input-left_faces_monitor_dbc.yaml
  tests/input_files/solid_gmsh_input_node_set_names_monitor_dbc_csv.4C.yaml
  tests/input_files/solid_gmsh_input_node_set_names_monitor_dbc_yaml.4C.yaml
  tests/list_of_tests.cmake
  tests/tutorials/contact/tutorial_contact_3d.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor Condition Constructor
  src/core/fem/src/condition/4C_fem_condition.cpp
  src/core/fem/src/condition/4C_fem_condition.hpp
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.hpp
  src/ssi/4C_ssi_base.cpp
  src/structure_new/src/utils/4C_structure_new_monitor_dbc.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use UMFPACK instead of Superlu for a HCM test
  tests/input_files/homogenized-constrained-mixture-cube-stiffness-impl.4C.yaml
Due: non-ascii-chars

Use vector for beam nodal rotation vector input
  src/beam3/src/4C_beam3_reissner_input.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Implement lazy conversion of mesh data
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/io/src/4C_io_mesh.cpp
  src/core/io/src/4C_io_mesh.hpp
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/src/4C_io_vtu_reader.cpp
  src/core/io/tests/4C_io_mesh_test.cpp
  src/core/io/tests/4C_io_vtu_test.cpp
  src/core/utils/src/stl_extension/4C_utils_flat_vector_vector.hpp
  src/core/utils/src/stl_extension/4C_utils_vector2D.hpp
  src/core/utils/tests/stl_extension/4C_utils_vector2d_test.cpp
  unittests/common/unittest_utils/4C_unittest_utils_create_discretization_helper_test.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Linear solver cleanup
  src/adapter/4C_adapter_fld_base_algorithm.cpp
  src/adapter/4C_adapter_str_structure.cpp
  src/cardiovascular0d/4C_cardiovascular0d_structure_new_model_evaluator.cpp
  src/contact/src/4C_contact_meshtying_lagrange_strategy.cpp
  src/contact/src/4C_contact_meshtying_penalty_strategy.cpp
  src/core/fem/src/general/utils/4C_fem_general_l2_projection.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method.hpp
  src/core/linear_solver/src/method/4C_linear_solver_method_direct.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_direct.hpp
  src/core/linear_solver/src/method/4C_linear_solver_method_input.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.cpp
  src/coupling/src/volmortar/4C_coupling_volmortar.cpp
  src/fluid/4C_fluid_xwall.cpp
  src/fluid_xfluid/4C_fluid_xfluid.cpp
  src/fpsi/4C_fpsi_monolithic.cpp
  src/fs3i/4C_fs3i_fps3i_partitioned.cpp
  src/fs3i/4C_fs3i_partitioned.cpp
  src/fsi_xfem/4C_fsi_xfem_monolithic.cpp
  src/loma/4C_loma_algorithm.cpp
  src/poroelast/4C_poroelast_monolithic.cpp
  src/poroelast_scatra/4C_poroelast_scatra_monolithic.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_artery.cpp
  src/stru_multi/4C_stru_multi_microstatic.cpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
  src/tsi/4C_tsi_monolithic.cpp
  tests/input_files/ssti_mono_3D_3hex8_elch_s2i_butlervolmerthermo_growthlaw.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add safety check if chosen solver is available
  src/core/linear_solver/src/method/4C_linear_solver_method_direct.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add copilot instruction for fourcipp
  .github/copilot-instructions.md
Due: none

Add mumps to the docker dependency
  .github/workflows/buildtest.yml
  .github/workflows/checkcode.yml
  .github/workflows/coverage.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly_tests.yml
  dependencies/current/trilinos/install.sh
  dependencies/oldest_supported/trilinos/install.sh
  doc/documentation/src/installation/installation.rst
  docker/dependencies/Dockerfile
  docker/oldest_supported/Dockerfile
Due: non-ascii-chars

Switch to reference in to_element return type
  src/deal_ii/src/4C_deal_ii_context.cpp
  src/deal_ii/src/4C_deal_ii_context.hpp
  src/deal_ii/src/4C_deal_ii_fe_values_context.hpp
  src/deal_ii/src/4C_deal_ii_linalg_sparsity.hpp
  src/deal_ii/src/4C_deal_ii_mapping.hpp
  src/deal_ii/src/4C_deal_ii_vector_conversion.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Adress collection of minor issues
  src/deal_ii/src/4C_deal_ii_element_conversion.hpp
  src/deal_ii/src/4C_deal_ii_linalg_sparsity.hpp
  src/deal_ii/src/4C_deal_ii_mapping.hpp
  src/deal_ii/tests/4C_deal_ii_interpolate_and_assembly_test.cpp
  unittests/common/unittest_utils/4C_unittest_utils_create_discretization_helper_test.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Introduce growth and remodeling as ssi problem
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.hpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/inpar/4C_inpar_scatra.cpp
  src/inpar/4C_inpar_scatra.hpp
  src/mat/4C_mat_material_factory.cpp
  src/mat/4C_mat_mixture.cpp
  src/mat/4C_mat_mixture.hpp
  src/mat/4C_mat_scatra_growth_remodel.cpp
  src/mat/4C_mat_scatra_growth_remodel.hpp
  src/mixture/src/4C_mixture_constituent.cpp
  src/mixture/src/4C_mixture_constituent.hpp
  src/mixture/src/4C_mixture_constituent_remodelfiber_ssi.cpp
  src/mixture/src/4C_mixture_constituent_remodelfiber_ssi.hpp
  src/mixture/src/4C_mixture_remodelfiber-internal.hpp
  src/mixture/src/4C_mixture_remodelfiber.cpp
  src/mixture/src/4C_mixture_remodelfiber.hpp
  src/scatra_ele/4C_scatra_ele.cpp
  src/scatra_ele/4C_scatra_ele_boundary_evaluate.cpp
  src/scatra_ele/4C_scatra_ele_boundary_factory.cpp
  src/scatra_ele/4C_scatra_ele_calc_growth_remodel.cpp
  src/scatra_ele/4C_scatra_ele_calc_growth_remodel.hpp
  src/scatra_ele/4C_scatra_ele_calc_utils.cpp
  src/scatra_ele/4C_scatra_ele_evaluate.cpp
  src/scatra_ele/4C_scatra_ele_factory.cpp
  src/scatra_ele/4C_scatra_ele_input.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_lib.cpp
  tests/input_files/ssi_homogenized_constraint_mixture_qcyl.4C.yaml
  tests/input_files/vtu/homogenized-constrained-mixture-qcyl.vtu
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Allow user to specify which quantity test should be used for getting the specified tolerance
  src/solver_nonlin_nox/4C_solver_nonlin_nox_solver_prepostop_generic.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_solver_prepostop_generic.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add mumps as direct solver
  src/adapter/4C_adapter_str_structure.cpp
  src/core/fem/src/general/utils/4C_fem_general_l2_projection.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method.hpp
  src/core/linear_solver/src/method/4C_linear_solver_method_direct.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.cpp
  src/fpsi/4C_fpsi_monolithic.cpp
  src/fsi_xfem/4C_fsi_xfem_monolithic.cpp
  src/poroelast/4C_poroelast_monolithic.cpp
  src/poroelast_scatra/4C_poroelast_scatra_monolithic.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_artery.cpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
  tests/input_files/ssi_mono_3D_6hex8_elch_s2i_butlervolmer.4C.yaml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused method
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add nullspace orthonormalization
  src/constraint_framework/4C_constraint_framework_submodelevaluator_nullspace.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix Kelvin-Voigt airway equation row indexing
  src/reduced_lung/src/4C_reduced_lung_airways.cpp
  src/reduced_lung/src/4C_reduced_lung_airways.hpp
  src/reduced_lung/tests/4C_reduced_lung_airways_test.cpp
  src/reduced_lung/tests/4C_reduced_lung_test_utils_test.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add partial krylov projector
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
  tests/input_files/beam3eb_static_pure_neumann_partial_projection.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Store both Dirichlet and Neumann open boundries in a single vector
  src/particle/src/interaction/4C_particle_interaction_sph.cpp
  src/particle/src/interaction/4C_particle_interaction_sph.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use enum classes and parameter input in TSI
  src/inpar/4C_inpar_plasticity.cpp
  src/mat/4C_mat_plastic_VarConstUpdate.hpp
  src/mat/4C_mat_plasticelasthyper.cpp
  src/tsi/4C_tsi_input.cpp
  src/tsi/4C_tsi_input.hpp
  src/tsi/4C_tsi_monolithic.cpp
  src/tsi/4C_tsi_partitioned.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix airway timestep updates
  src/reduced_lung/src/4C_reduced_lung_airways.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix internal model parameters for airway and tu
  src/reduced_lung/src/4C_reduced_lung_airways.hpp
  src/reduced_lung/src/4C_reduced_lung_terminal_unit.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix flipped sign in four ele maxwell residual
  src/reduced_lung/src/4C_reduced_lung_terminal_unit.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Change sign in residual evaluators
  src/reduced_lung/src/4C_reduced_lung_airways.cpp
  src/reduced_lung/src/4C_reduced_lung_airways.hpp
  src/reduced_lung/src/4C_reduced_lung_boundary_conditions.cpp
  src/reduced_lung/src/4C_reduced_lung_boundary_conditions.hpp
  src/reduced_lung/src/4C_reduced_lung_junctions.cpp
  src/reduced_lung/src/4C_reduced_lung_junctions.hpp
  src/reduced_lung/src/4C_reduced_lung_main.cpp
  src/reduced_lung/src/4C_reduced_lung_terminal_unit.cpp
  src/reduced_lung/src/4C_reduced_lung_terminal_unit.hpp
  src/reduced_lung/tests/4C_reduced_lung_airways_test.cpp
  src/reduced_lung/tests/4C_reduced_lung_boundary_conditions_test.cpp
  src/reduced_lung/tests/4C_reduced_lung_junctions_test.cpp
  src/reduced_lung/tests/4C_reduced_lung_terminal_unit_test.cpp
  src/reduced_lung/tests/4C_reduced_lung_test_utils_test.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Clean up remodelfibers
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mixture/src/4C_mixture_constituent_full_constrained_mixture_fiber.cpp
  src/mixture/src/4C_mixture_constituent_full_constrained_mixture_fiber.hpp
  src/mixture/src/4C_mixture_constituent_remodelfiber_expl.cpp
  src/mixture/src/4C_mixture_constituent_remodelfiber_expl.hpp
  src/mixture/src/4C_mixture_constituent_remodelfiber_impl.cpp
  src/mixture/src/4C_mixture_constituent_remodelfiber_impl.hpp
  src/mixture/src/4C_mixture_remodelfiber-internal.hpp
  src/mixture/src/4C_mixture_remodelfiber.cpp
  src/mixture/src/4C_mixture_remodelfiber.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Implement python bindings for 4C mixture module
  CMakeLists.txt
  cmake/functions/four_c_auto_define_python_binding_submodule.cmake
  cmake/functions/four_c_auto_define_python_binding_submodule_test.cmake
  cmake/setup_global_options.cmake
  cmake/setup_py4C.cmake
  presets/docker/CMakePresets.json
  src/mixture/python/CMakeLists.txt
  src/mixture/python/bindings/4C_mixture.cpp
  src/mixture/python/bindings/CMakeLists.txt
  src/mixture/python/tests/4C_mixture_explicit_remodel_fiber_test.py
  src/mixture/python/tests/4C_mixture_full_constrained_mixture_fiber_test.py
  src/mixture/python/tests/4C_mixture_implicit_remodel_fiber_test.py
  src/mixture/python/tests/CMakeLists.txt
  utilities/four_c_python/build-requirements.txt
  utilities/four_c_python/src/four_c_development/check_python_files.py
  utilities/py4C/CMakeLists.txt
  utilities/py4C/src/4C_python_bindings_main.cpp
  utilities/py4C/src/CMakeLists.txt
  utilities/py4C/src/config/4C_config_submodule_registry.hpp
  utilities/py4C/src/config/CMakeLists.txt
  utilities/py4C/src/config/__init__.py.in
  utilities/py4C/src/config/pyproject.toml.in
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Unify preconditioners for xfluid test cases
  tests/input_files/xfluid_ifpack.xml
  tests/input_files/xfluid_kimmoin_stat_24x24x1_wedge15_levelset.4C.yaml
  tests/input_files/xfluid_kimmoin_stat_24x24x1_wedge15_levelset_normal_2ndGP.4C.yaml
  tests/input_files/xfluid_oseen_urquiza_square_NavSlip_eps1.0_40x40_mesh_altgeogeneration.4C.yaml
  tests/input_files/xfluid_taylor_couette_NavSlip_eps1.0_50x50_krylov_levelset.4C.yaml
Due: non-ascii-chars

Deactivate Python bindings in asan build
  cmake/setup_py4C.cmake
  presets/docker/CMakePresets.json
Due: non-ascii-chars

Add rank m correction method
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add rank m correction method
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_math_test.np2.cpp
  src/core/linalg/tests/test_matrices/poisson1d_periodic.mm
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Move beaminteraction preconditioning setup
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Centralize GlobalProblem porofluidpressurebased
  src/porofluid_pressure_based/4C_porofluid_pressure_based_algorithm.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_algorithm.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_algorithm_dependencies.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_algorithm_dependencies.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_dyn.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_resulttest.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_base.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

minor - add headers gcc 15.2.1 required
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/core/io/src/4C_io_mesh.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix restart vtk writer with same directory
  cmake/functions/four_c_testing_functions.cmake
  src/core/io/src/4C_io_vtk_writer_base.cpp
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars
