Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        name: Format C/C++
        # Only use on C and C++ files and not on other files that clang could format (e.g. json).
        types_or: [c++, c]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format cmake
        args: [--config, utilities/code_checks/.cmake-format.yaml, --in-place]
        additional_dependencies: [pyyaml>=5.1]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        name: Format python

  - repo: https://github.com/pamoller/xmlformatter
    rev: v0.2.6
    hooks:
      - id: xml-formatter
        name: Format xml
        args: [--indent, '2', --indent-char, ' ', --selfclose, --overwrite]
        # Only run on "pure" XML files and not on files that internally use XML (e.g. svg)
        files: \.xml$

  - repo: https://github.com/google/yamlfmt
    rev: v0.12.1
    hooks:
      - id: yamlfmt
        name: Format yaml
        args: [-conf, utilities/code_checks/.yamlfmt.yaml]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        # Do not modify reference vtu files, since we generate these and do not hand-edit them.
        exclude: 'vtu$'
      - id: no-commit-to-branch
        name: Don't commit to main

  - repo: local
    hooks:
      - id: check-venv-up-to-date
        name: Python virtual environment is up to date
        language: system
        entry: ./utilities/code_checks/check_venv
        always_run: true
        pass_filenames: false
        fail_fast: true

      - id: cpp-header
        name: C++ file headers
        description: 'Check that all C++ files have the correct header'
        language: system
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-file-header

      - id: cpp-filename-includes
        name: C++ file names and include style
        description: 'Check that all C++ files have the correct file name and include style'
        language: system
        types_or: [c++, c]
        exclude: 'tests/cut_test/'
        entry: utilities/python-venv/bin/check-filenames-and-includes
        args: ['--paths', 'src/', 'unittests/', 'apps/', '--files']

      - id: cpp-include-guard
        name: Include guards
        description: 'Check that all C++ files have the correct include guards'
        language: python
        types_or: [c++, c]
        files: '\.(h|hpp)$'
        entry: utilities/python-venv/bin/check-header-guards

      - id: cpp-preprocessor
        name: C++ preprocessor directives
        description: 'Check that all C++ files only use acceptable preprocessor directives'
        language: python
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-preprocessor

      - id: codeowners
        name: Inclusion in CODEOWNERS file
        description: 'Check that files are listed in CODEOWNERS file'
        language: python
        entry: utilities/python-venv/bin/check-codeowners

      - id: input-files
        name: Test input files
        description: 'Check input files conform to expectations'
        language: python
        files: 'tests/input_files/.*\.dat$'
        entry: utilities/python-venv/bin/check-test-files

      - id: non-ascii-chars
        name: Non-ASCII characters
        language: system
        exclude_types: [markdown, rst]
        entry: ./utilities/code_checks/check_non_ascii_chars

Add kokkosparallel docker and workflow
  .github/workflows/docker_kokkosparallel.yml
  dependencies/kokkosparallel/trilinos/install_with_cuda.sh
  dependencies/kokkosparallel/trilinos/install_with_openmp.sh
  docker/kokkosparallel/Dockerfile
  docker/kokkosparallel/compute_dependencies_hash.sh
Due: non-ascii-chars

Add LOCA to typos list
  .typos.toml
Due: non-ascii-chars

Fix determinant comparison for small cut and make the code clear
  src/cut/4C_cut_kernel.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Minor improvements to fluid files
  src/fluid/4C_fluid_implicit_integration.cpp
  src/fluid/4C_fluid_implicit_integration.hpp
  src/fluid/4C_fluid_timint.cpp
  src/fluid/4C_fluid_timint.hpp
  src/fluid/4C_fluid_utils.cpp
  src/fluid/4C_fluid_xwall.cpp
  src/fluid_xfluid/4C_fluid_xfluid.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Output of fluid quantities is now split into
  src/adapter/4C_adapter_fld_fluid_ale.cpp
  src/adapter/4C_adapter_fld_fluid_ale.hpp
  src/art_net/4C_art_net_explicitintegration.cpp
  src/art_net/4C_art_net_impl_stationary.cpp
  src/art_net/4C_art_net_impl_stationary.hpp
  src/core/io/src/4C_io.cpp
  src/fluid/4C_fluid_coupling_red_models.cpp
  src/fluid/4C_fluid_coupling_red_models.hpp
  src/fluid/4C_fluid_impedancecondition.cpp
  src/fluid/4C_fluid_impedancecondition.hpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/fluid/4C_fluid_implicit_integration.hpp
  src/fluid/4C_fluid_timint_poro.cpp
  src/fluid/4C_fluid_timint_poro.hpp
  src/fluid/4C_fluid_timint_red.cpp
  src/fluid/4C_fluid_timint_red.hpp
  src/fluid/4C_fluid_volumetric_surfaceFlow_condition.cpp
  src/fluid/4C_fluid_volumetric_surfaceFlow_condition.hpp
  src/red_airways/4C_red_airways_implicitintegration.cpp
  tests/input_files/f3_artery_coupled_with_3_1d_arteries.4C.yaml
  tests/input_files/ref/poro_3D_hex8_new_struc_porofluid.csv
  tests/input_files/ref/poro_3D_hex8_porofluid.csv
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Migrate fluid hdg output
  apps/post_processor/4C_post_processor_single_field_writers.cpp
  src/fluid/4C_fluid_timint_hdg.cpp
  src/fluid/4C_fluid_timint_hdg.hpp
  tests/input_files/f3_beltrami_4x4x4_hdg_legendre.4C.yaml
  tests/input_files/ref/f3_beltrami_4x4x4_hdg_legendre-fluid-hdg.pvd
  tests/input_files/ref/f3_beltrami_4x4x4_hdg_legendre-vtk-files/fluid-hdg-00005-0.vtu
  tests/input_files/ref/f3_beltrami_4x4x4_hdg_legendre-vtk-files/fluid-hdg-00005.pvtu
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Migrate fluid-poro output
  src/fluid/4C_fluid_timint_poro.cpp
  src/fluid/4C_fluid_timint_poro.hpp
  tests/input_files/ref/poro_3D_hex8_new_struc/fluid-poro.pvd
  tests/input_files/ref/poro_3D_hex8_new_struc/xxx-vtk-files/fluid-poro-00010-0.vtu
  tests/input_files/ref/poro_3D_hex8_new_struc/xxx-vtk-files/fluid-poro-00010-1.vtu
  tests/input_files/ref/poro_3D_hex8_new_struc/xxx-vtk-files/fluid-poro-00010.pvtu
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Output of external forces is only
  src/fluid/4C_fluid_implicit_integration.cpp
  src/fluid/4C_fluid_implicit_integration.hpp
  src/fluid/4C_fluid_timint_ost.cpp
  src/fluid/4C_fluid_timint_ost.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Discover inconsistent fiber entry by assert
  src/solid_ele/4C_solid_ele_fiber.cpp
  unittests/solid_ele/4C_solid_ele_fiber_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Migrate fluid-hdg-weak-comp output
  src/fluid/4C_fluid_timint_hdg_weak_comp.cpp
  src/fluid/4C_fluid_timint_hdg_weak_comp.hpp
  tests/input_files/hdg_weakly_compressible_etienne_cfd.4C.yaml
  tests/input_files/ref/hdg_weakly_compressible_etienne_cfd-fluid-hdg-weak-comp.pvd
  tests/input_files/ref/hdg_weakly_compressible_etienne_cfd-vtk-files/fluid-hdg-weak-comp-00001-0.vtu
  tests/input_files/ref/hdg_weakly_compressible_etienne_cfd-vtk-files/fluid-hdg-weak-comp-00001-1.vtu
  tests/input_files/ref/hdg_weakly_compressible_etienne_cfd-vtk-files/fluid-hdg-weak-comp-00001.pvtu
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Detect also inconsistent fiber in FNODE definition
  doc/documentation/src/analysis_guide_templates/geometrydefinition.rst.j2
  src/core/fem/src/general/node/4C_fem_general_fiber_node_holder.cpp
  src/core/fem/src/general/node/4C_fem_general_fiber_node_utils.cpp
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/src/4C_io_meshreader.hpp
  unittests/io/4C_meshreader_fiber_node_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix compilation on macos
  src/reduced_lung/tests/4C_reduced_lung_aaa_approx_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add macos workflow stub
  .github/workflows/macos.yml
  dependencies/darwin/compile_dependencies.sh
  dependencies/darwin/mumps/install.sh
  dependencies/darwin/trilinos/install.sh
Due: non-ascii-chars

Add dependencies compilation script and cmake preset to compile 4C on Darwin
  CMakePresets.json
  dependencies/darwin/compile_dependencies.sh
  dependencies/darwin/parmetis/install.sh
  dependencies/darwin/qhull/install.sh
  dependencies/darwin/superlu_dist/install.sh
  dependencies/darwin/trilinos/install.sh
  presets/darwin/CMakePresets.json
Due: non-ascii-chars

Adjust the workflow and tests on Darwin
  .github/workflows/macos.yml
  cmake/functions/four_c_testing_functions.cmake
  dependencies/darwin/compile_dependencies.sh
  dependencies/darwin/mumps/install.sh
  dependencies/darwin/parmetis/install.sh
  dependencies/darwin/superlu_dist/install.sh
  dependencies/darwin/trilinos/install.sh
  presets/darwin/CMakePresets.json
  tests/list_of_tests.cmake
Due: non-ascii-chars

Update MIRCO to fix the compilation problem (missing header <string>)
  cmake/configure/configure_MIRCO.cmake
Due: non-ascii-chars

Split the workflow into build and test
  .github/workflows/macos_build.yaml
  .github/workflows/macos_test.yaml
Due: non-ascii-chars

Add clangcuda++ wrapper to enable Kokkos CUDA
  utilities/clangcuda++
Due: non-ascii-chars

Add CMake logic for clangcuda++ compilation
  apps/global_full/CMakeLists.txt
  cmake/configure/configure_MIRCO.cmake
  cmake/functions/four_c_auto_define_benchmark_tests.cmake
  cmake/functions/four_c_auto_define_module.cmake
  cmake/functions/four_c_auto_define_python_binding_submodule.cmake
  cmake/functions/four_c_auto_define_tests.cmake
  cmake/functions/four_c_set_clangcuda_mode.cmake
  cmake/setup_global_options.cmake
Due: non-ascii-chars

Prevent noinline conflict between Boost and CUDA
  src/cut/4C_cut_pointgraph.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add documentation for building with clangcuda++
  doc/documentation/src/installation/installation.rst
Due: none

Add buildtests for Kokkos with OpenMP and CUDA
  .github/workflows/buildtest_kokkosparallel.yml
  presets/docker/CMakePresets.json
Due: non-ascii-chars

Fix typos list order
  .typos.toml
Due: non-ascii-chars

Document kokkosparallel in docker README
  docker/README.md
Due: none

Add kokkosparallel docker to release tag script
  utilities/tag_images_for_release.sh
Due: non-ascii-chars

Insert Global::Problem at porofluid boundary
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_artery_coupling.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_artery_coupling.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_base.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_base.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_dyn.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_base.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_base.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_dyn.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_partitioned.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_partitioned.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Change maintainer in kokkosparallel docker
  .github/workflows/buildtest_kokkosparallel.yml
  docker/kokkosparallel/Dockerfile
Due: non-ascii-chars

Remove RAD parameter from FNODE definition
  doc/documentation/src/analysis_guide_templates/geometrydefinition.rst.j2
  src/core/fem/src/general/node/4C_fem_general_fiber_node_utils.cpp
  src/core/io/src/4C_io_meshreader.cpp
  src/solid_ele/4C_solid_ele_fiber.cpp
  unittests/io/4C_meshreader_fiber_node_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

The output of TotalTractionCorrectionCond
  src/fluid/4C_fluid_timint_red.cpp
  src/fluid/4C_fluid_timint_red.hpp
  src/fluid/4C_fluid_volumetric_surfaceFlow_condition.cpp
  src/fluid/4C_fluid_volumetric_surfaceFlow_condition.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Particle: state read/write access
  src/particle/src/algorithm/4C_particle_algorithm_constraints.cpp
  src/particle/src/algorithm/4C_particle_algorithm_dirichlet_bc.cpp
  src/particle/src/algorithm/4C_particle_algorithm_initial_field.cpp
  src/particle/src/algorithm/4C_particle_algorithm_temperature_bc.cpp
  src/particle/src/algorithm/4C_particle_algorithm_timint.cpp
  src/particle/src/engine/4C_particle_engine.cpp
  src/particle/src/engine/4C_particle_engine_container.cpp
  src/particle/src/engine/4C_particle_engine_container.hpp
  src/particle/src/interaction/4C_particle_interaction_dem.cpp
  src/particle/src/interaction/4C_particle_interaction_dem_adhesion.cpp
  src/particle/src/interaction/4C_particle_interaction_dem_contact.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_boundary_particle.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_density.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_heatloss_evaporation.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_heatsource.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_momentum.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_open_boundary.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_peridynamic.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_pressure.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_rigid_particle_contact.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_surface_tension.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_surface_tension_barrier_force.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_surface_tension_interface_viscosity.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_surface_tension_recoilpressure_evaporation.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_temperature.cpp
  src/particle/src/rigidbody/4C_particle_rigidbody.cpp
  src/particle/tests/4C_particle_container_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Particle: reduce unneeded write access
  src/particle/src/interaction/4C_particle_interaction_dem_adhesion.cpp
  src/particle/src/interaction/4C_particle_interaction_dem_contact.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_density.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_peridynamic.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_surface_tension.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_surface_tension_barrier_force.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_temperature.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Particle: Test writable access
  src/particle/tests/4C_particle_container_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Particle: cond_ => try_
  src/particle/src/algorithm/4C_particle_algorithm_constraints.cpp
  src/particle/src/engine/4C_particle_engine_container.hpp
  src/particle/src/interaction/4C_particle_interaction_dem.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_density.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_momentum.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_peridynamic.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_rigid_particle_contact.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_surface_tension.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_surface_tension_barrier_force.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_surface_tension_interface_viscosity.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_temperature.cpp
  src/particle/src/rigidbody/4C_particle_rigidbody.cpp
  src/particle/tests/4C_particle_container_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Give list() its own explicit store
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Read lung topology from external mesh file
  src/reduced_lung/src/4C_reduced_lung_boundary_conditions.cpp
  src/reduced_lung/src/4C_reduced_lung_helpers.cpp
  src/reduced_lung/src/4C_reduced_lung_helpers.hpp
  src/reduced_lung/src/4C_reduced_lung_input.cpp
  src/reduced_lung/src/4C_reduced_lung_input.hpp
  src/reduced_lung/src/4C_reduced_lung_main.cpp
  src/reduced_lung/src/airways/4C_reduced_lung_airways_model_registry.cpp
  src/reduced_lung/src/airways/4C_reduced_lung_airways_model_registry.hpp
  src/reduced_lung/src/terminal_units/4C_reduced_lung_terminal_unit_model_registry.cpp
  src/reduced_lung/src/terminal_units/4C_reduced_lung_terminal_unit_model_registry.hpp
  src/reduced_lung/tests/4C_reduced_lung_airways_test.cpp
  src/reduced_lung/tests/4C_reduced_lung_boundary_conditions_test.cpp
  src/reduced_lung/tests/4C_reduced_lung_helpers_test.cpp
  src/reduced_lung/tests/4C_reduced_lung_input_pipeline_test.cpp
  src/reduced_lung/tests/4C_reduced_lung_nox_solver_test.np2.cpp
  src/reduced_lung/tests/4C_reduced_lung_terminal_unit_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix stale registry detach after InputField move
  src/core/io/src/4C_io_input_field.hpp
  src/core/io/tests/4C_io_input_field_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Take lung element types and BCs from the mesh
  src/reduced_lung/src/4C_reduced_lung_boundary_conditions.cpp
  src/reduced_lung/src/4C_reduced_lung_boundary_conditions.hpp
  src/reduced_lung/src/4C_reduced_lung_helpers.cpp
  src/reduced_lung/src/4C_reduced_lung_helpers.hpp
  src/reduced_lung/src/4C_reduced_lung_input.cpp
  src/reduced_lung/src/4C_reduced_lung_input.hpp
  src/reduced_lung/src/4C_reduced_lung_main.cpp
  src/reduced_lung/src/terminal_units/4C_reduced_lung_terminal_unit_model_registry.cpp
  src/reduced_lung/tests/4C_reduced_lung_boundary_conditions_test.cpp
  src/reduced_lung/tests/4C_reduced_lung_helpers_test.cpp
  src/reduced_lung/tests/4C_reduced_lung_input_pipeline_test.cpp
  src/reduced_lung/tests/4C_reduced_lung_nox_solver_test.np2.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Migrate reduced lung tests to VTU meshes
  src/reduced_lung/src/4C_reduced_lung_input.cpp
  tests/input_files/reduced_lung_3_aw_2_tu.4C.yaml
  tests/input_files/reduced_lung_3_aw_2_tu_4elemax_and_kv.4C.yaml
  tests/input_files/reduced_lung_3_aw_2_tu_fields.json
  tests/input_files/reduced_lung_aw_bifurcation_fields.json
  tests/input_files/reduced_lung_aw_bifurcation_flow.4C.yaml
  tests/input_files/reduced_lung_aw_bifurcation_no_flow.4C.yaml
  tests/input_files/reduced_lung_serial_airways_fields.json
  tests/input_files/reduced_lung_serial_airways_flow.4C.yaml
  tests/input_files/reduced_lung_serial_airways_no_flow.4C.yaml
  tests/input_files/reduced_lung_terminal_unit.4C.yaml
  tests/input_files/reduced_lung_terminal_unit_fields.json
  tests/input_files/vtu/reduced_lung_3_aw_2_tu.vtu
  tests/input_files/vtu/reduced_lung_aw_bifurcation.vtu
  tests/input_files/vtu/reduced_lung_serial_airways.vtu
  tests/input_files/vtu/reduced_lung_terminal_unit.vtu
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Particle: Copilot review changes
  src/particle/src/engine/4C_particle_engine_container.cpp
  src/particle/src/engine/4C_particle_engine_container.hpp
  src/particle/src/interaction/4C_particle_interaction_dem.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars
