Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        name: Format C/C++
        # Only use on C and C++ files and not on other files that clang could format (e.g. json).
        types_or: [c++, c]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format cmake
        args: [--config, utilities/code_checks/.cmake-format.yaml, --in-place]
        additional_dependencies: [pyyaml>=5.1]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        name: Format python

  - repo: https://github.com/pamoller/xmlformatter
    rev: v0.2.6
    hooks:
      - id: xml-formatter
        name: Format xml
        args: [--indent, '2', --indent-char, ' ', --selfclose, --overwrite]
        # Only run on "pure" XML files and not on files that internally use XML (e.g. svg)
        files: \.xml$

  - repo: https://github.com/google/yamlfmt
    rev: v0.12.1
    hooks:
      - id: yamlfmt
        name: Format yaml
        args: [-conf, utilities/code_checks/.yamlfmt.yaml]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        # Do not modify reference vtu files, since we generate these and do not hand-edit them.
        exclude: 'vtu$'
      - id: no-commit-to-branch
        name: Don't commit to main

  - repo: local
    hooks:
      - id: check-venv-up-to-date
        name: Python virtual environment is up to date
        language: system
        entry: ./utilities/code_checks/check_venv
        always_run: true
        pass_filenames: false
        fail_fast: true

      - id: cpp-header
        name: C++ file headers
        description: 'Check that all C++ files have the correct header'
        language: system
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-file-header

      - id: cpp-filename-includes
        name: C++ file names and include style
        description: 'Check that all C++ files have the correct file name and include style'
        language: system
        types_or: [c++, c]
        exclude: 'tests/cut_test/'
        entry: utilities/python-venv/bin/check-filenames-and-includes
        args: ['--paths', 'src/', 'unittests/', 'apps/', '--files']

      - id: cpp-include-guard
        name: Include guards
        description: 'Check that all C++ files have the correct include guards'
        language: python
        types_or: [c++, c]
        files: '\.(h|hpp)$'
        entry: utilities/python-venv/bin/check-header-guards

      - id: cpp-preprocessor
        name: C++ preprocessor directives
        description: 'Check that all C++ files only use acceptable preprocessor directives'
        language: python
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-preprocessor

      - id: codeowners
        name: Inclusion in CODEOWNERS file
        description: 'Check that files are listed in CODEOWNERS file'
        language: python
        entry: utilities/python-venv/bin/check-codeowners

      - id: input-files
        name: Test input files
        description: 'Check input files conform to expectations'
        language: python
        files: 'tests/input_files/.*\.dat$'
        entry: utilities/python-venv/bin/check-test-files

      - id: non-ascii-chars
        name: Non-ASCII characters
        language: system
        exclude_types: [markdown, rst]
        entry: ./utilities/code_checks/check_non_ascii_chars

Minor fixes in anisotropy framework
  src/mat/4C_mat_anisotropy_extension.hpp
  src/mat/4C_mat_anisotropy_extension_cylinder_cosy.cpp
  src/mat/4C_mat_anisotropy_extension_cylinder_cosy.hpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.hpp
  src/mat/elast/4C_mat_elast_coupanisoexposhear.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add 3D solid superposition material
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_materials.hpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_material_factory.cpp
  src/mat/4C_mat_solid_superposition.cpp
  src/mat/4C_mat_solid_superposition.hpp
  tests/input_files/mat_solid_superposition.4C.yaml
  tests/input_files/mat_solid_superposition_elasthyper_anisotropic.4C.yaml
  tests/input_files/mat_solid_superposition_mixture_anisotropic.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Cleanup of scatra ele boundary calc methods
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i_elch.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc.hpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_elch.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_elch.hpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_elch_NP.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_elch_NP.hpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_elch_diffcond.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_elch_diffcond.hpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_elch_electrode.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_elch_electrode.hpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_elch_electrode_growth.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_elch_electrode_growth.hpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_elch_electrode_growth_utils.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_elch_electrode_growth_utils.hpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_elch_electrode_sti_thermo.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_elch_electrode_sti_thermo.hpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_elch_electrode_utils.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_sti_electrode.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_sti_electrode.hpp
  src/scatra_ele/4C_scatra_ele_parameter_elch.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename master/slave to source/target in poroelast
  src/poroelast/4C_poroelast_base.cpp
  src/poroelast/4C_poroelast_monolithicsplit.cpp
  src/poroelast/4C_poroelast_monolithicstructuresplit.cpp
  src/poroelast/4C_poroelast_utils.cpp
  src/poroelast/4C_poroelast_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused function from poro/scatra utils
  src/poroelast_scatra/4C_poroelast_scatra_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename master/slave to source/target in structure
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint.hpp
  src/structure/4C_structure_timint_impl.cpp
  src/structure/4C_structure_timint_impl.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename master/slave in structure_new
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_contact.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_meshtying.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_meshtying.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename constraint master node to anchor node
  src/constraint/4C_constraint_element3.hpp
  src/constraint/4C_constraint_element3_evaluate.cpp
  src/constraint/4C_constraint_manager.hpp
  src/constraint/4C_constraint_multipointconstraint3.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename master/slave in tsi and clarify variables
  src/contact/src/4C_contact_lagrange_strategy_tsi.cpp
  src/contact/src/4C_contact_lagrange_strategy_tsi.hpp
  src/tsi/4C_tsi_algorithm.cpp
  src/tsi/4C_tsi_algorithm.hpp
  src/tsi/4C_tsi_monolithic.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Assert structure_thermo_coupling_ is not null
  src/tsi/4C_tsi_algorithm.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Migrate elastic right CG derivs to tensor API
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix_tensor_products.cpp
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix_tensor_products.hpp
  src/core/linalg/src/dense/4C_linalg_tensor_conversion.hpp
  src/core/linalg/tests/4C_linalg_tensor_conversion_test.cpp
  src/mat/4C_mat_elasthyper_service.cpp
  src/mat/4C_mat_elasthyper_service.hpp
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Validate output argument contains a prefix
  apps/global_full/4C_global_full_io.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Change solver from Superlu to MUMPS
  tests/input_files/beam3r_herm2line3_elastoplastic_bendNeum_hard_torsion.4C.yaml
  tests/list_of_tests.cmake
Due: non-ascii-chars

Add vtk-output for redairways
  apps/post_processor/4C_post_processor_single_field_writers.cpp
  src/core/io/src/4C_io_discretization_visualization_writer_mesh.cpp
  src/red_airways/4C_red_airways_implicitintegration.cpp
  src/red_airways/4C_red_airways_implicitintegration.hpp
  tests/input_files/red_airway_1airway_acinus_collapsible.4C.yaml
  tests/input_files/ref/red_airway_1airway_acinus_collapsible-red_airway.pvd
  tests/input_files/ref/red_airway_1airway_acinus_collapsible-vtk-files/red_airway-01000-0.vtu
  tests/input_files/ref/red_airway_1airway_acinus_collapsible-vtk-files/red_airway-01000.pvtu
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix monitor DBC reaction output in 2D
  src/structure_new/src/utils/4C_structure_new_monitor_dbc.cpp
  src/structure_new/src/utils/4C_structure_new_monitor_dbc.hpp
  tests/input_files/ref/solid_monitor_dbc_2d_1001.csv
  tests/input_files/solid_monitor_dbc_2d.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move MPI related functionality to particle utils
  src/particle/src/engine/4C_particle_engine.cpp
  src/particle/src/engine/4C_particle_engine.hpp
  src/particle/src/engine/4C_particle_engine_communication_utils.cpp
  src/particle/src/engine/4C_particle_engine_communication_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix 2D out-of-bounds read in get_area
  src/structure_new/src/utils/4C_structure_new_monitor_dbc.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Refactor dual Hermite shapefunctions
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_conditions.cpp
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_input.hpp
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_mortar_shape_functions_dual_hermite.hpp
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_utils.cpp
  src/beaminteraction/src/contact/beam_to_solid/volume/4C_beaminteraction_contact_beam_to_solid_volume_meshtying_pair_mortar.cpp
  src/beaminteraction/src/contact/beam_to_solid/volume/4C_beaminteraction_contact_beam_to_solid_volume_meshtying_pair_mortar_rotation.cpp
  src/beaminteraction/tests/4C_beaminteraction_contact_beam_to_solid_mortar_shape_functions_dual_hermite_test.cpp
  src/core/fem/src/general/utils/4C_fem_general_utils_fem_shapefunctions.hpp
  src/core/fem/tests/utils/4C_fem_general_utils_fem_shapefunctions_test.cpp
  src/geometry_pair/4C_geometry_pair_element.hpp
  src/geometry_pair/4C_geometry_pair_element_shape_functions.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add tests and diagonal matrix checks
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_conditions.cpp
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_mortar_manager.cpp
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_mortar_manager.hpp
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_mortar_shape_functions_dual_hermite.hpp
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_utils.cpp
  src/beaminteraction/src/contact/beam_to_solid/4C_beaminteraction_contact_beam_to_solid_utils.hpp
  src/beaminteraction/src/contact/beam_to_solid/volume/4C_beaminteraction_contact_beam_to_solid_volume_meshtying_pair_mortar.cpp
  src/beaminteraction/src/contact/beam_to_solid/volume/4C_beaminteraction_contact_beam_to_solid_volume_meshtying_pair_mortar_rotation.cpp
  src/beaminteraction/src/contact/beam_to_solid/volume/4C_beaminteraction_contact_beam_to_solid_volume_meshtying_pair_mortar_rotation.hpp
  src/beaminteraction/tests/4C_beaminteraction_beam_to_solid_volume_meshtying_mortar_test.cpp
  src/beaminteraction/tests/4C_beaminteraction_contact_beam_to_solid_mortar_shape_functions_dual_hermite_test.cpp
  src/beaminteraction/tests/script/unittest_beam_to_solid_volume_mortar_dual_hermite.wls
  src/core/fem/tests/utils/4C_fem_general_utils_fem_shapefunctions_test.cpp
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_mortar_lagrange_regularized_line3.4C.yaml
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_mortar_lagrange_saddlepoint_dual_hermite.4C.yaml
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_mortar_lagrange_saddlepoint_dual_hermite-beam-to-solid-volume-mortar-continuous.pvd
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_mortar_lagrange_saddlepoint_dual_hermite-vtk-files/beam-to-solid-volume-mortar-continuous-00002-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_mortar_lagrange_saddlepoint_dual_hermite-vtk-files/beam-to-solid-volume-mortar-continuous-00002.pvtu
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

fix: bug in beampotential derivation
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_beam.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

feat: beaminteraction -> potential: add distributed endpoint moment compensation
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_beam.cpp
  tests/input_files/beam3r_herm2line3_static_vdW_singlelengthsspec_smallsepapprox_simple_end_point_potential_reduction_strategy_endpoint_moment_comp.4C.yaml
  tests/input_files/ref/beam3r_herm2line3_static_vdW_singlelengthsspec_smallsepapprox_simple_end_point_potential_reduction_strategy_endpoint_moment_comp/beams-101_monitor_dbc.csv
  tests/input_files/ref/beam3r_herm2line3_static_vdW_singlelengthsspec_smallsepapprox_simple_end_point_potential_reduction_strategy_endpoint_moment_comp/beams-103_monitor_dbc.csv
  tests/input_files/ref/beam3r_herm2line3_static_vdW_singlelengthsspec_smallsepapprox_simple_end_point_potential_reduction_strategy_endpoint_moment_comp/beams_energy.csv
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove communicate_refreshed_particles()
  src/particle/src/engine/4C_particle_engine.cpp
  src/particle/src/engine/4C_particle_engine.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Do not use ParticleObjShrdPtr for commicating particle data
  src/particle/src/engine/4C_particle_engine.cpp
  src/particle/src/engine/4C_particle_engine.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix: Correct gmsh node reordering
  src/core/io/src/4C_io_gmsh_reader.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Replace auto* in reduced_lung
  src/reduced_lung/src/1d_pipe_flow/4C_reduced_lung_1d_pipe_flow_main.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

feat: beaminteraction -> potential: add adapative GPs
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_base.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_base.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_beam.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_sphere.cpp
  tests/input_files/beam3r_herm2line3_static_vdW_singlelengthsspec_smallsepapprox_simple_end_point_potential_reduction_strategy_adaptive_GPs.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove boost iota
  src/core/io/src/4C_io_gmsh_reader.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Support inhomogenous element blocks
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/fem/src/discretization/4C_fem_discretization_builder.cpp
  src/core/fem/src/general/element/4C_fem_general_element_definition.cpp
  src/core/fem/src/general/element/4C_fem_general_element_definition.hpp
  src/core/io/src/4C_io_exodus.cpp
  src/core/io/src/4C_io_gmsh_reader.cpp
  src/core/io/src/4C_io_gmsh_reader.hpp
  src/core/io/src/4C_io_gridgenerator.cpp
  src/core/io/src/4C_io_mesh.cpp
  src/core/io/src/4C_io_mesh.hpp
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/src/4C_io_vtu_reader.cpp
  src/core/io/src/4C_io_vtu_reader.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Adapt io mesh tests
  src/core/io/tests/4C_io_exodus_test.cpp
  src/core/io/tests/4C_io_mesh_test.cpp
  src/core/io/tests/4C_io_mesh_test_utils_test.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add gmsh tests
  src/core/io/tests/4C_io_gmsh_test.cpp
  src/core/io/tests/test_files/gmsh/mixed_hex8_tet4.msh.test
  tests/input_files/solid_gmsh_mixed_element_block.4C.yaml
  tests/input_files/solid_gmsh_mixed_element_block.msh
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Move random number generation to predict
  src/browniandyn/4C_browniandyn_str_model_evaluator.cpp
  src/browniandyn/4C_browniandyn_str_model_evaluator.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove post_output()
  src/adapter/4C_adapter_str_structure.hpp
  src/adapter/4C_adapter_str_structure_new.hpp
  src/adapter/4C_adapter_str_timeada.cpp
  src/adapter/4C_adapter_str_timeada.hpp
  src/adapter/4C_adapter_str_timeloop.cpp
  src/adapter/4C_adapter_str_timeloop.hpp
  src/adapter/4C_adapter_str_wrapper.hpp
  src/beaminteraction/src/4C_beaminteraction_str_model_evaluator.cpp
  src/beaminteraction/src/4C_beaminteraction_str_model_evaluator.hpp
  src/browniandyn/4C_browniandyn_str_model_evaluator.cpp
  src/browniandyn/4C_browniandyn_str_model_evaluator.hpp
  src/cardiovascular0d/4C_cardiovascular0d_structure_new_model_evaluator.cpp
  src/cardiovascular0d/4C_cardiovascular0d_structure_new_model_evaluator.hpp
  src/constraint_framework/4C_constraint_framework_model_evaluator.cpp
  src/constraint_framework/4C_constraint_framework_model_evaluator.hpp
  src/fsi/src/partitioned/model_evaluator/4C_fsi_str_model_evaluator_partitioned.hpp
  src/pasi/4C_pasi_str_model_evaluator_partitioned.hpp
  src/ssi/4C_ssi_str_model_evaluator_base.hpp
  src/structure/4C_structure_dyn_nln_drt.cpp
  src/structure/4C_structure_timada.cpp
  src/structure/4C_structure_timint.hpp
  src/structure_new/src/4C_structure_new_integrator.cpp
  src/structure_new/src/4C_structure_new_integrator.hpp
  src/structure_new/src/4C_structure_new_timint_base.cpp
  src/structure_new/src/4C_structure_new_timint_base.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_contact.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_contact.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_generic.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_lagpenconstraint.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_lagpenconstraint.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_manager.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_manager.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_meshtying.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_multiscale.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_springdashpot.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_springdashpot.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move random number generation to evaluate_brownian
  src/browniandyn/4C_browniandyn_str_model_evaluator.cpp
  src/browniandyn/4C_browniandyn_str_model_evaluator.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

minor - add [[maybe_unused]] to silence clang-23 warning
  src/fluid_turbulence/4C_fluid_turbulence_statistic_manager.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

minor - add [[maybe_unused]] to silence clang-23 warning
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor sdata building
  src/particle/src/engine/4C_particle_engine.cpp
  src/particle/src/engine/4C_particle_engine.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Introduce ParticleRefreshEntry to encapsulate pack/unpack
  src/particle/src/engine/4C_particle_engine.cpp
  src/particle/src/engine/4C_particle_engine_refresh_entry.cpp
  src/particle/src/engine/4C_particle_engine_refresh_entry.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor the drucker prager model to use tensors
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_plasticdruckerprager.cpp
  src/mat/4C_mat_plasticdruckerprager.hpp
  unittests/mat/4C_druckerprager_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add dependencies compilation script and cmake preset to compile 4C on Darwin
  CMakePresets.json
  cmake/configure/configure_MIRCO.cmake
  dependencies/current/qhull/install.sh
  dependencies/darwin/compile_dependencies.sh
  dependencies/darwin/parmetis/install.sh
  dependencies/darwin/superlu_dist/install.sh
  dependencies/darwin/trilinos/install.sh
  presets/darwin/CMakePresets.json
Due: non-ascii-chars
