Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Refactor pointer and if-else
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add beam nodemap to compute solver params
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Rework reorder split functionality
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_teko.cpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Refactor method and add testing
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.hpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_math_test.np2.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Optimize reading of the additional particle parameters
  src/particle/src/engine/4C_particle_engine_particlereader.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Refactor vtk output tests
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_surface_contact_ironing_penalty_gap_variation_segmentation_lin_quad.4C.yaml
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_surface_coupling_gpts_reference_forced.4C.yaml
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3.4C.yaml
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_ironing_penalty_gap_variation_segmentation_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000010001-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_ironing_penalty_gap_variation_segmentation_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000010001-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_ironing_penalty_gap_variation_segmentation_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000010001-2.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_ironing_penalty_gap_variation_segmentation_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000120000-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_ironing_penalty_gap_variation_segmentation_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000120000-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_ironing_penalty_gap_variation_segmentation_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000120000-2.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_mortar_line2_gap_variation_reference_segmentation_penalty_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000010001-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_mortar_line2_gap_variation_reference_segmentation_penalty_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000010001-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_mortar_line2_gap_variation_reference_segmentation_penalty_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000120000-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_contact_mortar_line2_gap_variation_reference_segmentation_penalty_lin_quad/vtk-files/beam-to-solid-surface-contact-averaged-normals-000120000-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_gpts_reference_forced-vtk/vtk-files/beam-to-solid-surface-averaged-normals-0000010001-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_gpts_reference_forced-vtk/vtk-files/beam-to-solid-surface-averaged-normals-0000030000-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-averaged-normals-00001-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-averaged-normals-00001.pvtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-averaged-normals-00003-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-averaged-normals-00003.pvtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-mortar-00001-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-mortar-00001.pvtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-mortar-00003-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-mortar-00003.pvtu
Due: non-ascii-chars

Remove SEARCH_STRATEGY input parameter
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact_boundingvolume.4C.yaml
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_monolithic_partitioning.4C.yaml
  tests/input_files/beam3eb_static_contact_penalty_newgap_twocrossedbeams.4C.yaml
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_edge_contact_penalty_minimal.4C.yaml
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_surface_contact_mortar_line2_gap_variation_reference_segmentation_penalty_lin_quad_point_coupling.4C.yaml
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_surface_coupling_gpts_reference_forced_boundingvolume.4C.yaml
  tests/input_files/beam3r_herm2line3_static_contact_penalty_linposquadpen_beamrotatingoverarc_boundingvolume.4C.yaml
  tests/input_files/beam3r_herm2line3_static_point_coupling_BTSPH_contact_stent_honeycomb_stretch_r01_circ10_boundingvolume.4C.yaml
  tests/input_files/beam3r_line2_genalpha_liegroup_contact_penalty_linpen_newgap_twocrossedbeams.4C.yaml
  tests/input_files/beam3r_line3_genalpha_liegroup_contact_penalty_linpen_newgap_multiple_crossed_beams.4C.yaml
  tests/input_files/beam3r_line3_genalpha_liegroup_contact_penalty_linpen_newgap_multiple_crossed_beams_parallel.4C.yaml
Due: non-ascii-chars

Remove bruteforce search
  src/beaminteraction/src/4C_beaminteraction_data.cpp
  src/beaminteraction/src/4C_beaminteraction_data.hpp
  src/beaminteraction/src/4C_beaminteraction_input.cpp
  src/beaminteraction/src/4C_beaminteraction_input.hpp
  src/beaminteraction/src/contact/4C_beaminteraction_contact_submodel_evaluator.cpp
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Small optimizations
  src/beaminteraction/src/contact/4C_beaminteraction_contact_submodel_evaluator.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Simplify things
  src/core/fem/src/geometry/4C_fem_geometry_element_volume.hpp
  src/core/fem/tests/geometry/4C_fem_geometry_element_volume_test.cpp
  src/cut/4C_cut_boundarycell.cpp
  src/structure_new/src/utils/4C_structure_new_monitor_dbc.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix small bug in beam-to-solid output
  src/beaminteraction/src/contact/beam_to_solid/surface/4C_beaminteraction_contact_beam_to_solid_surface_meshtying_pair_mortar_base.cpp
  src/beaminteraction/src/contact/beam_to_solid/surface/4C_beaminteraction_contact_beam_to_solid_surface_visualization_output_writer.cpp
  src/beaminteraction/src/contact/beam_to_solid/volume/4C_beaminteraction_contact_beam_to_solid_volume_meshtying_pair_mortar.cpp
  src/beaminteraction/src/contact/beam_to_solid/volume/4C_beaminteraction_contact_beam_to_solid_volume_meshtying_visualization_output_writer.cpp
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-averaged-normals-00001-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-averaged-normals-00001-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-averaged-normals-00001-2.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-averaged-normals-00001.pvtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-averaged-normals-00003-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-averaged-normals-00003-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-averaged-normals-00003-2.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-averaged-normals-00003.pvtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-mortar-00001-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-mortar-00001-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-mortar-00001-2.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-mortar-00001.pvtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-mortar-00003-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-mortar-00003-1.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-mortar-00003-2.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_mortar_reference_forced_line3-vtk/xxx-vtk-files/beam-to-solid-surface-mortar-00003.pvtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_rotation_mortar_consistent_FAD_line3_cross_section_director-vtk/vtk-files/beam-to-solid-surface-mortar-000003-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_surface_coupling_rotation_mortar_consistent_FAD_line3_cross_section_director-vtk/vtk-files/beam-to-solid-surface-mortar-000003.pvtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_mortar_penalty_line3-vtk/vtk-files/beam-to-solid-volume-mortar-0000000001-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_mortar_penalty_line3-vtk/vtk-files/beam-to-solid-volume-mortar-0000000001.pvtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_mortar_penalty_line3-vtk/vtk-files/beam-to-solid-volume-mortar-0000020000-0.vtu
  tests/input_files/ref/beam3r_herm2line3_static_beam_to_solid_volume_meshtying_mortar_penalty_line3-vtk/vtk-files/beam-to-solid-volume-mortar-0000020000.pvtu
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add length calculation for 1D Nurbs
  src/core/fem/src/geometry/4C_fem_geometry_element_volume.hpp
  src/core/fem/tests/geometry/4C_fem_geometry_element_volume_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add possibility for bodyforces in the solid
  src/mat/4C_mat_fluidporo_multiphase.cpp
  src/mat/4C_mat_fluidporo_multiphase.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_input.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_lib.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_based.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based_evaluate.cpp
  src/w1/4C_w1_poro.cpp
  src/w1/4C_w1_poro.hpp
  src/w1/4C_w1_poro_evaluate.cpp
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_bodyforce_solid.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_3D_hex8_volfrac_closing_relation_lung_bodyforce_solid_mono.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Also run surface mortar vtk test with 3 procs
  tests/list_of_tests.cmake
Due: non-ascii-chars

Add area calculation for 2D Nurbs
  src/core/fem/src/geometry/4C_fem_geometry_element_volume.hpp
  src/core/fem/tests/geometry/4C_fem_geometry_element_volume_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Switch heart and G&R related tests to MUMPS
  tests/input_files/cardiovascular0d_arterialproxdist_structure_direct_genalpha.4C.yaml
  tests/input_files/cardiovascular0d_syspulcirculation_2chamber_structure_direct_genalpha.4C.yaml
  tests/input_files/cardiovascular0d_syspulcirculation_2chamber_structure_statprestress.4C.yaml
  tests/input_files/cardiovascular0d_syspulcirculation_2chamber_structurecontactpenalty_direct_genalpha.4C.yaml
  tests/input_files/homogenized-constrained-mixture-cube-aniso-expl.4C.yaml
  tests/input_files/homogenized-constrained-mixture-cube-iso-expl.4C.yaml
  tests/input_files/homogenized-constrained-mixture-cube-stiffness-expl.4C.yaml
  tests/input_files/mixture_growth_expl_remodel_fiber_no_basal_mass_production.4C.yaml
  tests/input_files/mixture_growth_full_constrained_mixture_fiber_adaptive_higher_order.4C.yaml
  tests/input_files/mixture_growth_full_constrained_mixture_fiber_adaptive_model_equation.4C.yaml
  tests/input_files/mixture_growth_full_constrained_mixture_fiber_no_basal_mass_production.4C.yaml
  tests/input_files/mixture_growth_full_constrained_mixture_fiber_non_adaptive.4C.yaml
  tests/input_files/mixture_growth_impl_remodel_fiber_no_basal_mass_production.4C.yaml
  tests/input_files/mixture_prestress_arc_hex8.4C.yaml
  tests/input_files/mixture_prestress_arc_tet10.4C.yaml
  tests/input_files/mixture_prestress_arc_tet4.4C.yaml
  tests/input_files/mixture_prestress_cube.4C.yaml
  tests/input_files/mixture_prestress_cube_restart_from_prestress.4C.yaml
  tests/input_files/mixture_prestress_isochoric_spring_dashpot.4C.yaml
  tests/input_files/mixture_prestress_isochoric_spring_dashpot_restart_from_prestress.4C.yaml
  tests/input_files/mixture_prestress_minimum_number_of_prestress_steps.4C.yaml
  tests/input_files/mixture_prestress_spring_dashpot.4C.yaml
  tests/input_files/mixture_prestress_spring_dashpot_restart_from_prestress.4C.yaml
  tests/input_files/prestress_hex20.4C.yaml
  tests/input_files/prestress_hex27.4C.yaml
  tests/input_files/prestress_tet10.4C.yaml
  tests/input_files/solid_runtime_gauss_point_quantity_output_element_center.4C.yaml
  tests/input_files/solid_runtime_gauss_point_quantity_output_gauss_point.4C.yaml
  tests/input_files/solid_runtime_gauss_point_quantity_output_nodal.4C.yaml
  tests/input_files/solid_vtu_field_input.4C.yaml
  tests/input_files/solid_vtu_input.4C.yaml
  tests/input_files/ssi_homogenized_constraint_mixture_qcyl.4C.yaml
Due: non-ascii-chars

Introduce specific solver for the calculation
  src/ssi/4C_ssi_input.cpp
  src/ssi/4C_ssi_monolithic.cpp
  src/ssi/4C_ssi_monolithic.hpp
  tests/input_files/ssi_mono_3D_hex8_elch_s2i_butlervolmer_grain_boundary_meshtying_BGS-AMG_5x5.4C.yaml
  tests/input_files/xml/block_preconditioner/solid_scatra_BGS-AMG_5x5_init_pot_calc.xml
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add volume calculation for 3D Nurbs
  src/core/fem/src/geometry/4C_fem_geometry_element_volume.hpp
  src/core/fem/tests/geometry/4C_fem_geometry_element_volume_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update error message
  src/core/fem/src/geometry/4C_fem_geometry_element_volume.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix DEM minimum radius check
  src/particle/src/4C_particle_input.cpp
  src/particle/src/interaction/4C_particle_interaction_dem.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Extract Global::Problem from porofluid ele
  src/porofluid_pressure_based/4C_porofluid_pressure_based_algorithm.cpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele_boundary_calc.cpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele_evaluate.cpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele_evaluator.cpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele_evaluator.hpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele_factory.cpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele_factory.hpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele_parameter.cpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele_parameter.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update documentation
  doc/documentation/src/installation/installation.rst
Due: none

Centralize Global::Problem in porofluid elast
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_algorithm_dependencies.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_algorithm_dependencies.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_base.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_base.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_clonestrategy.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_clonestrategy.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_dyn.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_base.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor viscoplastic material utils
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_funct.cpp
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_funct.hpp
  src/core/linalg/tests/4C_linalg_utils_densematrix_funct_test.cpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.cpp
  src/mat/4C_mat_inelastic_defgrad_factors_service.hpp
  src/mat/vplast/4C_mat_vplast_law.hpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.cpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.hpp
  tests/input_files/mat_iso_viscoplast_refJC_log_substep.4C.yaml
  tests/input_files/mat_transviso_viscoplast_refJC_log_substep.4C.yaml
  tests/input_files/mat_transviso_viscoplast_refJC_standard_substep.4C.yaml
  tests/input_files/poro_new_solid_nitsche_contact3D_new_struc_vplast.4C.yaml
  tests/input_files/poro_new_solid_nitsche_contact3D_twoelem_new_struc_vplast.4C.yaml
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_twosided_new_struc_vplast.4C.yaml
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
  unittests/mat/vplast/4C_vplast_reform_johnsoncook_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move test to require ArborX as dependency
  tests/list_of_tests.cmake
Due: non-ascii-chars

Small beauty
  src/mat/4C_mat_fluidporo_multiphase.cpp
  src/mat/4C_mat_fluidporo_multiphase.hpp
  src/mat/4C_mat_fluidporo_singlephase.cpp
  src/mat/4C_mat_fluidporo_singlephase.hpp
  src/mat/4C_mat_fluidporo_singlephaseDof.cpp
  src/mat/4C_mat_fluidporo_singlephaseDof.hpp
  src/mat/4C_mat_fluidporo_singlephaselaw.cpp
  src/mat/4C_mat_fluidporo_singlephaselaw.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_lib.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_based.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based_evaluate.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove ia_reader from read and write restart
  src/beaminteraction/src/4C_beaminteraction_str_model_evaluator.cpp
  src/beaminteraction/src/4C_beaminteraction_submodel_evaluator_generic.hpp
  src/beaminteraction/src/contact/4C_beaminteraction_contact_submodel_evaluator.cpp
  src/beaminteraction/src/contact/4C_beaminteraction_contact_submodel_evaluator.hpp
  src/beaminteraction/src/crosslinking/4C_beaminteraction_crosslinking_submodel_evaluator.cpp
  src/beaminteraction/src/crosslinking/4C_beaminteraction_crosslinking_submodel_evaluator.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_submodel_evaluator.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_submodel_evaluator.hpp
  src/beaminteraction/src/spherebeamlinking/4C_beaminteraction_spherebeamlinking_submodel_evaluator.cpp
  src/beaminteraction/src/spherebeamlinking/4C_beaminteraction_spherebeamlinking_submodel_evaluator.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Centralize Global::Problem in porofluid scatra
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_algorithm_dependencies.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_algorithm_dependencies.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_algorithm_dependencies.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_base.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_base.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_linebased.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_linebased.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nodebased.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nodebased.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nodetopoint.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nodetopoint.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nonconforming.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nonconforming.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_pair.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_pair.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_surfbased.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_surfbased.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_base.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_base.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_dyn.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use MUMPS in hdg_weakly_compressible_poiseuille
  tests/input_files/hdg_weakly_compressible_poiseuille.4C.yaml
Due: non-ascii-chars

Destruct singletons before finalizing communicator
  apps/global_full/4C_global_full_main.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove duplicated tests
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact_boundingvolume.4C.yaml
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_surface_coupling_gpts_reference_forced_boundingvolume.4C.yaml
  tests/input_files/beam3r_herm2line3_static_contact_penalty_linposquadpen_beamrotatingoverarc_boundingvolume.4C.yaml
  tests/input_files/beam3r_herm2line3_static_point_coupling_BTSPH_contact_stent_honeycomb_stretch_r01_circ10_boundingvolume.4C.yaml
  tests/list_of_tests.cmake
Due: non-ascii-chars

Check for early stoppage in struct field
  src/ssi/4C_ssi_monolithic.cpp
  src/ssi/4C_ssi_partitioned_1wc.cpp
  src/ssi/4C_ssi_partitioned_1wc.hpp
  src/ssi/4C_ssi_partitioned_2wc.cpp
  tests/input_files/ssi_1wc_membrane_active_strain_scatrafromrestart_vol_matching.4C.yaml
  tests/input_files/ssi_1wc_membrane_active_strain_vol_matching.4C.yaml
  tests/input_files/ssi_1wc_membrane_active_strain_vol_nonmatching.4C.yaml
  tests/input_files/ssi_2D_quad4.4C.yaml
  tests/input_files/ssi_2D_shell7p_inflated_sphere.4C.yaml
  tests/input_files/ssi_homogenized_constraint_mixture_prestress_qcyl.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move failing vtk test
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact.4C.yaml
  tests/input_files/ref/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact-vtk/beam-interaction-geometric-search.pvd
  tests/input_files/ref/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact-vtk/vtk-files/beam-interaction-geometric-search-00000-0.vtu
  tests/input_files/ref/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact-vtk/vtk-files/beam-interaction-geometric-search-00000-1.vtu
  tests/input_files/ref/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact-vtk/vtk-files/beam-interaction-geometric-search-00000.pvtu
  tests/input_files/ref/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact-vtk/vtk-files/beam-interaction-geometric-search-00004-0.vtu
  tests/input_files/ref/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact-vtk/vtk-files/beam-interaction-geometric-search-00004-1.vtu
  tests/input_files/ref/beam3eb_static_beam_to_solid_volume_meshtying_beam_to_beam_contact-vtk/vtk-files/beam-interaction-geometric-search-00004.pvtu
  tests/list_of_tests.cmake
Due: non-ascii-chars

Increase load stepping
  tests/input_files/beam3r_herm2line3_static_point_coupling_BTSPH_contact_stent_honeycomb_stretch_r01_circ10.4C.yaml
Due: non-ascii-chars

Implement multiple open boundaries
  src/particle/src/4C_particle_input.cpp
  src/particle/src/4C_particle_input.hpp
  src/particle/src/engine/4C_particle_engine_enums.cpp
  src/particle/src/engine/4C_particle_engine_enums.hpp
  src/particle/src/engine/4C_particle_engine_particlereader.cpp
  src/particle/src/interaction/4C_particle_interaction_sph.cpp
  src/particle/src/interaction/4C_particle_interaction_sph.hpp
  src/particle/src/interaction/4C_particle_interaction_sph_open_boundary.cpp
  src/particle/src/interaction/4C_particle_interaction_sph_open_boundary.hpp
  tests/input_files/particle_sph_2d_openboundary_straight_channel_two_dirichlet_boundaries.4C.yaml
  tests/input_files/particle_sph_2d_openboundary_straight_channel_virtual_wall.4C.yaml
  tests/input_files/particle_sph_3d_openboundary_virtualwall_densitysummation.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Optimize the code
  src/core/fem/src/general/utils/4C_fem_general_clement_interpolation.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add Clement Interpolant
  src/core/fem/src/general/utils/4C_fem_general_clement_interpolation.cpp
  src/core/fem/src/general/utils/4C_fem_general_clement_interpolation.hpp
  src/core/fem/tests/utils/4C_fem_general_utils_clement_interpolation_test.cpp
  src/core/fem/tests/utils/4C_fem_general_utils_clement_interpolation_test.np2.cpp
  src/thermo/src/implicit/4C_thermo_timint_impl.cpp
  tests/input_files/ref/thermo3D_annulus_elementwise_anisotropic_statics-vtk-files/thermo-00001-0.vtu
  tests/input_files/ref/thermo3D_annulus_elementwise_anisotropic_statics-vtk-files/thermo-00001-1.vtu
  tests/input_files/ref/thermo3D_annulus_elementwise_anisotropic_statics-vtk-files/thermo-00001-2.vtu
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Adapt reference results of tests after changing
  tests/input_files/elch_2D_quad4_s2i_butlervolmer_cycling_adaptive.4C.yaml
  tests/input_files/ref/elch_2D_quad4_s2i_butlervolmer_cycling_adaptive-cell_voltage.csv
Due: non-ascii-chars

Update superlu_dist dependency to version 9.2.1
  .github/workflows/buildtest.yml
  .github/workflows/checkcode.yml
  .github/workflows/coverage.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly_tests.yml
  dependencies/current/superlu_dist/install.sh
  doc/documentation/src/installation/installation.rst
Due: non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
