Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-header:
  name: C++ file headers
  description: Check that all C++ files have the correct header
  language: system
  entry: utilities/python-venv/bin/check-file-header

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Cmake: restore check for config include
  cmake/functions/four_c_auto_define_module.cmake
Due: non-ascii-chars

[LinAlg] Unify matrix splitting into free function
  src/ale/4C_ale_meshtying.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.hpp
  src/fluid/4C_fluid_meshtying.cpp
  src/fs3i/4C_fs3i.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_lungmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_lungmonolithic_structuresplit.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_artery_coupling_nodebased.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_artery_coupling_nonconforming.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i.cpp
  src/ssi/4C_ssi_contact_strategy.cpp
  src/ssi/4C_ssi_manifold_utils.cpp
  src/ssi/4C_ssi_monolithic_evaluate_OffDiag.cpp
  src/ssti/4C_ssti_monolithic_assemble_strategy.cpp
  src/ssti/4C_ssti_monolithic_evaluate_OffDiag.cpp
  src/sti/4C_sti_monolithic_evaluate_OffDiag.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix wrong rename
  src/geometry_pair/4C_geometry_pair_element_evaluation_functions.hpp
  src/geometry_pair/4C_geometry_pair_line_to_surface.cpp
  src/geometry_pair/4C_geometry_pair_line_to_surface.hpp
  src/geometry_pair/4C_geometry_pair_line_to_volume.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Purge init/setup stuff from BTS output writers
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_visualization_output_writer.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_visualization_output_writer.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_visualization_output_writer.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_visualization_output_writer.hpp
  src/beaminteraction/4C_beaminteraction_submodel_evaluator_beamcontact.cpp
  src/fbi/4C_fbi_beam_to_fluid_meshtying_output_writer.cpp
  src/fbi/4C_fbi_beam_to_fluid_meshtying_output_writer.hpp
  src/fsi/src/partitioned/model_evaluator/4C_fsi_dirichletneumann_vel.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove not needed argument for output writers
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_visualization_output_writer.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_visualization_output_writer.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_visualization_output_writer_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_visualization_output_writer_base.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_visualization_output_writer_visualization.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_visualization_output_writer_visualization.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_visualization_output_writer.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_visualization_output_writer.hpp
  src/beaminteraction/4C_beaminteraction_submodel_evaluator_beamcontact.cpp
  src/fbi/4C_fbi_beam_to_fluid_meshtying_output_writer.cpp
  src/fbi/4C_fbi_beam_to_fluid_meshtying_output_writer.hpp
  src/fsi/src/partitioned/model_evaluator/4C_fsi_dirichletneumann_vel.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Isolate fixed-size matrix from other dense objects
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix.cpp
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix.hpp
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix_solver.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unnecessary multiply helpers
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix.hpp
  src/so3/4C_so3_hex8_eas.cpp
  src/so3/4C_so3_hex8_evaluate.cpp
  src/so3/4C_so3_sh8_evaluate.cpp
  src/so3/4C_so3_shw6_evaluate.cpp
  src/so3/so3_plast/4C_so3_plast_ssn_evaluate.cpp
  src/so3/so3_plast/4C_so3_plast_ssn_sosh8.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move fixed-size solver out of matrix class
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix.cpp
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix.hpp
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix_solver.hpp
  src/core/utils/src/numerics/4C_utils_local_newton.hpp
  src/fluid_ele/4C_fluid_ele_boundary_parent_calc.cpp
  src/fluid_ele/4C_fluid_ele_calc_xfem.cpp
  src/levelset/4C_levelset_algorithm_reinit.cpp
  src/mat/4C_mat_constraintmixture.cpp
  src/mat/4C_mat_crystal_plasticity.cpp
  src/mat/4C_mat_plastic_VarConstUpdate.cpp
  src/mat/4C_mat_plasticelasthyper.cpp
  src/mat/4C_mat_robinson.cpp
  src/membrane/4C_membrane_evaluate.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc.cpp
  src/so3/4C_so3_hex8_eas.cpp
  src/so3/4C_so3_sh18_evaluate.cpp
  src/so3/4C_so3_sh8_evaluate.cpp
  src/so3/4C_so3_shw6_evaluate.cpp
  src/so3/4C_so3_tet4_evaluate.cpp
  src/so3/so3_plast/4C_so3_plast_ssn_eas.cpp
  src/so3/so3_plast/4C_so3_plast_ssn_sosh18.cpp
  src/so3/so3_plast/4C_so3_plast_ssn_sosh8.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_eas.cpp
  src/thermo/4C_thermo_ele_impl.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix compiler warning regarding initalization order
  src/fbi/4C_fbi_beam_to_fluid_meshtying_output_writer.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Unify beam-to-solid contact kinematics evaluation
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair_base.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair_mortar.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add beam-to-solid surface contact ouput writer
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair_base.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair_mortar.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_contact_pair_mortar.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_mortar_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_visualization_output_writer_contact.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_visualization_output_writer_contact.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_mortar.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_visualization_output_writer.cpp
  src/beaminteraction/4C_beaminteraction_submodel_evaluator_beamcontact.cpp
  src/beaminteraction/4C_beaminteraction_submodel_evaluator_beamcontact.hpp
  src/geometry_pair/4C_geometry_pair_utility_classes.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove old pyramid5 and pyramid5fbar element
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/so3/4C_so3_pyramid5.cpp
  src/so3/4C_so3_pyramid5.hpp
  src/so3/4C_so3_pyramid5_evaluate.cpp
  src/so3/4C_so3_pyramid5_input.cpp
  src/so3/4C_so3_pyramid5_multiscale.cpp
  src/so3/4C_so3_pyramid5_service.cpp
  src/so3/4C_so3_pyramid5fbar.cpp
  src/so3/4C_so3_pyramid5fbar.hpp
  src/so3/4C_so3_pyramid5fbar_evaluate.cpp
  src/so3/4C_so3_pyramid5fbar_input.cpp
  tests/input_files/solid_ele_vs_mat.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Enable solid-shell EAS in hex8
  TestingFrameworkListOfTests.cmake
  src/solid_3D_ele/4C_solid_3D_ele.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_eas.cpp
  src/solid_3D_ele/4C_solid_3D_ele_factory.cpp
  src/solid_3D_ele/4C_solid_3D_ele_factory.hpp
  src/solid_3D_ele/4C_solid_3D_ele_properties.hpp
  src/solid_3D_ele/4C_solid_3D_ele_utils.cpp
  tests/input_files/solid_ele_hex8_Standard_shell_eas.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove and replace ML based multiply routine
  src/adapter/4C_adapter_coupling_ehl_mortar.cpp
  src/adapter/4C_adapter_coupling_nonlin_mortar.cpp
  src/adapter/4C_adapter_str_structure.cpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_mortar_manager.cpp
  src/contact/4C_contact_abstract_strategy.cpp
  src/contact/4C_contact_lagrange_strategy.cpp
  src/contact/4C_contact_lagrange_strategy_poro.cpp
  src/contact/4C_contact_lagrange_strategy_tsi.cpp
  src/contact/4C_contact_lagrange_strategy_wear.cpp
  src/contact/4C_contact_meshtying_lagrange_strategy.cpp
  src/contact/4C_contact_meshtying_penalty_strategy.cpp
  src/contact/4C_contact_meshtying_poro_lagrange_strategy.cpp
  src/contact/4C_contact_monocoupled_lagrange_strategy.cpp
  src/contact/4C_contact_penalty_strategy.cpp
  src/core/linalg/src/sparse/4C_linalg_multiply.cpp
  src/core/linalg/src/sparse/4C_linalg_multiply.hpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/coupling/src/adapter/4C_coupling_adapter_mortar.cpp
  src/coupling/src/adapter/4C_coupling_adapter_volmortar.cpp
  src/coupling/src/volmortar/4C_coupling_volmortar.cpp
  src/ehl/4C_ehl_monolithic.cpp
  src/fbi/4C_fbi_beam_to_fluid_mortar_manager.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_structuresplit.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_artery_coupling_nonconforming.cpp
  src/sti/4C_sti_monolithic.cpp
  tests/input_files/ehl3D_block_sqz.dat
  tests/input_files/fsi_pw_mono_fs_ga_ga_contact.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove EpetraExt define
  src/fsi/src/monolithic/linear_solver/4C_fsi_monolithic_linearsystem.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Refactor fluid meshtying BGS2x2 tests
  src/adapter/4C_adapter_fld_base_algorithm.cpp
  tests/input_files/f2_ShearFlow_NonMatchingMesh_4x16_Con_Bmat.dat
  tests/input_files/f3_beltrami_8x8_meshtying_bmat.dat
  tests/input_files/fbi_meshtying_bmat.dat
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Refactor some methods of sparse algebra
  src/core/fem/src/condition/4C_fem_condition_locsys.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.hpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrixbase.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrixbase.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.hpp
  src/ssi/4C_ssi_monolithic_dbc_handler.cpp
  src/ssti/4C_ssti_monolithic_assemble_strategy.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix beam damping coefficient check
  src/browniandyn/4C_browniandyn_str_model_evaluator_data.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Rename LineParser to ValueParser
  src/contact_constitutivelaw/4C_contact_constitutivelaw_constitutivelaw_definition.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/io/src/4C_io_value_parser.hpp
  src/core/io/tests/4C_io_value_parser_test.cpp
  src/core/io/tests/CMakeLists.txt
  src/mat/4C_mat_materialdefinition.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Adjust line parser for parsing arrays and vectors
  src/contact_constitutivelaw/4C_contact_constitutivelaw_constitutivelaw_definition.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/io/src/4C_io_line_parser.hpp
  src/core/io/tests/4C_io_line_parser_test.cpp
  src/core/io/tests/CMakeLists.txt
  src/mat/4C_mat_materialdefinition.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix beam test file (see !2268 for original change)
  tests/input_files/beam3eb_static_beam_to_solid_volume_meshtying_hex27_cross_section_projection_penalty_patch.dat
Due: input-files, non-ascii-chars

Replace all std::strtod with ValueParser in beam*
  src/beamcontact/4C_beamcontact_beam3contact_manager.cpp
  src/beamcontact/4C_beamcontact_beam3contact_octtree.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_beam_contact_utils.cpp
  src/beaminteraction/4C_beaminteraction_crosslinking_params.cpp
  src/beaminteraction/4C_beaminteraction_potential_params.cpp
  src/beaminteraction/4C_beaminteraction_spherebeamlinking_params.cpp
  src/browniandyn/4C_browniandyn_str_model_evaluator_data.cpp
  src/structure_new/src/4C_structure_new_elements_paramsinterface.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Unify calculation of beam rotational GID #xxx
  src/beaminteraction/4C_beaminteraction_beam_to_beam_point_coupling_pair.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_meshtying_pair_mortar_FAD.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_2d-3d_full.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_gauss_point.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_mortar_rotation.cpp
  src/beaminteraction/4C_beaminteraction_calc_utils.cpp
  src/beaminteraction/4C_beaminteraction_calc_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move some EAS functionality into library
  src/solid_3D_ele/4C_solid_3D_ele_calc_eas.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add shape functions to add_stiffness_matrix
  src/solid_3D_ele/4C_solid_3D_ele_calc.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_displacement_based.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_displacement_based_linear_kinematics.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_fbar.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_mulf.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_mulf_fbar.hpp
  src/solid_3D_ele/4C_solid_3D_ele_formulation.hpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_calc.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enable shell_ans element technology for hex8 ele
  TestingFrameworkListOfTests.cmake
  src/solid_3D_ele/4C_solid_3D_ele_calc.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_shell_ans.hpp
  src/solid_3D_ele/4C_solid_3D_ele_factory.cpp
  src/solid_3D_ele/4C_solid_3D_ele_factory.hpp
  src/solid_3D_ele/4C_solid_3D_ele_properties.hpp
  src/solid_3D_ele/4C_solid_3D_ele_utils.cpp
  tests/input_files/solid_ele_hex8_Standard_shell_ans.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove FAD types in btsv where not needed #xxx
  src/beaminteraction/4C_beaminteraction_beam_to_solid_pair_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_2d-3d_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_2d-3d_base.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_2d-3d_full.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_2d-3d_plane.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_base.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_base.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_gauss_point.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_gauss_point.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_mortar.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_pair_mortar.hpp
  src/fbi/4C_fbi_beam_to_fluid_meshtying_pair_base.cpp
  src/fbi/4C_fbi_beam_to_fluid_meshtying_pair_base.hpp
  unittests/fbi/4C_beam_to_fluid_meshtying_pair_gauss_point_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Apply 1 suggestion(s) to 1 file(s)
  src/beaminteraction/4C_beaminteraction_calc_utils.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add warning
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_ml.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add warning for SIMPLE
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_cheapsimple.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add element material id to structure runtime output
  TestingFrameworkListOfTests.cmake
  src/inpar/4C_inpar_IO_runtime_vtk_output_structure.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
  src/structure_new/src/output/4C_structure_new_discretization_runtime_output_params.cpp
  src/structure_new/src/output/4C_structure_new_discretization_runtime_output_params.hpp
  tests/input_files/ref/solid_runtime_material_element_id-vtk/solid_runtime_material_element_id-vtk-files/structure-00000-0.vtu
  tests/input_files/ref/solid_runtime_material_element_id-vtk/solid_runtime_material_element_id-vtk-files/structure-00000.pvtu
  tests/input_files/ref/solid_runtime_material_element_id-vtk/solid_runtime_material_element_id-vtk-files/structure-00001-0.vtu
  tests/input_files/ref/solid_runtime_material_element_id-vtk/solid_runtime_material_element_id-vtk-files/structure-00001.pvtu
  tests/input_files/ref/solid_runtime_material_element_id-vtk/solid_runtime_material_element_id-vtk-files/structure-00002-0.vtu
  tests/input_files/ref/solid_runtime_material_element_id-vtk/solid_runtime_material_element_id-vtk-files/structure-00002.pvtu
  tests/input_files/ref/solid_runtime_material_element_id-vtk/structure.pvd
  tests/input_files/solid_runtime_material_element_id.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove free surface problem
  TestingFrameworkListOfTests.cmake
  apps/global_full/4C_global_full_cal_control.cpp
  apps/post_processor/4C_post_processor.cpp
  doc_removed_code/major_changes.txt
  src/adapter/4C_adapter_ale.cpp
  src/adapter/4C_adapter_fld_base_algorithm.cpp
  src/adapter/4C_adapter_fld_fluid_ale.cpp
  src/adapter/4C_adapter_fld_fluid_ale.hpp
  src/adapter/4C_adapter_fld_fluid_ale_xfem.cpp
  src/adapter/4C_adapter_fld_fluid_fsi.cpp
  src/adapter/4C_adapter_fld_fluid_fsi.hpp
  src/adapter/4C_adapter_fld_fluid_xfsi.hpp
  src/adapter/4C_adapter_fld_moving_boundary.cpp
  src/adapter/4C_adapter_scatra_fluid_ale_coupling_algo.cpp
  src/adapter/4C_adapter_scatra_fluid_ale_coupling_algo.hpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_conditions.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_conditions.hpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_problem_type.hpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/fluid/4C_fluid_implicit_integration.hpp
  src/fluid/4C_fluid_utils_mapextractor.hpp
  src/fs3i/4C_fs3i.cpp
  src/fsi/src/4C_fsi_dyn.cpp
  src/fsi/src/4C_fsi_dyn.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_free_surface_monolithic.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_free_surface_monolithic.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicstructuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_structuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_structuresplit.cpp
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_fluid.cpp
  src/inpar/4C_inpar_problemtype.cpp
  tests/input_files/f2_freeosz20x20_drt.dat
  tests/input_files/fs_kugel_tet.dat
  tests/input_files/fs_quadrat.dat
  tests/input_files/fs_wuerfel_tet.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Refactor a bunch of fluid tests
  tests/input_files/f3_beltrami_8x8_afgenalpha_066_2iter_conv_cross_reynolds_usfem.dat
  tests/input_files/f3_beltrami_8x8_afgenalpha_2iter_conv_cross_reynolds_gls.dat
  tests/input_files/f3_beltrami_8x8_npgenalpha_066_2iter_conv_cross_reynolds_usfem.dat
  tests/input_files/f3_beltrami_8x8_npgenalpha_2iter_conv_cross_reynolds_gls.dat
  tests/input_files/f3_beltrami_8x8_ost_066_2iter_conv_cross_reynolds_usfem.dat
  tests/input_files/f3_beltrami_8x8x8_afgenalpha_conv_edge_based_stab.dat
  tests/input_files/f3_beltrami_8x8x8_bdf2_2iter_conv.dat
  tests/input_files/f3_beltrami_8x8x8_new_ost.dat
  tests/input_files/f3_beltrami_8x8x8_npgenalpha_conv_edge_based_stab.dat
  tests/input_files/f3_beltrami_8x8x8_ost_2iter_conv.dat
  tests/input_files/f3_beltrami_8x8x8_ost_conv.dat
  tests/input_files/f3_beltrami_8x8x8_ost_conv_edge_based_stab.dat
  tests/input_files/f3_cha_8x8x8_recongradl2.dat
  tests/input_files/f3_cha_8x8x8_recongradspr.dat
  tests/input_files/f3_cha_xwall_6x8x6_grad_ol2p_bs_ramp_ale_mfs.dat
  tests/input_files/f3_cha_xwall_6x8x6_gradres_smooth_p_bs_ramp.dat
  tests/input_files/f3_impl_channel_pressuregrad.dat
  tests/input_files/f3_turbinflow_doublechan_transferdbc.dat
  tests/input_files/f3_turbmodel_test_dynsmag.dat
  tests/input_files/f3_turbmodel_test_dynsmag_dens.dat
  tests/input_files/f3_turbmodel_test_fssgvisc.dat
  tests/input_files/f3_turbmodel_test_mfs.dat
  tests/input_files/f3_turbmodel_test_mfs_consistent_residual.dat
  tests/input_files/f3_turbmodel_test_mfs_par.dat
  tests/input_files/f3_turbmodel_test_vreman.dat
Due: input-files, non-ascii-chars

Update removed code doc
  doc_removed_code/major_changes.txt
Due: non-ascii-chars

Fix comparison of rectangular CrsMatrix
  src/core/comm/src/4C_comm_utils.cpp
  src/core/comm/tests/4C_comm_utils_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove element surface tension calculation
  src/fluid_ele/4C_fluid_ele_boundary_calc.cpp
  src/fluid_ele/4C_fluid_ele_boundary_calc.hpp
  src/fluid_ele/4C_fluid_ele_boundary_evaluate.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor elch tests to use MueLu
  tests/input_files/elch_2D_porousMediumHomo_SSPP.dat
  tests/input_files/elch_2D_porousMediumHomo_SSPP_ost.dat
Due: input-files, non-ascii-chars

Path conditions:
  cpp-header: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
