Repository vryy/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        name: Format C/C++
        # Only use on C and C++ files and not on other files that clang could format (e.g. json).
        types_or: [c++, c]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format cmake
        args: [--config, utilities/code_checks/.cmake-format.yaml, --in-place]
        additional_dependencies: [pyyaml>=5.1]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        name: Format python

  - repo: https://github.com/pamoller/xmlformatter
    rev: v0.2.6
    hooks:
      - id: xml-formatter
        name: Format xml
        args: [--indent, '2', --indent-char, ' ', --selfclose, --overwrite]
        # Only run on "pure" XML files and not on files that internally use XML (e.g. svg)
        files: \.xml$

  - repo: https://github.com/google/yamlfmt
    rev: v0.12.1
    hooks:
      - id: yamlfmt
        name: Format yaml
        args: [-conf, utilities/code_checks/.yamlfmt.yaml]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        # Do not modify reference vtu files, since we generate these and do not hand-edit them.
        exclude: 'vtu$'
      - id: no-commit-to-branch
        name: Don't commit to main

  - repo: local
    hooks:
      - id: check-venv-up-to-date
        name: Python virtual environment is up to date
        language: system
        entry: ./utilities/code_checks/check_venv
        always_run: true
        pass_filenames: false
        fail_fast: true

      - id: cpp-header
        name: C++ file headers
        description: 'Check that all C++ files have the correct header'
        language: system
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-file-header

      - id: cpp-filename-includes
        name: C++ file names and include style
        description: 'Check that all C++ files have the correct file name and include style'
        language: system
        types_or: [c++, c]
        exclude: 'tests/cut_test/'
        entry: utilities/python-venv/bin/check-filenames-and-includes
        args: ['--paths', 'src/', 'unittests/', 'apps/', '--files']

      - id: cpp-include-guard
        name: Include guards
        description: 'Check that all C++ files have the correct include guards'
        language: python
        types_or: [c++, c]
        files: '\.(h|hpp)$'
        entry: utilities/python-venv/bin/check-header-guards

      - id: cpp-preprocessor
        name: C++ preprocessor directives
        description: 'Check that all C++ files only use acceptable preprocessor directives'
        language: python
        types_or: [c++, c]
        entry: utilities/python-venv/bin/check-preprocessor

      - id: codeowners
        name: Inclusion in CODEOWNERS file
        description: 'Check that files are listed in CODEOWNERS file'
        language: python
        entry: utilities/python-venv/bin/check-codeowners

      - id: input-files
        name: Test input files
        description: 'Check input files conform to expectations'
        language: python
        files: 'tests/input_files/.*\.dat$'
        entry: utilities/python-venv/bin/check-test-files

      - id: non-ascii-chars
        name: Non-ASCII characters
        language: system
        exclude_types: [markdown, rst]
        entry: ./utilities/code_checks/check_non_ascii_chars

Remove unused define flag NO_VALUES_IN_PLANES
  src/fluid_turbulence/4C_fluid_turbulence_statistics_cha.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Rework BinningStrategy to accept element ranges
  src/beaminteraction/4C_beaminteraction_str_model_evaluator.cpp
  src/contact/4C_contact_interface.cpp
  src/core/binstrategy/4C_binstrategy.cpp
  src/core/binstrategy/4C_binstrategy.hpp
  src/fbi/4C_fbi_immersed_geometry_coupler_binning.cpp
  src/mortar/4C_mortar_element.hpp
  src/mortar/4C_mortar_interface.cpp
  src/particle_wall/4C_particle_wall.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename CARDIOVASCULAR0D
  src/cardiovascular0d/4C_cardiovascular0d.cpp
  src/cardiovascular0d/4C_cardiovascular0d.hpp
  src/cardiovascular0d/4C_cardiovascular0d_manager.cpp
  src/cardiovascular0d/4C_cardiovascular0d_manager.hpp
  src/cardiovascular0d/4C_cardiovascular0d_nox_nln_linearsystem.cpp
  src/cardiovascular0d/4C_cardiovascular0d_nox_nln_linearsystem.hpp
  src/cardiovascular0d/4C_cardiovascular0d_respiratory_syspulperiphcirculation.cpp
  src/cardiovascular0d/4C_cardiovascular0d_syspulcirculation.cpp
  src/inpar/4C_inpar_cardiovascular0d.cpp
  src/inpar/4C_inpar_cardiovascular0d.hpp
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linearsystem_factory.cpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename BROWNIANDYN
  src/beam3/4C_beam3_base.cpp
  src/beam3/4C_beam3_base.hpp
  src/browniandyn/4C_browniandyn_str_model_evaluator_data.cpp
  src/inpar/4C_inpar_browniandyn.cpp
  src/inpar/4C_inpar_browniandyn.hpp
  src/inpar/4C_inpar_validparameters.cpp
  src/structure_new/src/4C_structure_new_elements_paramsinterface.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Cmake: remove now unnecessary dependencies in core
  cmake/functions/four_c_auto_define_module.cmake
  src/config/CMakeLists.txt
  src/core/binstrategy/CMakeLists.txt
  src/core/comm/src/CMakeLists.txt
  src/core/fem/src/condition/CMakeLists.txt
  src/core/fem/src/discretization/CMakeLists.txt
  src/core/fem/src/dofset/CMakeLists.txt
  src/core/fem/src/general/element/CMakeLists.txt
  src/core/fem/src/general/node/CMakeLists.txt
  src/core/fem/src/general/nurbs/CMakeLists.txt
  src/core/fem/src/general/utils/CMakeLists.txt
  src/core/fem/src/geometric_search/CMakeLists.txt
  src/core/fem/src/geometry/CMakeLists.txt
  src/core/fem/src/nurbs_discretization/CMakeLists.txt
  src/core/io/src/CMakeLists.txt
  src/core/io/src/legacy/CMakeLists.txt
  src/core/legacy_enum_definitions/CMakeLists.txt
  src/core/linalg/src/dense/CMakeLists.txt
  src/core/linalg/src/sparse/CMakeLists.txt
  src/core/linear_solver/src/amgnxn/CMakeLists.txt
  src/core/linear_solver/src/method/CMakeLists.txt
  src/core/linear_solver/src/preconditioner/CMakeLists.txt
  src/core/material/CMakeLists.txt
  src/core/rebalance/src/CMakeLists.txt
  src/core/utils/src/exceptions/CMakeLists.txt
  src/core/utils/src/functions/CMakeLists.txt
  src/core/utils/src/numerics/CMakeLists.txt
  src/core/utils/src/parameters/CMakeLists.txt
  src/core/utils/src/random/CMakeLists.txt
  src/core/utils/src/result_test/CMakeLists.txt
  src/core/utils/src/stl_extension/CMakeLists.txt
  src/core/utils/src/string_utils/CMakeLists.txt
Due: non-ascii-chars

Remove namespace MEMBRANE
  src/membrane/4C_membrane_evaluate.cpp
  src/membrane/4C_membrane_service.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move cut helper functions into implementation
  src/cut/4C_cut_base.hpp
  src/cut/4C_cut_base_boundarycell.hpp
  src/cut/4C_cut_line_integration.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix out-of-bounds read of coordinates in ScatraHDG
  src/scatra_ele/4C_scatra_ele_calc_hdg.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove deprecated std::unary_function
  src/core/fem/src/condition/4C_fem_condition_utils.hpp
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_communication.hpp
  src/core/linalg/src/sparse/4C_linalg_blocksparsematrix.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

CMake: disable -Woverloaded-virtual
  cmake/setup_global_options.cmake
Due: non-ascii-chars

Avoid zero-sized arrays inside Teuchos classes
  src/constraint/4C_constraint_springdashpot.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove erroneous nullptr check
  src/beam3/4C_beam3_euler_bernoulli_evaluate.cpp
  src/beam3/4C_beam3_kirchhoff_evaluate.cpp
  src/beam3/4C_beam3_reissner_evaluate.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add missing header includes on newer compilers
  src/core/fem/src/general/utils/4C_fem_general_l2_projection.hpp
  src/core/linalg/src/sparse/4C_linalg_equilibrate.hpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.hpp
  src/core/rebalance/src/4C_rebalance_binning_based.hpp
  src/core/utils/src/exceptions/4C_utils_exceptions.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove template-id from partial specialization
  src/core/fem/src/general/utils/4C_fem_general_utils_gausspoints.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

BrownianDyn: remove buggy unused function
  src/browniandyn/4C_browniandyn_str_model_evaluator.cpp
  src/browniandyn/4C_browniandyn_str_model_evaluator.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Exclude point1 from node numbering
  src/core/fem/src/general/utils/4C_fem_general_utils_local_connectivity_matrices.cpp
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix nullptr dereference in XFEM
  src/xfem/4C_xfem_discretization_utils.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move thermo adapter into thermo
  .gitlab/CODEOWNERS
  src/thermo/4C_thermo_adapter.cpp
  src/thermo/4C_thermo_adapter.hpp
  src/thermo/4C_thermo_dyn.cpp
  src/thermo/4C_thermo_timint.hpp
  src/tsi/4C_tsi_algorithm.cpp
  src/tsi/4C_tsi_dyn.cpp
  src/tsi/4C_tsi_partitioned.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

CI: add GCC 14 compilation and test to pipeline
  presets/docker/CMakePresets.json
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

CI: build GCC 14.2 in docker
  dependencies/testing/gcc/install.sh
  docker/Dockerfile
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Move lubrication adapter to lubrication
  .gitlab/CODEOWNERS
  src/ehl/4C_ehl_base.cpp
  src/ehl/4C_ehl_base.hpp
  src/ehl/4C_ehl_monolithic.cpp
  src/ehl/4C_ehl_partitioned.cpp
  src/lubrication/4C_lubrication_adapter.cpp
  src/lubrication/4C_lubrication_adapter.hpp
  src/lubrication/4C_lubrication_dyn.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move poromultiphase adapter
  src/poromultiphase/4C_poromultiphase_adapter.hpp
  src/poromultiphase/4C_poromultiphase_base.hpp
  src/poromultiphase/4C_poromultiphase_dyn.cpp
  src/poromultiphase/4C_poromultiphase_utils.cpp
  src/poromultiphase/4C_poromultiphase_utils.hpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_base.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_base.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix wrong header suffix on two files
  src/solid_3D_ele/4C_solid_3D_ele_calc_fbar.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib_fbar.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib_mulf.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_mulf.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_mulf_fbar.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove an unused function
  src/so3/4C_so3_hex20.hpp
  src/so3/4C_so3_hex20_service.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Avoid zero-sized arrays
  src/fluid_ele/4C_fluid_ele_tds.cpp
  src/fluid_ele/4C_fluid_ele_tds.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Merge lubrication and lubrication_ele
  .gitlab/CODEOWNERS
  src/CMakeLists.txt
  src/ehl/CMakeLists.txt
  src/global_legacy_module/CMakeLists.txt
  src/lubrication/CMakeLists.txt
  src/lubrication/src/4C_lubrication_adapter.cpp
  src/lubrication/src/4C_lubrication_adapter.hpp
  src/lubrication/src/4C_lubrication_dyn.cpp
  src/lubrication/src/4C_lubrication_dyn.hpp
  src/lubrication/src/4C_lubrication_ele.cpp
  src/lubrication/src/4C_lubrication_ele.hpp
  src/lubrication/src/4C_lubrication_ele_action.hpp
  src/lubrication/src/4C_lubrication_ele_calc.cpp
  src/lubrication/src/4C_lubrication_ele_calc.hpp
  src/lubrication/src/4C_lubrication_ele_calc_utils.hpp
  src/lubrication/src/4C_lubrication_ele_evaluate.cpp
  src/lubrication/src/4C_lubrication_ele_factory.cpp
  src/lubrication/src/4C_lubrication_ele_factory.hpp
  src/lubrication/src/4C_lubrication_ele_interface.hpp
  src/lubrication/src/4C_lubrication_ele_parameter.cpp
  src/lubrication/src/4C_lubrication_ele_parameter.hpp
  src/lubrication/src/4C_lubrication_resulttest.cpp
  src/lubrication/src/4C_lubrication_resulttest.hpp
  src/lubrication/src/4C_lubrication_timint_implicit.cpp
  src/lubrication/src/4C_lubrication_timint_implicit.hpp
  src/lubrication/src/4C_lubrication_timint_stat.cpp
  src/lubrication/src/4C_lubrication_timint_stat.hpp
  src/lubrication/src/CMakeLists.txt
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix bug in calculation of nodal coupling stresses
  src/so3/4C_so3_poro.cpp
  tests/input_files/poro_3D_hex8_new_struc_structure.csv
  tests/input_files/poro_3D_hex8_structure.csv
Due: cpp-header, cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Relax tolerance in test case for fluid velx
  tests/input_files/new_solidporo_pressure_velocity_based_ele_3D_hex8_stat_new_struc.dat
Due: input-files, non-ascii-chars

Add vtk test cases for the newly introduced
  TestingFrameworkListOfTests.cmake
  tests/input_files/elch_3D_tet4_s2i_butlervolmer_plating_monolithic_reg_none.dat
  tests/input_files/ref/elch_3D_tet4_s2i_butlervolmer_plating_monolithic_reg_none-scatra.pvd
  tests/input_files/ref/elch_3D_tet4_s2i_butlervolmer_plating_monolithic_reg_none-vtk-files/scatra-00000-0.vtu
  tests/input_files/ref/elch_3D_tet4_s2i_butlervolmer_plating_monolithic_reg_none-vtk-files/scatra-00000-1.vtu
  tests/input_files/ref/elch_3D_tet4_s2i_butlervolmer_plating_monolithic_reg_none-vtk-files/scatra-00000-2.vtu
  tests/input_files/ref/elch_3D_tet4_s2i_butlervolmer_plating_monolithic_reg_none-vtk-files/scatra-00000.pvtu
  tests/input_files/ref/elch_3D_tet4_s2i_butlervolmer_plating_monolithic_reg_none-vtk-files/scatra-00025-0.vtu
  tests/input_files/ref/elch_3D_tet4_s2i_butlervolmer_plating_monolithic_reg_none-vtk-files/scatra-00025-1.vtu
  tests/input_files/ref/elch_3D_tet4_s2i_butlervolmer_plating_monolithic_reg_none-vtk-files/scatra-00025-2.vtu
  tests/input_files/ref/elch_3D_tet4_s2i_butlervolmer_plating_monolithic_reg_none-vtk-files/scatra-00025.pvtu
  tests/input_files/ref/elch_3D_tet4_s2i_butlervolmer_plating_monolithic_reg_none-vtk-files/scatra-00035-0.vtu
  tests/input_files/ref/elch_3D_tet4_s2i_butlervolmer_plating_monolithic_reg_none-vtk-files/scatra-00035-1.vtu
  tests/input_files/ref/elch_3D_tet4_s2i_butlervolmer_plating_monolithic_reg_none-vtk-files/scatra-00035-2.vtu
  tests/input_files/ref/elch_3D_tet4_s2i_butlervolmer_plating_monolithic_reg_none-vtk-files/scatra-00035.pvtu
  tests/input_files/ref/solid_ele_nurbs27_Standard_Static_multielement_vtk-files/structure-00000-0.vtu
  tests/input_files/ref/solid_ele_nurbs27_Standard_Static_multielement_vtk-files/structure-00000-1.vtu
  tests/input_files/ref/solid_ele_nurbs27_Standard_Static_multielement_vtk-files/structure-00000.pvtu
  tests/input_files/ref/solid_ele_nurbs27_Standard_Static_multielement_vtk-files/structure-00001-0.vtu
  tests/input_files/ref/solid_ele_nurbs27_Standard_Static_multielement_vtk-files/structure-00001-1.vtu
  tests/input_files/ref/solid_ele_nurbs27_Standard_Static_multielement_vtk-files/structure-00001.pvtu
  tests/input_files/ref/ssi_mono_3D_2hex8_elch_s2i_butlervolmer-scatra.pvd
  tests/input_files/ref/ssi_mono_3D_2hex8_elch_s2i_butlervolmer-structure.pvd
  tests/input_files/ref/ssi_mono_3D_2hex8_elch_s2i_butlervolmer-vtk-files/scatra-00000-0.vtu
  tests/input_files/ref/ssi_mono_3D_2hex8_elch_s2i_butlervolmer-vtk-files/scatra-00000-1.vtu
  tests/input_files/ref/ssi_mono_3D_2hex8_elch_s2i_butlervolmer-vtk-files/scatra-00000-2.vtu
  tests/input_files/ref/ssi_mono_3D_2hex8_elch_s2i_butlervolmer-vtk-files/scatra-00000.pvtu
  tests/input_files/ref/ssi_mono_3D_2hex8_elch_s2i_butlervolmer-vtk-files/scatra-00010-0.vtu
  tests/input_files/ref/ssi_mono_3D_2hex8_elch_s2i_butlervolmer-vtk-files/scatra-00010-1.vtu
  tests/input_files/ref/ssi_mono_3D_2hex8_elch_s2i_butlervolmer-vtk-files/scatra-00010-2.vtu
  tests/input_files/ref/ssi_mono_3D_2hex8_elch_s2i_butlervolmer-vtk-files/scatra-00010.pvtu
  tests/input_files/ref/ssi_mono_3D_2hex8_elch_s2i_butlervolmer-vtk-files/structure-00010-0.vtu
  tests/input_files/ref/ssi_mono_3D_2hex8_elch_s2i_butlervolmer-vtk-files/structure-00010-1.vtu
  tests/input_files/ref/ssi_mono_3D_2hex8_elch_s2i_butlervolmer-vtk-files/structure-00010-2.vtu
  tests/input_files/ref/ssi_mono_3D_2hex8_elch_s2i_butlervolmer-vtk-files/structure-00010.pvtu
  tests/input_files/solid_ele_nurbs27_Standard_Static_multielement.dat
  tests/input_files/ssi_mono_3D_2hex8_elch_s2i_butlervolmer.dat
Due: input-files, non-ascii-chars

CMake: consistently add external dependencies
  cmake/configure/configure_Backtrace.cmake
  cmake/configure/configure_CLN.cmake
  cmake/configure/configure_FFTW.cmake
  cmake/configure/configure_Qhull.cmake
  cmake/modules/FindBacktrace.cmake
  cmake/modules/FindCLN.cmake
  cmake/modules/FindFFTW.cmake
  cmake/modules/FindQhull.cmake
Due: non-ascii-chars

Set concentration at gp via scalars
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/matelast/4C_matelast_anisoactivestress_evolution.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_calc.cpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
  unittests/mat/4C_multiplicative_split_defgrad_elasthyper_test.cpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add possibility to output the material ids of
  src/core/io/src/4C_io_discretization_visualization_writer_mesh.cpp
  src/core/io/src/4C_io_discretization_visualization_writer_mesh.hpp
  src/inpar/4C_inpar_io.cpp
  src/scatra/4C_scatra_timint_implicit.cpp
  src/scatra/4C_scatra_timint_implicit.hpp
  tests/input_files/ssi_mono_3D_tet4_batt_with_anode_plate_and_current_collectors_elch_s2i_butlervolmer.dat
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove BGS2x2 from TSI input files
  tests/input_files/tsi_geonln_heatconvection_fbar_genalpha_monolithic.dat
  tests/input_files/tsi_geonln_heatconvection_fbar_monolithic.dat
  tests/input_files/tsi_geonln_heatconvection_iterstagg.dat
  tests/input_files/tsi_geonln_heatconvection_monolithic.dat
  tests/input_files/tsi_geonln_heatflux_flexoutsurf_monolithic.dat
  tests/input_files/tsi_geonln_lincompression_monolithic.dat
  tests/input_files/tsi_geonln_lincompression_monolithic_hyperelast.dat
  tests/input_files/tsi_geonln_lincompression_monolithic_singlemat.dat
  tests/input_files/tsi_geonln_plexichannel_varyE_OST_monolithic.dat
  tests/input_files/tsi_geonln_tsiload_hex27_flexoutsurf_monolithic.dat
  tests/input_files/tsi_heatconvection_iterstagg.dat
  tests/input_files/tsi_heatconvection_monolithic.dat
  tests/input_files/tsi_heatconvection_monolithic_fine.dat
  tests/input_files/tsi_heatconvection_thrplastic_genalpha_monolithic.dat
  tests/input_files/tsi_heatconvection_thrplastic_monolithic.dat
  tests/input_files/tsi_heatflux_flexoutsurf_monolithic.dat
  tests/input_files/tsi_heatflux_iterstagg.dat
  tests/input_files/tsi_heatflux_iterstaggaitken.dat
  tests/input_files/tsi_heatflux_monolithic.dat
  tests/input_files/tsi_heatflux_monolithic_pbc.dat
  tests/input_files/tsi_lincompression_monolithic.dat
  tests/input_files/tsi_locsys_monolithic.dat
  tests/input_files/tsi_plastic_ssn_necking_fbar.dat
  tests/input_files/tsi_plastic_ssn_necking_fbar_TQ.dat
  tests/input_files/tsi_plexichannel_varyE_monolithic.dat
  tests/input_files/tsi_pressurisedcylinder_robinson.dat
Due: input-files, non-ascii-chars

The vector containing the dofgid for the current
  src/core/io/src/4C_io_element_append_visualization.hpp
Due: cpp-header, cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars
